Repository pinterest/gestalt, pull requests merged in 2020-12, with the labels that each got.

#1293 Box: Allow zero padding overrides
  docs/src/Box.doc.js
  docs/src/components/PropTable.js
  packages/gestalt/src/Flex.css.flow
  packages/gestalt/src/__snapshots__/Box.test.js.snap
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/boxWhitespace.css
  packages/gestalt/src/boxWhitespace.css.flow
  packages/gestalt/src/transforms.js
  scripts/whitespace.js
Labels: major release

#1295 Internal: Accessibility improvements: Enable color contrast checks, better log output and upgrade axe-core
  cypress/integration/accessibility_AvatarPair_spec.js
  cypress/integration/accessibility_Badge_spec.js
  cypress/integration/accessibility_ButtonGroup_spec.js
  cypress/integration/accessibility_Callout_spec.js
  cypress/integration/accessibility_Card_spec.js
  cypress/integration/accessibility_Container_spec.js
  cypress/integration/accessibility_Development_spec.js
  cypress/integration/accessibility_Divider_spec.js
  cypress/integration/accessibility_Faq_spec.js
  cypress/integration/accessibility_Flex_spec.js
  cypress/integration/accessibility_GroupAvatar_spec.js
  cypress/integration/accessibility_Icon_spec.js
  cypress/integration/accessibility_Installation_spec.js
  cypress/integration/accessibility_Label_spec.js
  cypress/integration/accessibility_Layouts_spec.js
  cypress/integration/accessibility_Letterbox_spec.js
  cypress/integration/accessibility_Mask_spec.js
  cypress/integration/accessibility_Masonry_spec.js
  cypress/integration/accessibility_Pog_spec.js
  cypress/integration/accessibility_Provider_spec.js
  cypress/integration/accessibility_SearchField_spec.js
  cypress/integration/accessibility_Spinner_spec.js
  cypress/integration/accessibility_Sticky_spec.js
  cypress/integration/accessibility_Switch_spec.js
  cypress/integration/accessibility_Tabs_spec.js
  cypress/integration/accessibility_TextField_spec.js
  cypress/integration/accessibility_Tooltip_spec.js
  cypress/integration/accessibility_Typeahead_spec.js
  cypress/integration/accessibility_Upsell_spec.js
  cypress/integration/accessibility_Video_spec.js
  cypress/integration/accessibility_What's New_spec.js
  cypress/integration/accessibility_root_spec.js
  cypress/integration/accessibility_useFocusVisible_spec.js
  cypress/integration/accessibility_useReducedMotion_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  scripts/generateAccessibilitySpecs.js
  scripts/templates/accessibility_ComponentName_spec.js
  yarn.lock
Labels: minor release

#1296 Internal: Give Flex and FlexItem display names for debugging
  packages/gestalt/src/Flex.js
  packages/gestalt/src/FlexItem.js
Labels: patch release

#1299 Internal: Fix a11y tests on master
  cypress/integration/accessibility_What's New_spec.js
  cypress/integration/accessibility_root_spec.js
Labels: patch release

#1297 Internal: Docs improvements; Contexts, header options, + minor fixes
  cypress/integration/accessibility_ZIndex Classes_spec.js
  docs/src/ZIndex Classes.doc.js
  docs/src/components/App.js
  docs/src/components/Header.js
  docs/src/components/HeaderMenu.js
  docs/src/components/NavLink.js
  docs/src/components/Navigation.js
  docs/src/components/PropTable.js
  docs/src/components/appContext.js
  docs/src/components/navigationContext.js
  docs/src/components/propTableContext.js
  docs/src/components/sidebarContext.js
  docs/src/components/sidebarIndex.js
Labels: minor release

#1300 Docs: Add search autodiscovery (OpenSearch)
  docs/public/index.html
  docs/public/opensearch.xml
Labels: minor release

#1298 Upsell: Add image prop
  docs/src/Upsell.doc.js
  packages/gestalt/src/Upsell.flowtest.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/Upsell.test.js
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: minor release

#1304 Callout: Responsiveness updates
  packages/gestalt/src/Callout.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
Labels: minor release

#1301 Tag component
  cypress/integration/accessibility_Tag_spec.js
  docs/src/Tag.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Tag.css
  packages/gestalt/src/Tag.css.flow
  packages/gestalt/src/Tag.flowtest.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/Tag.test.js
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#1308 Callout/Upsell: Implemented new useResponsiveMinWidth hook and utils
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/useReducedMotion.js
  packages/gestalt/src/useResponsiveMinWidth.js
  packages/gestalt/src/useResponsiveMinWidth.jsdom.test.js
  packages/gestalt/src/useResponsiveMinWidth.test.js
  packages/gestalt/src/utils/matchMedia.js
Labels: minor release

#1306 TextField: add tags prop
  cypress/integration/accessibility_TextField_spec.js
  docs/src/TextField.doc.js
  packages/gestalt/src/FormElement.css
  packages/gestalt/src/FormElement.css.flow
  packages/gestalt/src/Tag.js
  packages/gestalt/src/TextField.css
  packages/gestalt/src/TextField.css.flow
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField.test.js
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
Labels: minor release

#1309 Modal: Update backdrop wash to 80% opacity
  packages/gestalt/src/Backdrop.css
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Mask.css
Labels: minor release

#1313 Update Flyout Docs - Remove bold text
  docs/src/Flyout.doc.js
Labels: patch release

#1312 Textfield: update tags props docs
  docs/src/Tag.doc.js
  docs/src/TextField.doc.js
Labels: patch release

#1311 Textfield: update tags wrapping behavior
  packages/gestalt/src/TextField.css
  packages/gestalt/src/TextField.css.flow
  packages/gestalt/src/TextField.js
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
Labels: patch release

#1316 Modal: Add subHeading and align props
  docs/src/Modal.doc.js
  packages/gestalt/src/Modal.flowtest.js
  packages/gestalt/src/Modal.js
Labels: minor release

#1314 Callout/Upsell: update primary/secondaryLink to be primary/secondaryAction + Codemod
  docs/src/Callout.doc.js
  docs/src/Upsell.doc.js
  packages/gestalt-codemods/16.0.0/__testfixtures__/callout-upsell-primary-secondary-action-replace-primary-secondary-link.input.js
  packages/gestalt-codemods/16.0.0/__testfixtures__/callout-upsell-primary-secondary-action-replace-primary-secondary-link.output.js
  packages/gestalt-codemods/16.0.0/__tests__/callout-upsell-primary-secondary-action-replace-primary-secondary-link.test.js
  packages/gestalt-codemods/16.0.0/callout-upsell-primary-secondary-action-replace-primary-secondary-link.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Callout.test.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/Upsell.test.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: major release

#1321 Internal: Enable the eslint rule flowtype/no-mutable-array
  .eslintrc.json
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/LocaleDataTypes.js
  packages/gestalt/src/AvatarPair.js
  packages/gestalt/src/Collection.js
  packages/gestalt/src/GroupAvatar.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandableBase.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/defaultLayout.js
  packages/gestalt/src/fullWidthLayout.js
  packages/gestalt/src/style.js
  packages/gestalt/src/transforms.js
  packages/gestalt/src/uniformRowLayout.js
  packages/gestalt/src/utils/omit.js
  packages/gestalt/src/zIndex.js
Labels: patch release

#1322 Modal: fix bad flow types
  packages/gestalt/src/Modal.flowtest.js
  packages/gestalt/src/Modal.js
Labels: bug, patch release
