Repository pinterest/gestalt, pull requests merged in 2020-09, with the labels that each got.

#1180 Link: added accessibilityLabel / Docs: implemented support to Arrays in description
  docs/src/Link.doc.js
  docs/src/components/PropTable.js
  packages/gestalt/src/Link.js
Labels: minor release

#1181 Modal: Prevent showing zoom out icon if closeOnOutsideClick is false
  docs/src/Modal.doc.js
  packages/gestalt/src/Modal.css
  packages/gestalt/src/Modal.css.flow
  packages/gestalt/src/Modal.js
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
Labels: minor release

#1169 Button: v.2. Added support for href and segmented Flow type
  docs/src/Button.doc.js
  docs/src/components/PropTable.js
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.css.flow
  packages/gestalt/src/Button.flowtest.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Button.jsdom.test.js
  packages/gestalt/src/Link.js
Labels: minor release

#1183 Internal: update bl package (security)
  package.json
  yarn.lock
Labels: patch release

#1184 Button: Flow + name prop fixes
  packages/gestalt/src/Button.js
Labels: patch release

#1182 VideoControls: convert to function component
  packages/gestalt/src/VideoControls.js
Labels: minor release

#1186 ButtonGroup: Add component
  docs/src/ButtonGroup.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/ButtonGroup.flowtest.js
  packages/gestalt/src/ButtonGroup.js
  packages/gestalt/src/ButtonGroup.test.js
  packages/gestalt/src/__snapshots__/ButtonGroup.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#1187 Layouts: Add form layout example
  docs/src/Layouts.doc.js
  docs/src/components/sidebarIndex.js
Labels: patch release

#1192 Rename css var namespace
  .stylelintrc.json
  docs/src/components/DocSearch.css
  packages/gestalt-core/build.js
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Box.css
  packages/gestalt/src/Button.css
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Column.css
  packages/gestalt/src/FormElement.css
  packages/gestalt/src/Heading.css
  packages/gestalt/src/Layout.css
  packages/gestalt/src/Pog.css
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/RadioButtonCheckbox.css
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Table.css
  packages/gestalt/src/Text.css
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/TextField.css
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/boxWhitespace.css
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
  scripts/whitespace.js
Labels: minor release

#1189 Layer: convert to function component
  packages/gestalt/src/Layer.js
  packages/gestalt/src/Layer.test.js
Labels: minor release

#1191 Internal: make incremental builds 4x faster
  package.json
  packages/gestalt-core/build.js
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
  yarn.lock
Labels: patch release

#1197 Codemod: error message for JSXSpreadAttribute
  packages/gestalt-codemods/1.15.0-1.16.0/deprecatedMargin-box-replace.js
  packages/gestalt-codemods/1.15.0-1.16.0/deprecatedPadding-box-replace.js
  packages/gestalt-codemods/1.35.0-1.36.0/leading-text-remove.js
  packages/gestalt-codemods/1.8.0-1.9.0/remove-responsive-text-sizing.js
  packages/gestalt-codemods/11.15.0-11.16.0/callout-rename-description-message.js
  packages/gestalt-codemods/11.25.2-11.26.0/box_deprecate_size_props.js
  packages/gestalt-codemods/11.26.0-11.27.0/column_deprecate_size_props.js
Labels: patch release

#1198 Internal: fix 'undefined' CSS in future CSS
  packages/gestalt-core/build.js
Labels: minor release

#1196 Box: removal xs, sm, md, lg props
  packages/gestalt/src/Box.js
Labels: minor release

#1195 Internal: avoid blank page on startup in dev + fix most docs exceptions in incremental builds
  docs/public/index.html
  docs/src/Icon.doc.js
  docs/src/Table.doc.js
Labels: patch release

#1188 Button: deprecated textColor prop values
  docs/src/Button.doc.js
  packages/gestalt-codemods/12.6.0-12.7.0/__testfixtures__/button-remove-textColor-prop.input.js
  packages/gestalt-codemods/12.6.0-12.7.0/__testfixtures__/button-remove-textColor-prop.output.js
  packages/gestalt-codemods/12.6.0-12.7.0/__tests__/button-remove-textColor-prop.test.js
  packages/gestalt-codemods/12.6.0-12.7.0/button-remove-textColor-prop.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Button.test.js
Labels: minor release

#1200 Table: add bottom border to each row (apart from last item)
  docs/src/Table.doc.js
  packages/gestalt/src/Table.css
  packages/gestalt/src/Table.css.flow
  packages/gestalt/src/TableBody.js
  packages/gestalt/src/__snapshots__/TableBody.test.js.snap
Labels: patch release

#1204 Internal: update most dev dependencies
  docs/src/Checkbox.doc.js
  package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/src/DatePickerTextField.js
  packages/gestalt/package.json
  packages/gestalt/src/Button.test.js
  packages/gestalt/src/Layer.test.js
  packages/gestalt/src/TextArea.jsdom.test.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/Tooltip.jsdom.test.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/zIndex.test.js
  yarn.lock
Labels: minor release

#1201 Internal: BREAKING only build css file with css vars
  docs/src/Faq.doc.js
  docs/src/components/Markdown.js
  docs/src/index.js
  packages/gestalt-core/build.js
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Button.css
  packages/gestalt/src/Colors.css
  packages/gestalt/src/FormElement.css
  packages/gestalt/src/Pog.css
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/Table.css
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/TextField.css
  scripts/cssValidate.js
Labels: major release

#1205 Docs: Improved Button Docs about color prop: transparentWhiteText
  docs/src/Button.doc.js
Labels: patch release

#1208 Docs: use ButtonGroup in Modal examples
  docs/src/Modal.doc.js
Labels: patch release

#1190 Button: link-role button logic refactor
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.css.flow
  packages/gestalt/src/Button.js
  packages/gestalt/src/Button.jsdom.test.js
  packages/gestalt/src/Icon.js
  packages/gestalt/src/InternalLink.flowtest.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/InternalLink.jsdom.test.js
  packages/gestalt/src/InternalLink.test.js
  packages/gestalt/src/Link.css
  packages/gestalt/src/Link.css.flow
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
Labels: minor release

#1199 TapArea: implemented href with InternalLink
  docs/src/Button.doc.js
  docs/src/TapArea.doc.js
  packages/gestalt-codemods/13.2.0-13.3.0/__testfixtures__/tapArea-remove-tapStyle-prop.input.js
  packages/gestalt-codemods/13.2.0-13.3.0/__testfixtures__/tapArea-remove-tapStyle-prop.output.js
  packages/gestalt-codemods/13.2.0-13.3.0/__tests__/tapArea-remove-tapStyle-prop.test.js
  packages/gestalt-codemods/13.2.0-13.3.0/tapArea-remove-tapStyle-prop.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/TapArea.flowtest.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TapArea.jsdom.test.js
  packages/gestalt/src/TapArea.test.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
Labels: minor release

#1209 Table.Header: fix stacking context on sticky header
  docs/src/Table.doc.js
  packages/gestalt/src/Table.css
Labels: minor release

#1207 Callout: implement Link Button on primary/secondary links
  docs/src/Callout.doc.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
Labels: minor release

#1210 Docs: update Text wrap/overflow example
  docs/src/Text.doc.js
Labels: patch release

#1211 TapArea: reimplement tapStyle
  docs/src/TapArea.doc.js
  packages/gestalt-codemods/13.2.0-13.3.0/__testfixtures__/tapArea-remove-tapStyle-prop.input.js
  packages/gestalt-codemods/13.2.0-13.3.0/__testfixtures__/tapArea-remove-tapStyle-prop.output.js
  packages/gestalt-codemods/13.2.0-13.3.0/__tests__/tapArea-remove-tapStyle-prop.test.js
  packages/gestalt-codemods/13.2.0-13.3.0/tapArea-remove-tapStyle-prop.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TapArea.test.js
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
Labels: minor release

#1212 Docs: use PageHeader on all pages
  docs/src/Development.doc.js
  docs/src/Faq.doc.js
  docs/src/Installation.doc.js
  docs/src/Layouts.doc.js
  docs/src/components/PageHeader.js
Labels: patch release

#1193 Row, Stack: Re-implement for better `gap`
  packages/gestalt/src/Box.js
  packages/gestalt/src/FlexBox.js
  packages/gestalt/src/FlexBox.test.js
  packages/gestalt/src/Row.css
  packages/gestalt/src/Row.js
  packages/gestalt/src/Stack.css
  packages/gestalt/src/Stack.js
  packages/gestalt/src/__snapshots__/FlexBox.test.js.snap
  packages/gestalt/src/__snapshots__/Row.test.js.snap
  packages/gestalt/src/__snapshots__/Stack.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/boxTypes.js
  packages/gestalt/src/stackDisallowedProps.js
  packages/gestalt/src/style.js
  packages/gestalt/src/transforms.js
  packages/gestalt/src/utils/omit.js
  scripts/row.js
  scripts/stack.js
Labels: minor release

#1214 Row, Stack: Second attempt to re-implement for better `gap`
  docs/src/Box.doc.js
  docs/src/Button.doc.js
  docs/src/Checkbox.doc.js
  docs/src/DatePicker.doc.js
  docs/src/Development.doc.js
  docs/src/Faq.doc.js
  docs/src/Installation.doc.js
  docs/src/Link.doc.js
  docs/src/RadioButton.doc.js
  docs/src/Row.doc.js
  docs/src/Stack.doc.js
  docs/src/Tabs.doc.js
  docs/src/TapArea.doc.js
  docs/src/Text.doc.js
  docs/src/Typeahead.doc.js
  docs/src/ZIndexClasses.doc.js
  docs/src/components/Card.js
  docs/src/components/CardPage.js
  docs/src/components/PropTable.js
  docs/src/useFocusVisible.doc.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/FlexBox.js
  packages/gestalt/src/FlexBox.test.js
  packages/gestalt/src/Row.css
  packages/gestalt/src/Row.js
  packages/gestalt/src/Stack.css
  packages/gestalt/src/Stack.js
  packages/gestalt/src/__snapshots__/FlexBox.test.js.snap
  packages/gestalt/src/__snapshots__/Row.test.js.snap
  packages/gestalt/src/__snapshots__/Stack.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/boxTypes.js
  packages/gestalt/src/stackDisallowedProps.js
  packages/gestalt/src/style.js
  packages/gestalt/src/transforms.js
  packages/gestalt/src/utils/omit.js
  scripts/row.js
  scripts/stack.js
Labels: minor release

#1216 Row, Stack: Update `children` type
  docs/src/Installation.doc.js
  docs/src/Row.doc.js
  docs/src/Stack.doc.js
  packages/gestalt/src/Row.flowtest.js
  packages/gestalt/src/Row.js
  packages/gestalt/src/Stack.flowtest.js
  packages/gestalt/src/Stack.js
Labels: minor release

#1219 IconButton: Implemented href with InternalLink
  docs/src/IconButton.doc.js
  packages/gestalt/src/IconButton.flowtest.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButton.jsdom.test.js
  packages/gestalt/src/InternalLink.js
Labels: minor release

#1222 Box: Extract types and transforms, cleanup
  packages/gestalt/src/Box.js
  packages/gestalt/src/FlexBox.js
  packages/gestalt/src/Row.js
  packages/gestalt/src/Stack.js
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/boxTypes.js
  packages/gestalt/src/style.js
  packages/gestalt/src/transforms.js
  packages/gestalt/src/utils/omit.js
Labels: minor release

#1220 Internal: add Cypress integration tests
  .eslintrc.json
  .flowconfig
  .github/workflows/integration-tests.yml
  .gitignore
  cypress.json
  cypress/integration/accessibility_spec.js
  cypress/integration/page_header_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  docs/src/Faq.doc.js
  docs/src/Installation.doc.js
  docs/src/components/App.js
  docs/src/components/Card.js
  docs/src/components/Header.js
  docs/src/components/Markdown.css
  docs/src/components/Navigation.js
  docs/src/components/SidebarSection.js
  package.json
  yarn.lock
Labels: minor release

#1223 Layer: add zIndex prop
  docs/src/Box.doc.js
  docs/src/Layer.doc.js
  docs/src/Modal.doc.js
  docs/src/components/DocSearch.css
  packages/gestalt/src/Layer.js
  packages/gestalt/src/Layer.jsdom.test.js
Labels: minor release

#1224 Sticky: remove deprecated dangerouslySetZIndex
  .flowconfig
  packages/gestalt-codemods/13.14.0-14.0.0/sticky-find-deprecated-dangerouslySetZIndex.js
  packages/gestalt/src/Sticky.flowtest.js
  packages/gestalt/src/Sticky.js
Labels: major release

#1226 Button: add accessibility integration tests
  cypress/integration/accessibility_button_spec.js
  cypress/integration/accessibility_root_spec.js
  docs/src/components/Checkerboard.js
  docs/src/components/Example.js
Labels: minor release

#1228 Internal: fix `flowtype/require-exact-type` errors
  docs/src/Masonry.doc.js
  packages/gestalt-datepicker/src/LocaleDataTypes.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/MeasurementStore.js
  packages/gestalt/src/SelectList.js
Labels: patch release

#1225 Docs: typo fixes for TapArea
  docs/src/TapArea.doc.js
Labels: patch release

#1229 Internal: Add Cypress badge + link to Readme
  README.md
Labels: patch release

#1230 Docs: add ability to expand code examples
  docs/src/components/Example.js
  docs/src/components/ExampleCode.js
  docs/src/components/handleCodeSandbox.js
Labels: patch release

#1227 Video: add `objectFill` as a prop
  docs/src/Video.doc.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/Video.test.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: minor release

#1231 Docs: move props section to the bottom
  docs/src/Avatar.doc.js
  docs/src/AvatarPair.doc.js
  docs/src/Badge.doc.js
  docs/src/Box.doc.js
  docs/src/Button.doc.js
  docs/src/ButtonGroup.doc.js
  docs/src/Callout.doc.js
  docs/src/Card.doc.js
  docs/src/Checkbox.doc.js
  docs/src/Collage.doc.js
  docs/src/Column.doc.js
  docs/src/Container.doc.js
  docs/src/DatePicker.doc.js
  docs/src/Divider.doc.js
  docs/src/Flyout.doc.js
  docs/src/GroupAvatar.doc.js
  docs/src/Heading.doc.js
  docs/src/Icon.doc.js
  docs/src/IconButton.doc.js
  docs/src/Image.doc.js
  docs/src/Label.doc.js
  docs/src/Layer.doc.js
  docs/src/Letterbox.doc.js
  docs/src/Link.doc.js
  docs/src/Mask.doc.js
  docs/src/Masonry.doc.js
  docs/src/Modal.doc.js
  docs/src/Pog.doc.js
  docs/src/Provider.doc.js
  docs/src/Pulsar.doc.js
  docs/src/RadioButton.doc.js
  docs/src/Row.doc.js
  docs/src/SearchField.doc.js
  docs/src/SegmentedControl.doc.js
  docs/src/SelectList.doc.js
  docs/src/Sheet.doc.js
  docs/src/Spinner.doc.js
  docs/src/Stack.doc.js
  docs/src/Sticky.doc.js
  docs/src/Switch.doc.js
  docs/src/Table.doc.js
  docs/src/Tabs.doc.js
  docs/src/TapArea.doc.js
  docs/src/Text.doc.js
  docs/src/TextArea.doc.js
  docs/src/TextField.doc.js
  docs/src/Toast.doc.js
  docs/src/Tooltip.doc.js
  docs/src/Typeahead.doc.js
  docs/src/Video.doc.js
Labels: patch release

#1232 Docs: Add yarn installation and fix indentation on Development page
  docs/src/Development.doc.js
Labels: patch release

#1233 Internal: Script to generate a11y tests + add tests for 41 components
  cypress/integration/accessibility_AvatarPair_spec.js
  cypress/integration/accessibility_Avatar_spec.js
  cypress/integration/accessibility_Badge_spec.js
  cypress/integration/accessibility_Box_spec.js
  cypress/integration/accessibility_ButtonGroup_spec.js
  cypress/integration/accessibility_Callout_spec.js
  cypress/integration/accessibility_Card_spec.js
  cypress/integration/accessibility_Checkbox_spec.js
  cypress/integration/accessibility_Collage_spec.js
  cypress/integration/accessibility_Column_spec.js
  cypress/integration/accessibility_Container_spec.js
  cypress/integration/accessibility_DatePicker_spec.js
  cypress/integration/accessibility_Development_spec.js
  cypress/integration/accessibility_Divider_spec.js
  cypress/integration/accessibility_Faq_spec.js
  cypress/integration/accessibility_Flyout_spec.js
  cypress/integration/accessibility_GroupAvatar_spec.js
  cypress/integration/accessibility_Heading_spec.js
  cypress/integration/accessibility_IconButton_spec.js
  cypress/integration/accessibility_Icon_spec.js
  cypress/integration/accessibility_Image_spec.js
  cypress/integration/accessibility_Installation_spec.js
  cypress/integration/accessibility_Label_spec.js
  cypress/integration/accessibility_Layer_spec.js
  cypress/integration/accessibility_Layouts_spec.js
  cypress/integration/accessibility_Letterbox_spec.js
  cypress/integration/accessibility_Link_spec.js
  cypress/integration/accessibility_Mask_spec.js
  cypress/integration/accessibility_Masonry_spec.js
  cypress/integration/accessibility_Modal_spec.js
  cypress/integration/accessibility_Pog_spec.js
  cypress/integration/accessibility_Provider_spec.js
  cypress/integration/accessibility_Pulsar_spec.js
  cypress/integration/accessibility_RadioButton_spec.js
  cypress/integration/accessibility_Row_spec.js
  cypress/integration/accessibility_SearchField_spec.js
  cypress/integration/accessibility_SegmentedControl_spec.js
  cypress/integration/accessibility_SelectList_spec.js
  cypress/integration/accessibility_Sheet_spec.js
  cypress/integration/accessibility_Spinner_spec.js
  cypress/integration/accessibility_Stack_spec.js
  cypress/integration/accessibility_Sticky_spec.js
  cypress/integration/accessibility_Switch_spec.js
  cypress/integration/accessibility_Table_spec.js
  cypress/integration/accessibility_Tabs_spec.js
  cypress/integration/accessibility_TapArea_spec.js
  cypress/integration/accessibility_TextArea_spec.js
  cypress/integration/accessibility_TextField_spec.js
  cypress/integration/accessibility_Text_spec.js
  cypress/integration/accessibility_Toast_spec.js
  cypress/integration/accessibility_Tooltip_spec.js
  cypress/integration/accessibility_Typeahead_spec.js
  cypress/integration/accessibility_Video_spec.js
  cypress/integration/accessibility_ZIndexClasses_spec.js
  cypress/integration/accessibility_button_spec.js
  cypress/integration/accessibility_useFocusVisible_spec.js
  cypress/integration/accessibility_useReducedMotion_spec.js
  package.json
  scripts/generateAccessibilitySpecs.js
  yarn.lock
Labels: minor release

#1235 Docs: add copy code button
  docs/src/components/ExampleCode.js
  docs/src/components/clipboardCopy.js
Labels: patch release

#1234 Internal: Parallelize Cypress integration tests (2x speed improvement)
  .github/workflows/integration-tests.yml
  cypress/fixtures/example.json
Labels: minor release

#1237 Doc: update Text size example
  docs/src/Text.doc.js
Labels: patch release

#1239 Docs: fix zIndex issues
  docs/src/Modal.doc.js
  docs/src/Sheet.doc.js
  docs/src/components/Header.js
Labels: patch release
