Repository pinterest/gestalt, pull requests merged in 2020-07, with the labels that each got.

#955 Tabs (and Box, Link, Text): force long tab label in one line with major refactor
  docs/src/Box.doc.js
  docs/src/Link.doc.js
  docs/src/Tabs.doc.js
  docs/src/Text.doc.js
  packages/gestalt/src/Box.css
  packages/gestalt/src/Box.css.flow
  packages/gestalt/src/Box.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Tabs.css
  packages/gestalt/src/Tabs.css.flow
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tabs.jsdom.test.js
  packages/gestalt/src/Tabs.test.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/Typography.css
  packages/gestalt/src/Typography.css.flow
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
Labels: minor release

#952 Docs: Refactored Gestalt Docs Sidebar Menu
  docs/src/Button.doc.js
  docs/src/Installation.doc.js
  docs/src/Table.doc.js
  docs/src/components/App.js
  docs/src/components/CollapsibleSection.js
  docs/src/components/CollapsibleSubsection.js
  docs/src/components/DocSearch.js
  docs/src/components/Header.js
  docs/src/components/NavLink.js
  docs/src/components/Navigation.js
  docs/src/components/sidebarContext.js
  docs/src/components/sidebarIndex.js
  docs/src/index.js
Labels: minor release

#947 TapArea / Text: Refactored Docs examples for cleaner examples
  docs/src/TapArea.doc.js
  docs/src/Text.doc.js
  docs/src/Toast.doc.js
Labels: patch release

#959 Link: add event to onFocus + onBlur
  packages/gestalt/src/Link.js
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: patch release

#960 Tabs: light gray background when tab is focussed
  packages/gestalt/src/Tabs.js
Labels: patch release

#961 Avatar: Add accessibilityLabel
  docs/src/Avatar.doc.js
  packages/gestalt/src/Avatar.js
Labels: minor release

#962 Docs: Expand Navigation subsections
  docs/src/components/CollapsibleSection.js
  docs/src/components/CollapsibleSubsection.js
  docs/src/components/sidebarIndex.js
Labels: minor release

#963 Styling: Prepare css for dark mode support
  docs/public/index.html
  docs/src/index.js
  packages/gestalt-core/build.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Modal.css
  packages/gestalt/src/Pog.css
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/TextField.css
  packages/gestalt/src/__snapshots__/Flyout.jsdom.test.js.snap
Labels: minor release

#970 SearchField: RTL support
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/SearchField.js
Labels: minor release

#967 Tabs: Add optional dot indicator
  docs/src/Tabs.doc.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tabs.test.js
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
Labels: minor release

#971 Future CSS: fix font sizes in Text/Heading + make CSS variables more specific
  .stylelintrc.json
  packages/gestalt-core/build.js
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Box.css
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Column.css
  packages/gestalt/src/ColumnColumn.css
  packages/gestalt/src/Heading.css
  packages/gestalt/src/Layout.css
  packages/gestalt/src/Pog.css
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/RadioButtonCheckbox.css
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Text.css
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/TextField.css
  packages/gestalt/src/boxWhitespace.css
Labels: minor release

#966 ZIndex: Add support for Fixed & Composite zIndexes
  docs/src/Box.doc.js
  docs/src/Sticky.doc.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Box.test.js
  packages/gestalt/src/Sticky.js
  packages/gestalt/src/Sticky.test.js
  packages/gestalt/src/__snapshots__/Box.test.js.snap
  packages/gestalt/src/__snapshots__/Sticky.test.js.snap
  packages/gestalt/src/index.js
  packages/gestalt/src/zIndex.js
  packages/gestalt/src/zIndex.test.js
Labels: minor release

#969 Video: Test video state before calling play | Default volume to Muted
  docs/src/Video.doc.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: minor release

#968 GestaltProvider: Adding a provider for color scheme and other future context used by Gestalt
  docs/src/GestaltProvider.doc.js
  docs/src/components/App.js
  docs/src/components/Header.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/GestaltProvider.js
  packages/gestalt/src/GroupAvatar.js
  packages/gestalt/src/__snapshots__/GroupAvatar.test.js.snap
  packages/gestalt/src/contexts/Theme.js
  packages/gestalt/src/contexts/Theme.jsdom.test.js
  packages/gestalt/src/index.js
Labels: minor release

#972 SearchField/TapArea/TextField: add ref to list of props
  docs/src/SearchField.doc.js
  docs/src/TapArea.doc.js
  docs/src/TextField.doc.js
Labels: patch release

#974 Dark Mode: update toggle in docs
  docs/src/components/App.js
  docs/src/components/Header.js
Labels: patch release

#975 Avatar: Update hardcoded svg fills to use theme colors
  docs/src/components/Checkerboard.js
  packages/gestalt/src/Avatar.js
Labels: dark mode, patch release

#986 Fix Box types
  packages/gestalt/src/Box.js
  packages/gestalt/src/Box.test.js
  packages/gestalt/src/__snapshots__/Box.test.js.snap
Labels: minor release

#981 [Header] Dynamic tooltip texts: DarkMode/LightMode, RTL/LTR
  docs/src/components/Header.js
Labels: dark mode, patch release

#993 Rename Theme -> ColorScheme
  docs/src/components/Checkerboard.js
  packages/gestalt/src/Avatar.js
  packages/gestalt/src/GestaltProvider.js
  packages/gestalt/src/GroupAvatar.js
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
  packages/gestalt/src/contexts/Theme.jsdom.test.js
  packages/gestalt/src/index.js
Labels: minor release

#1014 [Docs: Link] Fixed/Improved examples
  docs/src/Link.doc.js
Labels: dark mode, patch release

#1010 [Video] No darkMode changes in in video controls
  packages/gestalt/src/Video.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: dark mode, patch release

#978 [Borders.css][DarkMode] Replaced naming in Borders.css to scheme standard
  packages/gestalt/src/Borders.css
Labels: dark mode, patch release

#1011 Avatar and GroupAvatar: Use correct outline for dark mode
  packages/gestalt/src/Avatar.js
  packages/gestalt/src/GroupAvatar.js
  packages/gestalt/src/__snapshots__/Avatar.test.js.snap
  packages/gestalt/src/__snapshots__/AvatarPair.test.js.snap
Labels: dark mode, patch release

#1009 Button: Use accessible colors for darkMode red button
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.css.flow
  packages/gestalt/src/Button.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
Labels: dark mode, patch release

#1019 [Table] Fix sticky header in darkMode
  packages/gestalt/src/Table.css
Labels: dark mode, patch release

#1016 Mergify: configuration update
  .mergify.yml
Labels: patch release

#1017 Flyout: Fix caret appearance in dark mode
  packages/gestalt/src/Contents.js
  packages/gestalt/src/__snapshots__/Flyout.jsdom.test.js.snap
Labels: dark mode, minor release

#1024 Icon: add protect icon
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/protect.svg
Labels: minor release

#1022 Badge: set text color to always be white
  packages/gestalt/src/Badge.css
Labels: dark mode, patch release

#1026 Box: fix flowtype for borderSize
  packages/gestalt/src/Box.js
  packages/gestalt/src/Box.test.js
  packages/gestalt/src/__snapshots__/Box.test.js.snap
Labels: minor release

#1028 Box: Set display name
  packages/gestalt/src/Box.js
Labels: minor release

#1031 Tabs: Fix indicator flowtype in docs
  docs/src/Tabs.doc.js
Labels: patch release

#988 Update Pull Request template
  .github/pull_request_template.md
Labels: patch release

#1030 Colors: Update dark mode gray values to latest from design
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
Labels: dark mode, patch release

#1033 Switch: Fix darkMode border colors by adhering to color scheme convention names
  packages/gestalt/src/Switch.css
Labels: dark mode, patch release

#1035 Merge: Better titles and obey branch protections
  .mergify.yml
Labels: patch release

#1034 Colors: Adding #colorGray150 + hover colors, and replacing inline colors to standard color var names
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/FormElement.css
  packages/gestalt/src/Table.css
  packages/gestalt/src/Video.css
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
Labels: dark mode, minor release

#1018 [Pog] Fix hover/focus/active state in transparent/white background
  packages/gestalt/src/Pog.css
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
Labels: dark mode, minor release

#1040 Merge: Remove status-check=0 check
  .mergify.yml
Labels: patch release

#1039 Docs: Add missing release details to the changelog
  CHANGELOG.md
Labels: patch release

#1041 Internal: Add CSS variables CI checks
  package.json
  scripts/cssValidate.js
  scripts/test.sh
Labels: minor release

#1042 ColorScheme: Set transparent colors in dark mode
  packages/gestalt/src/Colors.css
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
Labels: dark mode, patch release

#1025 Button: Default hover state color
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.css.flow
  packages/gestalt/src/Button.js
Labels: dark mode, patch release

#1047 IconButton, Pog: fix padding prop
  packages/gestalt/src/Pog.js
  packages/gestalt/src/__snapshots__/Pog.test.js.snap
Labels: minor release

#1008 DatePicker: Implementing DarkMode color scheme
  docs/src/index.js
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt/src/Pog.css
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
Labels: dark mode, minor release

#1048 Fix transparent dark gray background color
  packages/gestalt/src/Colors.css
Labels: dark mode, patch release

#1049 Internal: Catch CSS variable usage in legacy build
  scripts/cssValidate.js
Labels: patch release

#1046 Video: Add captions + controls
  packages/gestalt/src/Video.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/VideoControls.jsdom.test.js
  packages/gestalt/src/VideoControls.test.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: minor release

#1050 Link: add React.forwardRef
  docs/src/Link.doc.js
  packages/gestalt/src/Link.js
Labels: major release

#1051 Docs: restructure sidebar display order
  docs/src/components/sidebarIndex.js
Labels: minor release

#1038 Docs: Added darkMode to Algolia's DocsSearch feature
  docs/src/components/DocSearch.css
  docs/src/components/DocSearch.js
Labels: minor release

#907 Typeahead: Add New Component
  docs/src/Typeahead.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/Typeahead.jsdom.test.js
  packages/gestalt/src/TypeaheadInputField.css
  packages/gestalt/src/TypeaheadInputField.css.flow
  packages/gestalt/src/TypeaheadInputField.js
  packages/gestalt/src/TypeaheadInputField.jsdom.test.js
  packages/gestalt/src/TypeaheadOption.js
  packages/gestalt/src/__snapshots__/Typeahead.jsdom.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#1053 TextArea: Add forward ref (BREAKING CHANGE)
  docs/src/TextArea.doc.js
  packages/gestalt-codemods/6.2.0-7.0.0/textarea-find-deprecated-refs.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextArea.jsdom.test.js
  packages/gestalt/src/TextField.jsdom.test.js
Labels: major release

#1056 Button/IconButton: compress onClick or onTouch
  docs/src/Button.doc.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/Touchable.css
  packages/gestalt/src/Touchable.css.flow
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
  packages/gestalt/src/useTapFeedback.js
Labels: minor release

#1045 AbstractEventHandler type
  packages/gestalt/src/AbstractEventHandler.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Card.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/Video.js
Labels: patch release

#1057 Checkbox: Add forward ref (BREAKING CHANGE)
  docs/src/Checkbox.doc.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Checkbox.jsdom.test.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
Labels: major release

#1058 Docs: Fixed automatic detection for Fixed/CompositeZIndex imports in Codesandbox
  docs/src/components/Example.js
Labels: patch release

#1061 Pulsar: update default size from 135px to 136px
  docs/src/Pulsar.doc.js
  packages/gestalt/src/Pulsar.js
  packages/gestalt/src/__snapshots__/Pulsar.test.js.snap
Labels: patch release

#1062 Docs: Refactored Sticky example to use new Box's zIndex prop
  docs/src/Sticky.doc.js
Labels: patch release

#1065 Checkbox: fix bug in behaviour related to position
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
Labels: minor release

#1066 Docs: fix broken CodeSandbox links
  docs/src/components/Example.js
Labels: bug, patch release

#1060 CollapsibleSubsection: Automatic Scroll to Top
  docs/src/components/NavLink.js
Labels: patch release

#1069 Button: remove border for transparent button
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: minor release

#1070 Box: add test for flowtypes
  packages/gestalt/src/Box.test.js
Labels: patch release

#1074 Docs: Fix Header to remove sticky header on reduced window size
  docs/src/components/Header.js
Labels: patch release

#1063 InputButton/Button: Add forward ref (BREAKING CHANGE)
  docs/src/Button.doc.js
  docs/src/IconButton.doc.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Button.jsdom.test.js
  packages/gestalt/src/Checkbox.jsdom.test.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButton.jsdom.test.js
Labels: major release

#1077 Video: Fix failing CORS access and preventing playback
  packages/gestalt/src/Video.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: minor release

#1073 useFocusVisible: Only show focus ring on keyboard input
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.css.flow
  packages/gestalt/src/Button.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/useFocusVisible.js
Labels: minor release

#1078 Docs Sidebar: remove collapsing + update heading / selected styles
  docs/src/components/CollapsibleSection.js
  docs/src/components/CollapsibleSubsection.js
  docs/src/components/NavLink.js
  docs/src/components/Navigation.js
  docs/src/components/SidebarSection.js
  docs/src/components/sidebarIndex.js
Labels: patch release

#1080 Sidebar: cleanup
  docs/src/components/SidebarSection.js
  docs/src/index.js
Labels: patch release

#1084 Layer: Fix flow type return on render
  packages/gestalt/src/Layer.js
Labels: major release

#1082 Docs: Added ZIndexClasses in Layout
  docs/src/ZIndexClasses.doc.js
  docs/src/components/sidebarIndex.js
Labels: patch release

#1076 Callout: Add component
  docs/src/Callout.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Callout.jsdom.test.js
  packages/gestalt/src/Callout.test.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#1083 Icon: Add drag-drop icon
  packages/gestalt/src/icons/drag-drop.svg
  packages/gestalt/src/icons/index.js
Labels: minor release

#1071 RadioButton: Add forward ref (BREAKING CHANGE)
  docs/src/RadioButton.doc.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/RadioButton.jsdom.test.js
Labels: major release

#1087 Box: added support to responsive marginEnd marginStart
  packages/gestalt/src/Box.js
Labels: minor release

#1085 Flowtest: Add flow specific test files
  .eslintrc.json
  packages/gestalt/src/Avatar.flowtest.js
  packages/gestalt/src/AvatarPair.flowtest.js
  packages/gestalt/src/Badge.flowtest.js
  packages/gestalt/src/Box.flowtest.js
  packages/gestalt/src/Button.flowtest.js
  packages/gestalt/src/Callout.flowtest.js
  packages/gestalt/src/Card.flowtest.js
Labels: patch release

#1067 Typeahead: Refactor to show all options when there's a defaultValue, renamed defaultItem + removed searchField prop, fix forwardedRef + test coverage, add example to Docs,
  docs/src/Typeahead.doc.js
  packages/gestalt-codemods/11.0.0-11.1.0/typeahead-update-props.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/Typeahead.jsdom.test.js
  packages/gestalt/src/TypeaheadInputField.js
  packages/gestalt/src/TypeaheadInputField.jsdom.test.js
  packages/gestalt/src/TypeaheadOption.js
  packages/gestalt/src/__snapshots__/Typeahead.jsdom.test.js.snap
Labels: minor release

#1093 Mergify: configuration update
  .mergify.yml
Labels: patch release

#1095 Mergify: configuration update
  .mergify.yml
Labels: patch release

#1094 Make Semver workflow wording clearer
  .github/workflows/semver.yml
Labels: patch release

#1097 RadioButton: fix warning in jest test
  packages/gestalt/src/RadioButton.jsdom.test.js
Labels: patch release

#1099 Typeahead: Fix prop type
  packages/gestalt/src/TypeaheadInputField.js
Labels: patch release

#1091 Box: Added responsiveness to sm/md/lg 0px margins
  packages/gestalt/src/Box.js
  packages/gestalt/src/__snapshots__/Row.test.js.snap
  packages/gestalt/src/__snapshots__/Stack.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/boxWhitespace.css
  packages/gestalt/src/boxWhitespace.css.flow
  packages/gestalt/src/transforms.js
  scripts/whitespace.js
Labels: minor release

#1096 Flowtests: Add more tests to components + fix GestaltProvider flowtype
  packages/gestalt/src/Avatar.flowtest.js
  packages/gestalt/src/AvatarPair.flowtest.js
  packages/gestalt/src/Badge.flowtest.js
  packages/gestalt/src/Box.flowtest.js
  packages/gestalt/src/Box.test.js
  packages/gestalt/src/Button.flowtest.js
  packages/gestalt/src/Callout.flowtest.js
  packages/gestalt/src/Card.flowtest.js
  packages/gestalt/src/Checkbox.flowtest.js
  packages/gestalt/src/Column.flowtest.js
  packages/gestalt/src/Container.flowtest.js
  packages/gestalt/src/Divider.flowtest.js
  packages/gestalt/src/Flyout.flowtest.js
  packages/gestalt/src/GestaltProvider.flowtest.js
  packages/gestalt/src/GestaltProvider.js
  packages/gestalt/src/GroupAvatar.flowtest.js
  packages/gestalt/src/Heading.flowtest.js
  packages/gestalt/src/Icon.flowtest.js
  packages/gestalt/src/IconButton.flowtest.js
  packages/gestalt/src/Image.flowtest.js
  packages/gestalt/src/Label.flowtest.js
  packages/gestalt/src/Layer.flowtest.js
  packages/gestalt/src/LetterBox.flowtest.js
  packages/gestalt/src/Link.flowtest.js
  packages/gestalt/src/Mask.flowtest.js
  packages/gestalt/src/Masonry.flowtest.js
  packages/gestalt/src/Modal.flowtest.js
  packages/gestalt/src/Pog.flowtest.js
  packages/gestalt/src/Pulsar.flowtest.js
  packages/gestalt/src/Toast.flowtest.js
  packages/gestalt/src/Typeahead.flowtest.js
  packages/gestalt/src/Video.flowtest.js
Labels: patch release

#1101 Mergify: configuration update
  .mergify.yml
Labels: patch release

#1098 Button/Checkbox/IconButton/Link/RadioButton/Switch/TapArea: useFocusVisible
  packages/gestalt/src/Button.js
  packages/gestalt/src/Checkbox.css
  packages/gestalt/src/Checkbox.css.flow
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Focus.css
  packages/gestalt/src/Focus.css.flow
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/RadioButton.css.flow
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Switch.css.flow
  packages/gestalt/src/Switch.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/Touchable.css
  packages/gestalt/src/Touchable.css.flow
  packages/gestalt/src/TypeaheadOption.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
Labels: minor release

#1088 Callout: Added responsiveness design
  docs/src/Callout.doc.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
Labels: minor release
