Repository pinterest/gestalt, pull requests merged in 2020-06, with the labels that each got.

#892 Tabs: Allow an id on tabs
  docs/src/Tabs.doc.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tabs.test.js
Labels: minor release

#889 Touchable, Button, Icon: Add props so all of them have accessibilityControls, accessibilityExpanded, accessibilityHaspopup, accessibilityLabel and disabled
  docs/src/Button.doc.js
  docs/src/IconButton.doc.js
  docs/src/Touchable.doc.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Button.test.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButton.test.js
  packages/gestalt/src/Touchable.js
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
  packages/gestalt/src/__snapshots__/touchable.test.js.snap
  packages/gestalt/src/touchable.test.js
Labels: minor release

#894 Button, IconButton, Touchable: Update docs and examples
  docs/src/Button.doc.js
  docs/src/IconButton.doc.js
  docs/src/Touchable.doc.js
Labels: patch release

#893 Internal: Add Pinterest Favicon to docs
  docs/public/favicon.png
  docs/public/index.html
  docs/public/manifest.json
  docs/public/pinterest_favicon.png
Labels: patch release

#896 Docs: Add missing parameter for Toast
  docs/src/Toast.doc.js
Labels: patch release

#897 Docs: Use netlify for docs hosting + remove GitHub pages push
  .github/workflows/release.yml
  scripts/ghpages.sh
  scripts/publish.js
Labels: minor release

#895 Docs: Add search
  .prettierignore
  docs/public/index.html
  docs/src/components/DocSearch.css
  docs/src/components/DocSearch.js
  docs/src/components/Header.js
Labels: minor release

#890 TableSortableHeaderCell: Change clickable area
  packages/gestalt/src/Table.css
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
Labels: minor release

#901 TextField: Add forward ref (BREAKING CHANGE)
  .flowconfig
  docs/src/TextField.doc.js
  flow-typed/npm/jest_v26.x.x.js
  packages/gestalt-codemods/1.61.0-2.0.0/textfield-find-deprecated-refs.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField.jsdom.test.js
Labels: major release

#903 TextField: fix forwardedRef propType
  packages/gestalt/src/TextField.js
Labels: patch release

#908 Pulsar: change Flyout direction in example code
  docs/src/Pulsar.doc.js
Labels: patch release

#900 TableHeader: Add optional sticky header
  docs/src/Table.doc.js
  packages/gestalt/src/Table.css
  packages/gestalt/src/Table.css.flow
  packages/gestalt/src/Table.js
  packages/gestalt/src/Table.test.js
  packages/gestalt/src/TableHeader.js
  packages/gestalt/src/TableHeader.test.js
  packages/gestalt/src/__snapshots__/Table.test.js.snap
  packages/gestalt/src/__snapshots__/TableHeader.test.js.snap
Labels: minor release

#918 Tabs: remove underline on hover/focus
  packages/gestalt/src/Tabs.css
Labels: minor release

#916 Icon: Add sparkle icon
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/sparkle.svg
Labels: minor release

#920 Internal: Flow - enable exact_by_default
  .flowconfig
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Heading.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/defaultLayout.test.js
  packages/gestalt/src/fullWidthLayout.test.js
  packages/gestalt/src/style.js
  packages/gestalt/src/transforms.js
  packages/gestalt/src/uniformRowLayout.test.js
Labels: patch release

#911 Pog: Add padding prop
  docs/src/Pog.doc.js
  packages/gestalt/src/Pog.js
  packages/gestalt/src/Pog.test.js
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
  packages/gestalt/src/__snapshots__/Pog.test.js.snap
Labels: minor release

#906 Touchable: forward ref, touch feedback, and more (BREAKING CHANGE)
  docs/src/Touchable.doc.js
  packages/gestalt-codemods/2.4.1-3.0.0/touchable-find-deprecated-refs.js
  packages/gestalt/src/Touchable.css
  packages/gestalt/src/Touchable.css.flow
  packages/gestalt/src/Touchable.js
  packages/gestalt/src/Touchable.jsdom.test.js
  packages/gestalt/src/Touchable.test.js
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/Touchable.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
Labels: major release

#922 Touchable: displayName should still be Touchable
  packages/gestalt/src/Touchable.js
Labels: patch release

#921 Internal: Request a Pinterest designer for design changes
  .github/pull_request_template.md
Labels: patch release

#924 Internal: upgrade to flow 0.127.0
  .flowconfig
  package.json
  packages/gestalt/src/Box.js
  packages/gestalt/src/Layer.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/VideoControls.js
  yarn.lock
Labels: minor release

#925 Row, Stack: Fix nullish child gap bug
  packages/gestalt/src/Row.js
  packages/gestalt/src/Stack.js
Labels: minor release

#926 SearchField: Convert to Functional and Add ForwardRef
  packages/gestalt-codemods/3.0.0-4.0.0/searchfield-find-deprecated-refs.js
  packages/gestalt/src/SearchField.js
Labels: major release

#928 [Video] Remove unused Flow suppression comment.
  packages/gestalt/src/Video.js
Labels: patch release

#923 Touchable/TapArea: replace Touchable with TapArea
  docs/src/Pulsar.doc.js
  docs/src/TapArea.doc.js
  packages/gestalt-codemods/4.0.0-5.0.0/__testfixtures__/.eslintrc.json
  packages/gestalt-codemods/4.0.0-5.0.0/__testfixtures__/touchable-to-taparea-1.input.js
  packages/gestalt-codemods/4.0.0-5.0.0/__testfixtures__/touchable-to-taparea-1.output.js
  packages/gestalt-codemods/4.0.0-5.0.0/__testfixtures__/touchable-to-taparea-2.input.js
  packages/gestalt-codemods/4.0.0-5.0.0/__testfixtures__/touchable-to-taparea-2.output.js
  packages/gestalt-codemods/4.0.0-5.0.0/__tests__/touchable-to-taparea.test.js
  packages/gestalt-codemods/4.0.0-5.0.0/touchable-to-taparea.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Mask.js
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TapArea.jsdom.test.js
  packages/gestalt/src/TapArea.test.js
  packages/gestalt/src/Touchable.jsdom.test.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/getRoundingClassName.js
  packages/gestalt/src/index.js
  packages/gestalt/src/useTapFeedback.js
Labels: major release

#929 Masonry/defaultLayout: Add a layout `basicCentered` to center justify grid content
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/defaultLayout.js
  packages/gestalt/src/defaultLayout.test.js
Labels: minor release

#932 DatePicker: fix flow
  package.json
  packages/gestalt-datepicker/src/DatePicker.css.flow
Labels: patch release

#935 TapArea: Updated Documentation Examples
  docs/src/TapArea.doc.js
Labels: patch release

#934 Docs: provide more layouts for <Combination />
  docs/src/DatePicker.doc.js
  docs/src/Toast.doc.js
  docs/src/components/Combination.js
  docs/src/components/Markdown.css
Labels: patch release

#939 DatePicker: Fix onChange flowtype
  packages/gestalt-datepicker/src/DatePicker.js
Labels: patch release

#941 DatePicker: Fix "locale object was not found for the provided string" warning
  flow-typed/npm/react-datepicker_v2.x.x.js
  packages/gestalt-datepicker/src/DatePicker.js
Labels: patch release

#933 Link: add TapArea-like feedback
  docs/src/Link.doc.js
  packages/gestalt/src/Link.css
  packages/gestalt/src/Link.css.flow
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link.jsdom.test.js
  packages/gestalt/src/Link.test.js
  packages/gestalt/src/TapArea.jsdom.test.js
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: minor release

#943 [DatePicker] Fixed hover CSS for the same date selection in range.
  packages/gestalt-datepicker/src/DatePicker.css
Labels: minor release

#944 Internal: Upgrade dependencies
  package.json
  scripts/releaseSteps.js
  yarn.lock
Labels: minor release

#946 Internal: require exact flow types
  .eslintrc.json
  docs/src/Masonry.doc.js
  docs/src/components/Combination.js
  docs/src/components/PropTable.js
  packages/gestalt-datepicker/src/LocaleDataTypes.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Card.js
  packages/gestalt/src/Caret.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Collage.js
  packages/gestalt/src/Collage.test.js
  packages/gestalt/src/Collection.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/FetchItems.js
  packages/gestalt/src/Icon.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/MeasurementStore.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Pog.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/ScrollFetch.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/Sticky.js
  packages/gestalt/src/Switch.js
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/defaultLayout.js
  packages/gestalt/src/fullWidthLayout.js
  packages/gestalt/src/uniformRowLayout.js
  packages/gestalt/src/useTapFeedback.js
Labels: minor release

#948 Link: fix context menu not showing
  packages/gestalt/src/Link.js
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: minor release

#949 IconButton: add optional padding prop
  docs/src/IconButton.doc.js
  packages/gestalt/src/IconButton.js
Labels: minor release

#942 TapArea:Updated Doc Example: Accessibility (Popup)
  docs/src/TapArea.doc.js
Labels: patch release

#950 Internal: Update documentation link
  README.md
  docs/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
Labels: patch release

#951 Button: Fix disabled state to prevent it to be interacted with and event bubbling
  packages/gestalt/src/Button.css
Labels: minor release

#953 Box/Link: add role prop to both and accessibilitySelected prop to Link
  docs/src/Box.doc.js
  docs/src/Link.doc.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link.test.js
  packages/gestalt/src/__snapshots__/Link.test.js.snap
Labels: minor release

#954 DatePicker/Tooltip: update idealDirection default value in docs
  docs/src/DatePicker.doc.js
  docs/src/Tooltip.doc.js
Labels: patch release

#957 Docs: support IE11
  docs/public/index.html
Labels: patch release

#958 Modal: fix scroll behavior in IE11
  packages/gestalt/src/Modal.css
Labels: minor release

#956 Internal: Support GitHub Codespaces
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/settings.json
Labels: patch release
