Repository pinterest/gestalt, pull requests merged in 2020-08, with the labels that each got.

#1104 Callout: Reduced padding for sm
  packages/gestalt/src/Callout.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
Labels: patch release

#1105 Datepicker: move gestalt to peerDependencies
  packages/gestalt-datepicker/package.json
Labels: patch release

#1106 Internal: enforce disallow namespace/wildcard imports + apply on docs
  .eslintrc.json
  docs/src/Avatar.doc.js
  docs/src/AvatarPair.doc.js
  docs/src/Badge.doc.js
  docs/src/Box.doc.js
  docs/src/Button.doc.js
  docs/src/Callout.doc.js
  docs/src/Card.doc.js
  docs/src/Checkbox.doc.js
  docs/src/Collage.doc.js
  docs/src/Column.doc.js
  docs/src/Container.doc.js
  docs/src/DatePicker.doc.js
  docs/src/Divider.doc.js
  docs/src/GestaltProvider.doc.js
  docs/src/GroupAvatar.doc.js
  docs/src/Heading.doc.js
  docs/src/Icon.doc.js
  docs/src/Image.doc.js
  docs/src/Installation.doc.js
  docs/src/Label.doc.js
  docs/src/Layer.doc.js
  docs/src/Letterbox.doc.js
  docs/src/Link.doc.js
  docs/src/Mask.doc.js
  docs/src/Masonry.doc.js
  docs/src/Pog.doc.js
  docs/src/RadioButton.doc.js
  docs/src/Row.doc.js
  docs/src/SearchField.doc.js
  docs/src/SegmentedControl.doc.js
  docs/src/SelectList.doc.js
  docs/src/Spinner.doc.js
  docs/src/Stack.doc.js
  docs/src/Switch.doc.js
  docs/src/Table.doc.js
  docs/src/Tabs.doc.js
  docs/src/Text.doc.js
  docs/src/TextArea.doc.js
  docs/src/TextField.doc.js
  docs/src/Toast.doc.js
  docs/src/Typeahead.doc.js
  docs/src/Video.doc.js
  docs/src/ZIndexClasses.doc.js
  docs/src/components/Card.js
  docs/src/components/CardPage.js
  docs/src/components/Combination.js
  docs/src/components/Example.js
  docs/src/components/Link.js
  docs/src/components/NavLink.js
  docs/src/components/PropTable.js
  docs/src/components/SearchContent.js
Labels: patch release

#1109 VSCode: add recommended extensions
  .vscode/extensions.json
Labels: patch release

#1108 Callout: Update info callout icon
  packages/gestalt/src/Callout.js
Labels: patch release

#1114 GestaltProvider: rename to Provider & move under configuration section
  docs/src/Provider.doc.js
  docs/src/components/App.js
  docs/src/components/sidebarIndex.js
  packages/gestalt-codemods/11.5.5-12.0.0/__testfixtures__/.eslintrc.json
  packages/gestalt-codemods/11.5.5-12.0.0/__testfixtures__/gestaltprovider-to-provider-1.input.js
  packages/gestalt-codemods/11.5.5-12.0.0/__testfixtures__/gestaltprovider-to-provider-1.output.js
  packages/gestalt-codemods/11.5.5-12.0.0/__testfixtures__/gestaltprovider-to-provider-2.input.js
  packages/gestalt-codemods/11.5.5-12.0.0/__testfixtures__/gestaltprovider-to-provider-2.output.js
  packages/gestalt-codemods/11.5.5-12.0.0/__testfixtures__/gestaltprovider-to-provider-3.input.js
  packages/gestalt-codemods/11.5.5-12.0.0/__testfixtures__/gestaltprovider-to-provider-3.output.js
  packages/gestalt-codemods/11.5.5-12.0.0/__tests__/gestaltprovider-to-provider.test.js
  packages/gestalt-codemods/11.5.5-12.0.0/gestaltprovider-to-provider.js
  packages/gestalt/src/GestaltProvider.flowtest.js
  packages/gestalt/src/Provider.flowtest.js
  packages/gestalt/src/Provider.js
  packages/gestalt/src/index.js
Labels: minor release

#1117 Docs: Updated Required Props for Video
  docs/src/Video.doc.js
Labels: patch release

#1100 useReducedMotion: Accessibility hook to support prefers-reduced-motion
  docs/src/components/sidebarIndex.js
  docs/src/useReducedMotion.doc.js
  flow-typed/npm/@testing-library/react-hooks_vx.x.x.js
  package.json
  packages/gestalt/src/index.js
  packages/gestalt/src/useReducedMotion.js
  packages/gestalt/src/useReducedMotion.jsdom.test.js
  packages/gestalt/src/useReducedMotion.test.js
  yarn.lock
Labels: minor release

#1118 Focus Styles: override CSS outline if a global one is specified
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.js
  packages/gestalt/src/Focus.css
  packages/gestalt/src/Link.js
  packages/gestalt/src/TypeaheadOption.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: patch release

#1079 Box: Refactored forwardRef logic + forwardRef test + forwardRef example in Docs
  docs/src/Box.doc.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Box.jsdom.test.js
Labels: minor release

#1107 Button/IconButton/CheckBox/RadioButton: refactored forwardRef
  docs/src/Button.doc.js
  docs/src/Checkbox.doc.js
  docs/src/RadioButton.doc.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/RadioButton.js
Labels: minor release

#1110 SearchField/Typeahead/TypeaheadInputField/TextField/TextArea: refactored forwardRef
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/TypeaheadInputField.js
Labels: minor release

#1113 Link/TapArea/DatePicker: Refactored forwardRef
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/TapArea.js
Labels: minor release

#1115 Docs: Remove # from URLs
  docs/package.json
  docs/src/index.js
  netlify.toml
  package.json
  yarn.lock
Labels: patch release

#1121 CompositeZIndex: Update deps array type
  packages/gestalt/src/zIndex.js
Labels: patch release

#1120 ZIndexClasses: Fix typos and linting in docs
  docs/src/ZIndexClasses.doc.js
Labels: patch release

#1122 DatePicker: Fix proptype bug
  packages/gestalt-datepicker/src/DatePicker.js
Labels: patch release

#1081 Flyout: Update Caret
  packages/gestalt/src/Caret.js
  packages/gestalt/src/Caret.test.js
  packages/gestalt/src/Contents.css
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Contents.test.js
  packages/gestalt/src/__snapshots__/Caret.test.js.snap
  packages/gestalt/src/__snapshots__/Controller.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Flyout.jsdom.test.js.snap
Labels: minor release

#1123 Docs: Add id to every heading (improves SEO & Search)
  docs/src/Checkbox.doc.js
  docs/src/RadioButton.doc.js
  docs/src/Switch.doc.js
  docs/src/components/Card.js
  docs/src/components/Combination.js
  docs/src/components/PropTable.js
  docs/src/docs.css
  docs/src/index.js
  docs/src/reset.css
  package.json
  yarn.lock
Labels: patch release

#1124 Docs: single subdirectory URLs
  docs/src/components/Navigation.js
  docs/src/components/SidebarSection.js
  docs/src/components/sidebarIndex.js
  docs/src/index.js
Labels: patch release

#1125 ZIndexClass: Fix source url
  docs/src/ZIndexClasses.doc.js
  docs/src/components/PageHeader.js
Labels: patch release

#1126 Docs: track page views
  docs/public/index.html
  docs/src/components/App.js
  docs/src/components/useTracking.js
Labels: patch release

#1127 Internal: disallow flow warnings
  packages/gestalt/src/Typeahead.js
  scripts/test.sh
Labels: patch release

#1132 Docs: nest anchor inside of heading
  docs/src/components/Card.js
Labels: patch release

#1134 useReducedMotion: fix in Safari/Edge
  packages/gestalt/src/useReducedMotion.js
Labels: minor release

#1137 Sticky: add height prop
  docs/src/Sticky.doc.js
  packages/gestalt/src/Sticky.js
  packages/gestalt/src/Sticky.test.js
  packages/gestalt/src/__snapshots__/Sticky.test.js.snap
Labels: minor release

#1131 [Box] s/blacklist/disallowed/
  docs/src/Box.doc.js
  packages/gestalt/src/Box.js
Labels: patch release

#1130 [Docs] Update port number for running locally
  README.md
  docs/src/Installation.doc.js
Labels: patch release

#1141 Button/Checkbox/IconButton/Link/RadioButton/Switch/TapArea: Revert useFocusVisible (#1098) & Focus Styles: revert override CSS outline if a global one is specified (#1118)
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.js
  packages/gestalt/src/Checkbox.css
  packages/gestalt/src/Checkbox.css.flow
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Focus.css
  packages/gestalt/src/Focus.css.flow
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/RadioButton.css.flow
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Switch.css.flow
  packages/gestalt/src/Switch.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/Touchable.css
  packages/gestalt/src/Touchable.css.flow
  packages/gestalt/src/TypeaheadOption.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
Labels: minor release

#1136 ZIndexClasses: note on docs re extracting index values from classes
  docs/src/ZIndexClasses.doc.js
Labels: patch release

#1135 Datepicker: standardized date format & placeholder date format across…
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/dateFormat.js
Labels: patch release

#1129 [Dark mode] Color updates for dark mode
  docs/src/Button.doc.js
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt/src/Badge.js
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.css.flow
  packages/gestalt/src/Button.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
Labels: minor release

#1143 Callout: added RTL support in dismiss button, renamed description prop
  docs/src/Callout.doc.js
  packages/gestalt-codemods/11.15.0-11.16.0/__testfixtures__/callout-rename-description-message.input.js
  packages/gestalt-codemods/11.15.0-11.16.0/__testfixtures__/callout-rename-description-message.output.js
  packages/gestalt-codemods/11.15.0-11.16.0/__tests__/callout-rename-description-message.test.js
  packages/gestalt-codemods/11.15.0-11.16.0/callout-rename-description-message.js
  packages/gestalt-codemods/11.5.5-11.6.0/__testfixtures__/.eslintrc.json
  packages/gestalt-codemods/11.5.5-11.6.0/__testfixtures__/gestaltprovider-to-provider-1.input.js
  packages/gestalt-codemods/11.5.5-11.6.0/__testfixtures__/gestaltprovider-to-provider-1.output.js
  packages/gestalt-codemods/11.5.5-11.6.0/__testfixtures__/gestaltprovider-to-provider-2.input.js
  packages/gestalt-codemods/11.5.5-11.6.0/__testfixtures__/gestaltprovider-to-provider-2.output.js
  packages/gestalt-codemods/11.5.5-11.6.0/__testfixtures__/gestaltprovider-to-provider-3.input.js
  packages/gestalt-codemods/11.5.5-11.6.0/__testfixtures__/gestaltprovider-to-provider-3.output.js
  packages/gestalt-codemods/11.5.5-11.6.0/__tests__/gestaltprovider-to-provider.test.js
  packages/gestalt-codemods/11.5.5-11.6.0/gestaltprovider-to-provider.js
  packages/gestalt/src/Callout.css
  packages/gestalt/src/Callout.css.flow
  packages/gestalt/src/Callout.flowtest.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Callout.jsdom.test.js
  packages/gestalt/src/Callout.test.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
Labels: minor release

#1138 [Pog]: Add red to prop type
  packages/gestalt/src/Pog.js
Labels: patch release

#1140 SelectList: Add disabled to options prop
  docs/src/SelectList.doc.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/SelectList.jsdom.test.js
  packages/gestalt/src/SelectList.test.js
Labels: minor release

#1139 Avatar: Remove person icon fallback variant
  packages/gestalt/src/Avatar.js
  packages/gestalt/src/Avatar.jsdom.test.js
  packages/gestalt/src/Avatar.test.js
  packages/gestalt/src/__snapshots__/Avatar.test.js.snap
Labels: minor release

#1148 Docs: fix blank installation page
  docs/src/components/Markdown.js
  netlify.toml
Labels: patch release

#1149 Internal: upgrade serialize-javascript (security)
  package.json
  yarn.lock
Labels: patch release

#1146 SelectList: fix FlowType
  packages/gestalt/src/SelectList.js
Labels: patch release

#1151 SelecList: fix Flowtype
  packages/gestalt/src/SelectList.js
Labels: minor release

#1152 Internal: remove console.log message in Markdown.js
  docs/src/components/Markdown.js
Labels: patch release

#1150 Video: add crossOrigin option
  docs/src/Video.doc.js
  packages/gestalt/src/Video.js
Labels: minor release

#1153 Revert/Revert "Button/Checkbox/IconButton/Link/RadioButton/Switch/TapArea: useFocusVisible"
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.js
  packages/gestalt/src/Checkbox.css
  packages/gestalt/src/Checkbox.css.flow
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Focus.css
  packages/gestalt/src/Focus.css.flow
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/RadioButton.css.flow
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Switch.css.flow
  packages/gestalt/src/Switch.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/Touchable.css
  packages/gestalt/src/Touchable.css.flow
  packages/gestalt/src/TypeaheadOption.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
Labels: minor release

#1157 SegmentedControl: make use of useFocusVisible
  packages/gestalt/src/SegmentedControl.css
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/__snapshots__/SegmentedControl.test.js.snap
Labels: minor release

#1162 Docs: update margin/padding for markdown elements
  docs/src/components/Markdown.css
Labels: patch release

#1163 Docs: PropTable use Card + fix scrollMarginTop on main Heading
  docs/src/components/CardPage.js
  docs/src/components/PropTable.js
Labels: patch release

#1164 Box: removed deprecated xs, sm, md, lg props + codemod helper
  packages/gestalt-codemods/11.25.2-11.26.0/__testfixtures__/box_deprecate_size_props.input.js
  packages/gestalt-codemods/11.25.2-11.26.0/__testfixtures__/box_deprecate_size_props.output.js
  packages/gestalt-codemods/11.25.2-11.26.0/__tests__/box_deprecate_size_props.test.js
  packages/gestalt-codemods/11.25.2-11.26.0/box_deprecate_size_props.js
Labels: minor release

#1166 Docs: separate sidebar scrolling
  docs/src/components/Navigation.js
Labels: patch release

#1167 SelectList: convert to function component
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/__snapshots__/SelectList.test.js.snap
Labels: minor release

#1155 SearchField: Add errorMessage
  docs/src/SearchField.doc.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/SearchField.jsdom.test.js
Labels: minor release

#1168 Docs: Add in page content navigation
  README.md
  docs/src/Development.doc.js
  docs/src/Development.md
  docs/src/Faq.doc.js
  docs/src/Faq.md
  docs/src/Icon.doc.js
  docs/src/Installation.doc.js
  docs/src/Installation.md
  docs/src/Pulsar.doc.js
  docs/src/SegmentedControl.doc.js
  docs/src/Table.doc.js
  docs/src/ZIndexClasses.doc.js
  docs/src/components/App.js
  docs/src/components/Card.js
  docs/src/components/CardPage.js
  docs/src/components/Example.js
  docs/src/components/Markdown.js
  docs/src/components/Navigation.js
  docs/src/components/PageHeader.js
  docs/src/components/PropTable.js
  docs/src/components/Toc.js
  docs/src/docs.css
Labels: patch release

#1171 Docs: fix layer issue with search + TOC
  docs/src/components/CardPage.js
  docs/src/components/DocSearch.js
Labels: patch release

#1172 Docs: remove heading for multiple Combination sections on Box
  docs/src/Box.doc.js
  docs/src/components/Combination.js
Labels: patch release

#1170 Docs: Add 'edit this page' link to every doc page
  docs/src/components/CardPage.js
  docs/src/index.js
Labels: patch release

#1174 Flyout: Update docs to mention that size is max width
  docs/src/Flyout.doc.js
Labels: patch release

#1177 Docs: Add search shortcut with forward slash
  docs/src/components/DocSearch.js
Labels: patch release

#1176 useFocusVisible: export hook & add docs
  docs/src/components/sidebarIndex.js
  docs/src/useFocusVisible.doc.js
  packages/gestalt/src/index.js
Labels: minor release

#1178 Docs: fix Divider overlap on bottom of the page
  docs/src/components/App.js
Labels: patch release

#1175 Modal: Add forwardRef
  docs/src/Modal.doc.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Modal.jsdom.test.js
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
Labels: major release

#1165 Column: removed deprecated xs, sm, md, lg props + codemod helper
  packages/gestalt-codemods/11.26.0-11.27.0/__testfixtures__/column_deprecate_size_props.input.js
  packages/gestalt-codemods/11.26.0-11.27.0/__testfixtures__/column_deprecate_size_props.output.js
  packages/gestalt-codemods/11.26.0-11.27.0/__tests__/column_deprecate_size_props.test.js
  packages/gestalt-codemods/11.26.0-11.27.0/column_deprecate_size_props.js
  packages/gestalt/src/Column.flowtest.js
  packages/gestalt/src/Column.js
  packages/gestalt/src/Column.test.js
  packages/gestalt/src/ColumnColumn.css
  packages/gestalt/src/ColumnColumn.css.flow
  packages/gestalt/src/__snapshots__/Column.test.js.snap
Labels: minor release
