Repository pinterest/gestalt, pull requests merged in 2021-08, with the labels that each got.

#1604 Docs: Update design crit information
  docs/src/How to Work with Us.doc.js
Labels: patch release

#1603 Callout, Upsell, Datapoint: Add note about dark mode support
  docs/src/Callout.doc.js
  docs/src/Datapoint.doc.js
  docs/src/Upsell.doc.js
Labels: patch release

#1606 Upsell: Fix Upsell.Form onSubmit API to match convention
  docs/src/Upsell.doc.js
  packages/gestalt/src/UpsellForm.js
Labels: major release

#1602 Eslint Plugin: Add missing ComboBox to "no-medium-formfields" Eslint rule
  packages/eslint-plugin-gestalt/src/__fixtures__/no-medium-formfields/invalid/invalid-combobox-default.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-medium-formfields/invalid/invalid-combobox-medium.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-medium-formfields/invalid/invalid-combobox-renamed.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-medium-formfields/valid.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.test.js
Labels: patch release

#1605 Fieldset: Add errorMessage prop
  docs/src/Fieldset.doc.js
  packages/gestalt/src/Fieldset.js
  packages/gestalt/src/Fieldset.test.js
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
Labels: minor release

#1611 Text: Remove `truncate`, document `lineClamp`
  docs/src/Text.doc.js
  packages/gestalt-codemods/next/__testfixtures__/text-replace-truncate-lineClamp-renamed.input.js
  packages/gestalt-codemods/next/__testfixtures__/text-replace-truncate-lineClamp-renamed.output.js
  packages/gestalt-codemods/next/__testfixtures__/text-replace-truncate-lineClamp.input.js
  packages/gestalt-codemods/next/__testfixtures__/text-replace-truncate-lineClamp.output.js
  packages/gestalt-codemods/next/__tests__/text-replace-truncate-lineClamp.test.js
  packages/gestalt-codemods/next/text-replace-truncate-lineClamp.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/Text.test.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/Text.test.js.snap
Labels: major release

#1614 Internal: s/'next'/'31.0.0'
  packages/gestalt-codemods/31.0.0/__testfixtures__/text-replace-truncate-lineClamp-renamed.input.js
  packages/gestalt-codemods/31.0.0/__testfixtures__/text-replace-truncate-lineClamp-renamed.output.js
  packages/gestalt-codemods/31.0.0/__testfixtures__/text-replace-truncate-lineClamp.input.js
  packages/gestalt-codemods/31.0.0/__testfixtures__/text-replace-truncate-lineClamp.output.js
  packages/gestalt-codemods/31.0.0/__tests__/text-replace-truncate-lineClamp.test.js
  packages/gestalt-codemods/31.0.0/text-replace-truncate-lineClamp.js
Labels: patch release

#1608 Eslint plugin: prefer-box-lonely-ref rule w/ autofix + no-spread-props rule w/ autofix
  docs/src/Eslint Plugin.doc.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-disallowed-props/invalid/disallowed-props-invalid-prop.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-disallowed-props/invalid/disallowed-props-renamed.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-disallowed-props/invalid/disallowed-props.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-disallowed-props/valid-aria.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-disallowed-props/valid-as-renamed.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-disallowed-props/valid-as.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-disallowed-props/valid-data.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-disallowed-props/valid-id.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-spread-props/invalid-fixable-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-spread-props/invalid-fixable-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-spread-props/invalid-not-fixable-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-spread-props/invalid-not-fixable-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-spread-props/valid.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/gestalt-import-with-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/gestalt-import-with-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/gestalt-import-with-renamed-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/gestalt-import-with-renamed-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/gestalt-import-without-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/gestalt-import-without-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/no-gestalt-import-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/no-gestalt-import-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/no-gestalt-import-selfclosed-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/invalid/no-gestalt-import-selfclosed-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-lonely-ref/valid.js
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.js
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.test.js
  packages/eslint-plugin-gestalt/src/eslintASTFixers.js
  packages/eslint-plugin-gestalt/src/eslintASTHelpers.js
  packages/eslint-plugin-gestalt/src/eslintFlowTypes.js
  packages/eslint-plugin-gestalt/src/index.js
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.js
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.test.js
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.js
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.test.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.test.js
  packages/eslint-plugin-gestalt/src/no-dangerous-style-duplicates.js
  packages/eslint-plugin-gestalt/src/no-dangerous-style-duplicates.test.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.test.js
  packages/eslint-plugin-gestalt/src/no-role-link-components.js
  packages/eslint-plugin-gestalt/src/no-role-link-components.test.js
  packages/eslint-plugin-gestalt/src/no-spread-props.js
  packages/eslint-plugin-gestalt/src/no-spread-props.test.js
  packages/eslint-plugin-gestalt/src/prefer-box-lonely-ref.js
  packages/eslint-plugin-gestalt/src/prefer-box-lonely-ref.test.js
  packages/eslint-plugin-gestalt/src/prefer-box.js
  packages/eslint-plugin-gestalt/src/prefer-box.test.js
  packages/eslint-plugin-gestalt/src/testHelpers.js
  packages/gestalt/src/Button.js
Labels: minor release

#1619 [Internal] Fix property of undefined exceptions
  docs/src/Dropdown.doc.js
  docs/src/Module.doc.js
Labels: patch release

#1620 [Internal] Automatically launch docs & watcher when you open VSCode
  .vscode/tasks.json
  docs/src/Development.doc.js
Labels: minor release

#1612 Checkbox, RadioButton, Switch: Add usage guidelines
  docs/src/Checkbox.doc.js
  docs/src/IconButton.doc.js
  docs/src/Modal.doc.js
  docs/src/RadioButton.doc.js
  docs/src/Switch.doc.js
Labels: patch release

#1613 Eslint plugin: prefer-box-as-tag rule w/ autofix
  docs/src/Eslint Plugin.doc.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-as-tag/invalid/gestalt-import-HTML-multiple-tag-with-props-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-as-tag/invalid/gestalt-import-HTML-multiple-tag-with-props-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-as-tag/invalid/gestalt-import-HTML-single-tag-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-as-tag/invalid/gestalt-import-HTML-single-tag-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-as-tag/invalid/no-gestalt-import-HTML-single-tag-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-as-tag/invalid/no-gestalt-import-HTML-single-tag-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-as-tag/valid.js
  packages/eslint-plugin-gestalt/src/eslintASTFixers.js
  packages/eslint-plugin-gestalt/src/eslintASTHelpers.js
  packages/eslint-plugin-gestalt/src/prefer-box-as-tag.js
  packages/eslint-plugin-gestalt/src/prefer-box-as-tag.test.js
Labels: minor release

#1622 Eslint plugin: fix `prefer-box-as-tag`
  packages/eslint-plugin-gestalt/src/index.js
Labels: patch release

#1624 Avatar, AvatarGroup, AvatarPair: Add usage guidelines
  docs/src/Avatar.doc.js
  docs/src/AvatarGroup.doc.js
  docs/src/AvatarPair.doc.js
Labels: patch release

#1616 Color: Add design tokens package and color page
  .github/workflows/release.yml
  .gitignore
  cypress/integration/accessibility_Color_spec.js
  docs/package.json
  docs/src/Color.doc.js
  docs/src/components/ColorPalette.js
  docs/src/components/sidebarIndex.js
  package.json
  packages/gestalt-design-tokens/README.md
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/package.json
  packages/gestalt-design-tokens/tokens/color/base.json
  packages/gestalt-design-tokens/tokens/space/base.json
  packages/gestalt/package.json
  packages/gestalt/src/Colors.css
  scripts/netlify.sh
  scripts/publish.js
  scripts/releaseSteps.js
  yarn.lock
Labels: minor release

#1625 Sheet: new onAnimationEnd prop + fix for bug
  docs/src/Sheet.doc.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
Labels: minor release

#1627 Revert Color: Add design tokens package and color page (#1616)
  .github/workflows/release.yml
  .gitignore
  cypress/integration/accessibility_Color_spec.js
  docs/package.json
  docs/src/Color.doc.js
  docs/src/components/ColorPalette.js
  docs/src/components/sidebarIndex.js
  package.json
  packages/gestalt-design-tokens/README.md
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/color/base.json
  packages/gestalt-design-tokens/tokens/space/base.json
  packages/gestalt/package.json
  packages/gestalt/src/Colors.css
  scripts/netlify.sh
  scripts/publish.js
  scripts/releaseSteps.js
  yarn.lock
Labels: major release

#1623 Lint rules: Add support for dynamic/dangerous styles in `no-box-useless-props`
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/flex-dangerous.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/flex-dynamic-dangerous.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/flex-dynamic-display.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-dangerous-grid.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-dangerous-inline-flex.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-dangerous-inline-grid.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-dynamic-dangerous.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-dynamic-display.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-reference-display.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.test.js
Labels: minor release

#1631 Lint rules: Fix reduce bug in no-box-useless-props
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
Labels: patch release

#1632 Lint rules: Fix find bug in no-box-useless-props
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
Labels: patch release

#1633 Lint rules: Fix name bug in no-box-useless-props
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
Labels: patch release

#1587 Button: Add key to fix Safari bug, take two
  packages/gestalt/src/Button.js
Labels: patch release

#1634 Docs: Add more usage guidelines
  docs/src/Dropdown.doc.js
  docs/src/Popover.doc.js
  docs/src/Pulsar.doc.js
  docs/src/Spinner.doc.js
  docs/src/components/MainSectionSubsection.js
Labels: patch release

#1626 ZIndex Classes: Docs fixes
  docs/src/ZIndex Classes.doc.js
Labels: patch release

#1638 Revert "Button: Add key to fix Safari bug, take two"
  packages/gestalt/src/Button.js
Labels: patch release

#1637 Heading: Replace `truncate` with `lineClamp`
  docs/src/Heading.doc.js
  docs/src/Text.doc.js
  packages/gestalt-codemods/33.0.0/__testfixtures__/heading-replace-truncate-lineClamp-renamed.input.js
  packages/gestalt-codemods/33.0.0/__testfixtures__/heading-replace-truncate-lineClamp-renamed.output.js
  packages/gestalt-codemods/33.0.0/__testfixtures__/heading-replace-truncate-lineClamp.input.js
  packages/gestalt-codemods/33.0.0/__testfixtures__/heading-replace-truncate-lineClamp.output.js
  packages/gestalt-codemods/33.0.0/__tests__/heading-replace-truncate-lineClamp.test.js
  packages/gestalt-codemods/33.0.0/heading-replace-truncate-lineClamp.js
  packages/gestalt/src/Heading.js
  packages/gestalt/src/Heading.test.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/__snapshots__/Heading.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/textTypes.js
Labels: major release

#1635 Modal: Add flow docs for props
  packages/gestalt/src/Modal.js
Labels: patch release

#1629 Eslint plugin: `prefer-box-no-classname` rule w/ autofix + merged into `prefer-box-lonely-ref`
  docs/src/Eslint Plugin.doc.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-inline-style/invalid/backgroundColor.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-inline-style/invalid/border.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-inline-style/invalid/borderRadius.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-inline-style/valid.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/gestalt-import-with-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/gestalt-import-with-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/gestalt-import-with-renamed-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/gestalt-import-with-renamed-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/gestalt-import-without-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/gestalt-import-without-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/no-gestalt-import-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/no-gestalt-import-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/no-gestalt-import-selfclosed-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-lonely-ref/no-gestalt-import-selfclosed-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/gestalt-import-with-box-inline-style-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/gestalt-import-with-box-inline-style-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/gestalt-import-with-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/gestalt-import-with-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/gestalt-import-with-renamed-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/gestalt-import-with-renamed-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/gestalt-import-without-box-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/gestalt-import-without-box-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/no-gestalt-import-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/no-gestalt-import-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/no-gestalt-import-selfclosed-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/invalid-no-disallowed/no-gestalt-import-selfclosed-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box-no-disallowed/valid/valid.js
  packages/eslint-plugin-gestalt/src/eslintASTFixers.js
  packages/eslint-plugin-gestalt/src/eslintASTHelpers.js
  packages/eslint-plugin-gestalt/src/index.js
  packages/eslint-plugin-gestalt/src/prefer-box-as-tag.js
  packages/eslint-plugin-gestalt/src/prefer-box-inline-style.js
  packages/eslint-plugin-gestalt/src/prefer-box-inline-style.test.js
  packages/eslint-plugin-gestalt/src/prefer-box-lonely-ref.js
  packages/eslint-plugin-gestalt/src/prefer-box-lonely-ref.test.js
  packages/eslint-plugin-gestalt/src/prefer-box-no-disallowed.js
  packages/eslint-plugin-gestalt/src/prefer-box-no-disallowed.test.js
  packages/eslint-plugin-gestalt/src/testHelpers.js
Labels: minor release

#1639 Docs: Add more usage guidelines
  docs/src/ActivationCard.doc.js
  docs/src/Badge.doc.js
  docs/src/ComboBox.doc.js
  docs/src/DatePicker.doc.js
  docs/src/Popover.doc.js
  docs/src/SelectList.doc.js
  docs/src/Tag.doc.js
Labels: patch release

#1636 Color: Add design tokens package and color page
  .github/workflows/release.yml
  .gitignore
  cypress/integration/accessibility_Color_spec.js
  docs/package.json
  docs/src/Color.doc.js
  docs/src/components/ColorPalette.js
  docs/src/components/sidebarIndex.js
  package.json
  packages/gestalt-design-tokens/README.md
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/package.json
  packages/gestalt-design-tokens/tokens/color/base.json
  packages/gestalt-design-tokens/tokens/space/base.json
  packages/gestalt/package.json
  packages/gestalt/src/Colors.css
  scripts/netlify.sh
  scripts/publish.js
  scripts/releaseSteps.js
  yarn.lock
Labels: minor release

#1643 Internal: fix gestalt-design-tokens variables import
  packages/gestalt/src/Colors.css
  packages/gestalt/src/index.js
Labels: patch release

#1646 Docs: Remove tokens import temporarily
  cypress/integration/accessibility_Color_spec.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/index.js
Labels: patch release

#1628 Lint rules: Add `prefer-flex` rule w/autofix
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/existing-flex-renamed-box-flex.input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/existing-flex-renamed-box-flex.output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/existing-flex-renamed-box.input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/existing-flex-renamed-box.output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/existing-flex-renamed-flex.input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/existing-flex-renamed-flex.output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/existing-flex.input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/existing-flex.output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/multiple-box-renamed.input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/multiple-box-renamed.output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/multiple-box.input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/multiple-box.output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/single-box.input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/invalid/single-box.output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/valid/display-flex.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-flex/valid/rounding.js
  packages/eslint-plugin-gestalt/src/eslintASTFixers.js
  packages/eslint-plugin-gestalt/src/eslintASTHelpers.js
  packages/eslint-plugin-gestalt/src/prefer-box-as-tag.js
  packages/eslint-plugin-gestalt/src/prefer-box-no-disallowed.js
  packages/eslint-plugin-gestalt/src/prefer-flex.js
  packages/eslint-plugin-gestalt/src/prefer-flex.test.js
Labels: minor release

#1649 Lint rules: Add `prefer-flex` to the index
  packages/eslint-plugin-gestalt/src/index.js
Labels: patch release

#1650 Docs: fix favicon
  docs/pages/_document.js
Labels: patch release

#1651 Docs: fix local redirects
  _redirects
  docs/pages/index.js
Labels: patch release

#1648 Flex: Add `flexBasis` prop to Flex.Item
  docs/pages/flex.js
  packages/gestalt/src/FlexItem.js
  packages/gestalt/src/boxTransforms.js
Labels: minor release

#1640 Image: Add crossorigin property
  docs/pages/image.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/Image.test.js
  packages/gestalt/src/__snapshots__/Image.test.js.snap
Labels: minor release

#1667 Eslint plugin: added schema options to `prefer-box-no-disallowed` rule
  packages/eslint-plugin-gestalt/src/helpers/eslintASTHelpers.js
  packages/eslint-plugin-gestalt/src/helpers/styleHelpers.js
  packages/eslint-plugin-gestalt/src/prefer-box-no-disallowed.js
Labels: minor release

#1665 Toast: Add role of status for accessibility
  docs/pages/design_tokens.js
  docs/pages/toast.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: patch release

#1668 Eslint plugin: fix on 'prefer-box-no-disallowed'
  packages/eslint-plugin-gestalt/src/prefer-box-no-disallowed.js
Labels: patch release

#1666 Internal: fix Element type is invalid
  docs/next.config.js
Labels: patch release

#1669 Docs: auto generate prop table from component
  docs/components/CardPage.js
  docs/components/GeneratedPropTable.js
  docs/components/Page.js
  docs/components/docgen.js
  docs/next.config.js
  docs/pages/modal.js
  flow-typed/npm/react-docgen_v5.x.x.js
  package.json
  packages/gestalt/src/Modal.js
  yarn.lock
Labels: minor release

#1671 Text: use generated docs
  docs/components/GeneratedPropTable.js
  docs/components/PropTable.js
  docs/pages/text.js
  packages/gestalt/src/Text.js
Labels: patch release

#1673 Docs: Remove broken source links
  docs/pages/color.js
  docs/pages/design_tokens.js
Labels: patch release
