Repository pinterest/gestalt, pull requests merged in 2021-06, with the labels that each got.

#1534 ColorSchemeProvider, OnLinkNavigationProvider: split Provider into individual providers
  cypress/integration/accessibility_ColorSchemeProvider_spec.js
  cypress/integration/accessibility_OnLinkNavigationProvider_spec.js
  docs/src/ActivationCard.doc.js
  docs/src/Button.doc.js
  docs/src/Callout.doc.js
  docs/src/ColorSchemeProvider.doc.js
  docs/src/Dropdown.doc.js
  docs/src/IconButton.doc.js
  docs/src/Link.doc.js
  docs/src/OnLinkNavigationProvider.doc.js
  docs/src/TapArea.doc.js
  docs/src/Upsell.doc.js
  docs/src/components/App.js
  docs/src/components/docsUtils.js
  docs/src/components/sidebarIndex.js
  packages/gestalt-codemods/23.0.0/detect-Provider-to-manually-update.js
  packages/gestalt/src/ColorSchemeProvider.flowtest.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/OnLinkNavigationProvider.flowtest.js
  packages/gestalt/src/Provider.flowtest.js
  packages/gestalt/src/Provider.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
  packages/gestalt/src/contexts/OnLinkNavigation.js
  packages/gestalt/src/contexts/OnNavigation.js
  packages/gestalt/src/index.js
Labels: major release

#1537 Docs: Remove feedback callout
  docs/src/AvatarGroup.doc.js
  docs/src/Box.doc.js
  docs/src/Callout.doc.js
  docs/src/Datapoint.doc.js
  docs/src/Dropdown.doc.js
  docs/src/Modal.doc.js
  docs/src/PageHeader.doc.js
  docs/src/SelectList.doc.js
  docs/src/Sheet.doc.js
  docs/src/Status.doc.js
  docs/src/Tooltip.doc.js
  docs/src/Upsell.doc.js
  docs/src/ZIndex Classes.doc.js
Labels: patch release

#1538 Internal: replace deprecated `postcss-cssnext` with `postcss-preset-env`
  package.json
  packages/gestalt-core/build.js
  yarn.lock
Labels: dependencies, patch release

#1539 Internal: add resolution for vulnerable `ws` package
  package.json
  yarn.lock
Labels: dependencies, patch release

#1540 Tabs: pass disableOnNavigation arg in onChange for link behavior management
  docs/src/Tabs.doc.js
  packages/gestalt/src/Tabs.js
Labels: minor release

#1542 GroupAvatar: cmp deprecation from Gestalt library
  cypress/integration/accessibility_GroupAvatar_spec.js
  docs/src/GroupAvatar.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/AvatarGroupPositioningWrapper.js
  packages/gestalt/src/GroupAvatar.css
  packages/gestalt/src/GroupAvatar.css.flow
  packages/gestalt/src/GroupAvatar.flowtest.js
  packages/gestalt/src/GroupAvatar.js
  packages/gestalt/src/GroupAvatar.test.js
  packages/gestalt/src/__snapshots__/GroupAvatar.test.js.snap
  packages/gestalt/src/index.js
Labels: major release

#1545 Internal: add resolution for `normalize-url` to fix vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release

#1546 Internal: add resolution for `trim-newlines` to fix vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release

#1543 Internal: add resolution for `css-select` to fix `css-what` vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release

#1549 Link: fix indentation in Docs code examples
  docs/src/Link.doc.js
Labels: patch release

#1551 Internal: add resolution for `glob-parent` to fix vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release

#1553 Video: Use objectFit instead of object-fit
  packages/gestalt/src/Video.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: minor release

#1559 Image: fit children
  docs/src/Image.doc.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/__snapshots__/Image.test.js.snap
Labels: patch release

#1561 Internal: fix stripping URLs from code
  scripts/releaseSteps.js
Labels: patch release

#1562 Dropdown: s/'next'/'25.0.0'/ for recent codemod
  packages/gestalt-codemods/25.0.0/__testfixtures__/dropdown-link-renamed.input.js
  packages/gestalt-codemods/25.0.0/__testfixtures__/dropdown-link-renamed.output.js
  packages/gestalt-codemods/25.0.0/__testfixtures__/dropdown-link.input.js
  packages/gestalt-codemods/25.0.0/__testfixtures__/dropdown-link.output.js
  packages/gestalt-codemods/25.0.0/__tests__/dropdown-link.test.js
  packages/gestalt-codemods/25.0.0/dropdown-link.js
Labels: patch release

#1555 ActivationCard, Upsell, Callout: Make accessibilityLabel required for actions
  docs/src/ActivationCard.doc.js
  docs/src/Callout.doc.js
  docs/src/OnLinkNavigationProvider.doc.js
  docs/src/Upsell.doc.js
  docs/src/components/FeedbackCallout.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/ActivationCard.test.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Callout.test.js
  packages/gestalt/src/Upsell.test.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/commonTypes.js
Labels: major release

#1565 Text: Add `lineClamp` prop
  docs/src/Text.doc.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/Typography.css
  packages/gestalt/src/Typography.css.flow
Labels: patch release

#1566 Tabs: Ship V2 tab treatment
  docs/src/Popover.doc.js
  docs/src/Tabs.doc.js
  packages/gestalt-codemods/27.0.0/__testfixtures__/tabs-size-renamed.input.js
  packages/gestalt-codemods/27.0.0/__testfixtures__/tabs-size-renamed.output.js
  packages/gestalt-codemods/27.0.0/__testfixtures__/tabs-size.input.js
  packages/gestalt-codemods/27.0.0/__testfixtures__/tabs-size.output.js
  packages/gestalt-codemods/27.0.0/__tests__/tabs-size.test.js
  packages/gestalt-codemods/27.0.0/tabs-size.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tabs.test.js
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
Labels: major release

#1569 Lint Rules: Remove Tabs from `no-medium-formfields` rule
  packages/eslint-plugin-gestalt/src/__fixtures__/no-medium-formfields/invalid/invalid-tabs-default.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.test.js
Labels: minor release

#1570 Image: Add option for presentation role
  docs/src/Image.doc.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/Image.test.js
  packages/gestalt/src/__snapshots__/Image.test.js.snap
Labels: minor release

#1572 SearchField: Add accessibilityClearButtonLabel to props table in docs
  docs/src/SearchField.doc.js
Labels: patch release

#1567 Table: Add sticky column support to sortable header
  docs/src/Table.doc.js
  packages/gestalt/src/TableSortableHeaderCell.js
Labels: minor release

#1571 Tabs, TapArea, InternalLink: Add support for aria-current
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/ariaTypes.js
Labels: patch release

#1575 FetchItems: Refactor to function component
  packages/gestalt/src/FetchItems.js
Labels: patch release

#1574 Collection: Refactor to function component
  packages/gestalt/src/Collection.js
Labels: patch release

#1573 TextField: new InternalTextField for reusability
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/InternalTextField.css
  packages/gestalt/src/InternalTextField.css.flow
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
Labels: patch release

#1577 Text: Update `word-break` style
  packages/gestalt/src/Typography.css
Labels: patch release
