Repository pinterest/gestalt, pull requests merged in 2021-04, with the labels that each got.

#1450 Link/Button/IconButton/TapArea +composed components: always pass disableOnNavigation to onClick
  docs/src/ActivationCard.doc.js
  docs/src/Button.doc.js
  docs/src/Callout.doc.js
  docs/src/Dropdown.doc.js
  docs/src/IconButton.doc.js
  docs/src/Link.doc.js
  docs/src/TapArea.doc.js
  docs/src/Upsell.doc.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/MenuOption.js
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/commonTypes.js
Labels: patch release

#1451 Docs: Fix outdated What's New Page
  docs/src/What's New.doc.js
Labels: patch release

#1452 Docs: Fix layout for two columns
  docs/src/Popover.doc.js
  docs/src/Tooltip.doc.js
  scripts/templates/ComponentName.doc.js
Labels: patch release

#1453 Dropdown: Fix link access through keyboard
  docs/src/Dropdown.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Dropdown.jsdom.test.js
  packages/gestalt/src/Focus.css
  packages/gestalt/src/Focus.css.flow
  packages/gestalt/src/MenuOption.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
Labels: patch release

#1455 Link/Button/IconButton/TapArea +composed components: refactored disab…
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
Labels: patch release

#1456 Modal/Sheet: Remove experimental _dangerousScrollableExperimentEnable…
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
Labels: patch release

#1457 Docs: updated Docs for ZIndex Classes
  docs/src/Tooltip.doc.js
  docs/src/ZIndex Classes.doc.js
Labels: patch release

#1460 Docs: remove deprecated props from examples
  docs/src/Popover.doc.js
  docs/src/ScrollBoundaryContainer.doc.js
  docs/src/Tooltip.doc.js
  docs/src/ZIndex Classes.doc.js
Labels: patch release

#1395 Table: Add ability to specify sticky columns
  cypress/integration/accessibility_Table_spec.js
  docs/src/Table.doc.js
  packages/gestalt/src/Table.css
  packages/gestalt/src/Table.css.flow
  packages/gestalt/src/Table.js
  packages/gestalt/src/Table.test.js
  packages/gestalt/src/TableCell.js
  packages/gestalt/src/TableCell.test.js
  packages/gestalt/src/TableHeaderCell.js
  packages/gestalt/src/TableRow.js
  packages/gestalt/src/TableRowExpandable.js
  packages/gestalt/src/__snapshots__/Table.test.js.snap
  packages/gestalt/src/__snapshots__/TableCell.test.js.snap
  packages/gestalt/src/__snapshots__/TableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/TableRowExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/contexts/TableContext.js
Labels: minor release

#1461 Modal: temp _dangerouslyDisableScrollBoundaryContainer prop to disabl…
  packages/gestalt/src/Modal.js
Labels: patch release

#1465 Docs: convert ESLint docs to new format
  docs/src/Eslint Plugin.doc.js
  docs/src/components/MainSection.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/Markdown.css
Labels: patch release

#1463 Internal: upgrade flow to 0.145.0 & fix 23 flow suppressions
  .flowconfig
  docs/src/components/MainSectionCard.js
  docs/src/components/PropTable.js
  flow-typed/npm/@testing-library/react_v10.x.x.js
  flow-typed/npm/jest_v26.x.x.js
  flow-typed/npm/react-datepicker_v2.x.x.js
  package.json
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt/src/Box.flowtest.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Card.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/GroupAvatar.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/TypeaheadInputField.js
  packages/gestalt/src/Video.js
  yarn.lock
Labels: minor release

#1462 Callout, Upsell: Convert title to text instead of heading
  cypress/integration/accessibility_Callout_spec.js
  cypress/integration/accessibility_Upsell_spec.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Heading.css
  packages/gestalt/src/Heading.css.flow
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: patch release

#1458 Typeahead: Fix static `value` bug
  packages/gestalt/src/Typeahead.js
Labels: patch release

#1467 Docs: Update Meetings in How to Work with Us
  docs/src/How to Work with Us.doc.js
  docs/src/ScrollBoundaryContainer.doc.js
  docs/src/Table.doc.js
Labels: patch release

#1468 Docs: Add unique page titles
  docs/src/components/CardPage.js
Labels: patch release

#1470 Z-Index: copyediting new docs page
  docs/src/ZIndex Classes.doc.js
Labels: patch release

#1469 Docs: Remove popover example in Checkbox doc
  docs/src/Checkbox.doc.js
Labels: patch release

#1473 TapArea: Allow right clicks
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
Labels: patch release

#1474 Card: Fix RTL hover bug
  packages/gestalt/src/Card.css
  packages/gestalt/src/Card.css.flow
  packages/gestalt/src/Card.js
Labels: patch release

#1475 Docs: Fix Tooltip typos
  docs/src/Tooltip.doc.js
Labels: patch release

#1476 Docs: Fix responsiveness on PageHeader
  docs/src/components/App.js
Labels: patch release

#1477 Internal: Upgrade ssri and is-svg dependencies for security alerts
  docs/package.json
  package.json
  yarn.lock
Labels: dependencies, patch release

#1480 Heading: add accessibilityLevel="none" option
  docs/src/Heading.doc.js
  packages/gestalt/src/Heading.css
  packages/gestalt/src/Heading.flowtest.js
  packages/gestalt/src/Heading.js
  packages/gestalt/src/Heading.test.js
  packages/gestalt/src/__snapshots__/Heading.test.js.snap
Labels: minor release

#1481 Modal: added comment on temporal prop to prevent confusion
  packages/gestalt/src/Modal.js
Labels: patch release

#1482 SegmentedControl: Update text color for accessibility
  cypress/integration/accessibility_SegmentedControl_spec.js
  docs/src/SegmentedControl.doc.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/__snapshots__/SegmentedControl.test.js.snap
Labels: patch release

#1484 Docs: Make unexpanded code example more obviously interactive
  cypress/integration/accessibility_Sheet_spec.js
  docs/src/components/ExampleCode.css
  docs/src/components/ExampleCode.js
Labels: patch release

#1485 Button: fix inline for role="link"
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/InternalLink.test.js
  packages/gestalt/src/Layout.css
  packages/gestalt/src/Layout.css.flow
  packages/gestalt/src/Link.css
  packages/gestalt/src/Link.css.flow
  packages/gestalt/src/Link.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: patch release

#1487 Flex: add `minWidth` prop to Flex.Item
  docs/src/Flex.doc.js
  packages/gestalt/src/Flex.js
  packages/gestalt/src/FlexItem.js
Labels: minor release

#1486 Module: Add badgeText prop
  docs/src/Module.doc.js
  packages/gestalt/src/Badge.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/Module.test.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleExpandableItem.test.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/moduleTypes.js
Labels: minor release

#1488 Internal: Add .DS_Store to .gitignore
  .gitignore
Labels: patch release

#1466 AvatarGroup: new component
  cypress/integration/accessibility_AvatarGroup_spec.js
  docs/src/AvatarGroup.doc.js
  docs/src/Dropdown.doc.js
  docs/src/GroupAvatar.doc.js
  docs/src/PageHeader.doc.js
  docs/src/Status.doc.js
  docs/src/components/CombinationNew.js
  docs/src/components/PageHeader.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Avatar.js
  packages/gestalt/src/AvatarFoundation.js
  packages/gestalt/src/AvatarGroup.css
  packages/gestalt/src/AvatarGroup.css.flow
  packages/gestalt/src/AvatarGroup.flowtest.js
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/AvatarGroup.jsdom.test.js
  packages/gestalt/src/AvatarGroupAddCollaboratorsButton.js
  packages/gestalt/src/AvatarGroupCollaboratorAvatar.js
  packages/gestalt/src/AvatarGroupCollaboratorsCount.js
  packages/gestalt/src/AvatarGroupConstants.js
  packages/gestalt/src/AvatarGroupHoverOverlay.js
  packages/gestalt/src/AvatarGroupPositioningWrapper.js
  packages/gestalt/src/AvatarPair.js
  packages/gestalt/src/DefaultAvatar.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/__snapshots__/Avatar.test.js.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#1489 Internal: Update PR template
  .github/pull_request_template.md
  docs/src/Callout.doc.js
Labels: patch release

#1490 AvatarGroup: remove unnecessary attr in svg
  packages/gestalt/src/AvatarFoundation.js
  packages/gestalt/src/__snapshots__/Avatar.test.js.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.js.snap
Labels: patch release

#1492 Internal: Fix setExtraStackFrame exception
  packages/eslint-plugin-gestalt/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
Labels: minor release
