Repository pinterest/gestalt, pull requests merged in 2021-12, with the labels that each got.

#1795 Docs: add a couple of tooltips to header elements
  docs/components/DocSearch.js
  docs/components/Header.js
  docs/components/HeaderMenu.js
Labels: patch release

#1792 NumberField: add Usage guidelines, Best practices, A11y+L10n
  cypress/integration/accessibility_NumberField_spec.js
  docs/pages/numberfield.js
  docs/pages/textfield.js
Labels: patch release

#1797 Internal: upgrade Flow to 0.165.1
  .flowconfig
  docs/pages/masonry.js
  package.json
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DatePickerTextField.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/debounce.js
  packages/gestalt/src/defaultLayout.js
  packages/gestalt/src/throttle.js
  packages/gestalt/src/utils/positioningUtils.js
  yarn.lock
Labels: dependencies, patch release

#1784 Design tokens: Add Color alias tokens
  docs/components/TokenExample.js
  docs/pages/design_tokens.js
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/color/alias.json
Labels: minor release

#1791 Divider: updated design guidelines
  docs/pages/divider.js
  packages/gestalt/src/Divider.js
Labels: patch release

#1786 Docs: Adding a section for making design contributions to Gestalt
  docs/pages/how_to_work_with_us.js
Labels: patch release

#1801 Internal: enable `no-access-state-in-setstate` lint rule
  .eslintrc.json
Labels: patch release

#1803 Docs: allow GitHub link text in page header to wrap
  docs/components/PageHeader.js
Labels: patch release

#1804 Internal: update straggling references to the old docs domain
  docs/components/Markdown.js
  docs/pages/faq.js
  docs/pages/how_to_work_with_us.js
  packages/eslint-plugin-gestalt/src/no-box-dangerous-style-duplicates.js
  packages/eslint-plugin-gestalt/src/no-box-dangerous-style-duplicates.test.js
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.js
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.test.js
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.js
Labels: patch release

#1802 Eslint plugin: `prefer-heading` + autofix/suggestions
  .github/pull_request_template.md
  docs/pages/eslint_plugin.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/gestalt-import-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/gestalt-import-noA11yLevel-suggestion-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/gestalt-import-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-h2-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-h2-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-multiple-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-multiple-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-noA11yLevel-suggestion-h2-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-noA11yLevel-suggestion-multiple1-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-noA11yLevel-suggestion-multiple2-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-noA11yLevel-suggestion-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/invalid/no-gestalt-import-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-heading/valid/valid.js
  packages/eslint-plugin-gestalt/src/helpers/eslintASTHelpers.js
  packages/eslint-plugin-gestalt/src/index.js
  packages/eslint-plugin-gestalt/src/prefer-heading.js
  packages/eslint-plugin-gestalt/src/prefer-heading.test.js
  packages/eslint-plugin-gestalt/src/prefer-link.js
Labels: minor release

#1807 Docs: Updated the design section of the page "How to work with us"
  docs/pages/how_to_work_with_us.js
Labels: patch release

#1799 Design tokens: Add font tokens for size, weight, and family
  docs/components/TokenExample.js
  docs/pages/design_tokens.js
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/color/base.json
  packages/gestalt-design-tokens/tokens/font/base.json
Labels: minor release

#1808 Tooltip: Add example alongside Label and TextField
  docs/pages/tooltip.js
  packages/gestalt/src/Icon.js
Labels: patch release

#1800 Docs: Center main content for large screens
  cypress/integration/accessibility_OnLinkNavigationProvider_spec.js
  cypress/integration/accessibility_Upsell_spec.js
  docs/components/AppLayout.js
Labels: patch release

#1811 Internal: Upgrade Flow to 0.167.1
  .flowconfig
  docs/package.json
  package.json
  yarn.lock
Labels: dependencies, patch release

#1813 Docs: add logo!!
  docs/components/Footer.js
  docs/components/Header.js
  docs/components/HeaderMenu.js
  docs/components/Link.js
  docs/components/buttons/DarkModeButton.js
  docs/components/buttons/LTRButton.js
  docs/components/buttons/SidebarCategorizationButton.js
  docs/docs.css
  docs/public/gestalt-logo-250.png
  docs/public/gestalt-logo-500.png
Labels: patch release

#1815 Docs: Fixed links under Labels on the Accessibility page
  docs/pages/accessibility.js
Labels: patch release

#1810 ComboBox: performance optimization
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/ComboBoxItem.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/OptionItem.js
Labels: patch release

#1818 Docs: Fixed broken links on Accessibility page
  docs/pages/accessibility.js
Labels: patch release

#1817 Upsell: convert to use generated props table
  docs/pages/upsell.js
  packages/gestalt/src/Upsell.js
Labels: patch release

#1819 Dropdown: fix position inside fixed container bug
  docs/pages/dropdown.js
  packages/gestalt-codemods/41.0.0/__testfixtures__/rename-dropdown-dangerouslyRemoveLayer-to-isWithinFixedContainer.input.js
  packages/gestalt-codemods/41.0.0/__testfixtures__/rename-dropdown-dangerouslyRemoveLayer-to-isWithinFixedContainer.output.js
  packages/gestalt-codemods/41.0.0/__tests__/rename-dropdown-dangerouslyRemoveLayer-to-isWithinFixedContainer.test.js
  packages/gestalt-codemods/41.0.0/rename-dropdown-dangerouslyRemoveLayer-to-isWithinFixedContainer.js
  packages/gestalt/src/Dropdown.js
Labels: major release

#1822 Docs: Fixed broken Popover link on Accessibility page
  docs/pages/accessibility.js
Labels: patch release

#1820 Docs: small layout and changelog loading improvements
  docs/components/Footer.js
  docs/pages/whats_new.js
Labels: patch release

#1824 Docs: avoid spinner on What's new page
  docs/pages/whats_new.js
Labels: patch release

#1821 Card, Checkbox, Column: refactor to use generated props tables
  docs/pages/card.js
  docs/pages/checkbox.js
  docs/pages/column.js
  packages/gestalt/src/Card.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Column.js
Labels: patch release

#1823 Docs: fix changelog rendering on What's new page
  CHANGELOG.md
Labels: patch release

#1809 Module: use generated proptable
  docs/pages/icon.js
  docs/pages/module.js
  packages/gestalt/src/Module.flowtest.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/ModuleExpandable.flowtest.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/moduleTypes.js
Labels: patch release

#1825 Box, Column: add comments for responsive props
  packages/gestalt/src/Box.js
  packages/gestalt/src/Column.js
Labels: patch release
