Repository pinterest/gestalt, pull requests merged in 2021-01, with the labels that each got.

#1324 Layer: Update documentation examples around avoiding unwanted re-rendering
  docs/src/Layer.doc.js
Labels: patch release

#1315 TextArea: Add support for Tags
  docs/src/TextArea.doc.js
  docs/src/TextField.doc.js
  packages/gestalt/src/FormElement.css
  packages/gestalt/src/Tag.css
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/TextArea.css.flow
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextArea.test.js
  packages/gestalt/src/TextField.css
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
Labels: minor release

#1328 Callout: Fix vertical padding in md viewport when no actions present
  packages/gestalt/src/Callout.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
Labels: patch release

#1317 Typeahead: Add support for Tags
  docs/src/Typeahead.doc.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/Typeahead.jsdom.test.js
  packages/gestalt/src/TypeaheadInputField.css
  packages/gestalt/src/TypeaheadInputField.css.flow
  packages/gestalt/src/TypeaheadInputField.js
  packages/gestalt/src/__snapshots__/Typeahead.jsdom.test.js.snap
Labels: minor release

#1327 Layer: fix a bug where Layer ummounts children on rerender when zIndex changes
  docs/src/Layer.doc.js
  packages/gestalt/src/Layer.js
Labels: bug, patch release

#1331 Tag: fix typo in documentation
  docs/src/Tag.doc.js
Labels: patch release

#1305 Dropdown: New component to display actions or selectable options
  cypress/integration/accessibility_Dropdown_spec.js
  docs/src/Dropdown.doc.js
  docs/src/Flyout.doc.js
  docs/src/Text.doc.js
  docs/src/Typeahead.doc.js
  docs/src/components/Example.js
  docs/src/components/PageHeader.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Dropdown.css
  packages/gestalt/src/Dropdown.css.flow
  packages/gestalt/src/Dropdown.flowtest.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Dropdown.jsdom.test.js
  packages/gestalt/src/DropdownContextProvider.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownItem.jsdom.test.js
  packages/gestalt/src/DropdownSection.js
  packages/gestalt/src/Flyout.js
  packages/gestalt/src/MenuOption.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/TypeaheadInputField.js
  packages/gestalt/src/TypeaheadOption.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/index.js
  packages/gestalt/src/keyCodes.js
  packages/gestalt/src/utils/keyboardNavigation.js
Labels: minor release

#1325 Box: Update box-shadow color in dark mode
  docs/src/Box.doc.js
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Toast.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorScheme.js
  packages/gestalt/src/contexts/ColorScheme.jsdom.test.js
Labels: minor release

#1332 Docs: Add versioning info to development page
  docs/src/DatePicker.doc.js
  docs/src/Development.doc.js
Labels: patch release

#1333 Internal: Mark package as not having side effects
  package.json
Labels: patch release

#1338 Box: add new transparent gray color variable
  packages/gestalt/src/Colors.css
Labels: patch release

#1337 Icon: Add eye-hide icon.
  packages/gestalt/src/icons/eye-hide.svg
  packages/gestalt/src/icons/index.js
Labels: minor release

#1342 Docs: replaced 'eye-icon' icon with Gestalt version
  docs/src/components/ExampleCode.js
Labels: patch release

#1336 Module: Add Static version
  docs/src/Module.doc.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/Module.test.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandable.test.js
  packages/gestalt/src/ModuleExpandableBase.test.js
  packages/gestalt/src/ModuleExpandableItem.flowtest.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleExpandableItem.jsdom.test.js
  packages/gestalt/src/ModuleExpandableItem.test.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/moduleTypes.js
Labels: minor release

#1340 Callout, Upsell: Fix action href type in docs, dedupe type definitions
  docs/src/Callout.doc.js
  docs/src/Upsell.doc.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/commonTypes.js
Labels: patch release

#1323 ModuleExpandable: added external collapsing control (expandedIndex and onExpandedChange)
  docs/src/Module.doc.js
  packages/gestalt/src/ModuleExpandable.flowtest.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandable.jsdom.test.js
  packages/gestalt/src/ModuleExpandable.test.js
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/moduleTypes.js
Labels: minor release

#1347 Docs: component source link tweaks
  docs/src/components/PageHeader.js
Labels: patch release

#1350 Typeahead: add zIndex prop to support component in Modals with zIndex
  docs/src/Typeahead.doc.js
  packages/gestalt/src/Typeahead.js
Labels: minor release

#1351 Z-Index: Consolidate proptype to reduce needed suppressions
  packages/gestalt/src/Box.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Sticky.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/zIndex.js
Labels: patch release

#1352 Internal: bump resolved version of immer due to security concern
  package.json
  yarn.lock
Labels: patch release

#1345 Docs: Add shared documentation components for docs redesign
  docs/src/Button.doc.js
  docs/src/components/Card.js
  docs/src/components/Example.js
  docs/src/components/ExampleCode.js
  docs/src/components/MainSection.js
  docs/src/components/MainSectionCard.js
  docs/src/components/MainSectionSubsection.js
Labels: patch release

#1356 Internal: fix package.json version in other packages
  scripts/releaseSteps.js
Labels: patch release
