Repository pinterest/gestalt, pull requests merged in 2021-02, with the labels that each got.

#1359 Docs: Update shared components for new Docs design
  docs/src/Box.doc.js
  docs/src/Button.doc.js
  docs/src/Flex.doc.js
  docs/src/components/Card.js
  docs/src/components/CombinationNew.js
  docs/src/components/MainSection.js
  docs/src/components/MainSectionCard.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/Toc.js
  scripts/templates/ComponentName.doc.js
Labels: patch release

#1360 Docs: copyPaste functionality implemented into linking icon
  docs/src/components/Card.js
Labels: patch release

#1357 Gestalt: ScrollableContainer - new component with built-in scrollability logic to allow anchored-based components get correctly positioned inside scrolling containers
  cypress/integration/accessibility_ScrollableContainer_spec.js
  docs/src/ScrollableContainer.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Contents.test.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Flyout.js
  packages/gestalt/src/Layer.js
  packages/gestalt/src/Layer.test.js
  packages/gestalt/src/ScrollableContainer.flowtest.js
  packages/gestalt/src/ScrollableContainer.js
  packages/gestalt/src/ScrollableContainer.jsdom.test.js
  packages/gestalt/src/ScrollableContainer.test.js
  packages/gestalt/src/__snapshots__/ScrollableContainer.test.js.snap
  packages/gestalt/src/contexts/ScrollableContainer.js
  packages/gestalt/src/index.js
  packages/gestalt/src/utils/positioningTypes.js
  packages/gestalt/src/utils/positioningUtils.js
Labels: minor release

#1361 Internal: Add lint rules to enforce fragment style and use of keys
  .eslintrc.json
  docs/src/Box.doc.js
  docs/src/Button.doc.js
  docs/src/IconButton.doc.js
  docs/src/Layer.doc.js
  docs/src/Modal.doc.js
  docs/src/Sheet.doc.js
  docs/src/TapArea.doc.js
  docs/src/Toast.doc.js
  docs/src/Typeahead.doc.js
  docs/src/components/Card.js
  docs/src/components/ExampleCode.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/Navigation.js
  docs/src/useReducedMotion.doc.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-role-link-components/valid.js
  packages/gestalt-codemods/1.27.0/__testfixtures__/avatar-update-sizes-remove-icon-avatar.input.js
  packages/gestalt-codemods/1.27.0/__testfixtures__/avatar-update-sizes-remove-icon-avatar.output.js
  packages/gestalt-codemods/1.27.0/__testfixtures__/avatar-update-sizes-remove-icon-groupavatar.input.js
  packages/gestalt-codemods/1.27.0/__testfixtures__/avatar-update-sizes-remove-icon-groupavatar.output.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/AnimationController.js
  packages/gestalt/src/Backdrop.js
  packages/gestalt/src/ButtonGroup.js
  packages/gestalt/src/MenuOption.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/TableRowExpandable.js
  packages/gestalt/src/Toast.test.js
  packages/gestalt/src/TypeaheadInputField.js
Labels: patch release

#1362 Box: fix margin-family props not overriding default 'auto' by @media with boints
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/boxWhitespace.css
  scripts/whitespace.js
Labels: patch release

#1365 Internal: update ScrollableContainer a11y test
  cypress/integration/accessibility_ScrollableContainer_spec.js
Labels: patch release

#1367 Docs: update Prop Table design
  docs/src/Text.doc.js
  docs/src/components/PropTable.js
  packages/gestalt/src/Text.js
Labels: patch release

#1363 Box: Remove marginLeft and marginRight props
  docs/src/Avatar.doc.js
  docs/src/Box.doc.js
  docs/src/Callout.doc.js
  docs/src/Column.doc.js
  docs/src/Icon.doc.js
  docs/src/Image.doc.js
  docs/src/Layouts.doc.js
  docs/src/Modal.doc.js
  docs/src/ScrollableContainer.doc.js
  docs/src/Upsell.doc.js
  docs/src/Video.doc.js
  docs/src/components/Card.js
  docs/src/components/Example.js
  docs/src/components/Header.js
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.js
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.test.js
  packages/gestalt-codemods/next/__testfixtures__/box-replace-marginleft-marginright.input.js
  packages/gestalt-codemods/next/__testfixtures__/box-replace-marginleft-marginright.output.js
  packages/gestalt-codemods/next/__tests__/box-replace-marginleft-marginright.test.js
  packages/gestalt-codemods/next/box-replace-marginleft-marginright.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Box.test.js
  packages/gestalt/src/ButtonGroup.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Modal.css
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/VideoPlayhead.js
  packages/gestalt/src/__snapshots__/Box.test.js.snap
  packages/gestalt/src/__snapshots__/ButtonGroup.test.js.snap
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
  packages/gestalt/src/__snapshots__/VideoPlayhead.test.js.snap
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/boxWhitespace.css
  packages/gestalt/src/boxWhitespace.css.flow
  scripts/whitespace.js
Labels: major release

#1358 Box: Add design guidelines and update documentation
  docs/src/Box.doc.js
  docs/src/Flex.doc.js
  docs/src/components/Card.js
  docs/src/components/MainSection.js
  docs/src/components/MainSectionCard.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/PropTable.js
  scripts/templates/ComponentName.doc.js
Labels: patch release

#1364 Provider/Link/Button/IconButton/TapArea: implement OnNavigation context for advanced link navigation
  docs/src/ActivationCard.doc.js
  docs/src/Button.doc.js
  docs/src/Callout.doc.js
  docs/src/Dropdown.doc.js
  docs/src/IconButton.doc.js
  docs/src/Link.doc.js
  docs/src/Provider.doc.js
  docs/src/TapArea.doc.js
  docs/src/Upsell.doc.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/MenuOption.js
  packages/gestalt/src/Provider.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/commonTypes.js
  packages/gestalt/src/contexts/OnNavigation.js
Labels: minor release

#1368 Internal: disable Mergify
  .mergify.yml
Labels: patch release

#1369 Provider: fixes in Provider, Provider Docs and OnNavigation-related component Docs
  cypress/integration/accessibility_Provider_spec.js
  docs/src/ActivationCard.doc.js
  docs/src/Button.doc.js
  docs/src/Callout.doc.js
  docs/src/Dropdown.doc.js
  docs/src/IconButton.doc.js
  docs/src/Link.doc.js
  docs/src/Provider.doc.js
  docs/src/TapArea.doc.js
  docs/src/Upsell.doc.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/contexts/OnNavigation.js
Labels: patch release

#1372 Internal: Rename codemod folder
  packages/gestalt-codemods/17.0.0/__testfixtures__/box-replace-marginleft-marginright.input.js
  packages/gestalt-codemods/17.0.0/__testfixtures__/box-replace-marginleft-marginright.output.js
  packages/gestalt-codemods/17.0.0/__tests__/box-replace-marginleft-marginright.test.js
  packages/gestalt-codemods/17.0.0/box-replace-marginleft-marginright.js
Labels: patch release

#1378 Docs: Add ability for Do/Don't in bullet lists
  docs/src/Box.doc.js
  docs/src/components/MainSectionCard.js
  scripts/templates/ComponentName.doc.js
Labels: patch release

#1373 Docs: Update cypress accessibility testing, remove disabled contrast rules
  cypress/integration/accessibility_ActivationCard_spec.js
  cypress/integration/accessibility_Avatar_spec.js
  cypress/integration/accessibility_Box_spec.js
  cypress/integration/accessibility_Checkbox_spec.js
  cypress/integration/accessibility_Collage_spec.js
  cypress/integration/accessibility_Column_spec.js
  cypress/integration/accessibility_DatePicker_spec.js
  cypress/integration/accessibility_Dropdown_spec.js
  cypress/integration/accessibility_Flyout_spec.js
  cypress/integration/accessibility_Heading_spec.js
  cypress/integration/accessibility_IconButton_spec.js
  cypress/integration/accessibility_Image_spec.js
  cypress/integration/accessibility_Layer_spec.js
  cypress/integration/accessibility_Link_spec.js
  cypress/integration/accessibility_Modal_spec.js
  cypress/integration/accessibility_Module_spec.js
  cypress/integration/accessibility_Pulsar_spec.js
  cypress/integration/accessibility_RadioButton_spec.js
  cypress/integration/accessibility_ScrollableContainer_spec.js
  cypress/integration/accessibility_SegmentedControl_spec.js
  cypress/integration/accessibility_SelectList_spec.js
  cypress/integration/accessibility_Sheet_spec.js
  cypress/integration/accessibility_Table_spec.js
  cypress/integration/accessibility_TapArea_spec.js
  cypress/integration/accessibility_TextArea_spec.js
  cypress/integration/accessibility_TextField_spec.js
  cypress/integration/accessibility_Text_spec.js
  cypress/integration/accessibility_Toast_spec.js
  cypress/integration/accessibility_ZIndex Classes_spec.js
  cypress/integration/accessibility_button_spec.js
  cypress/support/commands.js
  docs/src/Checkbox.doc.js
  docs/src/RadioButton.doc.js
  docs/src/components/Card.js
  docs/src/components/Combination.js
  docs/src/components/Example.js
  docs/src/components/ExampleCode.js
  docs/src/components/MainSectionCard.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/Markdown.css
  docs/src/components/atomDark.js
Labels: patch release

#1379 Docs: Adjust spacing for large examples with titles
  docs/src/Provider.doc.js
  docs/src/components/MainSection.js
  docs/src/components/MainSectionCard.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/PropTable.js
  docs/src/components/atomDark.js
  docs/src/components/utils.js
Labels: patch release

#1380 Dropdown, Typeahead: Update types to match docs
  docs/src/Dropdown.doc.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/MenuOption.js
  packages/gestalt/src/Typeahead.js
Labels: minor release

#1381 [Eslint] Add border to prefer-box eslint rule
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-box/invalid/invalid-border.js
  packages/eslint-plugin-gestalt/src/no-dangerous-style-duplicates.js
  packages/eslint-plugin-gestalt/src/prefer-box.js
  packages/eslint-plugin-gestalt/src/prefer-box.test.js
  packages/eslint-plugin-gestalt/src/validators.js
Labels: minor release

#1377 Provider: onNavigationOptions proptype fix
  packages/gestalt/src/contexts/OnNavigation.js
Labels: patch release

#1376 Modal, Sheet: Implemented InternalScrollableContainer
  cypress/integration/accessibility_ScrollableContainer_spec.js
  docs/src/ScrollableContainer.doc.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ScrollableContainer.js
  packages/gestalt/src/ScrollableContainer.jsdom.test.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/__snapshots__/ScrollableContainer.test.js.snap
Labels: minor release

#1385 Docs: fix right sidebar scrolling bug
  docs/src/components/App.js
  docs/src/components/CardPage.js
  docs/src/components/Toc.js
Labels: minor release

#1382 Docs: Update Prop Table to support Markdown for descriptions
  docs/src/Box.doc.js
  docs/src/Button.doc.js
  docs/src/Checkbox.doc.js
  docs/src/IconButton.doc.js
  docs/src/Provider.doc.js
  docs/src/RadioButton.doc.js
  docs/src/Sheet.doc.js
  docs/src/TapArea.doc.js
  docs/src/Upsell.doc.js
  docs/src/Video.doc.js
  docs/src/components/Markdown.js
  docs/src/components/PropTable.js
Labels: patch release

#1384 Callout, Upsell, ActivationCard: implemented missing target, ref props for link functionality
  docs/src/ActivationCard.doc.js
  docs/src/Callout.doc.js
  docs/src/Upsell.doc.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/commonTypes.js
Labels: patch release

#1386 ScrollableContainer: add Box to Related in Docs
  docs/src/ScrollableContainer.doc.js
Labels: patch release

#1388 Internal: Update to React 17
  docs/package.json
  package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
  yarn.lock
Labels: patch release

#1370 Tooltip: update Tooltip documentation, add best practices
  cypress/integration/accessibility_Tooltip_spec.js
  docs/src/Tooltip.doc.js
  docs/src/components/MainSectionSubsection.js
Labels: patch release

#1391 Docs: Make sure right sidebar doesn't extend over footer
  docs/src/components/Toc.js
Labels: patch release

#1390 Typeahead: Bugfix to ensure the current value of `options` is used, not just the initial
  packages/gestalt/src/Typeahead.js
Labels: minor release

#1389 Docs: Update IconButton styling and size across docs
  cypress/integration/accessibility_Dropdown_spec.js
  docs/src/components/Card.js
  docs/src/components/ExampleCode.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/Markdown.css
  docs/src/components/PropTable.js
  docs/src/components/Toc.js
Labels: patch release

#1387 Docs: Update Callout documentation, add best practices
  cypress/integration/accessibility_Callout_spec.js
  docs/src/Box.doc.js
  docs/src/Callout.doc.js
  docs/src/Eslint Plugin.doc.js
  docs/src/Faq.doc.js
  docs/src/Tooltip.doc.js
  docs/src/components/Card.js
  docs/src/components/CardPage.js
  docs/src/components/CombinationNew.js
  docs/src/components/Example.js
  docs/src/components/MainSectionCard.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/Markdown.css
  docs/src/components/PageHeader.js
  docs/src/components/PropTable.js
  scripts/templates/ComponentName.doc.js
Labels: patch release

#1392 Box: Add Overflow variant and examples
  docs/src/Box.doc.js
  docs/src/ScrollableContainer.doc.js
  docs/src/Tooltip.doc.js
Labels: patch release

#1397 ESLint: Add rule to check for unnecessary boxShadow
  docs/src/Eslint Plugin.doc.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-dangerous-style-duplicates/invalid/invalid-boxShadow.js
  packages/eslint-plugin-gestalt/src/no-dangerous-style-duplicates.js
  packages/eslint-plugin-gestalt/src/no-dangerous-style-duplicates.test.js
  packages/eslint-plugin-gestalt/src/prefer-box.test.js
  packages/eslint-plugin-gestalt/src/validators.js
Labels: minor release

#1394 ScrollBoundaryContainer: ScrollableContainer renamed to ScrollBoundaryContainer
  cypress/integration/accessibility_ScrollBoundaryContainer_spec.js
  docs/src/Box.doc.js
  docs/src/ScrollBoundaryContainer.doc.js
  docs/src/Tooltip.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt-codemods/18.0.0/__testfixtures__/scrollableContainer-rename-scrollBoundaryContainer.input.js
  packages/gestalt-codemods/18.0.0/__testfixtures__/scrollableContainer-rename-scrollBoundaryContainer.output.js
  packages/gestalt-codemods/18.0.0/__testfixtures__/scrollableContainerAlias-rename-scrollBoundaryContainer.input.js
  packages/gestalt-codemods/18.0.0/__testfixtures__/scrollableContainerAlias-rename-scrollBoundaryContainer.output.js
  packages/gestalt-codemods/18.0.0/__tests__/scrollableContainer-rename-scrollBoundaryContainer.test.js
  packages/gestalt-codemods/18.0.0/scrollableContainer-rename-scrollBoundaryContainer.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Contents.test.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Layer.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ScrollBoundaryContainer.flowtest.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/ScrollBoundaryContainer.jsdom.test.js
  packages/gestalt/src/ScrollBoundaryContainer.test.js
  packages/gestalt/src/ScrollableContainer.flowtest.js
  packages/gestalt/src/ScrollableContainer.js
  packages/gestalt/src/ScrollableContainer.jsdom.test.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/__snapshots__/ScrollBoundaryContainer.test.js.snap
  packages/gestalt/src/contexts/ScrollBoundaryContainer.js
  packages/gestalt/src/contexts/ScrollableContainer.js
  packages/gestalt/src/index.js
  packages/gestalt/src/utils/positioningUtils.js
Labels: major release
