Repository pinterest/gestalt, pull requests merged in 2021-03, with the labels that each got.

#1403 Docs: fix Box z-index bug
  docs/src/Box.doc.js
Labels: patch release

#1406 Icon: Rename 'link' Icon to 'visit' + codemod, add new 'link' Icon, update Docs
  docs/src/IconButton.doc.js
  docs/src/Provider.doc.js
  docs/src/components/Card.js
  docs/src/components/MainSectionSubsection.js
  packages/gestalt-codemods/19.0.0/__testfixtures__/rename-link-icon-to-visit.input.js
  packages/gestalt-codemods/19.0.0/__testfixtures__/rename-link-icon-to-visit.output.js
  packages/gestalt-codemods/19.0.0/__tests__/rename-link-icon-to-visit.test.js
  packages/gestalt-codemods/19.0.0/rename-link-icon-to-visit.js
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/link.svg
  packages/gestalt/src/icons/visit.svg
Labels: major release

#1407 Icon: update Dash icon
  packages/gestalt/src/icons/dash.svg
Labels: minor release

#1405 Docs: Add Feedback component
  docs/src/Box.doc.js
  docs/src/Callout.doc.js
  docs/src/Tooltip.doc.js
  docs/src/components/FeedbackCallout.js
Labels: patch release

#1408 Docs: fixes in links
  docs/src/Box.doc.js
  scripts/templates/ComponentName.doc.js
Labels: patch release

#1396 Upsell: Add Upsell.Form component
  cypress/integration/accessibility_Upsell_spec.js
  docs/src/Upsell.doc.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/Upsell.test.js
  packages/gestalt/src/UpsellForm.flowtest.js
  packages/gestalt/src/UpsellForm.js
  packages/gestalt/src/UpsellForm.test.js
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
Labels: minor release

#1410 Module: Fix border-radius + misc cleanup
  docs/src/Module.doc.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/moduleTypes.js
Labels: patch release

#1413 FeedbackCallout: Simplify API
  docs/src/Box.doc.js
  docs/src/Callout.doc.js
  docs/src/Tooltip.doc.js
  docs/src/components/FeedbackCallout.js
Labels: patch release

#1411 Popover: Rename Flyout to Popover + Codemod
  cypress/integration/accessibility_Flyout_spec.js
  cypress/integration/accessibility_Popover_spec.js
  docs/src/Box.doc.js
  docs/src/Button.doc.js
  docs/src/Checkbox.doc.js
  docs/src/DatePicker.doc.js
  docs/src/Dropdown.doc.js
  docs/src/IconButton.doc.js
  docs/src/Modal.doc.js
  docs/src/Popover.doc.js
  docs/src/Pulsar.doc.js
  docs/src/RadioButton.doc.js
  docs/src/ScrollBoundaryContainer.doc.js
  docs/src/SearchField.doc.js
  docs/src/TapArea.doc.js
  docs/src/TextArea.doc.js
  docs/src/TextField.doc.js
  docs/src/Tooltip.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt-codemods/20.0.0/__testfixtures__/flyout-rename-popover.input.js
  packages/gestalt-codemods/20.0.0/__testfixtures__/flyout-rename-popover.output.js
  packages/gestalt-codemods/20.0.0/__testfixtures__/flyoutAlias-rename-popover.input.js
  packages/gestalt-codemods/20.0.0/__testfixtures__/flyoutAlias-rename-popover.output.js
  packages/gestalt-codemods/20.0.0/__tests__/flyout-rename-popover.test.js
  packages/gestalt-codemods/20.0.0/flyout-rename-popover.js
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Contents.test.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Flyout.flowtest.js
  packages/gestalt/src/Popover.flowtest.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/Popover.jsdom.test.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
  packages/gestalt/src/index.js
  packages/gestalt/src/utils/positioningTypes.js
  packages/gestalt/src/utils/positioningUtils.js
Labels: major release

#1415 Popover: fix Codemod 20.0.0
  packages/gestalt-codemods/20.0.0/__testfixtures__/flyout-rename-popover.input.js
  packages/gestalt-codemods/20.0.0/__testfixtures__/flyoutAlias-rename-popover.input.js
  packages/gestalt-codemods/20.0.0/__tests__/flyout-rename-popover.test.js
  packages/gestalt-codemods/20.0.0/flyout-rename-popover.js
Labels: patch release

#1418 Image: add elementtiming attribute for profiling
  docs/src/Image.doc.js
  packages/gestalt/src/Image.js
Labels: minor release

#1404 Upsell: Update docs and add Best Practices
  cypress/integration/accessibility_Upsell_spec.js
  docs/src/Callout.doc.js
  docs/src/Upsell.doc.js
Labels: patch release

#1420 Internal: Upgrade JSX transform so React no longer needs to be in scope
  .eslintrc.json
  .flowconfig
  babel.config.js
  docs/src/components/Header.js
  package.json
  yarn.lock
Labels: patch release

#1427 Icon: workflow-status-canceled icon added
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/workflow-status-canceled.svg
Labels: minor release

#1419 Docs: Add event tracking for buttons
  docs/src/components/Card.js
  docs/src/components/ExampleCode.js
  docs/src/components/Header.js
  docs/src/components/HeaderMenu.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/PageHeader.js
  docs/src/components/appContext.js
  docs/src/components/buttons/CollapseExpandCodeButton.js
  docs/src/components/buttons/CopyCodeButton.js
  docs/src/components/buttons/CopyLinkButton.js
  docs/src/components/buttons/DarkModeButton.js
  docs/src/components/buttons/LTRButton.js
  docs/src/components/buttons/OpenSandboxButton.js
  docs/src/components/buttons/SidebarCategorizationButton.js
  docs/src/components/buttons/trackButtonClick.js
  docs/src/components/navigationContext.js
Labels: patch release

#1423 PageHeader: Add component and documentation
  cypress/integration/accessibility_PageHeader_spec.js
  docs/src/Box.doc.js
  docs/src/PageHeader.doc.js
  docs/src/components/MainSectionCard.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/PageHeader.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/PageHeader.flowtest.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/PageHeader.test.js
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#1430 Tooltip: Only delay visibility on interaction if `link` present
  packages/gestalt/src/Tooltip.js
Labels: patch release

#1400 SearchField: Add onKeyDown prop
  docs/src/SearchField.doc.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/SearchField.jsdom.test.js
Labels: patch release

#1431 PageHeader: Add feedback Callout to docs
  docs/src/PageHeader.doc.js
Labels: patch release

#1409 SelectList: Update docs and add Best Practices
  docs/src/SelectList.doc.js
Labels: patch release

#1428 ScrollBoundaryContainer: fix positioning within when no available spa…
  packages/gestalt/src/utils/positioningUtils.js
Labels: patch release

#1432 Button: fix layout for full width Buttons using iconEnd
  packages/gestalt/src/Button.js
Labels: patch release

#1398 Provider/Link/Button/IconButton/TapArea/+composed components: refactor link logic to support custom navigation within onClick prop in consumers + Codemode
  docs/src/ActivationCard.doc.js
  docs/src/Button.doc.js
  docs/src/Callout.doc.js
  docs/src/Dropdown.doc.js
  docs/src/IconButton.doc.js
  docs/src/Link.doc.js
  docs/src/Provider.doc.js
  docs/src/TapArea.doc.js
  docs/src/Upsell.doc.js
  docs/src/components/docsUtils.js
  packages/gestalt-codemods/21.0.0/detect-onNavigateOptions-to-manually-update.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/MenuOption.js
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/commonTypes.js
  packages/gestalt/src/contexts/OnNavigation.js
Labels: major release

#1421 Popover: Updated Docs and added Best Practices
  cypress/integration/accessibility_Popover_spec.js
  docs/src/Popover.doc.js
  docs/src/ScrollBoundaryContainer.doc.js
  packages/gestalt/src/utils/positioningUtils.js
Labels: patch release

#1434 Docs: fix on Popover example
  docs/src/Popover.doc.js
Labels: patch release

#1435 ScrollBoundaryContainer: fix positioning within when no available spa…
  packages/gestalt/src/__snapshots__/Controller.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
  packages/gestalt/src/utils/positioningUtils.js
Labels: patch release

#1436 Typeahead: Close container on icon button click
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/TypeaheadInputField.js
Labels: patch release

#1425 Docs: Added "How to Work with Us" page to docs
  cypress/integration/accessibility_How To Work With Us_spec.js
  docs/src/How To Work With Us.doc.js
  docs/src/components/sidebarIndex.js
Labels: patch release

#1438 Docs: Fix display style of titles
  cypress/integration/accessibility_How To Work With Us_spec.js
  docs/src/How to Work with Us.doc.js
  docs/src/components/MainSection.js
  docs/src/components/MainSectionSubsection.js
  docs/src/components/Markdown.css
  docs/src/components/sidebarIndex.js
Labels: patch release

#1433 Dropdown: Update documentation and add Best Practices
  docs/src/Dropdown.doc.js
  docs/src/Popover.doc.js
Labels: patch release

#1437 Icon: Update `shopping-bag` icon
  packages/gestalt/src/icons/shopping-bag.svg
Labels: patch release

#1439 TapArea: Add onMouseDown and onMouseUp handlers
  docs/src/TapArea.doc.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/TapArea.js
Labels: minor release

#1443 Internal: renamed InternalLink displayName to InternalLink
  packages/gestalt/src/InternalLink.js
Labels: patch release

#1440 Tabs: Add experimental redesign
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
Labels: minor release

#1446 Docs: fix Provider types and on navigation descriptions
  docs/src/Link.doc.js
  docs/src/Provider.doc.js
  docs/src/components/docsUtils.js
Labels: patch release

#1444 Box: add `as` prop to use semantic tags
  docs/src/Box.doc.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/boxTypes.js
  packages/gestalt/src/contexts/ScrollBoundaryContainer.js
  packages/gestalt/src/utils/positioningUtils.js
Labels: minor release

#1441 Docs: Bump up maxWidth
  docs/src/Box.doc.js
  docs/src/Dropdown.doc.js
  docs/src/SelectList.doc.js
  docs/src/Tooltip.doc.js
  docs/src/components/CardPage.js
  docs/src/components/MainSectionCard.js
  docs/src/components/MainSectionSubsection.js
  scripts/templates/ComponentName.doc.js
Labels: patch release

#1448 Docs: fix Flow type in Docs for Tabs
  docs/src/Tabs.doc.js
Labels: patch release

#1417 Status: new Status component
  cypress/integration/accessibility_Status_spec.js
  docs/.DS_Store
  docs/src/Status.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Status.flowtest.js
  packages/gestalt/src/Status.js
  packages/gestalt/src/Status.test.js
  packages/gestalt/src/__snapshots__/Status.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release
