Repository pinterest/gestalt, pull requests merged in 2021-09, with the labels that each got.

#1674 Internal: Upgrade Jest to 27.1.0
  package.json
  yarn.lock
Labels: patch release

#1670 Video: add disableRemotePlayback prop
  docs/pages/video.js
  packages/gestalt/src/Video.flowtest.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/Video.jsdom.test.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: minor release

#1678 Docs: Update link to accessible design deck
  docs/pages/accessibility.js
  docs/pages/fieldset.js
  docs/pages/tooltip.js
  packages/gestalt/src/Fieldset.test.js
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
Labels: patch release

#1677 Toast: Replace `color` with `variant`
  docs/pages/toast.js
  packages/gestalt-codemods/33.0.0/__tests__/heading-replace-truncate-lineClamp.test.js
  packages/gestalt-codemods/33.0.0/heading-replace-truncate-lineClamp.js
  packages/gestalt-codemods/next/__testfixtures__/color-red.input.js
  packages/gestalt-codemods/next/__testfixtures__/color-red.output.js
  packages/gestalt-codemods/next/__testfixtures__/color-white.input.js
  packages/gestalt-codemods/next/__testfixtures__/color-white.output.js
  packages/gestalt-codemods/next/__testfixtures__/empty-string-color.input.js
  packages/gestalt-codemods/next/__testfixtures__/empty-string-color.output.js
  packages/gestalt-codemods/next/__testfixtures__/no-color.input.js
  packages/gestalt-codemods/next/__testfixtures__/no-color.output.js
  packages/gestalt-codemods/next/__testfixtures__/null-color.input.js
  packages/gestalt-codemods/next/__testfixtures__/null-color.output.js
  packages/gestalt-codemods/next/__testfixtures__/renamed.input.js
  packages/gestalt-codemods/next/__testfixtures__/renamed.output.js
  packages/gestalt-codemods/next/__testfixtures__/ternary-color.input.js
  packages/gestalt-codemods/next/__testfixtures__/ternary-color.output.js
  packages/gestalt-codemods/next/__testfixtures__/undefined-color.input.js
  packages/gestalt-codemods/next/__testfixtures__/undefined-color.output.js
  packages/gestalt-codemods/next/__testfixtures__/variable-color.input.js
  packages/gestalt-codemods/next/__testfixtures__/variable-color.output.js
  packages/gestalt-codemods/next/__tests__/toast-replace-color-variant.test.js
  packages/gestalt-codemods/next/toast-replace-color-variant.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Toast.test.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: major release

#1681 Codemods: s/'next'/'34.0.0'/
  packages/gestalt-codemods/34.0.0/__testfixtures__/color-red.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/color-red.output.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/color-white.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/color-white.output.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/empty-string-color.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/empty-string-color.output.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/no-color.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/no-color.output.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/null-color.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/null-color.output.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/renamed.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/renamed.output.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/ternary-color.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/ternary-color.output.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/undefined-color.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/undefined-color.output.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/variable-color.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/variable-color.output.js
  packages/gestalt-codemods/34.0.0/__tests__/toast-replace-color-variant.test.js
  packages/gestalt-codemods/34.0.0/toast-replace-color-variant.js
Labels: patch release

#1683 Internal: add license badge to Readme
  README.md
Labels: patch release

#1682 Internal: add visual regression tests
  cypress.json
  cypress/integration/visual-test/Button-dark_spec.js
  cypress/integration/visual-test/Button_spec.js
  cypress/integration/visual-test/Text-dark_spec.js
  cypress/integration/visual-test/Text_spec.js
  cypress/integration/visual-test/__image_snapshots__/Button #0.png
  cypress/integration/visual-test/__image_snapshots__/Button-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Text #0.png
  cypress/integration/visual-test/__image_snapshots__/Text-dark #0.png
  cypress/plugins/index.js
  cypress/support/commands.js
  docs/pages/_app.js
  docs/pages/visual-test/Button-dark.js
  docs/pages/visual-test/Button.js
  docs/pages/visual-test/Text-dark.js
  docs/pages/visual-test/Text.js
  package.json
  yarn.lock
Labels: minor release

#1684 Internal: Keep URLs in flow docs
  packages/gestalt-core/build.js
  scripts/releaseSteps.js
Labels: patch release

#1689 ScrollBoundaryContainer: use generated docs (multiple exports)
  docs/pages/scrollboundarycontainer.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/ScrollBoundaryContainerWithForwardRef.js
  packages/gestalt/src/Sheet.js
Labels: minor release

#1688 Docs: add autogenerated docs for AvatarGroup (forwardRef), automatically get default value & add ability to link to specific prop in docs
  docs/components/GeneratedPropTable.js
  docs/components/PropTable.js
  docs/components/docgen.js
  docs/pages/avatargroup.js
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Text.js
Labels: minor release

#1686 Codemods: Suppress constant condition warnings on Toast color/variant codemod
  .eslintrc.json
  packages/gestalt-codemods/34.0.0/__testfixtures__/ternary-color.input.js
  packages/gestalt-codemods/34.0.0/__testfixtures__/ternary-color.output.js
Labels: patch release

#1610 Video: add backgroundColor prop
  docs/pages/video.js
  packages/gestalt/src/Video.css
  packages/gestalt/src/Video.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: patch release

#1691 IconButton: Fix `rel` docs typo
  docs/pages/iconbutton.js
Labels: patch release

#1654 Updated Button docs
  docs/pages/button.js
Labels: patch release

#1679 Design Tokens: Update format for Android
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
Labels: major release

#1692 Docs: Usage guidelines for SearchField, SegmentedControl and Tabs
  docs/pages/searchfield.js
  docs/pages/segmentedcontrol.js
  docs/pages/tabs.js
Labels: patch release

#1695 ComboBox: removed minWidth
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
Labels: patch release

#1694 Internal: use visual regression image & description in generated docs
  cypress/integration/visual-test/AvatarGroup-dark_spec.js
  cypress/integration/visual-test/AvatarGroup_spec.js
  cypress/integration/visual-test/__image_snapshots__/AvatarGroup #0.png
  cypress/integration/visual-test/__image_snapshots__/AvatarGroup-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Button #0.png
  cypress/integration/visual-test/__image_snapshots__/Button-dark #0.png
  docs/components/docgen.js
  docs/pages/avatargroup.js
  docs/pages/modal.js
  docs/pages/scrollboundarycontainer.js
  docs/pages/text.js
  docs/pages/visual-test/AvatarGroup-dark.js
  docs/pages/visual-test/AvatarGroup.js
  docs/pages/visual-test/Button-dark.js
  docs/pages/visual-test/Button.js
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/Text.js
Labels: minor release

#1690 Toast: Add experimental prop for dark gray color
  packages/gestalt/src/Toast.css
  packages/gestalt/src/Toast.js
Labels: patch release

#1697 Dropdown: add dangerouslyRemoveLayer prop
  docs/pages/dropdown.js
  packages/gestalt/src/Dropdown.js
Labels: minor release

#1685 Button: fix style bug on selected state and role link
  packages/gestalt/src/Button.js
  packages/gestalt/src/InternalLink.js
Labels: patch release

#1699 Internal: Upgrade Flow to 0.160.1
  .flowconfig
  package.json
  yarn.lock
Labels: dependencies, patch release

#1696 SearchField: Update docs to autogenerated props, design guidelines
  docs/pages/searchfield.js
  packages/gestalt/src/SearchField.js
Labels: patch release

#1693 Color: Add Brand color palette
  docs/components/ColorPalette.js
  docs/components/ColorTile.js
  docs/pages/color.js
Labels: patch release

#1703 Color: copyediting
  docs/pages/color.js
Labels: patch release

#1704 SelectList: use generated props table in docs
  docs/pages/selectlist.js
  packages/gestalt/src/SelectList.js
Labels: patch release

#1705 Callout: use generated props table in docs
  docs/pages/callout.js
  packages/gestalt/src/Callout.js
Labels: patch release

#1706 SelectList: Tweaks to generated props
  docs/components/docgen.js
  docs/pages/selectlist.js
  packages/gestalt/src/SelectList.js
Labels: patch release

#1708 Internal: add ability to override default value and type in generated docs
  docs/components/GeneratedPropTable.js
Labels: patch release

#1710 Internal: Upgrade Flow to 0.160.2
  .flowconfig
  package.json
  yarn.lock
Labels: dependencies, patch release

#1709 Eslint plugin: `gestalt/no-box-dangerous-style-duplicates` fixes and refactor
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-dangerous-style-duplicates/valid/valid.js
  packages/eslint-plugin-gestalt/src/helpers/styleHelpers.js
  packages/eslint-plugin-gestalt/src/helpers/styleValidators.js
Labels: patch release

#1712 Tooltip: fix "disabled elements" link in docs
  docs/pages/tooltip.js
Labels: patch release

#1707 Module: iconButton prop
  docs/pages/module.js
  packages/gestalt/src/Module.flowtest.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/Module.test.js
  packages/gestalt/src/ModuleExpandable.flowtest.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandable.jsdom.test.js
  packages/gestalt/src/ModuleExpandableItem.flowtest.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleExpandableItem.jsdom.test.js
  packages/gestalt/src/ModuleExpandableItem.test.js
  packages/gestalt/src/ModuleTitle.flowtest.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/moduleTypes.js
Labels: minor release

#1713 Eslint plugin: add zIndex props coverage to gestalt/no-box-dangerous-style-duplicates
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-dangerous-style-duplicates/invalid/invalid-zIndex-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-dangerous-style-duplicates/invalid/invalid-zIndex-output.js
  packages/eslint-plugin-gestalt/src/helpers/styleHelpers.js
  packages/eslint-plugin-gestalt/src/no-box-dangerous-style-duplicates.js
  packages/eslint-plugin-gestalt/src/no-box-dangerous-style-duplicates.test.js
Labels: minor release

#1714 Upsell: don't render empty div if no actions and no children
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: patch release

#1715 Bump ansi-regex to "5.0.1"
  package.json
Labels: patch release

#1717 Link/Button/IconButton/TapArea +composed components: rename `disableOnNavigation` to `dangerouslyDisableOnNavigation`
  docs/pages/activationcard.js
  docs/pages/button.js
  docs/pages/colorschemeprovider.js
  docs/pages/dropdown.js
  docs/pages/iconbutton.js
  docs/pages/link.js
  docs/pages/onlinknavigationprovider.js
  docs/pages/tabs.js
  docs/pages/taparea.js
  docs/pages/upsell.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/commonTypes.js
Labels: major release

#1718 Internal: Upgrade Flow to 0.161.0
  .flowconfig
  package.json
  yarn.lock
Labels: dependencies, patch release
