Repository pinterest/gestalt, pull requests merged in 2021-05, with the labels that each got.

#1483 Datapoint: New component for data display
  cypress/integration/accessibility_Datapoint_spec.js
  docs/.DS_Store
  docs/src/Datapoint.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Datapoint.flowtest.js
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/Datapoint.test.js
  packages/gestalt/src/DatapointTrend.js
  packages/gestalt/src/DatapointTrend.test.js
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
  packages/gestalt/src/__snapshots__/DatapointTrend.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#1493 Fieldset: New component for form accessibility
  cypress/integration/accessibility_Fieldset_spec.js
  docs/src/Checkbox.doc.js
  docs/src/Development.doc.js
  docs/src/Fieldset.doc.js
  docs/src/RadioButton.doc.js
  docs/src/components/sidebarIndex.js
  packages/gestalt/src/Box.css
  packages/gestalt/src/Box.css.flow
  packages/gestalt/src/Fieldset.flowtest.js
  packages/gestalt/src/Fieldset.js
  packages/gestalt/src/Fieldset.test.js
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#1504 Internal: Upgrade `stylelint` to obviate `trim` security vulnerability
  package.json
  yarn.lock
Labels: patch release

#1505 Internal: Add resolution to latest version of `lodash`
  package.json
  yarn.lock
Labels: patch release

#1501 ESLint: add rule to disallow non-standard Box props
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.js
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.test.js
  packages/gestalt/src/Box.js
Labels: minor release

#1509 ESLint: Export no-box-disallowed-props
  packages/eslint-plugin-gestalt/src/index.js
Labels: minor release

#1507 Button: add new transparentWhite color
  docs/src/Button.doc.js
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.css.flow
  packages/gestalt/src/Button.js
Labels: minor release

#1510 ESLint: improve performance & bug fix for box-no-disallowed-props
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.js
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.test.js
Labels: patch release

#1508 Datapoint: remove compression on click
  cypress/integration/accessibility_Datapoint_spec.js
  packages/gestalt/src/Datapoint.js
Labels: patch release

#1511 ESLint: add native React props to no-box-disallowed-props
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.js
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.test.js
Labels: patch release

#1512 Datapoint trendSentiment docs enhancement
  docs/src/Datapoint.doc.js
Labels: patch release

#1515 Video: Add missing video event handlers
  docs/src/Video.doc.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: patch release

#1513 TextField, TextArea: Open errorMessage type to accept Node
  docs/src/TextArea.doc.js
  docs/src/TextField.doc.js
  packages/gestalt/src/FormErrorMessage.css
  packages/gestalt/src/FormErrorMessage.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/FormErrorMessage.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
Labels: patch release

#1514 Docs: Link to zIndex documentation in relevant components
  docs/src/Box.doc.js
  docs/src/Layer.doc.js
  docs/src/Typeahead.doc.js
Labels: patch release

#1516 Tabs: Add ref to tab items
  docs/src/Tabs.doc.js
  packages/gestalt/src/Tabs.js
Labels: patch release

#1517 Dropdown: fixes and cleanup
  docs/src/Dropdown.doc.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/DropdownContext.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownSection.js
  packages/gestalt/src/MenuOption.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/utils/keyboardNavigation.js
Labels: patch release

#1519 Box: update links in API table
  docs/src/Box.doc.js
Labels: patch release

#1523 Internal: bump resolved version of multicast-dns due to security concern for dns-packet
  package.json
  yarn.lock
Labels: patch release

#1524 Internal: Update browserslist dependency resolution
  package.json
  yarn.lock
Labels: dependencies, patch release

#1522 Text/Heading: update align values
  docs/src/Callout.doc.js
  docs/src/Dropdown.doc.js
  docs/src/Heading.doc.js
  docs/src/Modal.doc.js
  docs/src/Text.doc.js
  docs/src/components/App.js
  packages/gestalt-codemods/22.0.0/__testfixtures__/text-align-rename.input.js
  packages/gestalt-codemods/22.0.0/__testfixtures__/text-align-rename.output.js
  packages/gestalt-codemods/22.0.0/__tests__/text-align-rename.test.js
  packages/gestalt-codemods/22.0.0/text-align-rename.js
  packages/gestalt/src/FormErrorMessage.css.flow
  packages/gestalt/src/Heading.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Table.css
  packages/gestalt/src/Text.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Typography.css
  packages/gestalt/src/Typography.css.flow
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
  packages/gestalt/src/__snapshots__/DatapointTrend.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
  packages/gestalt/src/__snapshots__/FormErrorMessage.test.js.snap
  packages/gestalt/src/__snapshots__/Heading.test.js.snap
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Status.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/Text.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Typeahead.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
Labels: major release

#1526 Internal: upgrade to Node.js 14 & add 16 to our CI test matrix
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .nvmrc
Labels: minor release

#1525 Internal: src/ directories: remove test files & only publish .js.flow
  scripts/releaseSteps.js
Labels: minor release

#1521 Modal: New docs and Best Practices
  docs/src/Modal.doc.js
  docs/src/Sheet.doc.js
Labels: patch release

#1527 SearchField: Add label option and improve accessibility
  docs/src/SearchField.doc.js
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/SearchField.js
Labels: minor release

#1528 Revert "Internal: src/ directories: remove test files & only publish.js.flow (#1525)
  scripts/releaseSteps.js
Labels: minor release

#1529 Internal: src/ directories: remove test files & only publish .js.flow (second try)
  packages/eslint-plugin-gestalt/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
  scripts/releaseSteps.js
Labels: minor release

#1530 TextField: Add email option for autocomplete
  docs/src/TextField.doc.js
  packages/gestalt/src/TextField.js
Labels: minor release

#1531 Internal: update links to new docs domain
  README.md
  docs/package.json
  docs/public/opensearch.xml
  packages/eslint-plugin-gestalt/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
Labels: patch release
