Repository pinterest/gestalt, pull requests merged in 2021-07, with the labels that each got.

#1578 Modal, Sheet: deprecate ref (forwardRef removal) + codemod
  docs/src/Modal.doc.js
  packages/gestalt-codemods/28.0.0/sheet_modal_deprecate_ref_props.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Modal.jsdom.test.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/Sheet.jsdom.test.js
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
Labels: major release

#1576 Image: Refactor to function component
  packages/gestalt/src/Checkbox.test.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/Image.test.js
  packages/gestalt/src/RadioButton.test.js
Labels: patch release

#1564 Button: rename inline prop to fullWidth + codemod
  docs/src/Button.doc.js
  docs/src/Callout.doc.js
  docs/src/ColorSchemeProvider.doc.js
  docs/src/Dropdown.doc.js
  docs/src/Flex.doc.js
  docs/src/Layer.doc.js
  docs/src/Layouts.doc.js
  docs/src/Modal.doc.js
  docs/src/OnLinkNavigationProvider.doc.js
  docs/src/Popover.doc.js
  docs/src/Pulsar.doc.js
  docs/src/ScrollBoundaryContainer.doc.js
  docs/src/SelectList.doc.js
  docs/src/Sheet.doc.js
  docs/src/Spinner.doc.js
  docs/src/Toast.doc.js
  docs/src/Tooltip.doc.js
  docs/src/Typeahead.doc.js
  docs/src/Upsell.doc.js
  docs/src/ZIndex Classes.doc.js
  packages/gestalt-codemods/24.0.0/__testfixtures__/button-replace-inline-fullWidth.input.js
  packages/gestalt-codemods/24.0.0/__testfixtures__/button-replace-inline-fullWidth.output.js
  packages/gestalt-codemods/24.0.0/__tests__/button-replace-inline-fullWidth.test.js
  packages/gestalt-codemods/24.0.0/button-replace-inline-fullWidth.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/AnimationController.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Button.test.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/InternalLink.test.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/UpsellForm.js
  packages/gestalt/src/__snapshots__/ButtonGroup.test.js.snap
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: major release

#1563 ComboBox: new component
  cypress/integration/accessibility_ComboBox_spec.js
  docs/src/ComboBox.doc.js
  docs/src/Typeahead.doc.js
  docs/src/components/sidebarIndex.js
  package.json
  packages/gestalt/src/ComboBox.flowtest.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/ComboBox.jsdom.test.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/FormLabel.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/Label.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/Typeahead.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/index.js
  packages/gestalt/src/utils/keyboardNavigation.js
  yarn.lock
Labels: minor release

#1581 Upsell: Docs cleanup
  docs/src/Upsell.doc.js
Labels: patch release

#1583 Codemods: Move 29.0.0 codemod to correct directory
  packages/gestalt-codemods/29.0.0/__testfixtures__/button-replace-inline-fullWidth.input.js
  packages/gestalt-codemods/29.0.0/__testfixtures__/button-replace-inline-fullWidth.output.js
  packages/gestalt-codemods/29.0.0/__tests__/button-replace-inline-fullWidth.test.js
  packages/gestalt-codemods/29.0.0/button-replace-inline-fullWidth.js
Labels: patch release

#1584 Button: Add key to fix Safari bug
  packages/gestalt/src/Button.js
Labels: patch release

#1585 Lint rules: Add `no-box-useless-props` rule
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/absolute-bottom.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/absolute-left.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/absolute-right.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/absolute-top.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/fit-max-width.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/flex-align-content.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/flex-align-items.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/flex-direction.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/flex-justify-content.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/flex-wrap.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/absolute-bottom.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/absolute-left.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/absolute-right.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/absolute-top.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/fit-max-width.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/fit.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-align-content.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-align-items.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-direction.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-justify-content.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/flex-wrap.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.test.js
Labels: minor release

#1586 Revert "Image: Refactor to function component (#1576)"
  packages/gestalt/src/Button.js
  packages/gestalt/src/Checkbox.test.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/Image.test.js
  packages/gestalt/src/RadioButton.test.js
Labels: patch release

#1589 Lint Rules: Add `no-box-useless-props` to index
  packages/eslint-plugin-gestalt/src/index.js
Labels: patch release

#1590 Lint Rules: Fix no-box-useless-props rule
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/absolute-bottom.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/absolute-left.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/absolute-right.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/invalid/absolute-top.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/absolute-bottom.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/absolute-left.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/absolute-right.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-useless-props/valid/absolute-top.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.test.js
Labels: minor release

#1588 Docs: Add Accessibility guidelines page
  cypress/integration/accessibility_Accessibility_spec.js
  docs/src/Accessibility.doc.js
  docs/src/components/sidebarIndex.js
  docs/src/useFocusVisible.doc.js
  docs/src/useReducedMotion.doc.js
Labels: patch release

#1591 Lint Rules: Add support for responsive props in no-box-useless-props
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
Labels: minor release

#1593 Lint Rules: Better error message for grid props
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.test.js
Labels: patch release

#1592 Sheet: Added new Usage Guidelines
  docs/src/Sheet.doc.js
Labels: patch release

#1594 Updated Report icon
  packages/gestalt/src/icons/report.svg
Labels: patch release

#1595 Modal: Add usage guidelines
  docs/src/Modal.doc.js
  docs/src/Sheet.doc.js
Labels: patch release

#1597 Docs: Clarify useFocusVisible Hook
  docs/src/Accessibility.doc.js
  docs/src/useFocusVisible.doc.js
Labels: patch release

#1599 Docs: Add usage guidelines for multiple components
  docs/src/Button.doc.js
  docs/src/ButtonGroup.doc.js
  docs/src/Callout.doc.js
  docs/src/Link.doc.js
  docs/src/Modal.doc.js
  docs/src/Sheet.doc.js
  docs/src/Toast.doc.js
  docs/src/Tooltip.doc.js
  docs/src/Upsell.doc.js
Labels: patch release

#1600 Callout, Upsell: Allow actions to be disabled
  docs/src/Callout.doc.js
  docs/src/Upsell.doc.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/commonTypes.js
Labels: minor release

#1601 Eslint Plugin: Add missing rules to Docs, categorize, and standardize rule config
  docs/src/Eslint Plugin.doc.js
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.js
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.js
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/eslint-plugin-gestalt/src/no-dangerous-style-duplicates.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.js
  packages/eslint-plugin-gestalt/src/no-role-link-components.js
  packages/eslint-plugin-gestalt/src/prefer-box.js
Labels: patch release

#1598 IconButton: New documentation and best practices
  cypress/integration/accessibility_IconButton_spec.js
  docs/src/Faq.doc.js
  docs/src/IconButton.doc.js
  docs/src/components/CombinationNew.js
Labels: patch release
