Repository pinterest/gestalt, pull requests merged in 2021-11, with the labels that each got.

#1763 TextField: re-add "number" type for now
  packages/gestalt/src/TextField.js
Labels: patch release

#1759 Eslint plugin: prefer-link fixes and added suggestions
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/invalid/no-gestalt-import-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/invalid/no-gestalt-import-multiple-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/invalid/no-gestalt-import-multiple-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/invalid/no-gestalt-import-multiple-taparea-suggestion.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/invalid/no-gestalt-import-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/invalid/no-gestalt-import-single-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/invalid/no-gestalt-import-single-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/invalid/no-gestalt-import-single-taparea-suggestion.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-link/valid/valid.js
  packages/eslint-plugin-gestalt/src/helpers/eslintFlowTypes.js
  packages/eslint-plugin-gestalt/src/prefer-link.js
  packages/eslint-plugin-gestalt/src/prefer-link.test.js
Labels: patch release

#1761 Tabs: Add Best Practices and Accessibility guidelines
  docs/pages/tabs.js
Labels: patch release

#1764 Internal: update generateComponent script with visual testing, autogenerated tables, inline documentation
  scripts/generateComponent.js
  scripts/templates/ComponentName-dark.js
  scripts/templates/ComponentName-dark_spec.js
  scripts/templates/ComponentName-light.js
  scripts/templates/ComponentName-light_spec.js
  scripts/templates/ComponentName.doc.js
  scripts/templates/ComponentName.js
  scripts/templates/lowercasecomponentname.js
Labels: patch release

#1765 Internal: standardize the forwardRef implementation in preparation for inline documentation
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/TextArea.js
Labels: patch release

#1766 ComboBox: added lineClamp to ComboBoxOptionItem
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/OptionItem.js
Labels: patch release

#1769 Internal: Upgrade to Node.js 16
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .nvmrc
Labels: patch release

#1768 Icons: rename story-pin icon to idea-pin + codemod
  packages/gestalt-codemods/40.0.0/__testfixtures__/rename-story-pin-icon-to-idea-pin.input.js
  packages/gestalt-codemods/40.0.0/__testfixtures__/rename-story-pin-icon-to-idea-pin.output.js
  packages/gestalt-codemods/40.0.0/__tests__/rename-story-pin-icon-to-idea-pin.test.js
  packages/gestalt-codemods/40.0.0/rename-story-pin-icon-to-idea-pin.js
  packages/gestalt/src/icons/idea-pin.svg
  packages/gestalt/src/icons/index.js
Labels: major release

#1771 Codemods: add README
  packages/gestalt-codemods/README.md
Labels: patch release

#1772 Docs: update Development page
  docs/pages/development.js
Labels: patch release

#1775 Toast: fix layout issues
  packages/gestalt/src/Toast.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: patch release

#1778 Divider: Add vertical example to docs
  docs/pages/divider.js
Labels: patch release

#1781 Avatar: Update docs and add Best Practices
  docs/pages/avatar.js
  docs/pages/avatargroup.js
  docs/pages/avatarpair.js
Labels: patch release

#1774 Masonry: delay updating React scroll state until scroll events stop coming in
  packages/gestalt/src/Masonry.js
Labels: minor release

#1783 Masonry: FIX this.updateScrollPosition.clearTimeout is not a function
  packages/gestalt/src/Masonry.js
Labels: patch release

#1789 Dark mode: Fix ssr issue reloading the page when dark mode is enabled
  docs/components/appContext.js
  docs/package.json
  docs/pages/_app.js
  flow-typed/npm/react-cookie_vx.x.x.js
  flow-typed/npm/universal-cookie_vx.x.x.js
  yarn.lock
Labels: patch release

#1790 TextField: add "tel" option for `type` prop
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/TextField.js
Labels: patch release

#1779 Table: Update design guidelines in Docs
  cypress/integration/accessibility_Module_spec.js
  docs/components/PropTable.js
  docs/pages/card.js
  docs/pages/dropdown.js
  docs/pages/flex.js
  docs/pages/iconbutton.js
  docs/pages/module.js
  docs/pages/table.js
  docs/pages/upsell.js
Labels: patch release

#1785 TextField: Update docs with Best Practices, Accessibility, Localization
  cypress/integration/accessibility_TextField_spec.js
  docs/pages/textfield.js
  packages/gestalt/src/TextField.js
Labels: patch release
