Repository pinterest/gestalt, pull requests merged in 2022-11, with the labels that each got.

#2463 Docs: Oct 28 weekly digest
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
Labels: patch release

#2466 Links: updated documentation re external links
  docs/pages/web/link.js
Labels: patch release

#2467 Link, Button, TapArea, IconButton: implemented default label to target="blank"
  docs/examples/defaultlabelprovider/translations.js
  docs/pages/web/button.js
  docs/pages/web/iconbutton.js
  docs/pages/web/link.js
  docs/pages/web/taparea.js
  docs/pages/web/utilities/onlinknavigationprovider.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Button.jsdom.test.js
  packages/gestalt/src/DropdownLink.jsdom.test.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButton.jsdom.test.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link.jsdom.test.js
  packages/gestalt/src/NewTabAccessibilityLabel.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TapArea.jsdom.test.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
Labels: major release, blog-post, accessibility-improvement

#2462 Icons: Update Icon library page
  docs/docs-components/siteIndex.js
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/foundations/iconography/custom_and_brand_icons.js
  docs/pages/foundations/iconography/library.js
  docs/pages/foundations/iconography/usage.js
  playwright/accessibility/Custom and brand icons.spec.mjs
Labels: patch release, blog-post

#2473 Docs: Fix Icon heading
  docs/pages/foundations/iconography/library.js
Labels: patch release

#2476 Docs: fix typos
  docs/examples/modalalert/defaultExample.js
  docs/examples/modalalert/dontDoubleOverlay.js
Labels: patch release

#2475 Docs: October monthly updates
  docs/pages/BlogPosts.json
Labels: patch release

#2472 Internal: turn on `react/no-array-index-key` lint rule
  .eslintrc.json
  docs/docs-components/AccessibilityChecklist.js
  docs/docs-components/Combination.js
  docs/docs-components/CombinationNew.js
  docs/docs-components/MainSectionSubsection.js
  docs/docs-components/Overview.js
  docs/docs-components/OverviewList.js
  docs/docs-components/Page.js
  docs/docs-components/PropTable.js
  docs/docs-components/QualityChecklist.js
  docs/docs-components/useGetSideNavItems.js
  docs/examples/avatarGroup/roleButton.js
  docs/examples/pageheader/multiplePrimaryActionsExample.js
  docs/examples/sidenavigation/footerExample.js
  docs/pages/foundations/data_visualization/usage.js
  docs/pages/foundations/overview.js
  docs/pages/get_started/developers/tooling/web.js
  docs/pages/visual-test/Icon-list-dark.js
  docs/pages/visual-test/Icon-list.js
  docs/pages/visual-test/Table.js
  docs/pages/web/component_status.js
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/PageHeaderComponents.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/TextArea.js
Labels: patch release

#2470 TextField - Android: Update docs images
  docs/markdown/android/textfield.md
Labels: patch release

#2471 TextField - iOS: Update docs images
  docs/markdown/ios/textfield.md
Labels: patch release

#2478 Docs: 11/4 weekly update
  docs/pages/BlogPosts.json
Labels: patch release

#2480 Docs: Fix page jumps on Sheet & Modal pages
  packages/gestalt/src/behaviors/TrapFocusBehavior.js
Labels: patch release

#2479 Docs: fix duplicate key issue
  docs/docs-components/MainSectionSubsection.js
Labels: patch release

#2477 Docs: use SegmentedControl for component overview sort control
  docs/docs-components/MainSectionCard.js
  docs/docs-components/Overview.js
  docs/docs-components/PropTable.js
  docs/docs-components/utils.js
  docs/pages/foundations/data_visualization/palette.js
  docs/utils/capitalizeFirstLetter.js
Labels: patch release

#2483 DefaultLabelProvider: add fallback objects to prevent destructuring errors
  packages/gestalt/src/contexts/DefaultLabelProvider.js
Labels: patch release

#2486 Docs: fix empty import from 'react'
  docs/examples/README.md
  docs/removeFlowTypesLoader.js
Labels: patch release

#2482 Tabs: convert Tabs Docs to use Sandpack editor
  docs/examples/tabs/backgroundColor.js
  docs/examples/tabs/doAboveTarget.js
  docs/examples/tabs/doBeConcise.js
  docs/examples/tabs/doOrderByRelevance.js
  docs/examples/tabs/dontFilterContent.js
  docs/examples/tabs/dontHide.js
  docs/examples/tabs/dontTruncateLabels.js
  docs/examples/tabs/indicator.js
  docs/examples/tabs/mainExample.js
  docs/examples/tabs/wrapping.js
  docs/pages/web/tabs.js
Labels: minor release

#2474 Image: replace `importance` prop with `fetchPriority`
  packages/gestalt/src/Image.js
  packages/gestalt/src/Image.test.js
  packages/gestalt/src/__snapshots__/Avatar.test.js.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/Image.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
Labels: major release

#2469 Image: pass event object through on load and error
  packages/gestalt/src/Image.js
Labels: minor release

#2485 Image: use img for scaled images
  packages/gestalt/src/Image.css
  packages/gestalt/src/Image.css.flow
  packages/gestalt/src/Image.js
  packages/gestalt/src/__snapshots__/Image.test.js.snap
  playwright/visual-test/Collage-dark.spec.mjs-snapshots/Collage-dark-chromium-darwin.png
  playwright/visual-test/Collage.spec.mjs-snapshots/Collage-chromium-darwin.png
Labels: minor release

#2488 Icon: convert Tabs Docs to use Sandpack editor
  docs/examples/icon/builtInIcon.js
  docs/examples/icon/customIcon.js
  docs/examples/icon/doClarity.js
  docs/examples/icon/doIntentional.js
  docs/examples/icon/dontInteractive.js
  docs/examples/icon/dontRepurpose.js
  docs/examples/icon/main.js
  docs/pages/web/button.js
  docs/pages/web/icon.js
Labels: minor release

#2490 Docs: Fixed accessibility section in Android Button guidelines
  docs/markdown/android/button.md
Labels: patch release

#2492 Docs: Update typo in Android Button height
  docs/markdown/android/button.md
Labels: patch release

#2487 Table: new Table.RowDrawer subcomponent
  docs/pages/web/table.js
  packages/gestalt/src/Table.css
  packages/gestalt/src/Table.css.flow
  packages/gestalt/src/Table.js
  packages/gestalt/src/TableRowDrawer.js
  packages/gestalt/src/TableRowDrawer.test.js
  packages/gestalt/src/TableRowExpandable.js
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.js.snap
Labels: minor release

#2493 Design tokens: add Flow declaration files to JSON files
  docs/docs-components/ColorPalette.js
  docs/docs-components/ColorTile.js
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt/src/contexts/ColorSchemeProvider.js
Labels: minor release

#2494 Docs: fix 10 out of 16 flow fixme's
  docs/docs-components/Header.js
  docs/docs-components/Overview.js
  docs/docs-components/Toc.js
  docs/pages/_app.js
  docs/pages/_document.js
  docs/pages/foundations/design_tokens.js
  docs/pages/web/masonry.js
  docs/utils/mdHelper.js
  flow-typed/npm/universal-cookie_vx.x.x.js
Labels: patch release

#2495 Modal, Sheet: refactored internals to use Box borderStyle rather than CSS
  packages/gestalt/src/Modal.css
  packages/gestalt/src/Modal.css.flow
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Sheet.css
  packages/gestalt/src/Sheet.css.flow
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
Labels: patch release

#2496 Messaging guidelines: updated Messaging guidelines
  docs/docs-components/siteIndex.js
  docs/pages/BlogPosts.json
  docs/pages/foundations/messaging/a_messaging_story.js
  docs/pages/foundations/messaging/available_components.js
  docs/pages/foundations/messaging/overview.js
  docs/pages/foundations/messaging/principles.js
  docs/pages/foundations/messaging/priority_and_placement.js
  playwright/accessibility/Overview_messaging.spec.mjs
  playwright/accessibility/Principles.spec.mjs
  playwright/accessibility/Principles_Messaging.spec.mjs
Labels: patch release, blog-post

#2498 Docs: Fix dark mode colors for data viz page
  docs/graphics/color-examples/dataViz4Colors.svg
  docs/pages/foundations/data_visualization/usage.js
Labels: patch release

#2481 Toast: refactor 'button' prop to 'primaryAction' to enable upcoming redesign changes
  docs/pages/visual-test/Toast-dark.js
  docs/pages/visual-test/Toast.js
  docs/pages/web/toast.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Toast.test.js
  packages/gestalt/src/ToastPrimaryAction.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: major release

#2501 Docs: updated image dimensions for messaging guidelines
  docs/pages/foundations/messaging/overview.js
Labels: patch release

#2484 SlimBanner: extend "message" prop to accept Text component for rich-styled messages
  CHANGELOG.md
  docs/pages/web/slimbanner.js
  packages/gestalt/src/SideNavigation/getChildrenToArray.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/SlimBanner.test.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/__snapshots__/SlimBanner.test.js.snap
Labels: minor release, blog-post

#2503 Docs: fix GeneratedPropTable regex
  docs/docs-components/GeneratedPropTable.js
  docs/pages/web/pageheader.js
  docs/pages/web/slimbanner.js
Labels: patch release

#2502 Docs: add formatting for prop types
  docs/docs-components/PropTable.js
Labels: patch release

#2504 Internal: cleanup/refactor how we handle autogen props
  docs/docs-components/GeneratedPropTable.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/Text.js
  scripts/templates/ComponentName.js
Labels: patch release

#2505 ActivationCard: fix typo in docs
  packages/gestalt/src/ActivationCard.js
Labels: patch release

#2507 Toast: restricting `text` prop from Node to only string and Text
  docs/pages/web/toast.js
  packages/gestalt/src/Toast.js
Labels: major release

#2499 Docs: Add new Brand expression guidelines
  docs/docs-components/siteIndex.js
  docs/pages/foundations/brand_expression/color_fills.js
  docs/pages/foundations/brand_expression/guidelines.js
  playwright/accessibility/Color fills.spec.mjs
  playwright/accessibility/Guidelines_Brand expression.spec.mjs
Labels: patch release

#2497 Popover: Add new option for dismiss button
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/popover/defaultExample.js
  docs/pages/web/popover.js
  packages/gestalt/src/InternalDismissButton.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
Labels: minor release

#2513 Design Tokens: Add new info background color
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: patch release

#2512 Docs: Brand guidelines tweaks
  docs/pages/foundations/brand_expression/guidelines.js
Labels: patch release

#2515 Docs: Weekly update catchup
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
Labels: patch release

#2511 Docs: added cookies to support activation/deactivation of experiments from ExperimentProvidern in Docs
  docs/docs-components/App.js
  docs/docs-components/PageHeader.js
  docs/docs-components/SlimBannerExperiment.js
  docs/docs-components/appContext.js
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/badge.js
  docs/pages/web/textfield.js
Labels: patch release

#2491 Badge: new experimental Badge redesign
  docs/docs-components/PageHeader.js
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/visual-test/Badge-dark.js
  docs/pages/visual-test/Badge.js
  docs/pages/web/badge.js
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.css.flow
  packages/gestalt/src/Badge.js
  packages/gestalt/src/PageHeaderComponents.js
  playwright/visual-test/Badge-dark.spec.mjs-snapshots/Badge-dark-chromium-darwin.png
  playwright/visual-test/Badge.spec.mjs-snapshots/Badge-chromium-darwin.png
Labels: minor release

#2508 Toast: new experimental Toast redesign
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/toast.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/ToastPrimaryAction.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: minor release

#2516 Docs: Foundations overview updates
  docs/docs-components/COMPONENT_DATA.js
  docs/graphics/foundations/brand_expression.svg
  docs/graphics/foundations/messaging.svg
Labels: patch release

#2522 Box, Flex, SlimBanner: add responsive alignItems prop (Box, Flex), implement below small breakpoint start alignment of elements (SlimBanner)
  docs/pages/web/slimbanner.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Button.css
  packages/gestalt/src/Checkbox.css
  packages/gestalt/src/ComboBoxItem.js
  packages/gestalt/src/Flex.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Layout.css
  packages/gestalt/src/Layout.css.flow
  packages/gestalt/src/Modal.css
  packages/gestalt/src/Pog.css
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/Sheet.css
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/Video.css
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
  packages/gestalt/src/__snapshots__/Flex.test.js.snap
  packages/gestalt/src/__snapshots__/FormErrorMessage.test.js.snap
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/NumberField.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
  packages/gestalt/src/__snapshots__/RadioGroup.test.js.snap
  packages/gestalt/src/__snapshots__/SelectList.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  packages/gestalt/src/__snapshots__/SlimBanner.test.js.snap
  packages/gestalt/src/__snapshots__/Status.test.js.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.js.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
  packages/gestalt/src/__snapshots__/VideoPlayhead.test.js.snap
  packages/gestalt/src/boxTransforms.js
Labels: minor release, blog-post

#2528 Internal: upgrade @netlify/plugin-nextjs to 4.29.2
  package.json
  yarn.lock
Labels: dependencies, patch release

#2523 Internal: upgrade prettier to 2.8.0
  docs/docs.css
  package.json
  packages/gestalt-datepicker/src/DatePicker.css
  yarn.lock
Labels: dependencies, patch release

#2526 Text: add forwardRef to component
  docs/pages/web/text.js
  packages/gestalt/src/Text.js
Labels: minor release
