Repository pinterest/gestalt, pull requests merged in 2022-06, with the labels that each got.

#2140 Docs: Updated roadmap for May 2022
  docs/pages/RoadmapData.json
Labels: patch release

#2139 Internal: Add Pinterest metadata tag to connect Gestalt Pinterest account w/ Gestalt site
  docs/pages/_document.js
Labels: patch release

#2145 Docs: Revamp What's New page into our blog
  docs/components/PageHeader.js
  docs/pages/BlogPosts.json
  docs/pages/radiobutton.js
  docs/pages/whats_new.js
Labels: patch release

#2132 Typography: new Typography guidelines in the docs
  docs/components/sidebarIndex.js
  docs/graphics/typography/alignmentCenter.svg
  docs/graphics/typography/alignmentEnd.svg
  docs/graphics/typography/alignmentStart.svg
  docs/graphics/typography/contrastHigh.svg
  docs/graphics/typography/contrastLow.svg
  docs/graphics/typography/hierarchyDo.svg
  docs/graphics/typography/hierarchyDont.svg
  docs/graphics/typography/inclusive.svg
  docs/graphics/typography/lineHeightCJK.svg
  docs/graphics/typography/lineHeightLatin.svg
  docs/graphics/typography/lineLength.svg
  docs/graphics/typography/minimal.svg
  docs/graphics/typography/paragraphSpacing.svg
  docs/graphics/typography/speedy.svg
  docs/pages/typography.js
  playwright/accessibility/Typography.spec.mjs
Labels: patch release

#2146 Docs: Weekly update for 6/3/2022
  docs/pages/BlogPosts.json
  docs/pages/whats_new.js
Labels: patch release

#2143 Internal: upgrade Next (patch) and related packages
  docs/package.json
  package.json
  packages/gestalt-codemods/generic-codemods/__tests__/utils.js
  yarn.lock
Labels: dependencies, patch release

#2147 Docs: copyediting for Typography page
  docs/pages/typography.js
Labels: patch release

#2149 Docs: minor nits on Whats New page
  docs/pages/BlogPosts.json
  docs/pages/whats_new.js
Labels: patch release

#2148 Data Visualization: Add usage guidelines with examples
  docs/components/ColorTile.js
  docs/components/sidebarIndex.js
  docs/graphics/color-examples/colorEase.svg
  docs/graphics/color-examples/consistency.svg
  docs/graphics/color-examples/dataViz2Colors.svg
  docs/graphics/color-examples/dataViz3Colors.svg
  docs/graphics/color-examples/dataViz4Colors.svg
  docs/graphics/color-examples/dataViz6Colors.svg
  docs/graphics/color-examples/dataViz8Colors.svg
  docs/graphics/color-examples/dataVizPrimary.svg
  docs/graphics/color-examples/dataVizSuccessError.svg
  docs/pages/data_visualization_guidelines.js
  playwright/accessibility/Data Visualization Guidelines.spec.mjs
Labels: patch release, blog-post

#2151 Upsell: Update doc examples
  docs/pages/data_visualization_guidelines.js
  docs/pages/upsell.js
Labels: patch release

#2110 Design Tokens: Update android output files
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
Labels: patch release

#2153 Docs: Heading component design guidelines
  docs/pages/heading.js
  packages/gestalt/src/Heading.js
Labels: patch release

#2154 Docs: Text design guidelines
  docs/pages/text.js
  packages/gestalt/src/Text.js
Labels: patch release

#2161 Card: fix `active` logic to support `false`
  packages/gestalt/src/Card.js
Labels: patch release

#2162 Link: Update a11y examples
  docs/pages/link.js
Labels: patch release

#2164 Docs: 6/24 weekly update
  docs/pages/BlogPosts.json
Labels: patch release

#2155 Docs: Heading improvements
  docs/pages/heading.js
Labels: patch release

#2165 Docs: Tweaks to 6-24 update
  docs/pages/BlogPosts.json
Labels: patch release

#2163 Docs: Add new footers
  docs/components/App.js
  docs/components/AppLayout.js
  docs/components/Footer.js
  docs/components/IllustrationSection.js
  docs/components/InternalOnlyIconButton.js
  docs/components/ResourcesFooter.js
  docs/graphics/home-page/HeroGraphic.js
  docs/graphics/home-page/Slack_Mark_Web.png
  docs/graphics/home-page/accessibility.svg
  docs/graphics/home-page/color.svg
  docs/graphics/home-page/design-tokens.svg
  docs/graphics/home-page/design.svg
  docs/graphics/home-page/development.svg
  docs/graphics/home-page/figma-logo.svg
  docs/graphics/home-page/how-to-work-with-us.svg
  docs/graphics/home-page/slack-logo.svg
  docs/pages/color_examples.js
  docs/pages/home.js
  docs/pages/roadmap.js
  docs/pages/tooling.js
Labels: patch release, blog-post

#2166 Docs: Fix Footer in dark mode
  docs/components/App.js
  docs/components/AppLayout.js
  docs/components/Footer.js
  docs/components/ResourcesFooter.js
Labels: patch release

#2080 Docs: Cleanup layout and shaded color examples
  docs/components/CombinationNew.js
  docs/components/MainSectionCard.js
  docs/pages/datapoint.js
  docs/pages/numberfield.js
  docs/pages/status.js
Labels: patch release

#2168 ComboBox: Fix spacing with Tags
  packages/gestalt/src/InternalTextField.css
Labels: patch release

#2167 Dropdown: cleanup dead code
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/OptionItem.js
Labels: patch release

#2170 Internal: flow type debounce and throttle methods
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/ScrollFetch.js
  packages/gestalt/src/debounce.js
  packages/gestalt/src/throttle.js
Labels: patch release

#2169 Design Tokens: Add cross-linking to various pages
  docs/components/ColorPalette.js
  docs/components/TokenExample.js
  docs/pages/box.js
  docs/pages/color_palette.js
  docs/pages/data_visualization_colors.js
  docs/pages/data_visualization_guidelines.js
  docs/pages/design_tokens.js
  docs/pages/how_to_hack_around_gestalt.js
Labels: patch release

#2172 Docs: Updates to Resources and Footer
  docs/components/App.js
  docs/components/AppLayout.js
  docs/components/DocSearch.js
  docs/components/Footer.js
  docs/components/Header.js
  docs/components/ResourcesFooter.js
Labels: patch release

#2176 Docs: fix some OnLinkNavigationProvider links
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Callout.js
Labels: patch release

#2174 PageHeader: Make onClick for helperLink optional
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/PageHeaderComponents.js
Labels: patch release

#2177 Docs: Fix Resource Slack eng link
  docs/components/ResourcesFooter.js
Labels: patch release

#2180 Component status: quick link fix
  docs/components/PageHeaderQualitySummary.js
Labels: patch release

#2182 Docs: updated Gestalt Sandbox
  docs/components/Footer.js
  docs/components/HeaderMenu.js
  docs/components/ResourcesFooter.js
  docs/pages/tooling.js
Labels: patch release, blog-post
