Repository pinterest/gestalt, pull requests merged in 2022-03, with the labels that each got.

#1958 Masonry: add a11y roles
  packages/gestalt/src/Masonry.js
Labels: patch release

#1960 Docs: add npm badges for design token and eslint plugin packages
  docs/pages/whats_new.js
Labels: patch release

#1442 Modal, Sheet: Fix infinite focus loop (#649)
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/behaviors/TrapFocusBehavior.js
Labels: minor release

#1962 TrapFocusBehavior: add notes as comments
  packages/gestalt/src/behaviors/TrapFocusBehavior.js
Labels: patch release

#1859 Docs: Add Home page
  _redirects
  cypress/integration/accessibility_Home_spec.js
  docs/.babelrc
  docs/components/DocSearch.js
  docs/components/Header.js
  docs/components/HeaderMenu.js
  docs/components/HomePageCard.js
  docs/components/HomePageSection.js
  docs/components/Navigation.js
  docs/components/Page.js
  docs/components/buttons/SidebarCategorizationButton.js
  docs/docs.css
  docs/graphics/HeroGraphic.js
  docs/graphics/accessibility.svg
  docs/graphics/color.svg
  docs/graphics/design-tokens.svg
  docs/graphics/design.svg
  docs/graphics/development.svg
  docs/graphics/how-to-work-with-us.svg
  docs/pages/home.js
  docs/pages/index.js
  package.json
  yarn.lock
Labels: patch release

#1963 Docs: fix npm badges wrapping
  docs/pages/whats_new.js
Labels: patch release

#1959 How to work with us design content update
  docs/pages/how_to_work_with_us.js
Labels: patch release

#1961 Toast: fix layout bug with long text + button text
  packages/gestalt/src/Flex.js
  packages/gestalt/src/FlexItem.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: patch release

#1966 Toast: revert `text` type change
  packages/gestalt/src/Toast.js
Labels: patch release

#1965 Docs: Sentence case titles/navigation
  cypress/integration/page_header_spec.js
  docs/components/sidebarIndex.js
  docs/pages/color_palette.js
  docs/pages/color_usage.js
  docs/pages/design_tokens.js
  docs/pages/eslint_plugin.js
  docs/pages/faq.js
  docs/pages/home.js
  docs/pages/how_to_hack_around_gestalt.js
  docs/pages/how_to_work_with_us.js
  docs/pages/layouts.js
  docs/pages/whats_new.js
Labels: patch release

#1970 Box: add elevation accent color option
  docs/pages/box.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/boxTransforms.js
Labels: minor release

#1975 Docs: Add About us page
  cypress/integration/accessibility_About Us_spec.js
  docs/components/sidebarIndex.js
  docs/pages/about_us.js
Labels: patch release

#1974 Docs: Added design guidelines to Datapoint docs
  docs/pages/datapoint.js
Labels: patch release

#1971 Badge: Add new 'type' variations and best practices documentation
  cypress/integration/visual-test/__image_snapshots__/Badge #0.png
  cypress/integration/visual-test/__image_snapshots__/Badge-dark #0.png
  docs/pages/activationcard.js
  docs/pages/avatar.js
  docs/pages/avatargroup.js
  docs/pages/avatarpair.js
  docs/pages/badge.js
  docs/pages/button.js
  docs/pages/buttongroup.js
  docs/pages/callout.js
  docs/pages/card.js
  docs/pages/checkbox.js
  docs/pages/combobox.js
  docs/pages/datapoint.js
  docs/pages/datepicker.js
  docs/pages/dropdown.js
  docs/pages/fieldset.js
  docs/pages/icon.js
  docs/pages/iconbutton.js
  docs/pages/link.js
  docs/pages/modal.js
  docs/pages/module.js
  docs/pages/numberfield.js
  docs/pages/popover.js
  docs/pages/pulsar.js
  docs/pages/radiobutton.js
  docs/pages/searchfield.js
  docs/pages/segmentedcontrol.js
  docs/pages/selectlist.js
  docs/pages/sheet.js
  docs/pages/spinner.js
  docs/pages/status.js
  docs/pages/switch.js
  docs/pages/table.js
  docs/pages/tabs.js
  docs/pages/tag.js
  docs/pages/textarea.js
  docs/pages/textfield.js
  docs/pages/toast.js
  docs/pages/tooltip.js
  docs/pages/upsell.js
  docs/pages/visual-test/Badge-dark.js
  docs/pages/visual-test/Badge.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.css.flow
  packages/gestalt/src/Badge.js
  packages/gestalt/src/Badge.test.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/__snapshots__/Badge.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: minor release

#1976 Datapoint: docs nits
  docs/pages/datapoint.js
Labels: patch release

#1977 Docs: Sentence casing updates
  docs/pages/badge.js
  docs/pages/development.js
  docs/pages/how_to_hack_around_gestalt.js
  docs/pages/how_to_work_with_us.js
Labels: patch release

#1979 Docs: Add elevation guidelines page
  cypress/integration/accessibility_Elevation_spec.js
  docs/components/sidebarIndex.js
  docs/pages/elevation.js
  packages/gestalt/src/Borders.css
Labels: patch release

#1980 ActivationCard: Use Text instead of Heading
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
Labels: patch release

#1973 Text: Add new semantic colors
  docs/components/ColorPalette.js
  docs/components/ColorTile.js
  docs/components/MainSectionCard.js
  docs/pages/color_palette.js
  docs/pages/color_usage.js
  docs/pages/text.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Heading.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/Text.test.js
  packages/gestalt/src/Typography.css
  packages/gestalt/src/Typography.css.flow
  packages/gestalt/src/__snapshots__/Text.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
  packages/gestalt/src/textTypes.js
Labels: minor release

#1984 Docs: Update navigation and badge colors
  docs/components/PropTable.js
  docs/components/Toc.js
Labels: patch release

#1986 ActivationCard: Use Text instead of Heading for UncompletedCard
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
Labels: patch release

#1982 Dropdown, Module: Change badge prop to allow type
  docs/pages/badge.js
  docs/pages/dropdown.js
  docs/pages/iconbutton.js
  docs/pages/module.js
  docs/pages/pageheader.js
  packages/gestalt-codemods/45.2.4/__testfixtures__/link_deprecate_disabled_prop.input.js
  packages/gestalt-codemods/45.2.4/__testfixtures__/link_deprecate_disabled_prop.output.js
  packages/gestalt-codemods/45.2.4/__testfixtures__/rename-link_deprecate_disabled_prop.input.js
  packages/gestalt-codemods/45.2.4/__testfixtures__/rename-link_deprecate_disabled_prop.output.js
  packages/gestalt-codemods/45.2.4/__tests__/link_deprecate_disabled_prop.test.js
  packages/gestalt-codemods/45.2.4/link_deprecate_disabled_prop.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/dropdown_badge_prop.input.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/dropdown_badge_prop.output.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/module_badge_prop.input.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/module_badge_prop.output.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/module_expandable_badge_prop.input.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/module_expandable_badge_prop.output.js
  packages/gestalt-codemods/46.0.0/__tests__/new_badge_props.test.js
  packages/gestalt-codemods/46.0.0/new_badge_props.js
  packages/gestalt/src/Badge.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/Dropdown.jsdom.test.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownItem.jsdom.test.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/DropdownLink.jsdom.test.js
  packages/gestalt/src/Module.flowtest.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/Module.test.js
  packages/gestalt/src/ModuleExpandable.flowtest.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandable.jsdom.test.js
  packages/gestalt/src/ModuleExpandableItem.flowtest.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleExpandableItem.jsdom.test.js
  packages/gestalt/src/ModuleExpandableItem.test.js
  packages/gestalt/src/ModuleTitle.flowtest.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/OptionItem.js
Labels: major release

#1988 Codemod: Update Badge to prevent errors
  packages/gestalt-codemods/46.0.0/new_badge_props.js
Labels: patch release

#1987 Callout: Update text to be readable in dark mode
  packages/gestalt/src/Callout.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
Labels: patch release

#1989 Text: Add title prop
  docs/pages/text.js
  packages/gestalt/src/Text.js
Labels: minor release

#1992 Text: rework color class logic to appease Flow
  packages/gestalt/src/Text.js
Labels: patch release

#1994 PageHeader: add visual diff testing and screenshot to description in VSCode (Flow extension)
  cypress/integration/visual-test/PageHeader-basic-dark_spec.js
  cypress/integration/visual-test/PageHeader-basic_spec.js
  cypress/integration/visual-test/PageHeader-maxWidth-dark_spec.js
  cypress/integration/visual-test/PageHeader-maxWidth_spec.js
  cypress/integration/visual-test/PageHeader-secondaryAction-dark_spec.js
  cypress/integration/visual-test/PageHeader-secondaryAction_spec.js
  cypress/integration/visual-test/__image_snapshots__/PageHeader-basic-dark-lg #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-basic-dark-md #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-basic-dark-sm #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-basic-lg #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-basic-md #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-basic-sm #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-maxWidth-dark-lg #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-maxWidth-dark-md #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-maxWidth-dark-sm #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-maxWidth-lg #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-maxWidth-md #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-maxWidth-sm #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-secondaryAction-dark-lg #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-secondaryAction-dark-md #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-secondaryAction-dark-sm #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-secondaryAction-lg #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-secondaryAction-md #0.png
  cypress/integration/visual-test/__image_snapshots__/PageHeader-secondaryAction-sm #0.png
  docs/pages/visual-test/PageHeader-basic-dark.js
  docs/pages/visual-test/PageHeader-basic.js
  docs/pages/visual-test/PageHeader-maxWidth-dark.js
  docs/pages/visual-test/PageHeader-maxWidth.js
  docs/pages/visual-test/PageHeader-secondaryAction-dark.js
  docs/pages/visual-test/PageHeader-secondaryAction.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/Text.js
Labels: patch release

#1993 InternalTextFieldIconButton: create component from InternalTextField
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/InternalTextFieldIconButton.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
Labels: patch release

#1998 IconButton: add type prop
  docs/pages/iconbutton.js
  packages/gestalt/src/IconButton.js
Labels: minor release

#1997 Docs: Add elevation dark mode examples
  docs/pages/box.js
  docs/pages/design_tokens.js
  docs/pages/elevation.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt-design-tokens/tokens/elevation/base.json
  packages/gestalt/src/Box.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/Text.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: patch release

#1999 Datapoint: Add option for Badge
  docs/components/MainSectionSubsection.js
  docs/pages/datapoint.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/Datapoint.test.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/Typography.css
  packages/gestalt/src/Typography.css.flow
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
Labels: minor release

#2000 ExperimentProvider: create new Context
  packages/gestalt/src/contexts/ExperimentProvider.js
  packages/gestalt/src/index.js
Labels: minor release

#2007 Internal: Fix flaky flow issue on Text
  packages/gestalt/src/Text.js
Labels: patch release

#1946 Docs: Roadmap
  cypress/integration/accessibility_Roadmap_spec.js
  docs/components/sidebarIndex.js
  docs/pages/RoadmapData.json
  docs/pages/roadmap.js
Labels: patch release

#2002 Internal: upgrade prettier to 2.6.0
  docs/components/GeneratedPropTable.js
  docs/components/docgen.js
  docs/pages/button.js
  docs/pages/iconbutton.js
  docs/pages/taparea.js
  package.json
  packages/eslint-plugin-gestalt/src/helpers/testHelpers.js
  packages/eslint-plugin-gestalt/src/no-box-dangerous-style-duplicates.js
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.test.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/gestalt/src/AnimationController.js
  packages/gestalt/src/Button.test.js
  packages/gestalt/src/Caret.js
  packages/gestalt/src/DropdownContext.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/MeasurementStore.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/ScrollBoundaryContainerWithForwardRef.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/contexts/OnLinkNavigationProvider.js
  packages/gestalt/src/contexts/ScrollBoundaryContainer.js
  packages/gestalt/src/defaultLayout.js
  packages/gestalt/src/style.js
  packages/gestalt/src/transforms.js
  packages/gestalt/src/uniformRowLayout.js
  packages/gestalt/src/useTapFeedback.js
  scripts/generateComponent.js
  scripts/validateIconSvgSpecs.js
  yarn.lock
Labels: dependencies, patch release

#2004 SelectList: Add option for hidden label
  docs/pages/combobox.js
  docs/pages/fieldset.js
  docs/pages/selectlist.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/SelectList.test.js
  packages/gestalt/src/__snapshots__/SelectList.test.js.snap
Labels: minor release

#2010 Internal: add resolution for `minimist` to address vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release

#2005 Image: add decoding prop
  packages/gestalt/src/Image.js
  packages/gestalt/src/Image.test.js
  packages/gestalt/src/__snapshots__/Image.test.js.snap
Labels: minor release

#2011 Docs: implemented OnLinkNavigationProvider in Docs to extend next/router to all Gestalt components used in Docs
  docs/components/App.js
  docs/components/Header.js
  docs/components/Link.js
  docs/components/NavLink.js
Labels: patch release

#2016 Switch: Clean up docs
  docs/pages/elevation.js
  docs/pages/switch.js
  packages/gestalt/src/Switch.js
Labels: patch release

#2017 ButtonGroup, Label, Fieldset, Image, Collage: add visual diff testing and screenshot to description in VSCode (Flow extension)
  cypress/integration/visual-test/ButtonGroup-dark_spec.js
  cypress/integration/visual-test/ButtonGroup_spec.js
  cypress/integration/visual-test/Collage_spec-dark_spec.js
  cypress/integration/visual-test/Collage_spec.js
  cypress/integration/visual-test/Fieldset-dark_spec.js
  cypress/integration/visual-test/Fieldset_spec.js
  cypress/integration/visual-test/Image-dark_spec.js
  cypress/integration/visual-test/Image_spec.js
  cypress/integration/visual-test/Label-dark_spec.js
  cypress/integration/visual-test/Label_spec.js
  cypress/integration/visual-test/__image_snapshots__/ButtonGroup #0.png
  cypress/integration/visual-test/__image_snapshots__/ButtonGroup-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Collage #0.png
  cypress/integration/visual-test/__image_snapshots__/Collage-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Fieldset #0.png
  cypress/integration/visual-test/__image_snapshots__/Fieldset-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Image #0.png
  cypress/integration/visual-test/__image_snapshots__/Image-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Label #0.png
  cypress/integration/visual-test/__image_snapshots__/Label-dark #0.png
  docs/pages/visual-test/ButtonGroup-dark.js
  docs/pages/visual-test/ButtonGroup.js
  docs/pages/visual-test/Collage-dark.js
  docs/pages/visual-test/Collage.js
  docs/pages/visual-test/Fieldset-dark.js
  docs/pages/visual-test/Fieldset.js
  docs/pages/visual-test/Image-dark.js
  docs/pages/visual-test/Image.js
  docs/pages/visual-test/Label-dark.js
  docs/pages/visual-test/Label.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/ButtonGroup.js
  packages/gestalt/src/Collage.js
  packages/gestalt/src/Fieldset.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/Label.js
Labels: patch release

#2020 Docs: add legal disclaimer re: brand icons
  docs/pages/iconography_and_svgs.js
  docs/pages/visual-test/Icon-list-dark.js
  docs/pages/visual-test/Icon-list.js
  packages/gestalt/src/Icon.js
Labels: patch release

#2021 Component overview: quick reclass Fieldset cmp
  docs/components/componentOverviewGeneralComponentsList.js
  docs/components/sidebarIndex.js
Labels: patch release

#2022 NumberField, TextField: update docs on usage
  docs/pages/numberfield.js
  docs/pages/textfield.js
Labels: patch release

#2019 Color usage: Add dark mode examples
  docs/components/ColorTile.js
  docs/pages/color_palette.js
  docs/pages/color_usage.js
Labels: patch release

#2018 Development: Added RFCs (request for comments) section and /RFCS folder with process
  docs/pages/development.js
  rfcs/README.md
  rfcs/template.md
Labels: patch release

#2024 Internal: update RFC template
  rfcs/README.md
Labels: patch release

#2026 TextField: remove stray reference to type="number"
  docs/pages/textfield.js
Labels: patch release

#2027 TapArea: add inline example
  docs/pages/taparea.js
Labels: patch release

#2025 Internal: fix flow issue in Iconography and SVGs docs
  docs/pages/iconography_and_svgs.js
  docs/pages/visual-test/Icon-list-dark.js
  docs/pages/visual-test/Icon-list.js
  packages/gestalt/src/Icon.js
  packages/gestalt/src/icons/index.js
Labels: patch release

#1995 TextField: Add experimental show/hide password button
  docs/components/App.js
  docs/components/contexts/DocsExperimentProvider.js
  docs/components/contexts/DocsI18nProvider.js
  docs/pages/_app.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/InternalTextFieldIconButton.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/TextField.test.js
  packages/gestalt/src/Upsell.jsdom.test.js
  packages/gestalt/src/Upsell.test.js
  packages/gestalt/src/UpsellForm.test.js
  packages/gestalt/src/contexts/ExperimentProvider.js
  packages/gestalt/src/contexts/I18nProvider.js
  packages/gestalt/src/contexts/__mocks__/I18nProvider.js
Labels: minor release

#2032 Internal: remove deprecated Prettier option
  .prettierrc.json
Labels: patch release

#2033 Internal: upgrade Prettier to 2.6.1
  package.json
  yarn.lock
Labels: dependencies, patch release
