Repository pinterest/gestalt, pull requests merged in 2022-08, with the labels that each got.

#2239 Docs: sidebar border should reach bottom
  docs/components/AppLayout.js
Labels: patch release

#2237 Docs: fix received 'true' for a non-boolean attribute 'wsz'
  docs/pages/box.js
Labels: patch release

#2238 Docs: group sidebar toggles
  docs/components/buttons/SidebarCategorizationButton.js
Labels: patch release

#2233 Docs: fix web repository link
  docs/components/ResourcesFooter.js
Labels: patch release

#2232 Internal: remove unused dependencies
  flow-typed/npm/caniuse-lite_vx.x.x.js
  flow-typed/npm/codecov_vx.x.x.js
  flow-typed/npm/danger_vx.x.x.js
  flow-typed/npm/filesize_v3.x.x.js
  flow-typed/npm/history_v4.10.x.js
  flow-typed/npm/history_vx.x.x.js
  flow-typed/npm/husky_vx.x.x.js
  flow-typed/npm/papaparse_vx.x.x.js
  flow-typed/npm/postcss-cssnext_vx.x.x.js
  flow-typed/npm/prop-types_v15.x.x.js
  flow-typed/npm/react-router-dom_v5.x.x.js
  flow-typed/npm/rollup-plugin-inline-svg_vx.x.x.js
  package.json
  scripts/stats/index.js
  scripts/stats/transform.js
  yarn.lock
Labels: patch release

#2234 Internal: add ability to use local Gestalt CSS & JS files
  docs/components/App.js
  docs/components/SandpackExample.js
  docs/components/contexts/LocalFilesProvider.js
  docs/pages/_app.js
  docs/pages/api/localFiles.js
  docs/pages/development.js
  flow-typed/npm/next_v10.x.x.js
Labels: patch release

#2241 Internal: replace flow-lint suppressions with FlowFixMe
  docs/components/Combination.js
  docs/components/GeneratedPropTable.js
  docs/components/PropTable.js
  packages/gestalt-datepicker/src/DatePicker.js
Labels: patch release

#2228 Eslint plugin: Avoid "workflow-status-[..]" on Icon
  docs/pages/eslint_plugin.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-workflow-status-icon/invalid/default-size.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-workflow-status-icon/invalid/match-properties.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-workflow-status-icon/invalid/renamed-icon.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-workflow-status-icon/valid/no-match-color.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-workflow-status-icon/valid/no-match-icon.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-workflow-status-icon/valid/no-match-size.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-workflow-status-icon/valid/renamed-icon.js
  packages/eslint-plugin-gestalt/src/index.js
  packages/eslint-plugin-gestalt/src/no-workflow-status-icon.js
  packages/eslint-plugin-gestalt/src/no-workflow-status-icon.test.js
Labels: minor release

#2236 Docs: Fix /_error renders on collage page
  docs/pages/collage.js
Labels: patch release

#2245 Internal: remove unused cacache dependency
  package.json
  yarn.lock
Labels: patch release

#2247 Docs: new SlimBanner, SideNavigation SVGs
  docs/docs-components/COMPONENT_DATA.js
  docs/graphics/general/SideNavigation.svg
  docs/graphics/general/SlimBanner.svg
Labels: patch release

#2240 SideNavigation: implement Sandpack live code examples
  docs/docs-components/Header.js
  docs/docs-components/SandpackExample.js
  docs/examples/sidenavigation/activeItemExample.js
  docs/examples/sidenavigation/badgeExample.js
  docs/examples/sidenavigation/borderExample.js
  docs/examples/sidenavigation/correctGroupingExample.js
  docs/examples/sidenavigation/correctHeadingExample.js
  docs/examples/sidenavigation/correctIconExample.js
  docs/examples/sidenavigation/correctLengthExample.js
  docs/examples/sidenavigation/counterExample.js
  docs/examples/sidenavigation/customIconsExample.js
  docs/examples/sidenavigation/footerExample.js
  docs/examples/sidenavigation/headerExample.js
  docs/examples/sidenavigation/iconsExample.js
  docs/examples/sidenavigation/incorrectGroupingExample.js
  docs/examples/sidenavigation/incorrectHeadingExample.js
  docs/examples/sidenavigation/incorrectIconExample.js
  docs/examples/sidenavigation/incorrectLengthExample.js
  docs/examples/sidenavigation/localizationExample.js
  docs/examples/sidenavigation/mainExample.js
  docs/examples/sidenavigation/mobileExample.js
  docs/examples/sidenavigation/nestedExample.js
  docs/examples/sidenavigation/notificationsExample.js
  docs/examples/sidenavigation/sectionsExample.js
  docs/pages/web/modal.js
  docs/pages/web/sidenavigation.js
Labels: patch release

#2249 Docs: Add development process page
  docs/docs-components/siteIndex.js
  docs/pages/get_started/developers/development_process.js
  playwright/accessibility/Development Process.spec.mjs
Labels: patch release

#2248 Docs: add redirects for old paths
  docs/next.config.js
  docs/redirects.js
Labels: patch release

#2250 Docs: Fix missing pages
  docs/docs-components/siteIndex.js
Labels: patch release

#2252 Internal: add eslint-plugin-validate-jsx-nesting
  .eslintrc.json
  package.json
  yarn.lock
Labels: patch release

#2253 Docs: convert accessibility page to Sandpack & fix useReducedMotion example
  docs/examples/accessibility/useFocusVisibleExample.js
  docs/examples/accessibility/useReducedMotionExample.js
  docs/pages/foundations/accessibility.js
Labels: patch release

#2235 Tooling: refactor renameComponent codemod to use new helper functions
  packages/gestalt-codemods/README.md
  packages/gestalt-codemods/generic-codemods/__testfixtures__/renameComponent/renameComponent.input.js
  packages/gestalt-codemods/generic-codemods/__testfixtures__/renameComponent/renameComponent.output.js
  packages/gestalt-codemods/generic-codemods/__testfixtures__/renameComponent/renameComponentAlias.input.js
  packages/gestalt-codemods/generic-codemods/__testfixtures__/renameComponent/renameComponentAlias.output.js
  packages/gestalt-codemods/generic-codemods/__tests__/renameComponent.test.js
  packages/gestalt-codemods/generic-codemods/deprecatedUtils.js
  packages/gestalt-codemods/generic-codemods/detectManualReplacement.js
  packages/gestalt-codemods/generic-codemods/flowtypes.js
  packages/gestalt-codemods/generic-codemods/renameComponent.js
  packages/gestalt-codemods/generic-codemods/utils.js
Labels: patch release

#2254 Docs: implement Tabs into Gestalt Documentation's SideNavigation for mobile
  docs/docs-components/DocsSideNavigation.js
  docs/docs-components/navigationContext.js
  docs/docs-components/useGetSideNavItems.js
Labels: patch release

#2256 DeviceTypeProvider: Rollback to use `phone` to identify mobile devices
  docs/examples/sidenavigation/mobileExample.js
  docs/pages/_app.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationGroupContent.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/contexts/DeviceTypeProvider.js
Labels: minor release

#2255 Docs: adjustments to Sandpack code containers
  docs/docs-components/SandpackExample.js
  docs/pages/foundations/accessibility.js
  docs/pages/web/modal.js
  docs/pages/web/pageheader.js
  docs/pages/web/sheet.js
  docs/pages/web/sidenavigation.js
Labels: patch release

#2260 Releases: new developers/releases page
  docs/docs-components/siteIndex.js
  docs/pages/get_started/developers/development_process.js
  docs/pages/get_started/developers/installation.js
  docs/pages/get_started/developers/releases.js
  docs/pages/get_started/developers/tooling/web.js
  docs/pages/get_started/faq.js
  playwright/accessibility/Releases.spec.mjs
Labels: minor release

#2261 Internal: upgrade flow-bin to 0.184.0, try out new inference mode
  .flowconfig
  docs/docs-components/Toc.js
  package.json
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.js
  packages/eslint-plugin-gestalt/src/prefer-box-inline-style.js
  packages/gestalt-codemods/generic-codemods/utils.js
  packages/gestalt/src/Layer.js
  packages/gestalt/src/SideNavigationGroupMobile.js
  packages/gestalt/src/throttle.js
  packages/gestalt/src/utils/positioningUtils.js
  yarn.lock
Labels: dependencies, patch release

#2262 PageHeader: improved Docs with examples and descriptions
  docs/docs-components/SandpackExample.js
  docs/examples/pageheader/complimentaryItemsExample.js
  docs/examples/pageheader/dontOverloadExample.js
  docs/examples/pageheader/minimumButtonsExample.js
  docs/examples/pageheader/responsiveExample.js
  docs/examples/pageheader/titleExample.js
  docs/pages/web/pageheader.js
Labels: patch release

#2263 SideNavigation: add self-opening group on active items
  docs/docs-components/useGetSideNavItems.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationGroupMobile.js
  packages/gestalt/src/SideNavigationMobile.js
  packages/gestalt/src/contexts/SideNavigationProvider.js
  packages/gestalt/src/getChildrenToArray.js
Labels: minor release

#2265 Internal: Upgrade React Testing Library and update flow types
  flow-typed/npm/@testing-library/react_vx.x.x.js
  package.json
  packages/gestalt/src/ComboBox.jsdom.test.js
  packages/gestalt/src/Sheet.jsdom.test.js
  packages/gestalt/src/Video.jsdom.test.js
  yarn.lock
Labels: patch release

#2266 Flex: add link to Flexbox Froggy
  docs/pages/web/flex.js
Labels: patch release

#2267 Internal: upgrade caniuse
  yarn.lock
Labels: dependencies, patch release

#2269 Docs: fix Flex issues
  docs/pages/foundations/color/examples.js
  docs/pages/foundations/iconography/usage.js
  docs/pages/web/activationcard.js
  docs/pages/web/badge.js
  docs/pages/web/box.js
  docs/pages/web/button.js
  docs/pages/web/buttongroup.js
  docs/pages/web/checkbox.js
  docs/pages/web/collage.js
  docs/pages/web/combobox.js
  docs/pages/web/datepicker.js
  docs/pages/web/icon.js
  docs/pages/web/iconbutton.js
  docs/pages/web/image.js
  docs/pages/web/link.js
  docs/pages/web/mask.js
  docs/pages/web/numberfield.js
  docs/pages/web/popover.js
  docs/pages/web/radiogroup.js
  docs/pages/web/selectlist.js
  docs/pages/web/status.js
  docs/pages/web/table.js
  docs/pages/web/taparea.js
  docs/pages/web/textfield.js
  docs/pages/web/tooltip.js
  docs/pages/web/utilities/scrollboundarycontainer.js
  docs/pages/web/video.js
  docs/pages/web/zindex_classes.js
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/TextArea.js
Labels: patch release

#2270 Docs: fix Collage bug
  docs/pages/web/collage.js
Labels: patch release

#2272 Docs: Fixed broken link in color palette page
  docs/pages/foundations/color/palette.js
Labels: patch release

#2271 Internal: disallow console.* calls in tests
  .eslintrc.json
  flow-typed/npm/jest_v26.x.x.js
  package.json
  packages/gestalt-codemods/34.0.0/__tests__/toast-replace-color-variant.test.js
  packages/gestalt-codemods/45.0.0/__tests__/rename-popover-handleKeyDown-to-onKeyDown.test.js
  packages/gestalt-codemods/future-typo-changes/__tests__/replace-typography-sizes.test.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/src/NumberField.jsdom.test.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/contexts/I18nProvider.jsdom.test.js
  scripts/setupJest.js
  yarn.lock
Labels: patch release

#2268 Internal: fix Flow issues with positioning utils
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/behaviors/TrapFocusBehavior.js
  packages/gestalt/src/utils/positioningUtils.js
Labels: patch release

#2259 Docs: convert multiple "foundation" page examples to Sandpack
  docs/docs-components/SandpackExample.js
  docs/examples/colors/alternativeColorTextExample.js
  docs/examples/colors/alternativeColorTokensExample.js
  docs/examples/colors/alternativeColorsExample.js
  docs/examples/colors/appropriateColorTokensExample.js
  docs/examples/colors/communicateStatusExample.js
  docs/examples/colors/distinctionExample.js
  docs/examples/colors/establishedExample.js
  docs/examples/colors/extendedColorsExample.js
  docs/examples/colors/invalidElevationExample.js
  docs/examples/colors/repurposeExample.js
  docs/examples/colors/soleIndicatorExample.js
  docs/examples/colors/validElevationExample.js
  docs/examples/layouts/layoutsExample.js
  docs/examples/screenSizes/screenSizesAndroid.js
  docs/examples/screenSizes/screenSizesIos.js
  docs/examples/screenSizes/screenSizesWeb.js
  docs/pages/foundations/color/examples.js
  docs/pages/foundations/layouts.js
  docs/pages/foundations/screen_sizes.js
  docs/pages/web/modal.js
  docs/pages/web/pageheader.js
  docs/pages/web/sheet.js
  docs/pages/web/sidenavigation.js
Labels: patch release

#2257 Heading: Removing justify value prop
  docs/pages/web/heading.js
  packages/gestalt/src/Heading.js
Labels: major release

#2273 Internal: remove deepCloneReplacingUndefined
  docs/pages/web/masonry.js
  docs/utils/deepCloneReplacingUndefined.js
Labels: patch release

#2274 Docs: fix incorrect code wrapping on Masonry docs
  docs/pages/web/masonry.js
Labels: patch release

#2275 Sheet: fix flicker when closing Sheet with React 18
  flow-typed/npm/react-dom_v16.x.x.js
  flow-typed/npm/react-dom_v18.x.x.js
  packages/gestalt/src/AnimationController.js
Labels: minor release

#2280 Docs: Roadmap - Added an "Abandoned" section
  docs/pages/roadmap/RoadmapData.json
  docs/pages/roadmap/overview.js
Labels: patch release

#2279 Internal: remove unused scripts
  scripts/chunk.js
  scripts/colors.js
  scripts/cssbuilder/index.js
Labels: patch release

#2277 Callout: add "success", "recommendation" variants
  docs/pages/web/callout.js
  packages/gestalt/src/Callout.js
Labels: minor release

#2278 Docs: 8-12 update
  docs/pages/roadmap/BlogPosts.json
Labels: patch release

#2281 Internal: lint shell files
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/gestalt-codemods/generic-codemods/entry.sh
  scripts/netlify.sh
  scripts/test.sh
  yarn.lock
Labels: patch release

#2283 Docs: improve keyboard interactions for search bar
  docs/docs-components/DocSearch.js
  docs/docs-components/Header.js
  docs/docs-components/z-indices.js
Labels: patch release

#2284 Video: fix hydration issue
  packages/gestalt/src/VideoControls.js
  playwright/visual-test/Video.spec.mjs-snapshots/Video-chromium-darwin.png
Labels: minor release

#2285 Internal: add Node.js 18 to test matrix
  .github/workflows/ci.yml
Labels: patch release

#2287 Docs: refactored Homepage
  docs/docs-components/Header.js
  docs/graphics/home-page/components.svg
  docs/graphics/home-page/design-tokens.svg
  docs/graphics/home-page/roadmap.svg
  docs/pages/home.js
Labels: patch release

#2291 Internal: increase Node memory to solve OOM issue on CI
  .github/workflows/ci.yml
Labels: patch release

#2282 SideNavigation: fixes in height and mobile implementation in sm breakpoint
  docs/docs-components/AppLayout.js
  docs/docs-components/DocsSideNavigation.js
  docs/docs-components/Header.js
  docs/docs-components/navigationContext.js
  docs/docs-components/z-indices.js
  docs/examples/sidenavigation/nestedExample.js
  packages/gestalt/src/SideNavigation.css
  packages/gestalt/src/SideNavigation.css.flow
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigationGroupMobile.js
  packages/gestalt/src/SideNavigationMobile.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
Labels: patch release

#2288 Component overview: updated per redesign
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/IllustrationCard.js
  docs/pages/home.js
  docs/pages/web/overview.js
Labels: patch release

#2293 Docs: add link to web overview page
  docs/pages/web/overview.js
Labels: patch release

#2294 Docs: add Category type to catch regressions
  docs/docs-components/COMPONENT_DATA.js
  docs/pages/web/overview.js
Labels: patch release

#2296 Video: fix docs link for disableRemotePlayback
  packages/gestalt/src/Video.js
Labels: patch release

#2298 Internal: run Prettier on CSS files
  .prettierignore
  .stylelintrc.json
  docs/docs.css
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Dropdown.css
  packages/gestalt/src/InternalTextField.css
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/SelectList.css
  packages/gestalt/src/Sheet.css
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/Toast.css
  yarn.lock
Labels: patch release

#2299 IconButton: codemod for upcoming default iconColor value changes
  packages/gestalt-codemods/next_IconButton/__testfixtures__/iconButton-defaut-iconColor-change-renamed.input.js
  packages/gestalt-codemods/next_IconButton/__testfixtures__/iconButton-defaut-iconColor-change-renamed.output.js
  packages/gestalt-codemods/next_IconButton/__testfixtures__/iconButton-defaut-iconColor-change.input.js
  packages/gestalt-codemods/next_IconButton/__testfixtures__/iconButton-defaut-iconColor-change.output.js
  packages/gestalt-codemods/next_IconButton/__tests__/iconButton-defaut-iconColor-change.test.js
  packages/gestalt-codemods/next_IconButton/iconButton-defaut-iconColor-change.js
Labels: minor release

#2302 Internal: lint for array Flow type syntax
  .eslintrc.json
  docs/docs-components/MarkdownPage.js
  docs/docs-components/highlight.js
  docs/pages/[id].js
Labels: patch release

#2303 Heading: fix docs link to design tokens
  docs/pages/web/heading.js
Labels: patch release

#2304 IconButton: change default `iconColor` prop value from "gray" to "darkGray"
  docs/pages/web/iconbutton.js
  packages/gestalt-codemods/66.0.0/__testfixtures__/iconButton-defaut-iconColor-change-renamed.input.js
  packages/gestalt-codemods/66.0.0/__testfixtures__/iconButton-defaut-iconColor-change-renamed.output.js
  packages/gestalt-codemods/66.0.0/__testfixtures__/iconButton-defaut-iconColor-change.input.js
  packages/gestalt-codemods/66.0.0/__testfixtures__/iconButton-defaut-iconColor-change.output.js
  packages/gestalt-codemods/66.0.0/__tests__/iconButton-defaut-iconColor-change.test.js
  packages/gestalt-codemods/66.0.0/iconButton-defaut-iconColor-change.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
Labels: major release, blog-post

#2308 Revert " IconButton: change default iconColor prop value from "gray" …
  docs/pages/web/iconbutton.js
  packages/gestalt-codemods/next_IconButton/__testfixtures__/iconButton-defaut-iconColor-change-renamed.input.js
  packages/gestalt-codemods/next_IconButton/__testfixtures__/iconButton-defaut-iconColor-change-renamed.output.js
  packages/gestalt-codemods/next_IconButton/__testfixtures__/iconButton-defaut-iconColor-change.input.js
  packages/gestalt-codemods/next_IconButton/__testfixtures__/iconButton-defaut-iconColor-change.output.js
  packages/gestalt-codemods/next_IconButton/__tests__/iconButton-defaut-iconColor-change.test.js
  packages/gestalt-codemods/next_IconButton/iconButton-defaut-iconColor-change.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
Labels: patch release

#2305 Internal: more Flow lint rules
  .eslintrc.json
Labels: patch release

#2307 Docs: Weekly update for 8-19
  docs/pages/roadmap/BlogPosts.json
Labels: patch release

#2309 Docs: fix typos in digest
  docs/pages/roadmap/BlogPosts.json
Labels: patch release

#2310 Internal: remove commented-out lint rule
  .eslintrc.json
Labels: patch release

#2311 Docs: 8/19 blog post update
  docs/pages/roadmap/BlogPosts.json
Labels: patch release

#2312 Docs: add link to Figma plugins doc
  docs/pages/get_started/design.js
Labels: patch release

#2315 Docs: update PR template with new title format
  .github/pull_request_template.md
Labels: patch release

#2314 Docs: Fix links on overview page
  docs/docs-components/COMPONENT_DATA.js
Labels: patch release

#2295 Avatar-iOS: Add docs page
  .prettierignore
  .prettierrc.json
  docs/docs-components/DocsSideNavigation.js
  docs/docs-components/IllustrationCard.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/docs.css
  docs/graphics/index.js
  docs/markdown/get_started/developers/development_process.md
  docs/markdown/ios/avatar.md
  docs/markdown/ios/overview.md
  docs/next.config.js
  docs/pages/ios/overview.js
  playwright/accessibility/Avatar.spec.mjs
Labels: patch release, blog-post

#2318 Revert "Avatar-iOS: Add docs page"
  .prettierignore
  .prettierrc.json
  docs/docs-components/DocsSideNavigation.js
  docs/docs-components/IllustrationCard.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/docs.css
  docs/graphics/index.js
  docs/markdown/get_started/developers/development_process.md
  docs/markdown/ios/avatar.md
  docs/markdown/ios/overview.md
  docs/next.config.js
  docs/pages/ios/overview.js
  playwright/accessibility/Avatar.spec.mjs
Labels: patch release

#2319 Avatar-iOS: Add docs page
  .prettierignore
  docs/docs-components/DocsSideNavigation.js
  docs/docs-components/IllustrationCard.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/docs.css
  docs/graphics/index.js
  docs/markdown/get_started/developers/development_process.md
  docs/markdown/ios/avatar.md
  docs/markdown/ios/overview.md
  docs/next.config.js
  docs/pages/ios/overview.js
  playwright/accessibility/Avatar.spec.mjs
Labels: patch release, blog-post

#2290 Docs: Add Messaging guidelines
  docs/docs-components/Header.js
  docs/docs-components/siteIndex.js
  docs/graphics/messaging/blocking.svg
  docs/graphics/messaging/brief.svg
  docs/graphics/messaging/ephemeral.svg
  docs/graphics/messaging/modals/campaignIssue.svg
  docs/graphics/messaging/modals/deleteBoard.svg
  docs/graphics/messaging/modals/experienceTrends.svg
  docs/graphics/messaging/modals/newRecommendations.svg
  docs/graphics/messaging/modals/pinSaved.svg
  docs/graphics/messaging/modals/siteSpam.svg
  docs/graphics/messaging/modals/websiteBlocked.svg
  docs/graphics/messaging/relevant.svg
  docs/graphics/messaging/section.svg
  docs/graphics/messaging/timely.svg
  docs/graphics/messaging/topPage.svg
  docs/pages/foundations/messaging/a_messaging_story.js
  docs/pages/foundations/messaging/available_components.js
  docs/pages/foundations/messaging/principles.js
  docs/pages/foundations/messaging/priority_and_placement.js
  playwright/accessibility/A Messaging Story.spec.mjs
  playwright/accessibility/Available Components.spec.mjs
  playwright/accessibility/Principles.spec.mjs
  playwright/accessibility/Priority and Placement.spec.mjs
Labels: patch release, blog-post

#2322 Docs: Update mobile spacing with new Flex gap
  docs/pages/foundations/color/palette.js
  docs/pages/foundations/color/usage.js
  docs/pages/foundations/data_visualization/palette.js
  docs/pages/foundations/data_visualization/usage.js
  docs/pages/foundations/elevation.js
  docs/pages/foundations/iconography/usage.js
  docs/pages/foundations/messaging/principles.js
  docs/pages/foundations/typography/guidelines.js
Labels: patch release

#2320 IconButton, Pog: change default iconColor prop value from "gray" to "darkGray"
  docs/pages/web/iconbutton.js
  packages/gestalt-codemods/66.0.0/__testfixtures__/iconButton-defaut-iconColor-change-renamed.input.js
  packages/gestalt-codemods/66.0.0/__testfixtures__/iconButton-defaut-iconColor-change-renamed.output.js
  packages/gestalt-codemods/66.0.0/__testfixtures__/iconButton-defaut-iconColor-change.input.js
  packages/gestalt-codemods/66.0.0/__testfixtures__/iconButton-defaut-iconColor-change.output.js
  packages/gestalt-codemods/66.0.0/__tests__/iconButton-defaut-iconColor-change.test.js
  packages/gestalt-codemods/66.0.0/iconButton-defaut-iconColor-change.js
  packages/gestalt/src/Pog.js
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
  packages/gestalt/src/__snapshots__/Pog.test.js.snap
Labels: major release, blog-post

#2323 Masonry: add note about stable component references
  packages/gestalt/src/Masonry.js
Labels: patch release

#2316 Docs: Fix Overlapping Accessibility Checks
  docs/markdown/ios/overview.md
  playwright/accessibility/Avatar_Web.spec.mjs
  playwright/accessibility/Avatar_iOS.spec.mjs
  playwright/accessibility/Overview_Android.spec.mjs
  playwright/accessibility/Overview_Foundations.spec.mjs
  playwright/accessibility/Overview_Roadmap.spec.mjs
  playwright/accessibility/Overview_Web.spec.mjs
  playwright/accessibility/Overview_iOS.spec.mjs
  playwright/accessibility/Palette_Color.spec.mjs
  playwright/accessibility/Palette_Data Visualization.spec.mjs
  playwright/accessibility/Usage_Color.spec.mjs
  playwright/accessibility/Usage_Data Visualization.spec.mjs
  playwright/accessibility/Usage_Iconography.spec.mjs
  scripts/validateAccessibilitySpecs.js
Labels: patch release

#2306 IconButton: codemod for upcoming default `size` changes
  packages/gestalt-codemods/68.0.0/__testfixtures__/iconButton-defaut-size-change-renamed.input.js
  packages/gestalt-codemods/68.0.0/__testfixtures__/iconButton-defaut-size-change-renamed.output.js
  packages/gestalt-codemods/68.0.0/__testfixtures__/iconButton-defaut-size-change.input.js
  packages/gestalt-codemods/68.0.0/__testfixtures__/iconButton-defaut-size-change.output.js
  packages/gestalt-codemods/68.0.0/__tests__/iconButton-defaut-size-change.test.js
  packages/gestalt-codemods/68.0.0/iconButton-defaut-size-change.js
Labels: patch release

#2324 Internal: use immutable arrays in docs components
  .eslintrc.json
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/MainSectionCard.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/PropTable.js
  docs/docs-components/ResourcesFooter.js
  docs/docs-components/Toc.js
  docs/docs-components/docgen.js
  docs/docs-components/handleCodeSandbox.js
  docs/docs-components/highlight.js
  docs/docs-components/siteIndex.js
  docs/next.config.js
  docs/pages/[...id].js
  docs/pages/roadmap/whats_new.js
  docs/pages/web/masonry.js
  docs/pages/web/overview.js
  docs/redirects.js
  docs/utils/mdHelper.js
Labels: patch release

#2325 Masonry: rename `comp` to `Item`
  docs/pages/web/masonry.js
  packages/gestalt/src/Masonry.flowtest.js
  packages/gestalt/src/Masonry.js
Labels: major release, blog-post

#2328 Docs: Mobile IconButton docs for iOS and Android
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/graphics/index.js
  docs/markdown/android/iconbutton.md
  docs/markdown/ios/iconbutton.md
  playwright/accessibility/IconButton_Android.spec.mjs
  playwright/accessibility/IconButton_Web.spec.mjs
  playwright/accessibility/IconButton_iOS.spec.mjs
Labels: patch release, blog-post

#2330 Popover: Fix accessibility bug, add option for accessibilityLabel
  docs/pages/web/popover.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
  playwright/accessibility/Popover.spec.mjs
Labels: minor release

#2326 IconButton: new size default
  docs/examples/colors/alternativeColorTokensExample.js
  docs/examples/colors/appropriateColorTokensExample.js
  docs/examples/colors/distinctionExample.js
  docs/pages/visual-test/IconButton-dark.js
  docs/pages/visual-test/IconButton.js
  docs/pages/web/iconbutton.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-role-link-components/invalid/invalid-iconbutton.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-role-link-components/valid.js
  packages/gestalt-codemods/69.0.0/__testfixtures__/iconButton-defaut-size-change-renamed.input.js
  packages/gestalt-codemods/69.0.0/__testfixtures__/iconButton-defaut-size-change-renamed.output.js
  packages/gestalt-codemods/69.0.0/__testfixtures__/iconButton-defaut-size-change.input.js
  packages/gestalt-codemods/69.0.0/__testfixtures__/iconButton-defaut-size-change.output.js
  packages/gestalt-codemods/69.0.0/__tests__/iconButton-defaut-size-change.test.js
  packages/gestalt-codemods/69.0.0/iconButton-defaut-size-change.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
Labels: major release, blog-post

#2335 Docs: Added 8/26 weekly update
  docs/pages/roadmap/BlogPosts.json
Labels: patch release

#2331 Docs: Mobile docs added for Tabs
  docs/docs-components/siteIndex.js
  docs/graphics/index.js
  docs/markdown/android/tabs.md
  docs/markdown/ios/tabs.md
  playwright/accessibility/Tabs_Android.spec.mjs
  playwright/accessibility/Tabs_Web.spec.mjs
  playwright/accessibility/Tabs_iOS.spec.mjs
Labels: patch release, blog-post

#2338 Docs: Updated component_data to set Tabs docs ready for Android and iOS
  docs/docs-components/COMPONENT_DATA.js
Labels: patch release

#2342 Docs: fix broken examples
  docs/pages/web/link.js
  docs/pages/web/table.js
Labels: patch release

#2343 Docs: update favicon to Gestalt logo
  docs/pages/_document.js
  docs/public/gestalt_favicon.png
  docs/public/opensearch.xml
  docs/public/pinterest_favicon.png
Labels: patch release

#2340 Docs: Navigate to overview page with platform switcher
  docs/docs-components/buttons/SidebarPlatformSwitcher.js
Labels: patch release

#2327 Docs: Added button and sheet for iOS Android
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/ErrorBoundary.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/button.md
  docs/markdown/android/sheet.md
  docs/markdown/ios/button.md
  docs/markdown/ios/sheet.md
  docs/pages/[...id].js
  playwright/accessibility/Button_Android.spec.mjs
  playwright/accessibility/Button_Web.spec.mjs
  playwright/accessibility/Button_iOS.spec.mjs
  playwright/accessibility/Sheet_Android.spec.mjs
  playwright/accessibility/Sheet_Web.spec.mjs
  playwright/accessibility/Sheet_iOS.spec.mjs
  scripts/validateAccessibilitySpecs.js
Labels: patch release

#2334 Docs: Add iOS & Android text field
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/textfield.md
  docs/markdown/ios/textfield.md
  playwright/accessibility/TextField_Android.spec.mjs
  playwright/accessibility/TextField_Web.spec.mjs
  playwright/accessibility/TextField_iOS.spec.mjs
Labels: patch release

#2333 Docs: Add Android & iOS Icon Page
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/icon.md
  docs/markdown/ios/icon.md
  playwright/accessibility/Icon_Android.spec.mjs
  playwright/accessibility/Icon_Web.spec.mjs
  playwright/accessibility/Icon_iOS.spec.mjs
Labels: patch release

#2337 Textfield, Numberfield: new enterKeyHint prop
  docs/pages/web/numberfield.js
  docs/pages/web/textfield.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/NumberField.test.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField.test.js
  packages/gestalt/src/__snapshots__/NumberField.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
Labels: minor release

#2344 Docs: updated favicon with Gestalt logo variant for development environments
  docs/pages/_document.js
  docs/public/gestaltDev_favicon.png
Labels: patch release

#2345 Docs: add redirect from old domain to new one, now with splat!
  netlify.toml
Labels: patch release

#2346 Docs: fix broken examples
  docs/pages/web/link.js
  docs/pages/web/table.js
Labels: patch release

#2276 Masonry: add support for RTL text direction
  packages/gestalt/src/Masonry.js
Labels: major release, blog-post

#2339 Docs: implement a11y "Skip to content"
  docs/docs-components/AppLayout.js
  docs/docs-components/SkipToContent.js
  docs/docs-components/z-indices.js
Labels: minor release

#2347 Docs: Update example sizes in Modal and Sheet
  docs/pages/web/modal.js
  docs/pages/web/sheet.js
Labels: patch release
