Repository pinterest/gestalt, pull requests merged in 2022-09, with the labels that each got.

#2219 SelectList: Add support for `<optgroup>`, replace `items` prop with subcomponents
  docs/docs-components/DocsSideNavigation.js
  docs/examples/colors/soleIndicatorExample.js
  docs/examples/layouts/layoutsExample.js
  docs/examples/pageheader/centerAlignedExample.js
  docs/examples/pageheader/maxWidthExample.js
  docs/pages/visual-test/SelectList-dark.js
  docs/pages/visual-test/SelectList.js
  docs/pages/web/selectlist.js
  packages/gestalt-codemods/71.0.0/__testfixtures__/select-list-options-to-children-inline-renamed.input.js
  packages/gestalt-codemods/71.0.0/__testfixtures__/select-list-options-to-children-inline-renamed.output.js
  packages/gestalt-codemods/71.0.0/__testfixtures__/select-list-options-to-children-inline.input.js
  packages/gestalt-codemods/71.0.0/__testfixtures__/select-list-options-to-children-inline.output.js
  packages/gestalt-codemods/71.0.0/__testfixtures__/select-list-options-to-children-variable.input.js
  packages/gestalt-codemods/71.0.0/__testfixtures__/select-list-options-to-children-variable.output.js
  packages/gestalt-codemods/71.0.0/__tests__/select-list-options-to-children.test.js
  packages/gestalt-codemods/71.0.0/select-list-options-to-children.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/SelectList.jsdom.test.js
  packages/gestalt/src/SelectList.test.js
  packages/gestalt/src/SelectList/SelectListGroup.js
  packages/gestalt/src/SelectList/SelectListOption.js
  packages/gestalt/src/__snapshots__/SelectList.test.js.snap
Labels: major release, blog-post

#2353 Avatar: implement Sandpack code editors
  docs/examples/avatar/containerExample.js
  docs/examples/avatar/ideasExample.js
  docs/examples/avatar/mainExample.js
  docs/examples/avatar/nameExample.js
  docs/examples/avatar/noEmojiExample.js
  docs/examples/avatar/noImageSourceExample.js
  docs/examples/avatar/overExample.js
  docs/examples/avatar/personExample.js
  docs/examples/avatar/shapeExample.js
  docs/examples/avatar/sizingExample.js
  docs/examples/avatar/verifiedExample.js
  docs/pages/web/avatar.js
Labels: patch release

#2352 Docs: Updated roadmap for August
  docs/pages/roadmap/RoadmapData.json
Labels: patch release

#2351 Docs: Fix Flex wrapping in multiple pages
  docs/pages/foundations/messaging/available_components.js
  docs/pages/web/badge.js
  docs/pages/web/box.js
  docs/pages/web/checkbox.js
  docs/pages/web/image.js
  docs/pages/web/link.js
  docs/pages/web/radiogroup.js
  docs/pages/web/tabs.js
  docs/pages/web/taparea.js
Labels: patch release

#2355 Internal: add links to PR in Changelog on every release
  CHANGELOG.md
  scripts/releaseSteps.js
Labels: patch release

#2350 Docs: Update headings on home page
  docs/docs-components/siteIndex.js
  docs/pages/get_started/designers.js
  docs/pages/home.js
  playwright/accessibility/Designers.spec.mjs
Labels: patch release

#2354 Dropdown: support conditional children wrapped in Fragment
  docs/pages/web/dropdown.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Dropdown.jsdom.test.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
Labels: patch release

#2357 Dropdown: typos in Docs
  docs/pages/web/dropdown.js
Labels: patch release

#2356 Internal: suggest index.js pattern for exporting Sandpack examples
  docs/examples/avatar/container.js
  docs/examples/avatar/ideas.js
  docs/examples/avatar/index.js
  docs/examples/avatar/main.js
  docs/examples/avatar/name.js
  docs/examples/avatar/noEmoji.js
  docs/examples/avatar/noImageSource.js
  docs/examples/avatar/over.js
  docs/examples/avatar/person.js
  docs/examples/avatar/shape.js
  docs/examples/avatar/sizing.js
  docs/examples/avatar/verified.js
  docs/examples/sidenavigation/activeItem.js
  docs/examples/sidenavigation/badge.js
  docs/examples/sidenavigation/border.js
  docs/examples/sidenavigation/correctGrouping.js
  docs/examples/sidenavigation/correctHeading.js
  docs/examples/sidenavigation/correctIcon.js
  docs/examples/sidenavigation/correctLength.js
  docs/examples/sidenavigation/counter.js
  docs/examples/sidenavigation/customIcons.js
  docs/examples/sidenavigation/footer.js
  docs/examples/sidenavigation/header.js
  docs/examples/sidenavigation/icons.js
  docs/examples/sidenavigation/incorrectGrouping.js
  docs/examples/sidenavigation/incorrectHeading.js
  docs/examples/sidenavigation/incorrectIcon.js
  docs/examples/sidenavigation/incorrectLength.js
  docs/examples/sidenavigation/index.js
  docs/examples/sidenavigation/localization.js
  docs/examples/sidenavigation/main.js
  docs/examples/sidenavigation/mobile.js
  docs/examples/sidenavigation/nested.js
  docs/examples/sidenavigation/notifications.js
  docs/examples/sidenavigation/sections.js
  docs/pages/web/avatar.js
  docs/pages/web/sidenavigation.js
Labels: patch release

#2358 Revert "Internal: suggest index.js pattern for exporting Sandpack exa…
  docs/examples/avatar/containerExample.js
  docs/examples/avatar/ideasExample.js
  docs/examples/avatar/index.js
  docs/examples/avatar/mainExample.js
  docs/examples/avatar/nameExample.js
  docs/examples/avatar/noEmojiExample.js
  docs/examples/avatar/noImageSourceExample.js
  docs/examples/avatar/overExample.js
  docs/examples/avatar/personExample.js
  docs/examples/avatar/shapeExample.js
  docs/examples/avatar/sizingExample.js
  docs/examples/avatar/verifiedExample.js
  docs/examples/sidenavigation/activeItemExample.js
  docs/examples/sidenavigation/badgeExample.js
  docs/examples/sidenavigation/borderExample.js
  docs/examples/sidenavigation/correctGroupingExample.js
  docs/examples/sidenavigation/correctHeadingExample.js
  docs/examples/sidenavigation/correctIconExample.js
  docs/examples/sidenavigation/correctLengthExample.js
  docs/examples/sidenavigation/counterExample.js
  docs/examples/sidenavigation/customIconsExample.js
  docs/examples/sidenavigation/footerExample.js
  docs/examples/sidenavigation/headerExample.js
  docs/examples/sidenavigation/iconsExample.js
  docs/examples/sidenavigation/incorrectGroupingExample.js
  docs/examples/sidenavigation/incorrectHeadingExample.js
  docs/examples/sidenavigation/incorrectIconExample.js
  docs/examples/sidenavigation/incorrectLengthExample.js
  docs/examples/sidenavigation/index.js
  docs/examples/sidenavigation/localizationExample.js
  docs/examples/sidenavigation/mainExample.js
  docs/examples/sidenavigation/mobileExample.js
  docs/examples/sidenavigation/nestedExample.js
  docs/examples/sidenavigation/notificationsExample.js
  docs/examples/sidenavigation/sectionsExample.js
  docs/pages/web/avatar.js
  docs/pages/web/sidenavigation.js
Labels: patch release

#2360 Internal: Add preview link to changelog
  CHANGELOG.md
  scripts/releaseSteps.js
Labels: patch release

#2361 Docs: Refresh component status
  docs/docs-components/COMPONENT_DATA.js
  docs/pages/foundations/design_tokens.js
  docs/pages/web/datapoint.js
  docs/pages/web/dropdown.js
  docs/pages/web/sidenavigation.js
  docs/pages/web/status.js
Labels: patch release

#2362 Docs: add support for monthly eng newsletter + the Aug newsletter
  docs/pages/roadmap/BlogPosts.json
  docs/pages/roadmap/whats_new.js
Labels: patch release

#2363 Internal: tweak preview link
  scripts/releaseSteps.js
Labels: patch release

#2364 Docs: Add updates for week of Sept 2
  docs/pages/roadmap/BlogPosts.json
Labels: patch release

#2368 Docs: clean link urls to only use relative paths for Docs links
  docs/examples/sidenavigation/badgeExample.js
  docs/examples/sidenavigation/borderExample.js
  docs/examples/sidenavigation/headerExample.js
  docs/examples/sidenavigation/sectionsExample.js
  docs/markdown/android/avatar.md
  docs/markdown/android/icon.md
  docs/markdown/android/textfield.md
  docs/markdown/get_started/developers/development_process.md
  docs/markdown/ios/avatar.md
  docs/markdown/ios/icon.md
  docs/markdown/ios/textfield.md
  docs/markdown/testing/how-to.md
  docs/pages/foundations/color/examples.js
  docs/pages/foundations/elevation.js
  docs/pages/foundations/messaging/available_components.js
  docs/pages/get_started/developers/releases.js
  docs/pages/get_started/how_to_work_with_us.js
  docs/pages/web/combobox.js
  docs/pages/web/link.js
  docs/pages/web/pageheader.js
  docs/pages/web/tag.js
  docs/pages/web/textarea.js
  docs/pages/web/tooltip.js
Labels: patch release

#2365 ComboBox: implement Sandpack code editors
  docs/examples/combobox/controlled.js
  docs/examples/combobox/error.js
  docs/examples/combobox/labels.js
  docs/examples/combobox/localization.js
  docs/examples/combobox/main.js
  docs/examples/combobox/programmatic.js
  docs/examples/combobox/ref.js
  docs/examples/combobox/subtext.js
  docs/examples/combobox/tags.js
  docs/examples/combobox/uncontrolled.js
  docs/pages/web/combobox.js
Labels: patch release

#2359 AvatarGroup: implement Sandpack code editors
  docs/examples/avatarGroup/accessibility.js
  docs/examples/avatarGroup/ideas.js
  docs/examples/avatarGroup/main.js
  docs/examples/avatarGroup/noEmoji.js
  docs/examples/avatarGroup/noImageSource.js
  docs/examples/avatarGroup/person.js
  docs/examples/avatarGroup/roleButton.js
  docs/examples/avatarGroup/roleLink.js
  docs/examples/avatarGroup/sizing.js
  docs/pages/web/avatar.js
  docs/pages/web/avatargroup.js
Labels: patch release

#2367 Docs: added link references to Pinterest's Web platform documentation about Gestalt
  docs/markdown/get_started/developers/development_process.md
  docs/pages/get_started/faq.js
Labels: patch release

#2348 Docs: Clean up Roadmap and What's New page
  docs/docs-components/App.js
  docs/docs-components/AppLayout.js
  docs/docs-components/DocsSideNavigation.js
  docs/docs-components/Footer.js
  docs/docs-components/Header.js
  docs/docs-components/ResourcesFooter.js
  docs/docs-components/siteIndex.js
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
  docs/pages/home.js
  docs/pages/roadmap.js
  docs/pages/whats_new.js
  docs/redirects.js
  playwright/accessibility/Overview_Roadmap.spec.mjs
  playwright/accessibility/Roadmap.spec.mjs
  playwright/accessibility/What's New.spec.mjs
Labels: patch release

#2371 Internal: implement ua-parser-js to detect device type in docs site
  docs/pages/_app.js
  flow-typed/npm/test_ua-parser-js_vx.x.x.js
Labels: patch release

#2372 SideNavigation: conditional rendering improvements
  docs/docs-components/useGetSideNavItems.js
  docs/pages/web/sidenavigation.js
  packages/gestalt/src/SideNavigation.css
  packages/gestalt/src/SideNavigation.css.flow
  packages/gestalt/src/SideNavigationSection.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  packages/gestalt/src/getChildrenToArray.js
Labels: patch release

#2373 Tabs: clarify indicator usage in docs
  docs/pages/web/tabs.js
  packages/gestalt/src/Tabs.js
Labels: patch release

#2370 Docs: Add summary option for What's New page
  docs/pages/BlogPosts.json
  docs/pages/whats_new.js
Labels: patch release

#2376 Docs: fix broken links from recent Algolia crawl
  docs/docs-components/Header.js
  docs/markdown/testing/how-to.md
  docs/markdown/testing/icons-in-md.md
  docs/markdown/testing/redbox.md
  docs/markdown/testing/toaster.md
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
  docs/pages/foundations/color/palette.js
  docs/pages/get_started/developers/eslint_plugin.js
  docs/pages/get_started/developers/releases.js
  docs/pages/get_started/how_to_work_with_us.js
  docs/pages/web/box.js
  docs/pages/web/heading.js
  docs/pages/web/link.js
  docs/pages/web/pageheader.js
  docs/redirects.js
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Flex.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/ModuleTitle.js
  packages/gestalt/src/Pog.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationNestedItem.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/Upsell.js
  playwright/accessibility/Typography.spec.mjs
Labels: patch release

#2374 Docs: Added reference to the Gestalt handoff kit in the Design Getting Started page
  docs/pages/get_started/designers.js
Labels: patch release

#2378 Internal: remove markdown test files
  docs/markdown/testing/how-to.md
  docs/markdown/testing/icons-in-md.md
  docs/markdown/testing/map.md
  docs/markdown/testing/redbox.md
  docs/markdown/testing/toaster.md
Labels: patch release

#2379 Internal: fix more broken links
  docs/markdown/android/sheet.md
  docs/markdown/ios/sheet.md
  docs/pages/BlogPosts.json
  docs/pages/foundations/color/palette.js
  docs/pages/foundations/design_tokens.js
  docs/pages/web/box.js
  docs/pages/web/utilities/onlinknavigationprovider.js
  docs/redirects.js
Labels: patch release

#2380 Internal: upgrade Next.js to 12.3.0
  docs/package.json
  yarn.lock
Labels: dependencies, patch release

#2382 Internal: upgrade eslint to 8.23.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#2381 Docs: Visual fixes to the site header
  docs/docs-components/DocSearch.js
  docs/docs-components/Header.js
  docs/docs.css
  packages/gestalt/src/Divider.css
  packages/gestalt/src/SideNavigation.css
Labels: patch release

#2377 Docs: 9/9 weekly digest
  docs/pages/BlogPosts.json
Labels: patch release

#2383 Internal: use multiline comments to enable flow docs
  docs/docs-components/PageHeader.js
Labels: patch release

#2386 Avatar: fix Sandpack code editor view in Docs
  docs/examples/avatar/sizingExample.js
  docs/pages/web/avatar.js
Labels: patch release

#2384 Popover: Add support to handle content that overflows the viewport height
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
Labels: minor release

#2387 Box: implement Sandpack code editor examples
  docs/examples/box/absolute.js
  docs/examples/box/as.js
  docs/examples/box/autoMargins.js
  docs/examples/box/buildingBlock.js
  docs/examples/box/divs.js
  docs/examples/box/main.js
  docs/examples/box/notAllowed.js
  docs/examples/box/overflow.js
  docs/examples/box/padding.js
  docs/examples/box/ref.js
  docs/examples/box/responsive.js
  docs/examples/box/role.js
  docs/examples/box/rtl.js
  docs/examples/box/sizing.js
  docs/examples/box/visuallyHidden.js
  docs/examples/box/zIndex.js
  docs/pages/web/box.js
Labels: patch release

#2388 Flex: implement Sandpack code editor examples
  docs/examples/flex/flexBasis.js
  docs/examples/flex/flexItem.js
  docs/examples/flex/gap.js
  docs/examples/flex/main.js
  docs/examples/flex/menu.js
  docs/examples/flex/overflowing.js
  docs/pages/web/flex.js
Labels: patch release

#2389 Badge: Add recommendation type
  docs/pages/web/badge.js
  packages/gestalt/src/Badge.js
Labels: minor release

#2385 SlimBanner: Adjust layout in small viewports
  docs/examples/slimbanner/responsiveExample.js
  docs/pages/web/slimbanner.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/__snapshots__/SlimBanner.test.js.snap
Labels: patch release

#2393 SlimBanner: Fix alignment
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/__snapshots__/SlimBanner.test.js.snap
Labels: patch release

#2391 Checkbox: standardize helper/error message style with other form/control fields, renamed subtext, deprecated hasError
  docs/examples/modal/createBoardExample.js
  docs/pages/visual-test/Checkbox-dark.js
  docs/pages/visual-test/Checkbox.js
  docs/pages/visual-test/Fieldset-dark.js
  docs/pages/visual-test/Fieldset.js
  docs/pages/web/checkbox.js
  docs/pages/web/iconbutton.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Checkbox.test.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
Labels: major release, blog-post

#2394 Docs: 9-16 weekly digest
  docs/pages/BlogPosts.json
Labels: patch release

#2396 NumberField: add link to useful blog post
  docs/pages/web/numberfield.js
Labels: patch release

#2398 Docs: fix / to /home redirect to avoid invalid double render
  _redirects
  docs/redirects.js
Labels: patch release

#2397 Button: change iconEnd from `arrow-up-right` to `visit` icon in Docs
  docs/pages/web/button.js
Labels: patch release

#2399 ComboBox: add helperText variant in Docs
  docs/examples/combobox/helperText.js
  docs/pages/web/combobox.js
  packages/gestalt/src/ComboBox.js
Labels: patch release

#2400 Revert "Popover: Add support to handle content that overflows the viewport height"
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
Labels: bug, patch release

#2402 Docs: fix useReducedMotion example
  docs/pages/web/utilities/usereducedmotion.js
Labels: patch release

#2404 Internal: upgrade flow to 0.187.0
  .flowconfig
  package.json
  packages/gestalt/src/utils/matchMedia.js
  yarn.lock
Labels: dependencies, patch release

#2392 RadioGroupButton: standardize helper message style with other form/control fields, renamed subtext
  docs/pages/web/radiogroup.js
  packages/gestalt/src/RadioGroupButton.js
Labels: major release

#2406 Checkbox, RadioButton: Implementing a11y pause
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/FormErrorMessage.js
  packages/gestalt/src/FormHelperText.js
  packages/gestalt/src/RadioGroupButton.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
Labels: patch release

#2403 Checkbox, RadioButton, RadioGroupButton: start align input
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/RadioGroupButton.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
  packages/gestalt/src/__snapshots__/RadioGroup.test.js.snap
Labels: patch release

#2405 IconButton: implement Sandpack code editor examples
  docs/examples/iconbutton/aria.js
  docs/examples/iconbutton/customIcon.js
  docs/examples/iconbutton/gestaltIcon.js
  docs/examples/iconbutton/grouping.js
  docs/examples/iconbutton/highActions.js
  docs/examples/iconbutton/image.js
  docs/examples/iconbutton/keyboard.js
  docs/examples/iconbutton/lowActions.js
  docs/examples/iconbutton/main.js
  docs/examples/iconbutton/noGrouping.js
  docs/examples/iconbutton/roleButton.js
  docs/examples/iconbutton/roleLink.js
  docs/examples/iconbutton/selectedState.js
  docs/examples/iconbutton/tooltip.js
  docs/examples/iconbutton/tooltipVariant.js
  docs/pages/web/iconbutton.js
Labels: patch release

#2395 DatePicker: standardize error message style and internal cleanup
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DatePickerTextField.js
Labels: patch release

#2401 Eslint plugin: extend gestalt/button-icon-restrictions to cover role=link icon restrictions
  CHANGELOG.md
  docs/docs-components/siteIndex.js
  docs/examples/sidenavigation/sectionsExample.js
  docs/pages/get_started/developers/eslint_plugin.js
  docs/pages/get_started/developers/tooling/web.js
  docs/pages/web/button.js
  packages/eslint-plugin-gestalt/package.json
  packages/eslint-plugin-gestalt/src/__fixtures__/button-icon-restrictions/invalid/invalid-wrong-link-role-icon.js
  packages/eslint-plugin-gestalt/src/__fixtures__/button-icon-restrictions/valid/valid-size.js
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.js
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.test.js
  packages/eslint-plugin-gestalt/src/helpers/noBoxDangerousStyleDuplicatesReducer.js
  packages/eslint-plugin-gestalt/src/prefer-box-no-disallowed.js
  playwright/accessibility/Eslint Plugin.spec.mjs
Labels: minor release

#2409 Docs: add notes about types to FAQ
  docs/pages/get_started/faq.js
Labels: patch release

#2410 SelectList: Update labelVisbility example to show tooltip
  docs/pages/web/selectlist.js
Labels: patch release

#2412 Docs: remove IE11 section from FAQ
  docs/pages/get_started/faq.js
Labels: patch release

#2411 Docs: add button to copy Flow type
  docs/docs-components/GeneratedPropTable.js
  docs/docs-components/PropTable.js
  docs/pages/web/button.js
  docs/pages/web/dropdown.js
  docs/pages/web/iconbutton.js
  docs/pages/web/radiogroup.js
  docs/pages/web/sheet.js
  docs/pages/web/sidenavigation.js
  docs/pages/web/sticky.js
  docs/pages/web/tag.js
  docs/pages/web/taparea.js
Labels: patch release, blog-post

#2408 Textfield, TextArea: add maxLength prop
  docs/pages/web/textarea.js
  docs/pages/web/textfield.js
  packages/gestalt/src/FormHelperText.js
  packages/gestalt/src/FormHelperTextCounter.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextArea.jsdom.test.js
  packages/gestalt/src/TextArea.test.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/TextField.test.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/utils/testing/expectToThrow.js
Labels: minor release, blog-post

#2413 Docs: 9/23 update
  docs/pages/BlogPosts.json
Labels: patch release

#2415 Textfield: implemented spellcheck=false for type=password or email
  packages/gestalt/src/InternalTextField.js
Labels: patch release, blog-post

#2414 Button: Implement Sandpack code editor examples
  docs/examples/button/accessibilityDropdownExample.js
  docs/examples/button/buttonPopoverExample.js
  docs/examples/button/defaultStateExample.js
  docs/examples/button/disabledStateExample.js
  docs/examples/button/iconEndExample.js
  docs/examples/button/iconTooltipToExplainDo.js
  docs/examples/button/iconTooltipToExplainDont.js
  docs/examples/button/keepSimpleTextDo.js
  docs/examples/button/keepSimpleTextDont.js
  docs/examples/button/main.js
  docs/examples/button/placePrimaryButtonDo.js
  docs/examples/button/placePrimaryButtonDont.js
  docs/examples/button/relAndTargetExample.js
  docs/examples/button/roleButtonExample.js
  docs/examples/button/roleLinkExample.js
  docs/examples/button/selectedStateExample.js
  docs/examples/button/semiTransparentWhiteButtonExample.js
  docs/examples/button/showFullTextDo.js
  docs/examples/button/showFullTextDont.js
  docs/examples/button/whiteButtonExample.js
  docs/pages/web/button.js
Labels: patch release

#2416 CheckBox, RadioGroupButton: fix spacing in size='sm' with custom marginTop
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/RadioGroupButton.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
Labels: patch release

#2419 Button: Fix nits of PR 2414
  docs/examples/button/relAndTargetExample.js
  docs/pages/web/button.js
Labels: minor release

#2418 DeviceTypeProvider: new utility and documentation page
  docs/docs-components/AccessibilitySection.js
  docs/docs-components/AppLayout.js
  docs/docs-components/siteIndex.js
  docs/examples/devicetypeprovider/implementation.js
  docs/examples/sidenavigation/mobileExample.js
  docs/examples/sidenavigation/subcomponent.js
  docs/pages/_app.js
  docs/pages/web/sidenavigation.js
  docs/pages/web/utilities/devicetypeprovider.js
  docs/pages/web/utilities/onlinknavigationprovider.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationGroupContent.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/contexts/DeviceTypeProvider.js
Labels: major release

#2420 Docs: Roadmap updates for September
  docs/pages/RoadmapData.json
Labels: patch release

#2421 Checkbox: new best practice example re vertical alignment
  docs/pages/web/checkbox.js
Labels: patch release
