Repository pinterest/gestalt, pull requests merged in 2022-04, with the labels that each got.

#2036 I18nProvider: provide default strings, downgrade throwing errors to console
  packages/gestalt/src/contexts/I18nProvider.js
  packages/gestalt/src/contexts/I18nProvider.jsdom.test.js
Labels: patch release

#2038 Icon: add back to sidebar index
  docs/components/sidebarIndex.js
Labels: patch release

#2031 TextArea, TextField: Add support for readonly fields
  docs/pages/textarea.js
  docs/pages/textfield.js
  flow-typed/npm/prettier_v1.x.x.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextArea.test.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField.test.js
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
Labels: minor release

#2023 Borders: Update border color for multiple components
  docs/docs.css
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Borders.css.flow
  packages/gestalt/src/Checkbox.css
  packages/gestalt/src/Checkbox.css.flow
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/FormElement.css
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/RadioButton.css.flow
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Switch.js
  packages/gestalt/src/Table.css
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
  packages/gestalt/src/__snapshots__/Switch.test.js.snap
Labels: patch release

#2039 TextField: fix stale type value when passed dynamically
  packages/gestalt/src/TextField.js
Labels: patch release

#2041 Internal: increase Cypress timeout threshold
  cypress.json
Labels: patch release

#2043 Docs: Correct missing changelog items
  CHANGELOG.md
Labels: patch release

#2037 Box: Create elevation section
  docs/pages/box.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Borders.css
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: patch release

#2044 Box: Add new raised shadow options to borderStyle
  docs/components/Header.js
  docs/pages/box.js
  docs/pages/elevation.js
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Borders.css.flow
  packages/gestalt/src/Box.js
  packages/gestalt/src/Box.test.js
  packages/gestalt/src/__snapshots__/Box.test.js.snap
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/boxTypes.js
Labels: minor release

#2049 Text: Fix type issue
  packages/gestalt/src/textTypes.js
Labels: patch release

#2050 TextField: use device type in exp checks
  packages/gestalt/src/TextField.js
Labels: patch release

#2051 Internal: upgrade Flow to 0.175.1
  .flowconfig
  package.json
  yarn.lock
Labels: dependencies, patch release

#2046 Internal: Fix flow issue without .map() in Iconography and SVGs docs
  docs/pages/iconography_and_svgs.js
Labels: patch release

#2035 Docs: Roadmap updates for March
  docs/pages/RoadmapData.json
Labels: patch release

#2053 Updated README intro paragraph
  README.md
Labels: patch release

#2052 Popover: remove unused caret stroke style
  packages/gestalt/src/Contents.js
  packages/gestalt/src/__snapshots__/Controller.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
Labels: patch release

#2054 Avatar: adjustments in Avatar docs
  docs/pages/avatar.js
Labels: patch release

#2055 ScrollBoundaryContainer: rename ScrollBoundaryContainer files to correctly autogenerate docs (bug)
  docs/pages/scrollboundarycontainer.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Layer.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/ScrollBoundaryContainer.jsdom.test.js
  packages/gestalt/src/ScrollBoundaryContainerWithForwardRef.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/contexts/ScrollBoundaryContainerProvider.js
Labels: patch release

#2056 Image: update Docs to fix heading issues and other visual improvements (a11y bug)
  docs/pages/image.js
Labels: patch release

#2057 Pog, Toast, Tooltip, Upsell, Video: add visual diff testing and screenshot to description in VSCode (Flow extension)
  cypress/integration/visual-test/Pog-dark_spec.js
  cypress/integration/visual-test/Pog_spec.js
  cypress/integration/visual-test/Toast-dark_spec.js
  cypress/integration/visual-test/Toast_spec.js
  cypress/integration/visual-test/Tooltip-dark_spec.js
  cypress/integration/visual-test/Tooltip_spec.js
  cypress/integration/visual-test/Upsell-dark_spec.js
  cypress/integration/visual-test/Upsell_spec.js
  cypress/integration/visual-test/Video_spec.js
  cypress/integration/visual-test/__image_snapshots__/Pog #0.png
  cypress/integration/visual-test/__image_snapshots__/Pog-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Toast #0.png
  cypress/integration/visual-test/__image_snapshots__/Toast-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Tooltip #0.png
  cypress/integration/visual-test/__image_snapshots__/Tooltip-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Upsell #0.png
  cypress/integration/visual-test/__image_snapshots__/Upsell-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Video #0.png
  docs/pages/visual-test/Pog-dark.js
  docs/pages/visual-test/Pog.js
  docs/pages/visual-test/Tag.js
  docs/pages/visual-test/Toast-dark.js
  docs/pages/visual-test/Toast.js
  docs/pages/visual-test/Tooltip-dark.js
  docs/pages/visual-test/Tooltip.js
  docs/pages/visual-test/Upsell-dark.js
  docs/pages/visual-test/Upsell.js
  docs/pages/visual-test/Video.js
  packages/gestalt/src/Pog.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/Video.js
Labels: patch release

#2060 Button: Fix layout in docs
  docs/pages/button.js
Labels: patch release

#2058 Heading: Deprecate old color options, add new semantic colors
  docs/pages/heading.js
  packages/gestalt/src/Heading.js
  packages/gestalt/src/__snapshots__/Heading.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/textTypes.js
Labels: major release

#2062 Internal: add eslint-plugin-testing-library
  .eslintrc.json
  package.json
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/src/ActivationCard.jsdom.test.js
  packages/gestalt/src/AnimationController.jsdom.test.js
  packages/gestalt/src/Avatar.jsdom.test.js
  packages/gestalt/src/Button.jsdom.test.js
  packages/gestalt/src/Button.test.js
  packages/gestalt/src/Callout.jsdom.test.js
  packages/gestalt/src/Checkbox.jsdom.test.js
  packages/gestalt/src/Dropdown.jsdom.test.js
  packages/gestalt/src/DropdownItem.jsdom.test.js
  packages/gestalt/src/DropdownLink.jsdom.test.js
  packages/gestalt/src/IconButton.jsdom.test.js
  packages/gestalt/src/InternalLink.jsdom.test.js
  packages/gestalt/src/Layer.jsdom.test.js
  packages/gestalt/src/Link.jsdom.test.js
  packages/gestalt/src/Modal.jsdom.test.js
  packages/gestalt/src/ModuleExpandable.jsdom.test.js
  packages/gestalt/src/ModuleExpandableItem.jsdom.test.js
  packages/gestalt/src/NumberField.jsdom.test.js
  packages/gestalt/src/ScrollBoundaryContainer.jsdom.test.js
  packages/gestalt/src/ScrollBoundaryContainer.test.js
  packages/gestalt/src/SearchField.jsdom.test.js
  packages/gestalt/src/SegmentedControl.jsdom.test.js
  packages/gestalt/src/SelectList.jsdom.test.js
  packages/gestalt/src/SelectList.test.js
  packages/gestalt/src/Sheet.jsdom.test.js
  packages/gestalt/src/TableRowExpandable.jsdom.test.js
  packages/gestalt/src/TableSortableHeaderCell.jsdom.test.js
  packages/gestalt/src/Tabs.jsdom.test.js
  packages/gestalt/src/Tabs.test.js
  packages/gestalt/src/TapArea.jsdom.test.js
  packages/gestalt/src/TextArea.jsdom.test.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/Tooltip.jsdom.test.js
  packages/gestalt/src/Upsell.jsdom.test.js
  packages/gestalt/src/Video.jsdom.test.js
  packages/gestalt/src/VideoControls.jsdom.test.js
  packages/gestalt/src/VideoPlayhead.jsdom.test.js
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
  yarn.lock
Labels: dependencies, patch release

#2048 PageHeader: New Docs
  docs/components/Card.js
  docs/components/MainSection.js
  docs/components/Toc.js
  docs/pages/pageheader.js
  packages/gestalt/src/PageHeader.js
Labels: patch release

#2064 Datepicker: fix controlled state [bug]
  packages/gestalt-datepicker/src/DatePicker.js
Labels: patch release

#2066 PageHeader: Best practice update
  docs/pages/pageheader.js
Labels: patch release

#2069 Internal: Bump peer dependencies to support React 18
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
Labels: dependencies, patch release

#2070 Button: prop table fixes
  docs/pages/button.js
Labels: patch release

#2068 Docs: Add color examples page
  cypress/integration/accessibility_Color Examples_spec.js
  docs/components/sidebarIndex.js
  docs/graphics/color-examples/colorEase.svg
  docs/graphics/color-examples/consistency.svg
  docs/pages/color_examples.js
  docs/pages/color_usage.js
  packages/gestalt-design-tokens/tokens/color/alias.json
Labels: patch release

#2072 Icon: Add support for new semantic colors
  docs/components/CombinationNew.js
  docs/components/MainSectionCard.js
  docs/pages/icon.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/DatapointTrend.js
  packages/gestalt/src/Icon.js
  packages/gestalt/src/Status.js
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
  packages/gestalt/src/__snapshots__/DatapointTrend.test.js.snap
  packages/gestalt/src/__snapshots__/Status.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: minor release

#2078 Internal: upgrade testing-library/hooks to 8.0.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#2076 Datepicker: fix useEffect side effect
  packages/gestalt-datepicker/src/DatePicker.js
Labels: patch release

#2075 Icon: Updated handle icon
  packages/gestalt/src/icons/handle.svg
Labels: patch release

#2074 Docs: Tooltip / IconButton usage guidance
  docs/pages/tooltip.js
  packages/gestalt/src/Tooltip.js
Labels: patch release

#2079 Docs: Update palette info
  docs/pages/color_palette.js
Labels: patch release

#2047 Font weight: implement experiment to change font weight from bold to semibold
  packages/gestalt-design-tokens/tokens/font/base.json
  packages/gestalt/src/AvatarFoundation.js
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.css.flow
  packages/gestalt/src/Badge.js
  packages/gestalt/src/Heading.css
  packages/gestalt/src/Heading.css.flow
  packages/gestalt/src/Heading.js
  packages/gestalt/src/Text.js
  packages/gestalt/src/Typography.css
  packages/gestalt/src/Typography.css.flow
  packages/gestalt/src/useInExperiment.js
Labels: minor release

#2077 ActivationCard: Apply new elevation token for dark mode
  cypress/integration/visual-test/__image_snapshots__/ActivationCard-dark #0.png
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
Labels: patch release

#2081 Icon: Add brandPrimary color option
  docs/pages/icon.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/Icon.js
Labels: minor release

#2073 Link: design changes (part I: inline/underline)
  cypress/integration/visual-test/__image_snapshots__/Link #0.png
  cypress/integration/visual-test/__image_snapshots__/Link-dark #0.png
  docs/components/Toc.js
  docs/pages/link.js
  docs/pages/toast.js
  docs/pages/tooling.js
  docs/pages/visual-test/Link-dark.js
  docs/pages/visual-test/Link.js
  packages/gestalt-codemods/51.0.0/__testfixtures__/link-add-underline-hover.input.js
  packages/gestalt-codemods/51.0.0/__testfixtures__/link-add-underline-hover.output.js
  packages/gestalt-codemods/51.0.0/__tests__/link-add-underline-hover.test.js
  packages/gestalt-codemods/51.0.0/link-add-underline-hover.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.css
  packages/gestalt/src/Link.css.flow
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link.test.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/PageHeaderComponents.js
  packages/gestalt/src/Toast.test.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: major release

#2063 Video: handle HTMLMediaElement.play() Promise rejection and autoplay blocking, and API improvements
  docs/pages/video.js
  docs/pages/visual-test/Video.js
  packages/gestalt/src/Video.flowtest.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/Video.jsdom.test.js
  packages/gestalt/src/Video.test.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  scripts/setupJest.js
Labels: major release

#2086 Video: fix on Flow type
  docs/pages/video.js
  packages/gestalt/src/Video.js
Labels: patch release

#2083 TextField & TextArea: Added labelDisplay prop
  docs/pages/searchfield.js
  docs/pages/textarea.js
  docs/pages/textfield.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextField.js
Labels: minor release

#2089 TextArea: Added default value to labelDisplay prop
  packages/gestalt/src/TextArea.js
Labels: patch release

#2088 TextArea: design guidelines
  docs/pages/textarea.js
  docs/pages/textfield.js
  packages/gestalt/src/TextArea.js
Labels: patch release

#2084 Masonry: Fix hydration for server rendered flexible grids
  packages/gestalt/src/Masonry.js
Labels: minor release

#2094 Docs: Typo fixes and link shortening
  docs/pages/about_us.js
  docs/pages/accessibility.js
  docs/pages/how_to_work_with_us.js
Labels: patch release

#2093 Docs: Updated roadmap for April
  docs/pages/RoadmapData.json
Labels: patch release

#2090 Checkbox: Added labelDisplay prop
  docs/pages/checkbox.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
Labels: minor release

#2095 Tooling: url fix
  docs/pages/tooling.js
Labels: patch release
