Repository pinterest/gestalt, pull requests merged in 2022-07, with the labels that each got.

#2179 SlimBanner: Add ability for an action and dismiss button
  docs/pages/slimbanner.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/__snapshots__/SlimBanner.test.js.snap
  playwright/visual-test/ActivationCard-dark.spec.mjs-snapshots/ActivationCard-dark-chromium-darwin.png
  playwright/visual-test/ActivationCard.spec.mjs-snapshots/ActivationCard-chromium-darwin.png
  playwright/visual-test/Badge-dark.spec.mjs-snapshots/Badge-dark-chromium-darwin.png
  playwright/visual-test/Badge.spec.mjs-snapshots/Badge-chromium-darwin.png
  playwright/visual-test/Button-dark.spec.mjs-snapshots/Button-dark-chromium-darwin.png
  playwright/visual-test/Button.spec.mjs-snapshots/Button-chromium-darwin.png
  playwright/visual-test/ButtonGroup-dark.spec.mjs-snapshots/ButtonGroup-dark-chromium-darwin.png
  playwright/visual-test/ButtonGroup.spec.mjs-snapshots/ButtonGroup-chromium-darwin.png
  playwright/visual-test/Callout-dark.spec.mjs-snapshots/Callout-dark-chromium-darwin.png
  playwright/visual-test/Callout.spec.mjs-snapshots/Callout-chromium-darwin.png
  playwright/visual-test/Datapoint-dark.spec.mjs-snapshots/Datapoint-dark-chromium-darwin.png
  playwright/visual-test/Datapoint.spec.mjs-snapshots/Datapoint-chromium-darwin.png
  playwright/visual-test/Dropdown-open-dark.spec.mjs-snapshots/Dropdown-open-dark-chromium-darwin.png
  playwright/visual-test/Dropdown-open.spec.mjs-snapshots/Dropdown-open-chromium-darwin.png
  playwright/visual-test/Heading-dark.spec.mjs-snapshots/Heading-dark-chromium-darwin.png
  playwright/visual-test/Heading.spec.mjs-snapshots/Heading-chromium-darwin.png
  playwright/visual-test/Link-dark.spec.mjs-snapshots/Link-dark-chromium-darwin.png
  playwright/visual-test/Link.spec.mjs-snapshots/Link-chromium-darwin.png
  playwright/visual-test/Module-dark.spec.mjs-snapshots/Module-dark-chromium-darwin.png
  playwright/visual-test/Module.spec.mjs-snapshots/Module-chromium-darwin.png
  playwright/visual-test/PageHeader-borderStyle-dark.spec.mjs-snapshots/PageHeader-borderStyle-dark-chromium-darwin.png
  playwright/visual-test/PageHeader-borderStyle.spec.mjs-snapshots/PageHeader-borderStyle-chromium-darwin.png
  playwright/visual-test/PageHeader-items-secondaryAction.spec.mjs-snapshots/PageHeader-items-secondaryAction-lg-chromium-darwin.png
  playwright/visual-test/PageHeader-items-secondaryAction.spec.mjs-snapshots/PageHeader-items-secondaryAction-md-chromium-darwin.png
  playwright/visual-test/PageHeader-items-secondaryAction.spec.mjs-snapshots/PageHeader-items-secondaryAction-sm-chromium-darwin.png
  playwright/visual-test/PageHeader-items-secondaryAction.spec.mjs-snapshots/PageHeader-items-secondaryAction-xs-chromium-darwin.png
  playwright/visual-test/PageHeader-maxWidth.spec.mjs-snapshots/PageHeader-maxWidth-chromium-darwin.png
  playwright/visual-test/PageHeader-primaryAction.spec.mjs-snapshots/PageHeader-primaryAction-lg-chromium-darwin.png
  playwright/visual-test/PageHeader-primaryAction.spec.mjs-snapshots/PageHeader-primaryAction-md-chromium-darwin.png
  playwright/visual-test/PageHeader-primaryAction.spec.mjs-snapshots/PageHeader-primaryAction-sm-chromium-darwin.png
  playwright/visual-test/PageHeader-primaryAction.spec.mjs-snapshots/PageHeader-primaryAction-xs-chromium-darwin.png
  playwright/visual-test/PageHeader-primaryActionLink.spec.mjs-snapshots/PageHeader-primaryActionLink-lg-chromium-darwin.png
  playwright/visual-test/PageHeader-primaryActionLink.spec.mjs-snapshots/PageHeader-primaryActionLink-md-chromium-darwin.png
  playwright/visual-test/PageHeader-primaryActionLink.spec.mjs-snapshots/PageHeader-primaryActionLink-sm-chromium-darwin.png
  playwright/visual-test/PageHeader-primaryActionLink.spec.mjs-snapshots/PageHeader-primaryActionLink-xs-chromium-darwin.png
  playwright/visual-test/PageHeader-secondaryAction.spec.mjs-snapshots/PageHeader-secondaryAction-lg-chromium-darwin.png
  playwright/visual-test/PageHeader-secondaryAction.spec.mjs-snapshots/PageHeader-secondaryAction-md-chromium-darwin.png
  playwright/visual-test/PageHeader-secondaryAction.spec.mjs-snapshots/PageHeader-secondaryAction-sm-chromium-darwin.png
  playwright/visual-test/PageHeader-secondaryAction.spec.mjs-snapshots/PageHeader-secondaryAction-xs-chromium-darwin.png
  playwright/visual-test/PageHeader-subtext-primaryAction.spec.mjs-snapshots/PageHeader-subtext-primaryAction-lg-chromium-darwin.png
  playwright/visual-test/PageHeader-subtext-primaryAction.spec.mjs-snapshots/PageHeader-subtext-primaryAction-md-chromium-darwin.png
  playwright/visual-test/PageHeader-subtext-primaryAction.spec.mjs-snapshots/PageHeader-subtext-primaryAction-sm-chromium-darwin.png
  playwright/visual-test/PageHeader-subtext-primaryAction.spec.mjs-snapshots/PageHeader-subtext-primaryAction-xs-chromium-darwin.png
  playwright/visual-test/PageHeader-thumbnail-badge-iconButton.spec.mjs-snapshots/PageHeader-thumbnail-badge-iconButton-lg-chromium-darwin.png
  playwright/visual-test/PageHeader-thumbnail-badge-iconButton.spec.mjs-snapshots/PageHeader-thumbnail-badge-iconButton-md-chromium-darwin.png
  playwright/visual-test/PageHeader-thumbnail-badge-iconButton.spec.mjs-snapshots/PageHeader-thumbnail-badge-iconButton-sm-chromium-darwin.png
  playwright/visual-test/PageHeader-thumbnail-badge-iconButton.spec.mjs-snapshots/PageHeader-thumbnail-badge-iconButton-xs-chromium-darwin.png
  playwright/visual-test/PageHeader-thumbnail-iconButton.spec.mjs-snapshots/PPageHeader-thumbnail-iconButton-chromium-darwin.png
  playwright/visual-test/SelectList-dark.spec.mjs-snapshots/SelectList-dark-chromium-darwin.png
  playwright/visual-test/SelectList.spec.mjs-snapshots/SelectList-chromium-darwin.png
  playwright/visual-test/Status-dark.spec.mjs-snapshots/Status-dark-chromium-darwin.png
  playwright/visual-test/Status.spec.mjs-snapshots/Status-chromium-darwin.png
  playwright/visual-test/Table.spec.mjs-snapshots/Table-chromium-darwin.png
  playwright/visual-test/Text-dark.spec.mjs-snapshots/Text-dark-chromium-darwin.png
  playwright/visual-test/Text.spec.mjs-snapshots/Text-chromium-darwin.png
Labels: minor release, blog-post

#2183 Table: update sortable header cell behavior
  docs/components/COMPONENT_DATA.js
  packages/gestalt/src/TableSortableHeaderCell.js
Labels: patch release

#2186 Docs: Blog update for 7/01
  docs/pages/BlogPosts.json
  docs/pages/module.js
Labels: patch release

#2188 Table: fix sortable header cell args bug
  packages/gestalt/src/TableSortableHeaderCell.js
Labels: patch release

#2178 Toast: Update styling to ensure proper background color
  docs/pages/box.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Box.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/Toast.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/boxTransforms.js
  playwright/visual-test/Toast-dark.spec.mjs-snapshots/Toast-dark-chromium-darwin.png
  playwright/visual-test/Toast-dark.spec.mjs-snapshots/Toast-dark-chromium-linux.png
  playwright/visual-test/Toast.spec.mjs-snapshots/Toast-chromium-darwin.png
Labels: patch release

#2175 Masonry: remove boolean flexible prop (Breaking change)
  .eslintrc.json
  docs/pages/masonry.js
  packages/gestalt-codemods/59.0.0/masonry-update-flexible-prop.js
  packages/gestalt-codemods/59.0.0/masonry-update-flexible-prop.test.js
  packages/gestalt/src/Masonry.js
Labels: major release

#2184 Masonry: remove deprecated layouts
  docs/pages/masonry.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/index.js
  packages/gestalt/src/layouts/MasonryLayout.js
  packages/gestalt/src/layouts/UniformRowLayout.js
  packages/gestalt/src/legacyLayoutSymbols.js
Labels: major release

#2189 Docs: Show code for top example and Do's
  docs/components/ExampleCode.js
  docs/components/MainSectionCard.js
  docs/components/PageHeader.js
  docs/components/PageHeaderQualitySummary.js
  docs/components/QualityChecklist.js
  docs/pages/activationcard.js
  docs/pages/avatargroup.js
  docs/pages/badge.js
  docs/pages/button.js
  docs/pages/callout.js
  docs/pages/datepicker.js
  docs/pages/dropdown.js
  docs/pages/fieldset.js
  docs/pages/link.js
  docs/pages/modal.js
  docs/pages/pog.js
  docs/pages/pulsar.js
  docs/pages/radiogroup.js
  docs/pages/selectlist.js
  docs/pages/sheet.js
  docs/pages/switch.js
  docs/pages/tabs.js
  docs/pages/textarea.js
  docs/pages/toast.js
  docs/pages/tooltip.js
  docs/pages/upsell.js
Labels: patch release

#2190 SlimBanner: New recommendation variant
  docs/pages/icon.js
  docs/pages/slimbanner.js
  docs/pages/visual-test/SlimBanner-dark.js
  docs/pages/visual-test/SlimBanner.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Box.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/Icon.js
  packages/gestalt/src/MESSAGING_TYPE_ATTRIBUTES.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/__snapshots__/SlimBanner.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  playwright/visual-test/SlimBanner-dark.spec.mjs-snapshots/SlimBanner-dark-chromium-darwin.png
  playwright/visual-test/SlimBanner-dark.spec.mjs-snapshots/SlimBanner-dark-chromium-linux.png
  playwright/visual-test/SlimBanner.spec.mjs-snapshots/SlimBanner-chromium-darwin.png
  playwright/visual-test/SlimBanner.spec.mjs-snapshots/SlimBanner-chromium-linux.png
Labels: minor release, blog-post

#2193 Docs: Blog posts for week of 07/08
  docs/pages/BlogPosts.json
Labels: patch release

#2194 Docs: New top navigation
  docs/components/DocSearch.js
  docs/components/Header.js
  docs/docs.css
Labels: minor release, blog-post

#2185 SideNavigation: new component (V1)
  .github/workflows/playwright.yml
  docs/components/buttons/SidebarCategorizationButton.js
  docs/components/sidebarIndex.js
  docs/pages/sidenavigation.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/SideNavigation.css
  packages/gestalt/src/SideNavigation.css.flow
  packages/gestalt/src/SideNavigation.flowtest.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigation.test.js
  packages/gestalt/src/SideNavigationItem.js
  packages/gestalt/src/SideNavigationSection.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  packages/gestalt/src/ariaTypes.js
  packages/gestalt/src/index.js
  playwright/accessibility/SideNavigation.spec.mjs
  playwright/visual-test/SideNavigation-dark.spec.mjs
  playwright/visual-test/SideNavigation-dark.spec.mjs-snapshots/SideNavigation-dark-chromium-darwin.png
  playwright/visual-test/SideNavigation-dark.spec.mjs-snapshots/SideNavigation-dark-chromium-linux.png
  playwright/visual-test/SideNavigation-light.spec.mjs
  playwright/visual-test/SideNavigation-light.spec.mjs-snapshots/SideNavigation-light-chromium-darwin.png
  playwright/visual-test/SideNavigation-light.spec.mjs-snapshots/SideNavigation-light-chromium-linux.png
  scripts/generateMetadata.js
Labels: minor release, blog-post

#2196 Docs: Header tweak
  docs/components/Header.js
Labels: patch release

#2197 Masonry: Fix internal only flow issues
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/defaultLayout.js
  packages/gestalt/src/fullWidthLayout.js
Labels: patch release

#2198 Docs: Implement SideNavigation
  .github/workflows/playwright.yml
  docs/components/Navigation.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  playwright/visual-test/SideNavigation-dark.spec.mjs
  playwright/visual-test/SideNavigation-light.spec.mjs
Labels: minor release, blog-post

#2195 Video: Updated support for captions
  docs/pages/video.js
  packages/gestalt/src/Icon.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/VideoPlayhead.js
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
  packages/gestalt/src/__snapshots__/VideoPlayhead.test.js.snap
  packages/gestalt/src/icons/captions.svg
  packages/gestalt/src/icons/index.js
  playwright/visual-test/Icon-list-dark.spec.mjs
  playwright/visual-test/Icon-list-dark.spec.mjs-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list-dark.spec.mjs-snapshots/Icon-list-dark-chromium-linux.png
  playwright/visual-test/Icon-list.spec.mjs
  playwright/visual-test/Icon-list.spec.mjs-snapshots/Icon-list-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.mjs-snapshots/Icon-list-chromium-linux.png
  playwright/visual-test/Video.spec.mjs-snapshots/Video-chromium-darwin.png
Labels: patch release

#2200 SideNavigation: V2
  docs/components/Navigation.js
  docs/components/sidebarIndex.js
  docs/pages/design.js
  docs/pages/home.js
  docs/pages/sidenavigation.js
  package.json
  packages/gestalt/src/SideNavigation.css
  packages/gestalt/src/SideNavigation.css.flow
  packages/gestalt/src/SideNavigation.flowtest.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigation.test.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationNestedGroup.js
  packages/gestalt/src/SideNavigationNestedItem.js
  packages/gestalt/src/SideNavigationSection.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  packages/gestalt/src/contexts/NestingProvider.js
  packages/gestalt/src/contexts/SideNavigationProvider.js
  packages/gestalt/src/useGetChildrenToArray.js
Labels: major release

#2202 Link: design guidance copy updates
  docs/pages/link.js
Labels: patch release

#2204 Revert "7/15 what's new update"
  docs/pages/BlogPosts.json
Labels: patch release

#2205 Docs: Fix typos
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Video.js
Labels: patch release

#2206 Docs: 7-15 update
  docs/pages/BlogPosts.json
Labels: patch release

#2207 Internal: remove unused greenkeeper references
  greenkeeper.json
  package.json
Labels: patch release

#2209 SideNavigation: implement guidelines
  docs/components/AppLayout.js
  docs/components/Navigation.js
  docs/components/PropTable.js
  docs/pages/sidenavigation.js
  packages/gestalt/src/SideNavigation.css
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationNestedGroup.js
  packages/gestalt/src/SideNavigationNestedItem.js
  packages/gestalt/src/SideNavigationSection.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
Labels: patch release

#2211 SideNavigation: quick fix docs
  docs/pages/sidenavigation.js
Labels: patch release

#2210 Docs: Iconography guidelines
  docs/components/sidebarIndex.js
  docs/graphics/iconography/accessible.svg
  docs/graphics/iconography/creditCards.svg
  docs/graphics/iconography/intentional.svg
  docs/graphics/iconography/layout.svg
  docs/graphics/iconography/obvious.svg
  docs/graphics/iconography/outlinedPincode.svg
  docs/graphics/iconography/reactionLove.svg
  docs/pages/iconography.js
  packages/gestalt/src/icons/home.svg
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/pincode.svg
  playwright/accessibility/Iconography.spec.mjs
Labels: patch release

#2216 Docs: What's new 7-22 update
  docs/pages/BlogPosts.json
Labels: patch release

#2220 Table.Header: add 'display' prop
  docs/components/PropTable.js
  docs/components/QualityChecklist.js
  packages/gestalt/src/TableHeader.js
Labels: minor release

#2215 Docs: Tweaks and fixes to Iconography guidelines
  docs/pages/iconography.js
Labels: patch release

#2224 Docs: replace instances of old domain
  docs/pages/color_examples.js
  docs/pages/link.js
  docs/pages/pageheader.js
  packages/gestalt/src/PageHeader.js
  rfcs/README.md
Labels: patch release

#2223 Internal: upgrade flow-bin to 0.183.0
  .flowconfig
  docs/pages/design_tokens.js
  package.json
  yarn.lock
Labels: dependencies, patch release

#1981 Docs: Add ability to write Markdown/MDX docs pages
  .prettierignore
  docs/components/LockIcon.js
  docs/components/MainSectionCard.js
  docs/components/MainSectionSubsection.js
  docs/components/MarkdownPage.js
  docs/components/Page.js
  docs/components/PageHeader.js
  docs/components/highlight.js
  docs/docs.css
  docs/markdown/testing/develop.md
  docs/markdown/testing/how-to.md
  docs/markdown/testing/icons-in-md.md
  docs/markdown/testing/map.md
  docs/markdown/testing/redbox.md
  docs/markdown/testing/toaster.md
  docs/next.config.js
  docs/package.json
  docs/pages/[id].js
  docs/utils/gAnalytics.js
  docs/utils/mdHelper.js
  flow-typed/npm/@mdx-js/react_vx.x.x.js
  flow-typed/npm/gray_matter_vx.x.x.js
  flow-typed/npm/next-mdx-remote_vx.x.x.js
  flow-typed/npm/remark-breaks_vx.x.x.js
  flow-typed/npm/remark-gfm_vx.x.x.js
Labels: minor release

#2217 SideNavigation: V3 (mobile)
  docs/components/AppLayout.js
  docs/components/DocsSideNavigation.js
  docs/components/Header.js
  docs/components/contexts/DocsDeviceTypeProvider.js
  docs/pages/_app.js
  docs/pages/sidenavigation.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationGroupContent.js
  packages/gestalt/src/SideNavigationGroupMobile.js
  packages/gestalt/src/SideNavigationMobile.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  packages/gestalt/src/contexts/DeviceTypeProvider.js
  packages/gestalt/src/contexts/SideNavigationProvider.js
Labels: minor release

#2221 Docs: Introduce Sandpack for code examples
  docs/components/AppLayout.js
  docs/components/CombinationNew.js
  docs/components/MainSectionCard.js
  docs/components/Page.js
  docs/components/PageHeader.js
  docs/components/SandpackExample.js
  docs/components/buttons/OpenInCodeSandboxButton.js
  docs/components/buttons/ShowHideEditorButton.js
  docs/docs.css
  docs/examples/modal/accessibilityExample.js
  docs/examples/modal/createBoardExample.js
  docs/examples/modal/defaultExample.js
  docs/examples/modal/limitActionsExample.js
  docs/examples/modal/preventCloseExample.js
  docs/examples/modal/roleAlertDialogExample.js
  docs/examples/modal/sizesExample.js
  docs/examples/modal/userResponseExample.js
  docs/examples/pageheader/centerAlignedExample.js
  docs/examples/pageheader/complimentaryItemsExample.js
  docs/examples/pageheader/defaultExample.js
  docs/examples/pageheader/dontOverloadExample.js
  docs/examples/pageheader/includeImageExample.js
  docs/examples/pageheader/includeProfilePictureExample.js
  docs/examples/pageheader/localizationExample.js
  docs/examples/pageheader/maxWidthExample.js
  docs/examples/pageheader/minimumButtonsExample.js
  docs/examples/pageheader/multiplePrimaryActionsExample.js
  docs/examples/pageheader/onePrimaryActionExample.js
  docs/examples/pageheader/primaryActionExample.js
  docs/examples/pageheader/secondaryActionExample.js
  docs/examples/pageheader/subtextExample.js
  docs/examples/pageheader/titleExample.js
  docs/examples/sheet/animationExample.js
  docs/examples/sheet/defaultExample.js
  docs/examples/sheet/footerExample.js
  docs/examples/sheet/preventClosingExample.js
  docs/examples/sheet/quickEditsExample.js
  docs/examples/sheet/sizesExample.js
  docs/examples/sheet/subHeadingExample.js
  docs/next.config.js
  docs/pages/_document.js
  docs/pages/modal.js
  docs/pages/pageheader.js
  docs/pages/sheet.js
  docs/removeFlowTypesLoader.js
  flow-typed/npm/@codesandbox/sandpack-react_vx.x.x.js
  flow-typed/npm/flow-remove-types_vx.x.x.js
  flow-typed/npm/loader-utils_vx.x.x.js
  package.json
  packages/gestalt/src/PageHeaderComponents.js
  playwright/accessibility/expectAccessiblePage.mjs
  yarn.lock
Labels: minor release

#2230 Docs: fix heading scroll position
  docs/components/Card.js
Labels: patch release
