Repository pinterest/gestalt, pull requests merged in 2022-05, with the labels that each got.

#2096 Box, Column, Container, Flex, Table: add visual diff testing and screenshot to description in VSCode (Flow extension)
  cypress/integration/visual-test/Box-dark_spec.js
  cypress/integration/visual-test/Box_spec.js
  cypress/integration/visual-test/Column_spec.js
  cypress/integration/visual-test/Container_spec.js
  cypress/integration/visual-test/Flex_spec.js
  cypress/integration/visual-test/Table_spec.js
  cypress/integration/visual-test/__image_snapshots__/Box #0.png
  cypress/integration/visual-test/__image_snapshots__/Box-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Column #0.png
  cypress/integration/visual-test/__image_snapshots__/Container #0.png
  cypress/integration/visual-test/__image_snapshots__/Flex #0.png
  cypress/integration/visual-test/__image_snapshots__/Table #0.png
  docs/pages/visual-test/Box-dark.js
  docs/pages/visual-test/Box.js
  docs/pages/visual-test/Column.js
  docs/pages/visual-test/Container.js
  docs/pages/visual-test/Flex.js
  docs/pages/visual-test/Table.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/Column.js
  packages/gestalt/src/Container.js
  packages/gestalt/src/Flex.js
  packages/gestalt/src/Table.js
Labels: minor release

#2092 Link: design changes (part II externalLinkIcon)
  CHANGELOG.md
  cypress/integration/visual-test/__image_snapshots__/Icon-list #0.png
  cypress/integration/visual-test/__image_snapshots__/Icon-list-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Link #0.png
  cypress/integration/visual-test/__image_snapshots__/Link-dark #0.png
  docs/pages/link.js
  docs/pages/visual-test/Link-dark.js
  docs/pages/visual-test/Link.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link.test.js
  packages/gestalt/src/__snapshots__/Link.test.js.snap
  packages/gestalt/src/icons/visit.svg
Labels: minor release

#2097 DatePicker: add `name` prop
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DatePickerTextField.js
  packages/gestalt/src/Sheet.js
Labels: minor release

#2098 Internal: upgrade Jest to v28
  package.json
  yarn.lock
Labels: dependencies, patch release

#2100 Avatar: Add data test id for testing
  packages/gestalt/src/Avatar.js
  packages/gestalt/src/__snapshots__/Avatar.test.js.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/AvatarPair.test.js.snap
Labels: patch release

#2101 Tabs: quick prop-table update
  packages/gestalt/src/Tabs.js
Labels: patch release

#2102 Link: remove `role` and `accessibilitySelected` props
  docs/pages/link.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link.test.js
  packages/gestalt/src/__snapshots__/Link.test.js.snap
Labels: major release

#2103 Icon: update gmail icon design
  cypress/integration/visual-test/__image_snapshots__/Icon-list #0.png
  cypress/integration/visual-test/__image_snapshots__/Icon-list-dark #0.png
  packages/gestalt/src/icons/gmail.svg
Labels: minor release

#2109 Icon: Add info color option
  docs/pages/icon.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/Icon.js
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: minor release

#2105 Tooltip: minor refactor
  docs/pages/scrollboundarycontainer.js
  packages/gestalt/src/Contents.js
  packages/gestalt/src/__snapshots__/Controller.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
Labels: patch release

#2111 Badge, Link: updated snapshots
  cypress/integration/visual-test/__image_snapshots__/Badge #0.png
  cypress/integration/visual-test/__image_snapshots__/Badge-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Link-dark #0.png
  docs/pages/visual-test/Badge-dark.js
  docs/pages/visual-test/Badge.js
  docs/pages/visual-test/Link-dark.js
Labels: patch release

#2112 Docs: Update Open Forum details
  docs/pages/how_to_work_with_us.js
Labels: patch release

#2113 TextField: add bday to autocomplete
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/TextField.js
Labels: minor release

#2117 ComboBox: add zIndex prop
  packages/gestalt/src/ComboBox.js
Labels: minor release

#2115 Datapoint: add prop to set z-index on integrated tooltip
  packages/gestalt/src/Datapoint.js
Labels: patch release

#2118 Icons: Update heart-outline svg
  packages/gestalt/src/icons/heart-outline.svg
Labels: patch release

#2108 SlimBanner, Callout: new SlimBanner component, fix darkMode Callout
  cypress/integration/accessibility_SlimBanner_spec.js
  cypress/integration/visual-test/SlimBanner-dark_spec.js
  cypress/integration/visual-test/SlimBanner_spec.js
  cypress/integration/visual-test/__image_snapshots__/Callout #0.png
  cypress/integration/visual-test/__image_snapshots__/Callout-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/SlimBanner #0.png
  cypress/integration/visual-test/__image_snapshots__/SlimBanner-dark #0.png
  docs/components/componentOverviewGeneralComponentsList.js
  docs/components/sidebarIndex.js
  docs/pages/slimbanner.js
  docs/pages/visual-test/SlimBanner-dark.js
  docs/pages/visual-test/SlimBanner.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/MESSAGING_TYPE_ATTRIBUTES.js
  packages/gestalt/src/PageHeaderComponents.js
  packages/gestalt/src/SlimBanner.flowtest.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/SlimBanner.test.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/SlimBanner.test.js.snap
  packages/gestalt/src/index.js
Labels: minor release

#2120 Module: Update for dark mode support
  cypress/integration/visual-test/__image_snapshots__/Module-dark #0.png
  docs/pages/module.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
Labels: patch release

#2121 Eslint: Allow iconEnd buttons to be any color or size
  docs/pages/eslint_plugin.js
  packages/eslint-plugin-gestalt/README.md
  packages/eslint-plugin-gestalt/src/__fixtures__/button-icon-restrictions/invalid/invalid-no-color.js
  packages/eslint-plugin-gestalt/src/__fixtures__/button-icon-restrictions/invalid/invalid-no-size.js
  packages/eslint-plugin-gestalt/src/__fixtures__/button-icon-restrictions/invalid/invalid-renamed.js
  packages/eslint-plugin-gestalt/src/__fixtures__/button-icon-restrictions/invalid/invalid-wrong-color.js
  packages/eslint-plugin-gestalt/src/__fixtures__/button-icon-restrictions/invalid/invalid-wrong-size.js
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.js
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.test.js
Labels: patch release

#2104 Internal: upgrade to React 18
  .eslintrc.json
  cypress/integration/page_header_spec.js
  docs/components/handleCodeSandbox.js
  docs/package.json
  package.json
  packages/gestalt/src/__snapshots__/Avatar.test.js.snap
  packages/gestalt/src/__snapshots__/FormErrorMessage.test.js.snap
  yarn.lock
Labels: dependencies, major release

#2124 DatePicker: Add note about installing as a separate package
  docs/pages/installation.js
  packages/gestalt-datepicker/src/DatePicker.js
Labels: patch release

#2122 Docs: Unified Switch docs
  docs/pages/checkbox.js
  docs/pages/switch.js
Labels: patch release

#2128 Dark mode: Add support for Callout, Upsell, and SlimBanner
  cypress/integration/visual-test/__image_snapshots__/Callout #0.png
  cypress/integration/visual-test/__image_snapshots__/Callout-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/SlimBanner #0.png
  cypress/integration/visual-test/__image_snapshots__/SlimBanner-dark #0.png
  cypress/integration/visual-test/__image_snapshots__/Upsell-dark #0.png
  docs/pages/color_examples.js
  docs/pages/color_usage.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Callout.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/SlimBanner.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: minor release

#2126 Docs: adding slimBanner prop into Docs' PageHeader to display information related to the component.
  docs/components/PageHeader.js
  docs/pages/radiobutton.js
  docs/pages/tooltip.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/Tooltip.js
  scripts/generateMetadata.js
Labels: patch release

#2127 Internal: upgrade Flow to 0.178.1
  .flowconfig
  docs/components/clipboardCopy.js
  docs/pages/_app.js
  docs/pages/_document.js
  package.json
  packages/gestalt-codemods/generic-codemods/utils.js
  packages/gestalt/src/Layer.js
  yarn.lock
Labels: dependencies, patch release

#2131 Development, Installation: added Docker & Datepicker installation guidelines
  .devcontainer/devcontainer.json
  docs/pages/development.js
  docs/pages/installation.js
Labels: patch release

#2133 Data Visualization: Add design tokens and color palette page
  docs/components/TokenExample.js
  docs/components/sidebarIndex.js
  docs/pages/data_visualization_colors.js
  docs/pages/design_tokens.js
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/color/data-visualization/alias.json
  packages/gestalt-design-tokens/tokens/color/data-visualization/base.json
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  playwright/accessibility/Data Visualization Colors.spec.mjs
Labels: minor release

#2135 Site: Move site settings into dropdown header menu
  docs/components/DocSearch.js
  docs/components/Header.js
  docs/components/HeaderMenu.js
  docs/components/buttons/DarkModeButton.js
  docs/components/buttons/LTRButton.js
Labels: patch release

#2137 Docs: Small tweaks
  docs/pages/box.js
  docs/pages/data_visualization_colors.js
  docs/pages/iconography_and_svgs.js
Labels: patch release
