Repository pinterest/gestalt, pull requests merged in 2022-12, with the labels that each got.

#2529 Docs: Fix typo in designer getting started
  docs/pages/get_started/designers.js
Labels: patch release

#2521 Tag: fix background color and dark mode
  packages/gestalt/src/Tag.css
  packages/gestalt/src/Tag.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
Labels: patch release

#2519 Table.Drawer: fix subcomponent so no empty drawer shows no extra space
  docs/pages/web/table.js
  packages/gestalt/src/TableRowDrawer.js
Labels: patch release

#2530 Docs: Add Icon descriptions to library page
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/foundations/iconography/library.js
Labels: patch release

#2531 Docs: fix in Toast
  docs/pages/foundations/messaging/available_components.js
Labels: patch release

#2518 Toast: new Toast design adjustments
  docs/pages/web/toast.js
  packages/gestalt/src/Toast.css
  packages/gestalt/src/Toast.css.flow
  packages/gestalt/src/Toast.js
Labels: patch release

#2534 Docs: 12/2 weekly digest
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
Labels: patch release

#2537 Add icon descriptions to library page
  docs/pages/foundations/iconography/ICON_DATA.json
Labels: patch release

#2538 Docs: Update alphabetical order in icon library
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/foundations/iconography/library.js
Labels: patch release

#2539 Popover: Update docs examples
  docs/pages/web/popover.js
Labels: patch release

#2524 IconButtonFloating: Add new component for floating actions
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/examples/iconbuttonfloating/main.js
  docs/pages/web/iconbutton.js
  docs/pages/web/iconbuttonfloating.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButtonFloating.js
  packages/gestalt/src/index.js
  playwright/accessibility/IconButtonFloating.spec.mjs
Labels: minor release, blog-post

#2542 Docs: November newsletter
  docs/pages/BlogPosts.json
  docs/pages/whats_new.js
Labels: patch release

#2536 Modal: add default padding to main content and heading and padding prop
  docs/examples/modal/accessibilityExample.js
  docs/examples/modal/createBoardExample.js
  docs/examples/modal/limitActionsExample.js
  docs/examples/modal/preventCloseExample.js
  docs/examples/modal/sizesExample.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.js.snap
Labels: major release

#2544 Icons: Add more descriptions
  docs/pages/foundations/iconography/ICON_DATA.json
Labels: patch release

#2547 Box, Flex: remove responsive alignItems props from table
  docs/pages/web/box.js
  docs/pages/web/flex.js
Labels: patch release

#2549 Docs: strip eslint disable comments from Sandpack examples
  docs/removeFlowTypesLoader.js
Labels: patch release

#2548 Tag: migrate docs examples to Sandpack
  docs/examples/tag/disabled.js
  docs/examples/tag/dismissable.js
  docs/examples/tag/error.js
  docs/examples/tag/main.js
  docs/examples/tag/maxWidth.js
  docs/pages/web/tag.js
Labels: patch release

#2546 Pulsar: migrate docs examples to Sandpack
  docs/examples/pulsar/main.js
  docs/examples/pulsar/paused.js
  docs/examples/pulsar/positioning.js
  docs/examples/pulsar/size.js
  docs/pages/web/pulsar.js
  packages/gestalt/src/Pulsar.js
Labels: patch release

#2552 SideNavigation: support counter prop in all subcomponents
  docs/examples/sidenavigation/counterExample.js
  docs/pages/web/sidenavigation.js
  packages/gestalt/src/SideNavigationGroupContent.js
  packages/gestalt/src/SideNavigationNestedGroup.js
  packages/gestalt/src/SideNavigationNestedItem.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
Labels: minor release

#2554 Internal: fixes in scaffolding script
  scripts/generateComponent.js
  scripts/templates/lowercasecomponentname.js
Labels: patch release

#2545 Spinner: convert docs examples to Sandpack
  docs/examples/spinner/delay.js
  docs/examples/spinner/main.js
  docs/pages/web/spinner.js
  packages/gestalt/src/Spinner.js
Labels: patch release

#2550 IconButtonFloating: Update docs examples
  docs/examples/iconbuttonfloating/a11y.js
  docs/examples/iconbuttonfloating/doForScroll.js
  docs/examples/iconbuttonfloating/dontNegative.js
  docs/examples/iconbuttonfloating/dontNotification.js
  docs/examples/iconbuttonfloating/main.js
  docs/pages/web/iconbutton.js
  docs/pages/web/iconbuttonfloating.js
  packages/gestalt/src/IconButtonFloating.js
Labels: patch release

#2555 Internal: quick fix scaffolding
  scripts/templates/lowercasecomponentname.js
Labels: patch release

#2561 Internal: add markdown lint config file, ease some rules
  .markdownlint.json
Labels: patch release

#2560 Internal: do not autolaunch browser in dev
  docs/markdown/get_started/developers/contributing/development_process.md
  netlify.toml
Labels: patch release

#2556 Spinner: add Best Practices and Localization sections
  docs/examples/spinner/doLocation.js
  docs/examples/spinner/doOverlay.js
  docs/examples/spinner/doWait.js
  docs/examples/spinner/dontLabel.js
  docs/examples/spinner/dontMultiple.js
  docs/examples/spinner/dontWait.js
  docs/pages/web/spinner.js
Labels: patch release

#2566 Docs: Update graphic for IconButtonFloating
  docs/docs-components/COMPONENT_DATA.js
  docs/graphics/general/IconButtonFloating.svg
Labels: patch release

#2565 Internal: change in visual diff command to be able to run vis diff tests locally
  docs/markdown/get_started/developers/contributing/development_process.md
  package.json
Labels: patch release

#2563 Popover: migrate docs examples to Sandpack
  docs/examples/popover/a11y.js
  docs/examples/popover/doEducate.js
  docs/examples/popover/dontCaret.js
  docs/examples/popover/dontCritical.js
  docs/examples/popover/main.js
  docs/examples/popover/variantAnchor.js
  docs/examples/popover/variantColorCaret.js
  docs/examples/popover/variantIdealDirection.js
  docs/examples/popover/variantLayer.js
  docs/examples/popover/variantScrollingContainers.js
  docs/examples/popover/variantVisibility.js
  docs/pages/web/popover.js
Labels: patch release

#2553 List: new component
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/graphics/general/List.svg
  docs/pages/visual-test/List-dark.js
  docs/pages/visual-test/List-light.js
  docs/pages/web/list.js
  docs/pages/web/sidenavigation.js
  docs/pages/web/toast.js
  packages/gestalt/src/List.css
  packages/gestalt/src/List.css.flow
  packages/gestalt/src/List.flowtest.js
  packages/gestalt/src/List.js
  packages/gestalt/src/List.jsdom.test.js
  packages/gestalt/src/List.test.js
  packages/gestalt/src/List/getChildrenToArray.js
  packages/gestalt/src/ListItem.js
  packages/gestalt/src/ListText.js
  packages/gestalt/src/NestedList.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationGroupMobile.js
  packages/gestalt/src/__snapshots__/List.test.js.snap
  packages/gestalt/src/contexts/ListProvider.js
  packages/gestalt/src/contexts/NestingProvider.js
  packages/gestalt/src/index.js
  playwright/accessibility/List.spec.mjs
  playwright/visual-test/List-dark.spec.mjs
  playwright/visual-test/List-dark.spec.mjs-snapshots/List-dark-chromium-darwin.png
  playwright/visual-test/List-light.spec.mjs
  playwright/visual-test/List-light.spec.mjs-snapshots/List-light-chromium-darwin.png
Labels: minor release, blog-post

#2570 Checkbox, Switch: add Android & iOS docs pages
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/checkbox.md
  docs/markdown/android/switch.md
  docs/markdown/ios/checkbox.md
  docs/markdown/ios/switch.md
  playwright/accessibility/Checkbox_Android.spec.mjs
  playwright/accessibility/Checkbox_Web.spec.mjs
  playwright/accessibility/Checkbox_iOS.spec.mjs
  playwright/accessibility/Switch_Android.spec.mjs
  playwright/accessibility/Switch_Web.spec.mjs
  playwright/accessibility/Switch_iOS.spec.mjs
Labels: patch release

#2569 Tag: add Best Practices, Localization to docs
  docs/examples/tag/doDescribe.js
  docs/examples/tag/doInput.js
  docs/examples/tag/doSuccinct.js
  docs/examples/tag/dontInput.js
  docs/examples/tag/dontInteractive.js
  docs/examples/tag/dontIntermix.js
  docs/examples/tag/variantDisabled.js
  docs/examples/tag/variantDismissable.js
  docs/examples/tag/variantError.js
  docs/examples/tag/variantMaxWidth.js
  docs/examples/tag/variantWarning.js
  docs/pages/web/tag.js
Labels: patch release

#2572 Card, Letterbox, Mask, Masonry: updated visual tests snapshots
  docs/pages/visual-test/Card-dark.js
  docs/pages/visual-test/Card.js
  docs/pages/visual-test/Letterbox.js
  docs/pages/visual-test/Mask.js
  docs/pages/visual-test/Masonry.js
  packages/gestalt/src/Card.js
  packages/gestalt/src/Letterbox.js
  packages/gestalt/src/Mask.js
  packages/gestalt/src/Masonry.js
  playwright/visual-test/ActivationCard-dark.spec.mjs
  playwright/visual-test/ActivationCard.spec.mjs
  playwright/visual-test/Card-dark.spec.mjs
  playwright/visual-test/Card-dark.spec.mjs-snapshots/Card-dark-chromium-darwin.png
  playwright/visual-test/Card.spec.mjs
  playwright/visual-test/Card.spec.mjs-snapshots/Card-chromium-darwin.png
  playwright/visual-test/Letterbox.spec.mjs
  playwright/visual-test/Letterbox.spec.mjs-snapshots/Letterbox-chromium-darwin.png
  playwright/visual-test/Mask.spec.mjs
  playwright/visual-test/Mask.spec.mjs-snapshots/Mask-chromium-darwin.png
  playwright/visual-test/Masonry.spec.mjs
  playwright/visual-test/Masonry.spec.mjs-snapshots/Masonry-chromium-darwin.png
Labels: patch release

#2573 Modal, Sheet, Popover, Pulsar, SegmentedControl, Tabs: updated visual tests snapshots
  docs/pages/visual-test/Modal-dark.js
  docs/pages/visual-test/Modal.js
  docs/pages/visual-test/Popover-dark.js
  docs/pages/visual-test/Popover.js
  docs/pages/visual-test/Pulsar-dark.js
  docs/pages/visual-test/Pulsar.js
  docs/pages/visual-test/SegmentedControl-dark.js
  docs/pages/visual-test/SegmentedControl.js
  docs/pages/visual-test/Sheet-dark.js
  docs/pages/visual-test/Sheet.js
  docs/pages/visual-test/Tabs-dark.js
  docs/pages/visual-test/Tabs.js
  packages/gestalt/src/Card.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Pulsar.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/Tabs.js
  playwright/visual-test/Modal-dark.spec.mjs
  playwright/visual-test/Modal-dark.spec.mjs-snapshots/Modal-dark-chromium-darwin.png
  playwright/visual-test/Modal.spec.mjs
  playwright/visual-test/Modal.spec.mjs-snapshots/Modal-chromium-darwin.png
  playwright/visual-test/Popover-dark.spec.mjs
  playwright/visual-test/Popover-dark.spec.mjs-snapshots/Popover-dark-chromium-darwin.png
  playwright/visual-test/Popover.spec.mjs
  playwright/visual-test/Popover.spec.mjs-snapshots/Popover-chromium-darwin.png
  playwright/visual-test/Pulsar-dark.spec.mjs
  playwright/visual-test/Pulsar-dark.spec.mjs-snapshots/Pulsar-dark-chromium-darwin.png
  playwright/visual-test/Pulsar.spec.mjs
  playwright/visual-test/Pulsar.spec.mjs-snapshots/Pulsar-chromium-darwin.png
  playwright/visual-test/SegmentedControl-dark.spec.mjs
  playwright/visual-test/SegmentedControl-dark.spec.mjs-snapshots/SegmentedControl-dark-chromium-darwin.png
  playwright/visual-test/SegmentedControl.spec.mjs
  playwright/visual-test/SegmentedControl.spec.mjs-snapshots/SegmentedControl-chromium-darwin.png
  playwright/visual-test/Sheet-dark.spec.mjs
  playwright/visual-test/Sheet-dark.spec.mjs-snapshots/Sheet-dark-chromium-darwin.png
  playwright/visual-test/Sheet.spec.mjs
  playwright/visual-test/Sheet.spec.mjs-snapshots/Sheet-chromium-darwin.png
  playwright/visual-test/Tabs-dark.spec.mjs
  playwright/visual-test/Tabs-dark.spec.mjs-snapshots/Tabs-dark-chromium-darwin.png
  playwright/visual-test/Tabs.spec.mjs
  playwright/visual-test/Tabs.spec.mjs-snapshots/Tabs-chromium-darwin.png
Labels: patch release

#2575 ModalAlert, SideNavigation, ZIndex, IconButtonFloating: updated visual tests snapshots
  docs/pages/visual-test/IconButtonFloating-dark.js
  docs/pages/visual-test/IconButtonFloating.js
  docs/pages/visual-test/ModalAlert-dark.js
  docs/pages/visual-test/ModalAlert.js
  docs/pages/visual-test/SideNavigation-dark.js
  docs/pages/visual-test/SideNavigation.js
  docs/pages/visual-test/ZIndex.js
  packages/gestalt/src/IconButtonFloating.js
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/zIndex.js
  playwright/visual-test/IconButtonFloating-dark.spec.mjs
  playwright/visual-test/IconButtonFloating-dark.spec.mjs-snapshots/IconButtonFloating-dark-chromium-darwin.png
  playwright/visual-test/IconButtonFloating.spec.mjs
  playwright/visual-test/IconButtonFloating.spec.mjs-snapshots/IconButtonFloating-chromium-darwin.png
  playwright/visual-test/ModalAlert-dark.spec.mjs
  playwright/visual-test/ModalAlert-dark.spec.mjs-snapshots/ModalAlert-dark-chromium-darwin.png
  playwright/visual-test/ModalAlert.spec.mjs
  playwright/visual-test/ModalAlert.spec.mjs-snapshots/ModalAlert-chromium-darwin.png
  playwright/visual-test/SideNavigation-dark.spec.mjs
  playwright/visual-test/SideNavigation-dark.spec.mjs-snapshots/SideNavigation-dark-chromium-darwin.png
  playwright/visual-test/SideNavigation.spec.mjs
  playwright/visual-test/SideNavigation.spec.mjs-snapshots/SideNavigation-chromium-darwin.png
  playwright/visual-test/ZIndex.spec.mjs
  playwright/visual-test/ZIndex.spec.mjs-snapshots/ZIndex-chromium-darwin.png
Labels: patch release

#2576 ScrollBoundaryContainer, Layer, Sticky, TapArea, Spinner: add SVG to Flow description
  packages/gestalt/src/Layer.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/Spinner.js
  packages/gestalt/src/Sticky.js
  packages/gestalt/src/TapArea.js
Labels: patch release
