Repository pinterest/gestalt, pull requests merged in 2022-10, with the labels that each got.

#2425 Datapoint: fix casing in docs examples
  docs/pages/web/datapoint.js
Labels: patch release

#2427 Docs: add September newsletter
  docs/pages/BlogPosts.json
Labels: patch release

#2422 Docs: Updated main Link example
  docs/pages/web/link.js
Labels: patch release

#2429 Docs: cleanup PageHeaderQualitySummary
  docs/docs-components/PageHeaderQualitySummary.js
Labels: patch release

#2432 Docs: add component aliases to page header
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/PageHeader.js
  docs/pages/web/utilities/colorschemeprovider.js
  docs/pages/web/utilities/devicetypeprovider.js
  docs/pages/web/utilities/onlinknavigationprovider.js
  docs/pages/web/utilities/usefocusvisible.js
  docs/pages/web/utilities/usereducedmotion.js
  packages/gestalt/src/ComboBox.js
Labels: patch release

#2433 Docs: Fix broken examples
  docs/pages/web/slimbanner.js
  docs/pages/web/utilities/colorschemeprovider.js
Labels: patch release

#2428 Text: Removing justify value prop
  docs/pages/web/text.js
  packages/gestalt/src/Text.js
Labels: major release

#2407 DefaultLabelProvider: replace I18nProvider with more flexible component
  docs/docs-components/contexts/DocsDefaultLabelProvider.js
  docs/docs-components/contexts/DocsI18nProvider.js
  docs/docs-components/siteIndex.js
  docs/examples/defaultlabelprovider/no-translations.js
  docs/examples/defaultlabelprovider/translations.js
  docs/pages/_app.js
  docs/pages/web/utilities/defaultlabelprovider.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/TextField.test.js
  packages/gestalt/src/Upsell.jsdom.test.js
  packages/gestalt/src/Upsell.test.js
  packages/gestalt/src/UpsellForm.test.js
  packages/gestalt/src/contexts/DefaultLabelProvider.flowtest.js
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/contexts/I18nProvider.flowtest.js
  packages/gestalt/src/contexts/I18nProvider.js
  packages/gestalt/src/contexts/I18nProvider.jsdom.test.js
  packages/gestalt/src/contexts/__mocks__/DefaultLabelProvider.js
  packages/gestalt/src/contexts/__mocks__/I18nProvider.js
  packages/gestalt/src/index.js
  playwright/accessibility/DefaultLabelProvider.spec.mjs
Labels: major release

#2434 Docs: add aliases for many components
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/PageHeader.js
Labels: patch release

#2435 Tokens: Adjust dark mode error text and icon
  docs/pages/web/datepicker.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: patch release

#2430 Design tokens: Add opacity tokens
  docs/docs-components/CombinationNew.js
  docs/docs-components/TokenExample.js
  docs/pages/foundations/design_tokens.js
  docs/pages/web/box.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/opacity/base.json
Labels: minor release

#2438 Docs: use actual h2 for aliases
  docs/docs-components/PageHeader.js
  docs/docs.css
Labels: patch release

#2439 Docs: fix broken links
  docs/docs-components/COMPONENT_DATA.js
  docs/pages/home.js
  docs/pages/visual-test/PageHeader-primaryActionLink.js
  docs/pages/web/link.js
  docs/pages/web/textarea.js
  docs/pages/web/textfield.js
  packages/gestalt/src/Tabs.js
Labels: patch release

#2440 Docs: convert Hacking Gestalt page to use Sandpack
  docs/examples/hacking_gestalt/dangerouslySetInlineStyle.js
  docs/examples/hacking_gestalt/ref.js
  docs/examples/hacking_gestalt/wrappingComponents.js
  docs/pages/get_started/developers/hacking_gestalt.js
Labels: patch release

#2441 Docs: convert NumberField to use Sandpack
  docs/examples/README.md
  docs/examples/numberfield/bestPractices-do-errorMessage.js
  docs/examples/numberfield/bestPractices-do-helperText.js
  docs/examples/numberfield/bestPractices-do-label.js
  docs/examples/numberfield/bestPractices-do-related.js
  docs/examples/numberfield/bestPractices-do-required.js
  docs/examples/numberfield/bestPractices-dont-errorMessage.js
  docs/examples/numberfield/bestPractices-dont-label.js
  docs/examples/numberfield/bestPractices-dont-placeholder.js
  docs/examples/numberfield/bestPractices-dont-related.js
  docs/examples/numberfield/bestPractices-dont-required.js
  docs/examples/numberfield/disabled.js
  docs/examples/numberfield/enterKeyHint.js
  docs/examples/numberfield/errorMessage.js
  docs/examples/numberfield/helperText.js
  docs/examples/numberfield/main.js
  docs/examples/numberfield/minMaxStep.js
  docs/examples/numberfield/ref.js
  docs/pages/web/numberfield.js
Labels: patch release

#2443 Typography guidelines: fix typos
  docs/pages/foundations/typography/guidelines.js
Labels: patch release

#2442 Masonry: add virtualBufferFactor prop
  docs/docs-components/PropTable.js
  packages/gestalt/src/Masonry.js
Labels: minor release

#2436 ModalAlert: New component for confirmation and acknowledgment
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/modalalert/defaultExample.js
  docs/pages/foundations/messaging/a_messaging_story.js
  docs/pages/web/modalalert.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/src/Modal.css
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/index.js
  playwright/accessibility/ModalAlert.spec.mjs
Labels: major release

#2445 Masonry: update uniformRow docs example
  docs/pages/web/masonry.js
Labels: patch release

#2446 DefaultLabelProvider: add comments about updating translations
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/src/contexts/DefaultLabelProvider.js
Labels: patch release

#2444 Checkbox, RadioGroup, TextArea, TextField, NumberField, SearchField, SelectList, ComboBox: Add error icon to all errorMessage text elements, standardize implementation, & related a11y improvements
  docs/pages/visual-test/RadioButton-dark.js
  docs/pages/visual-test/RadioButton.js
  docs/pages/web/textarea.js
  docs/pages/web/textfield.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Fieldset.js
  packages/gestalt/src/FormErrorMessage.js
  packages/gestalt/src/FormHelperText.js
  packages/gestalt/src/FormHelperTextCounter.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/RadioGroupButton.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextArea.jsdom.test.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
  packages/gestalt/src/__snapshots__/FormErrorMessage.test.js.snap
  packages/gestalt/src/__snapshots__/NumberField.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
  packages/gestalt/src/__snapshots__/RadioGroup.test.js.snap
  packages/gestalt/src/__snapshots__/SelectList.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
  playwright/visual-test/RadioButton-dark.spec.mjs
  playwright/visual-test/RadioButton-dark.spec.mjs-snapshots/RadioButton-dark-chromium-darwin.png
  playwright/visual-test/RadioButton.spec.mjs
  playwright/visual-test/RadioButton.spec.mjs-snapshots/RadioButton-chromium-darwin.png
Labels: minor release, blog-post, accessibility-improvement

#2449 ModalAlert: Fix validation bug
  packages/gestalt/src/ModalAlert.js
Labels: patch release

#2448 Design Tokens: Add transparent token
  packages/gestalt-design-tokens/tokens/color/base.json
Labels: patch release

#2452 Weekly updates for the last two weeks
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
Labels: patch release

#2451 Flex: add dataTestId
  packages/gestalt/src/Flex.js
  packages/gestalt/src/FlexItem.js
Labels: minor release, blog-post

#2454 Toast: deprecating value thumbnailShape=rectangular
  docs/pages/web/toast.js
  packages/gestalt/src/Toast.js
Labels: major release

#2455 Modal: Updates docs and best practices
  docs/docs-components/COMPONENT_DATA.js
  docs/examples/modal/accessibilityExample.js
  docs/examples/modal/createBoardExample.js
  docs/examples/modal/defaultExample.js
  docs/examples/modal/limitActionsExample.js
  docs/examples/modal/preventCloseExample.js
  docs/examples/modal/roleAlertDialogExample.js
  docs/examples/modal/sizesExample.js
  docs/examples/modal/userResponseExample.js
  docs/graphics/general/ModalAlert.svg
  docs/pages/web/modal.js
  docs/pages/web/modalalert.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.js.snap
Labels: patch release

#2456 Docs: update Slack channel name
  docs/docs-components/MainSectionSubsection.js
  docs/markdown/get_started/developers/contributing/development_process.md
  docs/pages/get_started/how_to_work_with_us.js
Labels: patch release, blog-post

#2457 Docs: Add top of page examples
  docs/examples/buttongroup/defaultExample.js
  docs/examples/card/defaultExample.js
  docs/examples/segmentedcontrol/defaultExample.js
  docs/examples/tag/defaultExample.js
  docs/pages/web/buttongroup.js
  docs/pages/web/card.js
  docs/pages/web/segmentedcontrol.js
  docs/pages/web/tag.js
Labels: patch release

#2459 Docs: Update to new copy-to-clipboard icon
  docs/docs-components/PropTable.js
  docs/docs-components/buttons/CopyCodeButton.js
Labels: patch release

#2417 Animation: Add guidelines for product animation
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/PrincipleItem.js
  docs/docs-components/siteIndex.js
  docs/examples/animation/celebrationExample.js
  docs/examples/animation/easeExample.js
  docs/examples/animation/educationExample.js
  docs/examples/animation/feedbackExample.js
  docs/examples/animation/transitionExample.js
  docs/examples/animation/useExample.js
  docs/graphics/foundations/animation.svg
  docs/pages/foundations/animation/guidelines.js
  docs/pages/foundations/animation/implementation.js
  docs/pages/foundations/animation/principles.js
  docs/pages/foundations/iconography/usage.js
  docs/pages/foundations/messaging/available_components.js
  docs/pages/foundations/messaging/principles.js
  docs/pages/foundations/typography/guidelines.js
  playwright/accessibility/Guidelines_Animation.spec.mjs
  playwright/accessibility/Guidelines_Typography.spec.mjs
  playwright/accessibility/Implementation.spec.mjs
  playwright/accessibility/Implementation_Animation.spec.mjs
  playwright/accessibility/Principles_Animation.spec.mjs
  playwright/accessibility/Principles_Messaging.spec.mjs
Labels: patch release

#2460 Docs: Mobile Toast docs
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/graphics/index.js
  docs/markdown/android/toast.md
  docs/markdown/ios/toast.md
  playwright/accessibility/Toast_Android.spec.mjs
  playwright/accessibility/Toast_Web.spec.mjs
  playwright/accessibility/Toast_iOS.spec.mjs
Labels: patch release

#2464 Docs: Update principles graphics across pages
  docs/docs-components/MarkdownPage.js
  docs/docs-components/PrincipleItem.js
  docs/graphics/color-examples/colorEase.svg
  docs/graphics/color-examples/consistency.svg
  docs/graphics/iconography/accessible.svg
  docs/graphics/iconography/intentional.svg
  docs/graphics/iconography/obvious.svg
  docs/graphics/messaging/brief.svg
  docs/graphics/messaging/relevant.svg
  docs/graphics/messaging/timely.svg
  docs/graphics/typography/inclusive.svg
  docs/graphics/typography/minimal.svg
  docs/graphics/typography/speedy.svg
  docs/pages/foundations/animation/guidelines.js
  docs/pages/foundations/animation/principles.js
  docs/pages/foundations/color/examples.js
  docs/pages/foundations/iconography/usage.js
  docs/pages/foundations/messaging/principles.js
  docs/pages/foundations/typography/guidelines.js
Labels: patch release

#2465 Masonry: move files to /Masonry directory
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/Cache.js
  packages/gestalt/src/Masonry/MeasurementStore.js
  packages/gestalt/src/Masonry/ScrollContainer.js
  packages/gestalt/src/Masonry/defaultLayout.js
  packages/gestalt/src/Masonry/defaultLayout.test.js
  packages/gestalt/src/Masonry/fullWidthLayout.js
  packages/gestalt/src/Masonry/fullWidthLayout.test.js
  packages/gestalt/src/Masonry/mindex.js
  packages/gestalt/src/Masonry/scrollUtils.js
  packages/gestalt/src/Masonry/types.js
  packages/gestalt/src/Masonry/uniformRowLayout.js
  packages/gestalt/src/Masonry/uniformRowLayout.test.js
  packages/gestalt/src/ScrollFetch.js
Labels: patch release
