Repository pinterest/gestalt, pull requests merged in 2022-02, with the labels that each got.

#1896 Internal: Fix broken master due to prettier error on CHANGELOG.md
  CHANGELOG.md
  scripts/releaseSteps.js
Labels: patch release

#1895 Popover: updated Docs to use autogenerated prop table
  docs/components/GeneratedPropTable.js
  docs/components/PropTable.js
  docs/components/docgen.js
  docs/pages/popover.js
  packages/gestalt/src/Popover.js
Labels: patch release

#1885 ComboBox: updated Docs to use autogenerated prop table
  docs/components/GeneratedPropTable.js
  docs/pages/combobox.js
  packages/gestalt/src/ComboBox.js
Labels: patch release

#1891 DatePicker: updated Docs to use autogenerated prop table
  docs/pages/datepicker.js
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/LocaleDataTypes.js
Labels: patch release

#1897 DatePicker: add description for id prop
  packages/gestalt-datepicker/src/DatePicker.js
Labels: patch release

#1892 Dropdown: updated Docs to use autogenerated prop table
  docs/components/GeneratedPropTable.js
  docs/components/docgen.js
  docs/pages/dropdown.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/DropdownSection.js
Labels: patch release

#1898 Docs: fix right sidenav overlap bug
  docs/components/Toc.js
Labels: patch release

#1903 Internal: upgrade jest to 27.4.7
  package.json
  yarn.lock
Labels: dependencies, patch release

#1901 Internal: upgrade flow-bin to 0.171.0
  .flowconfig
  package.json
  yarn.lock
Labels: dependencies, patch release

#1905 Internal: upgrade eslint to 8.8.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#1907 Internal: upgrade caniuse-lite
  package.json
  yarn.lock
Labels: dependencies, patch release

#1902 Internal: upgrade eslint react plugins
  package.json
  packages/gestalt/src/Image.js
  packages/gestalt/src/Video.js
  yarn.lock
Labels: dependencies, patch release

#1909 Popover: rename handleOnKeyDown to onKeyDown and standardize event type
  packages/gestalt-codemods/45.0.0/__testfixtures__/rename-popover-handleKeyDown-to-onKeyDown.input.js
  packages/gestalt-codemods/45.0.0/__testfixtures__/rename-popover-handleKeyDown-to-onKeyDown.output.js
  packages/gestalt-codemods/45.0.0/__testfixtures__/rename-renamed-popover-handleKeyDown-to-onKeyDown.input.js
  packages/gestalt-codemods/45.0.0/__testfixtures__/rename-renamed-popover-handleKeyDown-to-onKeyDown.output.js
  packages/gestalt-codemods/45.0.0/__tests__/rename-popover-handleKeyDown-to-onKeyDown.test.js
  packages/gestalt-codemods/45.0.0/rename-popover-handleKeyDown-to-onKeyDown.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Popover.js
Labels: major release

#1900 Dropdown: prefixed private props (index) with underscore
  docs/pages/dropdown.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
Labels: patch release

#1918 Dropdown: replace old URL in docs
  packages/gestalt/src/Dropdown.js
Labels: patch release

#1912 Video: use autogen props table
  docs/pages/masonry.js
  docs/pages/video.js
  docs/utils/deepCloneReplacingUndefined.js
  packages/gestalt/src/Video.js
Labels: patch release

#1916 Module: updated Docs to use autogenerated prop table [Module.Expandable]
  docs/pages/module.js
  packages/gestalt/src/ModuleExpandable.js
Labels: patch release

#1914 IconButton: refactor to fix Dropdown positioning shift on rerender
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/IconButton.css.flow
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableRowExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: patch release

#1899 Badge: fix layout issues
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.js
  packages/gestalt/src/Badge.test.js
  packages/gestalt/src/__snapshots__/Badge.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
Labels: minor release

#1920 Docs: Remove disabled accessibility tests
  cypress/integration/accessibility_Iconography and SVGs_spec.js
  cypress/integration/accessibility_NumberField_spec.js
  cypress/integration/accessibility_TextField_spec.js
  cypress/integration/accessibility_Tooling_spec.js
  cypress/integration/accessibility_Upsell_spec.js
  docs/pages/development.js
  docs/pages/iconography_and_svgs.js
  docs/pages/numberfield.js
  docs/pages/textfield.js
  docs/pages/tooling.js
Labels: patch release

#1923 Revert "Dropdown: prefixed private props (index) with underscore (#19…
  docs/pages/dropdown.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
Labels: patch release

#1924 Revert "IconButton: refactor to fix Dropdown positioning shift on rer…
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/IconButton.css.flow
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableRowExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: patch release

#1915 Link: updated Docs to use autogenerated prop table
  docs/components/GeneratedPropTable.js
  docs/components/docgen.js
  docs/pages/link.js
  packages/gestalt/src/Link.js
Labels: patch release

#1917 Masonry: revert scroll state optimization (#1774)
  packages/gestalt/src/Masonry.js
Labels: minor release

#1925 Revert "Revert "Dropdown: prefixed private props (index) with undersc…
  docs/pages/dropdown.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
Labels: patch release

#1929 ComboBox: add reference to Typeahead
  packages/gestalt/src/ComboBox.js
Labels: patch release

#1919 Table: updated Docs to use autogenerated prop table
  docs/components/GeneratedPropTable.js
  docs/pages/table.js
  packages/gestalt/src/Table.js
  packages/gestalt/src/TableBody.js
  packages/gestalt/src/TableCell.js
  packages/gestalt/src/TableFooter.js
  packages/gestalt/src/TableHeader.js
  packages/gestalt/src/TableHeaderCell.js
  packages/gestalt/src/TableRow.js
  packages/gestalt/src/TableRowExpandable.js
  packages/gestalt/src/TableSortableHeaderCell.js
Labels: patch release

#1928 Link: deprecate private "disabled" prop + codemod
  packages/gestalt-codemods/46.0.0/__testfixtures__/link_deprecate_disabled_prop.input.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/link_deprecate_disabled_prop.output.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/rename-link_deprecate_disabled_prop.input.js
  packages/gestalt-codemods/46.0.0/__testfixtures__/rename-link_deprecate_disabled_prop.output.js
  packages/gestalt-codemods/46.0.0/__tests__/link_deprecate_disabled_prop.test.js
  packages/gestalt-codemods/46.0.0/link_deprecate_disabled_prop.js
  packages/gestalt/src/Link.js
Labels: patch release

#1930 IconButton: refactor to fix Dropdown positioning shift on rerender + small fix
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/IconButton.css.flow
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableRowExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: patch release

#1931 Internal: update eslint-config-airbnb to 19.0.4, fix/suppress new errors
  docs/components/ColorPalette.js
  docs/components/ColorTile.js
  docs/components/Example.js
  docs/components/MainSection.js
  docs/components/MainSectionCard.js
  docs/components/MainSectionSubsection.js
  docs/components/PropTable.js
  docs/components/SearchContent.js
  docs/components/TokenExample.js
  docs/pages/_document.js
  docs/pages/iconography_and_svgs.js
  docs/pages/masonry.js
  docs/pages/tooling.js
  package.json
  packages/eslint-plugin-gestalt/src/helpers/preferLinkReducer.js
  packages/eslint-plugin-gestalt/src/helpers/styleValidators.js
  packages/eslint-plugin-gestalt/src/index.js
  packages/eslint-plugin-gestalt/src/no-box-dangerous-style-duplicates.js
  packages/eslint-plugin-gestalt/src/prefer-box-no-disallowed.js
  packages/gestalt-codemods/11.6.0/__testfixtures__/gestaltprovider-to-provider-3.input.js
  packages/gestalt-codemods/5.0.0/__testfixtures__/touchable-to-taparea-3.input.js
  packages/gestalt-core/build.js
  packages/gestalt-datepicker/rollup.config.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/rollup.config.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/AnimationController.js
  packages/gestalt/src/AnimationController.jsdom.test.js
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Masonry.flowtest.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/ScrollBoundaryContainer.jsdom.test.js
  packages/gestalt/src/ScrollContainer.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/utils/keyboardNavigation.js
  scripts/validateIconSvgSpecs.js
  yarn.lock
Labels: dependencies, patch release

#1933 Docs: Added Getting Started for Design page
  cypress/integration/accessibility_Design_spec.js
  docs/components/sidebarIndex.js
  docs/pages/design.js
Labels: patch release

#1936 Heading, Text: Update internal usages to use new size values
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/ComboBoxItem.js
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/DatapointTrend.js
  packages/gestalt/src/DropdownSection.js
  packages/gestalt/src/Fieldset.js
  packages/gestalt/src/FormErrorMessage.js
  packages/gestalt/src/FormHelperText.js
  packages/gestalt/src/FormLabel.js
  packages/gestalt/src/Heading.flowtest.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ModuleExpandableItem.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/Status.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/Tooltip.jsdom.test.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
Labels: patch release

#1911 Button: refactor to fix Dropdown positioning shift on rerender
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.css.flow
  packages/gestalt/src/Button.js
  packages/gestalt/src/Button.test.js
  packages/gestalt/src/__snapshots__/ButtonGroup.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
Labels: patch release

#1940 Docs: Updated Status docs to include design guidelines
  docs/pages/status.js
  packages/gestalt/src/Status.js
Labels: patch release

#1944 Internal: add note about Jira on bug template
  .github/ISSUE_TEMPLATE/bug-template-for-jira.md
Labels: patch release

#1941 Color: Add guidelines for color usage
  cypress/integration/accessibility_Color Palette_spec.js
  cypress/integration/accessibility_Color Usage_spec.js
  cypress/integration/accessibility_Color_spec.js
  docs/components/ColorPalette.js
  docs/components/ColorTile.js
  docs/components/sidebarIndex.js
  docs/pages/color.js
  docs/pages/color_palette.js
  docs/pages/color_usage.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: patch release

#1947 Flex: use autogenerated props/description
  docs/pages/flex.js
  docs/pages/module.js
  packages/gestalt/src/Flex.js
  packages/gestalt/src/FlexItem.js
Labels: patch release

#1942 Table: Ensure tables are keyboard accessible
  cypress/integration/accessibility_Table_spec.js
  docs/pages/table.js
  packages/gestalt/src/Table.js
  packages/gestalt/src/__snapshots__/Table.test.js.snap
Labels: patch release

#1949 Color Palette: Update terminology
  docs/pages/color_palette.js
Labels: patch release

#1952 Docs: Fix page jumping bug
  docs/components/AppLayout.js
Labels: patch release

#1951 Internal: Add explanatory comment to autogenerated metadata.json file
  scripts/generateMetadata.js
Labels: patch release

#1950 Dropdown, Module, Table: use autogen descriptions for subcomponents
  docs/pages/dropdown.js
  docs/pages/module.js
  docs/pages/table.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/DropdownSection.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/TableBody.js
  packages/gestalt/src/TableCell.js
  packages/gestalt/src/TableFooter.js
  packages/gestalt/src/TableHeader.js
  packages/gestalt/src/TableHeaderCell.js
  packages/gestalt/src/TableRow.js
  packages/gestalt/src/TableRowExpandable.js
  packages/gestalt/src/TableSortableHeaderCell.js
Labels: patch release

#1953 Upsell: use autogen props for subcomponent
  docs/pages/upsell.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/UpsellForm.js
Labels: patch release

#1955 IconButton: Clarify color documentation
  docs/pages/iconbutton.js
Labels: patch release

#1939 DeviceTypeProvider: add new component
  cypress/integration/accessibility_DeviceTypeProvider_spec.js
  docs/pages/devicetypeprovider.js
  packages/gestalt/src/contexts/DeviceTypeProvider.js
  packages/gestalt/src/index.js
Labels: minor release

#1957 Internal: fix import style to unblock master
  docs/pages/devicetypeprovider.js
Labels: patch release
