Repository pinterest/gestalt, pull requests merged in 2022-01, with the labels that each got.

#1828 Internal: optimize Gestalt logos
  docs/public/gestalt-logo-250.png
  docs/public/gestalt-logo-500.png
Labels: patch release

#1829 Internal: remove danger
  .eslintrc.json
  dangerfile.js
  package.json
  scripts/danger/changelog.js
  scripts/danger/experiments.js
  scripts/danger/lockfile.js
  yarn.lock
Labels: patch release

#1832 Internal: Update GitHub actions to latest version
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: patch release

#1831 Docs: move all user preferences to cookies
  docs/components/appContext.js
  docs/components/buttons/DarkModeButton.js
  docs/components/navigationContext.js
  docs/components/useLocalStorage.js
Labels: patch release

#1833 Internal: publish a new version of VSCode Gestalt for every Gestalt change
  .github/workflows/release.yml
Labels: minor release

#1836 Internal: avoid TabWithForwardRef export to fix generated types
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tabs.test.js
Labels: patch release

#1837 Dropdown: Remove aria selected from menuitems
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
Labels: patch release

#1826 Docs: use inline SVG for header logo
  docs/components/GestaltLogo.js
  docs/components/Header.js
Labels: patch release

#1835 Docs: Update Algolia API keys
  docs/components/DocSearch.js
Labels: patch release

#1838 Docs: fix changelog render on What's New page
  CHANGELOG.md
Labels: patch release

#1839 Docs: fix links to zIndex page
  docs/pages/box.js
  docs/pages/dropdown.js
  docs/pages/layer.js
  docs/pages/tooltip.js
  packages/gestalt/src/zIndex.js
Labels: patch release

#1841 Internal: disallow ESLint warnings
  package.json
Labels: patch release

#1847 Internal: fix steps is not defined exception on VSCode Gestalt release step
  .github/workflows/release.yml
Labels: patch release

#1845 Docs: fix SSR on what's new page
  docs/pages/whats_new.js
Labels: patch release

#1840 Docs: fix cookie issues
  docs/pages/_app.js
  docs/pages/_document.js
Labels: patch release

#1846 Internal: upgrade actions/checkout in integration test workflow
  .github/workflows/integration-tests.yml
Labels: patch release

#1842 Docs: update How to Work With Us page
  docs/pages/how_to_work_with_us.js
Labels: patch release

#1843 Collage, Container, Datapoint, Fieldset, Heading: use generated props tables
  docs/pages/avatargroup.js
  docs/pages/collage.js
  docs/pages/container.js
  docs/pages/datapoint.js
  docs/pages/fieldset.js
  docs/pages/heading.js
  packages/gestalt/src/AvatarGroup.flowtest.js
  packages/gestalt/src/Collage.js
  packages/gestalt/src/Container.js
  packages/gestalt/src/Datapoint.flowtest.js
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/Datapoint.test.js
  packages/gestalt/src/DatapointTrend.js
  packages/gestalt/src/DatapointTrend.test.js
  packages/gestalt/src/Fieldset.js
  packages/gestalt/src/Heading.js
Labels: patch release

#1850 Internal: fix workflow id for VSCode Gestalt release step
  .github/workflows/release.yml
Labels: patch release

#1851 Internal: upgrade eslint to 8.6.0
  package.json
  packages/gestalt/src/zIndex.js
  yarn.lock
Labels: dependencies, patch release

#1849 Image, Label, Layer, Letterbox, Mask: use generated props tables
  docs/pages/image.js
  docs/pages/label.js
  docs/pages/layer.js
  docs/pages/letterbox.js
  docs/pages/mask.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/Fieldset.js
  packages/gestalt/src/FormLabel.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/InternalLabel.css
  packages/gestalt/src/InternalLabel.css.flow
  packages/gestalt/src/InternalLabel.flowtest.js
  packages/gestalt/src/InternalLabel.js
  packages/gestalt/src/InternalLabel.test.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/Label.js
  packages/gestalt/src/Layer.js
  packages/gestalt/src/Letterbox.js
  packages/gestalt/src/Mask.js
Labels: patch release

#1853 Docs: make FAQ uppercase in sidebar index
  docs/components/sidebarIndex.js
Labels: patch release

#1854 Internal: upgrade postcss to 8.4.5
  package.json
  yarn.lock
Labels: dependencies, patch release

#1855 Internal: add resolution for `node-forge` to fix vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release

#1848 Table: Added Related section
  docs/pages/table.js
Labels: patch release

#1857 Table: fix docs link
  docs/pages/table.js
Labels: patch release

#1852 Design Tokens: Add dark mode values
  docs/components/TokenExample.js
  docs/pages/design_tokens.js
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: minor release

#1856 Docs: add "How to Hack Gestalt" page
  cypress/integration/accessibility_How To Hack Around Gestalt_spec.js
  docs/components/AppLayout.js
  docs/components/Navigation.js
  docs/components/sidebarIndex.js
  docs/pages/how_to_hack_around_gestalt.js
  docs/pages/how_to_work_with_us.js
Labels: patch release

#1858 Pulsar, RadioButton, Spinner, Switch, Tooltip: use autogenerated props tables
  docs/components/GeneratedPropTable.js
  docs/pages/pulsar.js
  docs/pages/radiobutton.js
  docs/pages/spinner.js
  docs/pages/switch.js
  docs/pages/tooltip.js
  packages/gestalt/src/Pulsar.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/Spinner.js
  packages/gestalt/src/Switch.js
  packages/gestalt/src/Tooltip.js
Labels: patch release

#1861 Internal: enable a11y test, remove test id
  cypress/integration/accessibility_How To Hack Around Gestalt_spec.js
  docs/components/AppLayout.js
Labels: patch release

#1862 Icon: updated shopping-bag icon
  packages/gestalt/src/icons/shopping-bag.svg
Labels: minor release

#1868 Internal: Bump marked from 2.0.0 to 4.0.10
  docs/components/Markdown.js
  docs/package.json
  yarn.lock
Labels: dependencies, patch release

#1870 Video: Add required accessibilityProgressbarLabel prop
  cypress/integration/accessibility_Video_spec.js
  docs/pages/video.js
  packages/gestalt/src/Video.flowtest.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/Video.jsdom.test.js
  packages/gestalt/src/Video.test.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/VideoControls.jsdom.test.js
  packages/gestalt/src/VideoControls.test.js
  packages/gestalt/src/VideoPlayhead.js
  packages/gestalt/src/VideoPlayhead.jsdom.test.js
  packages/gestalt/src/VideoPlayhead.test.js
  packages/gestalt/src/__snapshots__/InternalLabel.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
  packages/gestalt/src/__snapshots__/VideoPlayhead.test.js.snap
Labels: major release

#1869 OnLinkNavigationProvider, SegmentedControl: use autogenerated props tables
  docs/pages/callout.js
  docs/pages/onlinknavigationprovider.js
  docs/pages/segmentedcontrol.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/contexts/OnLinkNavigationProvider.js
Labels: patch release

#1872 Upsell: Fix layout bug at small sizes
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: patch release

#1873 Tooltip: add optional accessibilityLabel prop & fix Datapoint a11y integration test
  cypress/integration/accessibility_Datapoint_spec.js
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/Tooltip.js
Labels: minor release

#1876 Internal: upgrade eslint to 8.7.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#1871 IconButton: Add Tooltip prop
  cypress/integration/accessibility_IconButton_spec.js
  docs/pages/iconbutton.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButton.test.js
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
Labels: minor release

#1875 Docs: fix Gestalt Visualizer script
  docs/pages/faq.js
  docs/pages/tooling.js
Labels: patch release

#1878 ColorSchemeProvider: use autogenerated props table
  docs/pages/colorschemeprovider.js
  packages/gestalt/src/contexts/ColorSchemeProvider.js
Labels: patch release

#1879 Pog: use autogenerated props table
  docs/pages/pog.js
  packages/gestalt/src/Pog.js
Labels: patch release

#1877 Typography: update components to use new design tokens
  docs/docs.css
  docs/pages/heading.js
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt/src/FormErrorMessage.css
  packages/gestalt/src/Heading.css
  packages/gestalt/src/Heading.css.flow
  packages/gestalt/src/Heading.js
  packages/gestalt/src/InternalTextField.css
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/SelectList.css
  packages/gestalt/src/Text.css
  packages/gestalt/src/Text.css.flow
  packages/gestalt/src/Text.js
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/Typography.css
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/ButtonGroup.test.js.snap
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
  packages/gestalt/src/__snapshots__/DatapointTrend.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
  packages/gestalt/src/__snapshots__/FormErrorMessage.test.js.snap
  packages/gestalt/src/__snapshots__/Heading.test.js.snap
  packages/gestalt/src/__snapshots__/InternalLink.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/NumberField.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.js.snap
  packages/gestalt/src/__snapshots__/SegmentedControl.test.js.snap
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Status.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/Text.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/__snapshots__/VideoControls.test.js.snap
Labels: patch release

#1881 Internal: add resolution for `node-fetch` to fix vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release

#1883 Toast: show examples directly in docs
  docs/pages/toast.js
Labels: patch release

#1882 IconButton, Tooltip: Update accessibility guidance
  cypress/integration/accessibility_Icon_spec.js
  cypress/integration/accessibility_Tooltip_spec.js
  docs/components/buttons/CollapseExpandCodeButton.js
  docs/components/buttons/CopyCodeButton.js
  docs/components/buttons/CopyLinkButton.js
  docs/components/buttons/OpenSandboxButton.js
  docs/pages/icon.js
  docs/pages/iconbutton.js
  docs/pages/tooltip.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButton.test.js
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
Labels: minor release

#1884 Docs: update Visual Studio Code extension for Gestalt extension information
  docs/pages/tooling.js
Labels: patch release

#1886 Docs: automatically filter out "_fooProp" internal-only props
  docs/components/GeneratedPropTable.js
Labels: patch release

#1887 Masonry: use generated props table
  CHANGELOG.md
  docs/components/GeneratedPropTable.js
  docs/pages/masonry.js
  docs/pages/toast.js
  packages/gestalt/src/Masonry.js
Labels: patch release

#1889 Tabs, TextArea: use generated props tables
  docs/pages/tabs.js
  docs/pages/textarea.js
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextField.js
Labels: patch release

#1893 Internal: upgrade @netlify/plugin-nextjs to address vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release
