Repository pinterest/gestalt, pull requests merged in 2023-03, with the labels that each got.

#2672 PopoverEducational: move examples to Sandpack + added `shouldFocus` to props
  docs/examples/popovereducational/customContent.js
  docs/examples/popovereducational/doEducate.js
  docs/examples/popovereducational/doReference.js
  docs/examples/popovereducational/dontDouble.js
  docs/examples/popovereducational/main.js
  docs/examples/popovereducational/message.js
  docs/examples/popovereducational/primaryAction.js
  docs/examples/popovereducational/size.js
  docs/examples/popovereducational/visibility.js
  docs/pages/web/popovereducational.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
Labels: patch release

#2625 HelpButton: New component
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/helpbutton/endGuideElement.js
  docs/examples/helpbutton/intermixedBlocks.js
  docs/examples/helpbutton/main.js
  docs/examples/helpbutton/withLink.js
  docs/examples/helpbutton/withText.js
  docs/graphics/general/HelpButton.svg
  docs/pages/visual-test/HelpButton.js
  docs/pages/web/helpbutton.js
  docs/pages/web/tooltip.js
  packages/gestalt/src/HelpButton.css
  packages/gestalt/src/HelpButton.flowtest.js
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/HelpButton.jsdom.test.js
  packages/gestalt/src/HelpButton.test.js
  packages/gestalt/src/__snapshots__/HelpButton.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/index.js
  playwright/accessibility/HelpButton.spec.mjs
  playwright/visual-test/HelpButton.spec.mjs
  playwright/visual-test/HelpButton.spec.mjs-snapshots/HelpButton-chromium-darwin.png
Labels: major release, blog-post

#2674 HelpButton: Remove duplicated examples on doc page
  docs/examples/helpbutton/endGuideElement.js
  docs/examples/helpbutton/intermixedBlocks.js
  docs/examples/helpbutton/withLink.js
  docs/examples/helpbutton/withText.js
  docs/pages/web/helpbutton.js
Labels: patch release

#2673 Internal: update scripts/generateComponent.js
  scripts/generateComponent.js
  scripts/templates/ComponentName.svg
  scripts/templates/ComponentName.test.js
  scripts/templates/README.md
  scripts/templates/lowercasecomponentname.js
  scripts/templates/main.js
Labels: patch release

#2676 Internal: add Masonry `flexible-resize` integration test
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/pages/integration-test/masonry.js
  playwright/masonry/flexible-resize.spec.mjs
  playwright/masonry/handle-item-updates.spec.mjs
  playwright/masonry/handle-position-update.spec.mjs
  playwright/masonry/utils/getGridItems.mjs
  playwright/masonry/utils/getServerURL.mjs
Labels: patch release

#2677 Internal: add Masonry `null-items` integration test
  playwright/masonry/null-items.spec.mjs
Labels: patch release

#2678 Internal: add Masonry `parent-sizing` integration test
  docs/pages/integration-test/masonry.js
  playwright/masonry/parent-sizing.spec.mjs
  playwright/masonry/utils/getServerURL.mjs
Labels: patch release

#2679 Internal: add `render-height` Masonry integration test
  playwright/masonry/render-height.spec.mjs
Labels: patch release

#2680 Docs: Fixed duplicated line in brand expression guidelines
  docs/pages/foundations/brand_expression/guidelines.js
Labels: patch release

#2681 Internal: add `reflow-item-prop-removal` Masonry integration test
  docs/integration-test-helpers/masonry/MasonryContainer.js
  playwright/masonry/reflow-item-prop-removal.spec.mjs
Labels: patch release

#2682 Internal: add `reflow-item-prop-changes` Masonry integration test
  playwright/masonry/reflow-item-prop-changes.spec.mjs
Labels: patch release

#2685 Internal: add `resize-reflow` Masonry integration test
  docs/pages/integration-test/masonry.js
  playwright/masonry/resize-reflow.spec.mjs
  playwright/masonry/utils/countColumns.mjs
  playwright/masonry/utils/getServerURL.mjs
Labels: patch release

#2686 Internal: add `shuffle-items` Masonry integration test
  playwright/masonry/shuffle-items.spec.mjs
Labels: patch release

#2688 Docs: Weekly update for March 3, 2023
  docs/pages/BlogPosts.json
Labels: patch release

#2689 Docs: Feb eng newsletter
  docs/pages/BlogPosts.json
Labels: patch release

#2690 Internal: add `update-scroll-container` Masonry integration test
  playwright/masonry/update-scroll-container.spec.mjs
Labels: patch release

#2694 Internal: add `handle-update-during-insertions` Masonry integration test
  playwright/masonry/handle-update-during-insertions.spec.mjs
Labels: patch release

#2691 Collection: deprecation from index file
  packages/gestalt/src/Collection.js
  packages/gestalt/src/index.js
Labels: major release

#2693 Toast: Updates to Android images
  docs/markdown/android/toast.md
Labels: patch release

#2692 Toast: Updates to iOS images in Docs
  docs/markdown/ios/toast.md
Labels: patch release

#2695 Internal: add `item-prop-change-key-reset` Masonry integration test
  playwright/masonry/item-prop-change-key-reset.spec.mjs
Labels: patch release

#2696 Internal: add `no-scroll` Masonry integration test
  docs/pages/integration-test/masonry.js
  playwright/masonry/no-scroll.spec.mjs
  playwright/masonry/utils/getServerURL.mjs
Labels: patch release

#2697 Internal: add `optimized-remount` Masonry integration test
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/pages/integration-test/masonry.js
  playwright/masonry/optimized-remount.spec.mjs
  playwright/masonry/utils/clickButton.mjs
  playwright/masonry/utils/getServerURL.mjs
  playwright/masonry/utils/waitForRenderedItems.mjs
Labels: patch release

#2698 Internal: add `virtualization-with-scroll-container` Masonry integration test
  docs/pages/integration-test/masonry.js
  playwright/masonry/utils/getServerURL.mjs
  playwright/masonry/virtualization-with-scroll-container.spec.mjs
Labels: patch release

#2699 Internal: add `virtual-bounds-visibility` Masonry integration test
  playwright/masonry/virtual-bounds-visibility.spec.mjs
Labels: patch release

#2675 Dropdown, Popover: Add `maxHeight` prop
  packages/gestalt/src/Contents.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Popover.js
Labels: patch release

#2701 Divider: fix docs format
  docs/pages/web/divider.js
Labels: patch release

#2706 Internal: turn off `import/no-relative-parent-imports` lint rule
  .eslintrc.json
  packages/gestalt-datepicker/rollup.config.js
  packages/gestalt/rollup.config.js
  packages/gestalt/src/contexts/__mocks__/DefaultLabelProvider.js
Labels: patch release

#2707 Masonry: remove `Item` prop
  packages/gestalt/src/Masonry.js
Labels: major release

#2709 Internal: tiny Flow type change to give release script a kick
  docs/docs-components/PropTable.js
Labels: major release

#2708 Internal: moved OverlayPanel files into nested folders
  packages/gestalt/src/Backdrop.js
  packages/gestalt/src/OverlayPanel.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/OverlayPanel/AnimationContext.flowtest.js
  packages/gestalt/src/OverlayPanel/AnimationContext.js
  packages/gestalt/src/OverlayPanel/AnimationContext.jsdom.test.js
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.js
  packages/gestalt/src/OverlayPanel/InternalOverlayPanel.js
Labels: patch release

#2710 Internal: relocate AvatarGroup subfiles
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/AvatarGroup/AddCollaboratorsButton.js
  packages/gestalt/src/AvatarGroup/CollaboratorAvatar.js
  packages/gestalt/src/AvatarGroup/CollaboratorsCount.js
  packages/gestalt/src/AvatarGroup/HoverOverlay.js
  packages/gestalt/src/AvatarGroup/PositioningWrapper.js
  packages/gestalt/src/AvatarGroup/constants.js
Labels: patch release

#2525 Toast, Spinner, DefaultLabelProvider: new component features from new redesign, new `color` prop for Spinner, new labels to DefaultLabelProvider
  docs/examples/defaultlabelprovider/translations.js
  docs/pages/visual-test/Toast-dark.js
  docs/pages/visual-test/Toast.js
  docs/pages/web/toast.js
  packages/gestalt/src/Avatar.js
  packages/gestalt/src/Icon.js
  packages/gestalt/src/Image.js
  packages/gestalt/src/Spinner.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Toast.test.js
  packages/gestalt/src/Toast/PrimaryAction.js
  packages/gestalt/src/Toast/subcomponents.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
Labels: major release, blog-post

#2712 Switch: convert docs examples to use Sandpack
  docs/examples/switch/doDisabled.js
  docs/examples/switch/doLabel.js
  docs/examples/switch/dontAlternative.js
  docs/examples/switch/dontTruncate.js
  docs/examples/switch/main.js
  docs/examples/switch/variantCombinations.js
  docs/examples/switch/variantLabel.js
  docs/pages/web/switch.js
Labels: patch release

#2713 Internal: turn off `jsx-a11y/anchor-is-valid` for docs examples
  .eslintrc.json
Labels: patch release

#2714 Internal: update css.flow files
  packages/gestalt/src/HelpButton.css.flow
  packages/gestalt/src/PopoverEducational.css.flow
Labels: patch release

#2551 Toast: new Docs for redesign Toast
  docs/examples/toast/avatar.js
  docs/examples/toast/dismissable.js
  docs/examples/toast/doConcise.js
  docs/examples/toast/doDismiss.js
  docs/examples/toast/doInteraction.js
  docs/examples/toast/doOne.js
  docs/examples/toast/dontMultiple.js
  docs/examples/toast/dontPermanent.js
  docs/examples/toast/dontRequest.js
  docs/examples/toast/dontWordy.js
  docs/examples/toast/error.js
  docs/examples/toast/helperLink.js
  docs/examples/toast/howto.js
  docs/examples/toast/icon.js
  docs/examples/toast/image.js
  docs/examples/toast/main.js
  docs/examples/toast/message.js
  docs/examples/toast/primaryAction.js
  docs/examples/toast/processing.js
  docs/examples/toast/richMessage.js
  docs/examples/toast/success.js
  docs/examples/toast/textOnly.js
  docs/markdown/android/toast.md
  docs/markdown/ios/toast.md
  docs/pages/web/toast.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Toast/PrimaryAction.js
Labels: patch release, blog-post

#2716 Docs: Weekly digest for 2023/03/10
  docs/pages/BlogPosts.json
Labels: patch release

#2718 Docs: remove extra TextField on Foundations forms
  docs/pages/foundations/forms/available_components.js
Labels: patch release

#2721 Internal: added @khanacademy/flow-to-ts to devDependencies to test TS
  package.json
  yarn.lock
Labels: patch release

#2724 Sticky: convert to autogen props and Sandpack examples
  docs/examples/sticky/main.js
  docs/pages/web/sticky.js
  packages/gestalt/src/Sticky.js
Labels: patch release

#2725 Internal: fix autogen type for IconButtonFloating
  docs/pages/web/iconbuttonfloating.js
Labels: patch release

#2719 Docs: cleanups & refactors & fixes
  docs/docs-components/SandpackExample.js
  docs/examples/callout/main.js
  docs/examples/checkbox/main.js
  docs/examples/combobox/main.js
  docs/examples/datepicker/main.js
  docs/examples/fieldset/main.js
  docs/examples/modalalert/main.js
  docs/examples/numberfield/main.js
  docs/examples/radiogroup/main.js
  docs/examples/selectlist/main.js
  docs/examples/slimbanner/main.js
  docs/examples/textarea/main.js
  docs/examples/textfield/main.js
  docs/pages/foundations/animation/implementation.js
  docs/pages/foundations/animation/principles.js
  docs/pages/foundations/brand_expression/color_fills.js
  docs/pages/foundations/brand_expression/guidelines.js
  docs/pages/foundations/forms/available_components.js
  docs/pages/foundations/messaging/available_components.js
  docs/pages/web/callout.js
  docs/pages/web/checkbox.js
  docs/pages/web/datapoint.js
  docs/pages/web/datepicker.js
  docs/pages/web/fieldset.js
  docs/pages/web/iconbuttonfloating.js
  docs/pages/web/list.js
  docs/pages/web/modalalert.js
  docs/pages/web/radiogroup.js
  docs/pages/web/selectlist.js
  docs/pages/web/sidenavigation.js
  docs/pages/web/slimbanner.js
  docs/pages/web/table.js
  docs/pages/web/textarea.js
  docs/pages/web/textfield.js
Labels: patch release

#2727 Toast: fix typos in docs
  docs/examples/toast/success.js
  docs/pages/web/toast.js
Labels: patch release

#2726 ModalAlert, Button: add dataTestId
  docs/docs-components/docgen.js
  docs/pages/web/button.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/ModalAlert/ModalAlertAction.js
  packages/gestalt/src/ModalAlert/ModalAlertHeader.js
Labels: minor release

#2728 IconButton: Update Android docs Figma iframe link
  docs/markdown/android/iconbutton.md
Labels: patch release

#2729 Fieldset, WashAnimated: convert examples to Sandpack
  docs/examples/fieldset/accessibility.js
  docs/examples/fieldset/main.js
  docs/examples/fieldset/variantsError.js
  docs/examples/fieldset/variantsLegend.js
  docs/examples/washanimated/main.js
  docs/pages/web/fieldset.js
  docs/pages/web/washanimated.js
Labels: patch release

#2730 Pog, IconButton: bugfix for rotated icons on iPhone
  packages/gestalt/src/Pog.css
Labels: patch release

#2733 Internal: fix in HeroGraphic
  docs/graphics/home-page/HeroGraphic.js
Labels: patch release

#2736 Weekly digest for 2023-03-17
  docs/pages/BlogPosts.json
Labels: patch release

#2738 IconButtonFloating: Add `disabled` prop
  packages/gestalt/src/IconButtonFloating.js
Labels: patch release

#2734 OverlayPanel: internal fixes, cleanup
  docs/examples/overlaypanel/animationExample.js
  docs/examples/overlaypanel/confirmationExample.js
  docs/examples/overlaypanel/defaultExample.js
  docs/examples/overlaypanel/footerExample.js
  docs/examples/overlaypanel/preventClosingExample.js
  docs/examples/overlaypanel/quickEditsExample.js
  docs/examples/overlaypanel/sizesExample.js
  docs/examples/overlaypanel/subHeadingExample.js
  docs/pages/web/overlaypanel.js
  packages/gestalt/src/Backdrop.js
  packages/gestalt/src/OverlayPanel.flowtest.js
  packages/gestalt/src/OverlayPanel.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/OverlayPanel/AnimationContext.js
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.js
  packages/gestalt/src/OverlayPanel/InternalOverlayPanel.js
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
  packages/gestalt/src/animation/AnimationContext.flowtest.js
  packages/gestalt/src/animation/AnimationContext.js
  packages/gestalt/src/animation/AnimationContext.jsdom.test.js
  packages/gestalt/src/animation/DismissingElement.js
Labels: patch release

#2737 Masonry: add lazy hydration for test route and remaining three integration tests
  docs/integration-test-helpers/masonry/getFlexibleGridServerStyles.js
  docs/pages/integration-test/masonry.js
  flow-typed/npm/react-lazy-hydration_vx.x.x.js
  package.json
  playwright/masonry/load-more.spec.mjs
  playwright/masonry/server-render-layout.spec.mjs
  playwright/masonry/slot-index.spec.mjs
  playwright/masonry/utils/getServerURL.mjs
  playwright/masonry/utils/getStaticGridItems.mjs
  yarn.lock
Labels: patch release

#2739 useReducedMotion: fix "undefined" error
  packages/gestalt/src/useReducedMotion.js
Labels: patch release

#2740 useReducedMotion: fix "undefined" error
  packages/gestalt/src/useReducedMotion.js
Labels: patch release

#2743 IconButtonFloating - Add `dangerouslySetSvgPath` prop
  packages/gestalt/src/IconButtonFloating.js
Labels: minor release

#2742 ActivationCard, Button, Callout, HelpButton, IconButton, RadioButton, SearchField, TapArea, Upsell: deprecate AbstractEventHandler inlining equivalent
  packages/gestalt/src/AbstractEventHandler.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/InternalDismissButton.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/ModalAlert/ModalAlertAction.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/commonTypes.js
Labels: patch release

#2732 Icon: Update iOS and Android specs
  docs/markdown/android/icon.md
  docs/markdown/ios/icon.md
Labels: patch release

#2744 Icon: new icons added
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt/src/icons/add-section.svg
  packages/gestalt/src/icons/arrow-circle-back.svg
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/move-pin.svg
  packages/gestalt/src/icons/workflow-status-queued.svg
Labels: minor release

#2747 OverlayPanel: remove from iOS/Android overview pages
  docs/docs-components/COMPONENT_DATA.js
Labels: patch release

#2749 Textfield: fix in CSS reference
  packages/gestalt/src/TextField/InternalTextField.css
Labels: patch release

#2753 Docs: add more context to Playwright visual diff snapshot tests section
  docs/markdown/get_started/developers/contributing/development_process.md
Labels: patch release

#2754 Internal: implement Development Preview
  docs/docs-components/AppLayout.js
  docs/docs-components/DevelopmentEditor.js
  docs/docs-components/DocsSideNavigation.js
  docs/docs-components/Example.js
  docs/docs-components/ExampleCode.js
  docs/docs-components/Header.js
  docs/docs-components/SandpackExample.js
  docs/docs-components/appContext.js
  docs/docs-components/contexts/DocsConfigProvider.js
  docs/docs-components/contexts/DocsDeviceTypeProvider.js
  docs/pages/_app.js
Labels: patch release

#2756 Internal: fix Sandpack not enabled in prod
  docs/docs-components/SandpackExample.js
Labels: patch release

#2748 Searchfield: Added searchfield docs page for Android
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/searchfield.md
  package-lock.json
  playwright/accessibility/SearchField_Android.spec.mjs
  playwright/accessibility/SearchField_Web.spec.mjs
Labels: patch release

#2757 Docs: Add Overview illustration to Foundations page
  docs/docs-components/COMPONENT_DATA.js
  docs/graphics/foundations/illustration.svg
Labels: patch release

#2764 Docs: center main examples
  docs/examples/callout/main.js
  docs/examples/checkbox/main.js
  docs/examples/combobox/main.js
  docs/examples/datepicker/main.js
  docs/examples/numberfield/main.js
  docs/examples/selectlist/main.js
  docs/examples/textfield/main.js
Labels: patch release

#2766 Internal: Add resolution for `nth-check` to address vulnerability
  package.json
  yarn.lock
Labels: dependencies, patch release

#2767 Internal: remove package-lock.json
  .gitignore
  package-lock.json
Labels: dependencies, patch release

#2759 Docs: 2023-03-24 weekly update
  docs/pages/BlogPosts.json
Labels: patch release

#2771 Badge: convert examples to use Sandpack
  docs/examples/badge/doAlign.js
  docs/examples/badge/doColor.js
  docs/examples/badge/dontColor.js
  docs/examples/badge/dontComplex.js
  docs/examples/badge/main.js
  docs/examples/badge/variantsOtherComponents.js
  docs/examples/badge/variantsOverMedia.js
  docs/examples/badge/variantsPositioning.js
  docs/examples/badge/variantsType.js
  docs/pages/web/badge.js
Labels: patch release

#2770 Overlay: documented subcomponent "Overlay.DismissingElement"
  docs/pages/web/overlaypanel.js
  packages/gestalt/src/OverlayPanel.js
  packages/gestalt/src/animation/DismissingElement.js
  scripts/generateMetadata.js
Labels: patch release

#2774 Docs: Cleaned up our Figma plugins section
  docs/docs.css
  docs/pages/get_started/designers.js
Labels: patch release

#2773 Docs: final improvements to development view: cleanup/refactor
  docs/docs-components/DevelopmentEditor.js
  docs/docs-components/ExampleCode.js
  docs/docs-components/Header.js
  docs/docs-components/SandpackExample.js
  docs/docs-components/appContext.js
  docs/docs-components/contexts/DocsConfigProvider.js
Labels: patch release

#2775 Updating image for the Pinterest Design plugin
  docs/pages/get_started/designers.js
Labels: patch release

#2762 Docs: Add Team support tab + subpages
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/Header.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/graphics/team_support/advocate.svg
  docs/graphics/team_support/component-request.svg
  docs/graphics/team_support/contributions.svg
  docs/graphics/team_support/get-help.svg
  docs/graphics/team_support/training.svg
  docs/markdown/team_support/be_a_gestalt_advocate.md
  docs/markdown/team_support/component_request.md
  docs/markdown/team_support/contributions.md
  docs/markdown/team_support/get_help.md
  docs/markdown/team_support/index.md
  docs/markdown/team_support/training.md
  docs/pages/get_started/about_us.js
  docs/pages/get_started/designers.js
  docs/pages/get_started/how_to_work_with_us.js
  docs/pages/home.js
  docs/pages/team_support/overview.js
  playwright/accessibility/be a gestalt advocate.spec.mjs
  playwright/accessibility/component request.spec.mjs
  playwright/accessibility/contributions.spec.mjs
  playwright/accessibility/get help.spec.mjs
  playwright/accessibility/overview_team support.spec.mjs
  playwright/accessibility/training.spec.mjs
Labels: patch release

#2777 Docs: add redirect for "How to work with us" page
  docs/redirects.js
Labels: patch release

#2779 Docs: Roadmap updates
  docs/pages/RoadmapData.json
Labels: patch release

#2776 ButtonGroup, Container: convert examples to Sandpack
  docs/examples/buttongroup/main.js
  docs/examples/buttongroup/variantsWrap.js
  docs/examples/container/variantsResponsive.js
  docs/pages/web/buttongroup.js
  docs/pages/web/container.js
Labels: patch release

#2782 ColorSchemeProvider, OnLinkNavigationProvider, useFocusVisible, useReducedMotion: convert examples to Sandpack
  docs/examples/colorschemeprovider/variantsColorScheme.js
  docs/examples/onlinknavigationprovider/examplesCalloutUpsell.js
  docs/examples/onlinknavigationprovider/examplesDropdown.js
  docs/examples/onlinknavigationprovider/examplesLinkButton.js
  docs/examples/usefocusvisible/exampleButtons.js
  docs/examples/usereducedmotion/example.js
  docs/pages/web/utilities/colorschemeprovider.js
  docs/pages/web/utilities/onlinknavigationprovider.js
  docs/pages/web/utilities/usefocusvisible.js
  docs/pages/web/utilities/usereducedmotion.js
  docs/removeFlowTypesLoader.js
Labels: patch release

#2781 Docs: Fixing capitalization
  docs/docs-components/Header.js
  docs/markdown/team_support/contributions.md
  docs/pages/team_support/overview.js
Labels: patch release

#2784 Docs: Add Team support to mobile siden nav
  docs/docs-components/DocsSideNavigation.js
Labels: patch release

#2783 Docs: Updated get_started/developers/contributing/development_process
  docs/markdown/get_started/developers/contributing/development_process.md
Labels: patch release

#2785 Internal: formatting tweaks in COMPONENT_DATA
  docs/docs-components/COMPONENT_DATA.js
Labels: patch release

#2787 Docs: refactored examples for Modal, ModalAlert, OverlayPanel examples for better display
  docs/docs-components/DevelopmentEditor.js
  docs/docs-components/PageHeader.js
  docs/examples/modal/accessibilityExample.js
  docs/examples/modal/createBoardExample.js
  docs/examples/modal/limitActionsExample.js
  docs/examples/modal/mobileExample.js
  docs/examples/modal/preventCloseExample.js
  docs/examples/modal/roleAlertDialogExample.js
  docs/examples/modalalert/doClearCommunicate.js
  docs/examples/modalalert/doExplainWhy.js
  docs/examples/modalalert/doLimitContent.js
  docs/examples/modalalert/doProvideAction.js
  docs/examples/modalalert/dontDoubleOverlay.js
  docs/examples/modalalert/dontHardLanguage.js
  docs/examples/modalalert/dontLeaveOutAction.js
  docs/examples/modalalert/dontLeaveOutExplanation.js
  docs/examples/modalalert/dontLongContent.js
  docs/examples/modalalert/errorMultiAction.js
  docs/examples/modalalert/errorSingleAction.js
  docs/examples/modalalert/main.js
  docs/examples/modalalert/mobileExample.js
  docs/examples/modalalert/multipleActions.js
  docs/examples/modalalert/singleAction.js
  docs/examples/modalalert/warningMultiAction.js
  docs/examples/modalalert/warningSingleAction.js
  docs/examples/modalalert/withCheckbox.js
  docs/examples/overlaypanel/animationExample.js
  docs/examples/overlaypanel/confirmationExample.js
  docs/examples/overlaypanel/defaultExample.js
  docs/examples/overlaypanel/footerExample.js
  docs/examples/overlaypanel/preventClosingExample.js
  docs/examples/overlaypanel/quickEditsExample.js
  docs/examples/overlaypanel/sizesExample.js
  docs/examples/overlaypanel/subHeadingExample.js
  docs/examples/scrollboundarycontainer/modalExample.js
  docs/markdown/get_started/developers/contributing/development_process.md
  docs/pages/web/overlaypanel.js
  scripts/generateComponent.js
  scripts/templates/README.md
Labels: patch release

#2788 ModalAlert: make sure docs examples are open without user interaction
  docs/examples/modalalert/doClearCommunicate.js
  docs/examples/modalalert/doExplainWhy.js
  docs/examples/modalalert/doLimitContent.js
  docs/examples/modalalert/doProvideAction.js
  docs/examples/modalalert/dontDoubleOverlay.js
  docs/examples/modalalert/dontHardLanguage.js
  docs/examples/modalalert/dontLeaveOutAction.js
  docs/examples/modalalert/dontLeaveOutExplanation.js
  docs/examples/modalalert/dontLongContent.js
  docs/examples/modalalert/errorMultiAction.js
  docs/examples/modalalert/errorSingleAction.js
  docs/examples/modalalert/main.js
  docs/examples/modalalert/mobileExample.js
  docs/examples/modalalert/multipleActions.js
  docs/examples/modalalert/singleAction.js
  docs/examples/modalalert/warningMultiAction.js
  docs/examples/modalalert/warningSingleAction.js
  docs/examples/modalalert/withCheckbox.js
Labels: patch release

#2789 Toast: Add specs to Android docs page
  docs/markdown/android/toast.md
Labels: patch release

#2793 Docs: 2023-03-31 weekly update
  docs/pages/BlogPosts.json
Labels: patch release
