Repository pinterest/gestalt, pull requests merged in 2023-12, with the labels that each got.

#3312 Popover: Add experiment hooks to components (rollout phase 1)
  docs/docs-components/SlimBannerExperiment.js
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/combobox.js
  docs/pages/web/dropdown.js
  docs/pages/web/helpbutton.js
  docs/pages/web/overlaypanel.js
  docs/pages/web/popover.js
  docs/pages/web/popovereducational.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/Popover/Controller.js
  packages/gestalt/src/Popover/InternalPopover.js
  packages/gestalt/src/Popover/usePopover.js
  packages/gestalt/src/PopoverEducational.js
  scripts/generateMetadata.js
Labels: patch release

#3318 Docs: Add ExperimentProvider to Sandpack examples
  docs/docs-components/SandpackExample.js
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/examples/popover/localizationLabels.js
Labels: patch release

#3275 SegmentedControl: Add Density Variants
  docs/examples/segmentedcontrol/sizeExample.js
  docs/pages/visual-test/SegmentedControl-dark.js
  docs/pages/visual-test/SegmentedControl.js
  docs/pages/web/segmentedcontrol.js
  package.json
  packages/gestalt/src/SegmentedControl.css
  packages/gestalt/src/SegmentedControl.css.flow
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/__snapshots__/SegmentedControl.test.js.snap
  playwright/visual-test/SegmentedControl-dark.spec.mjs-snapshots/SegmentedControl-dark-chromium-darwin.png
  playwright/visual-test/SegmentedControl.spec.mjs-snapshots/SegmentedControl-chromium-darwin.png
Labels: minor release, blog-post, density

#3315 TapArea: Add default cursor to TapArea
  docs/examples/taparea/mouseCursor.js
  docs/pages/web/taparea.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TapArea.js
Labels: minor release

#3321 PopoverEducational: Add `disablePortal`
  packages/gestalt/src/PopoverEducational.js
Labels: patch release

#3284 Tag: Add Density Variants
  docs/examples/tag/sizes.js
  docs/pages/visual-test/Tag-dark.js
  docs/pages/visual-test/Tag.js
  docs/pages/web/tag.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Tag.css
  packages/gestalt/src/Tag.css.flow
  packages/gestalt/src/Tag.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  playwright/visual-test/Tag-dark.spec.mjs-snapshots/Tag-dark-chromium-darwin.png
  playwright/visual-test/Tag.spec.mjs-snapshots/Tag-chromium-darwin.png
Labels: minor release, density

#3322 Toast: reduce side margins from 32 to 16 px
  packages/gestalt/src/Toast.css
Labels: minor release

#3323 Button: implement autogenerated prop table
  docs/docs-components/PropTable.js
  docs/examples/button/buttonPopoverExample.js
  docs/pages/web/button.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/IconButton.js
Labels: patch release

#3324 Docs: update description of Accordion
  docs/docs-components/data/components.js
Labels: patch release

#3329 Docs: Removed redundant "to" in description attribute that SlimBannerExperiment already includes (for ComboBox, Dropdown, HelpButton, OverlayPanel, Popover, and PopoverEducational)
  docs/pages/web/combobox.js
  docs/pages/web/dropdown.js
  docs/pages/web/helpbutton.js
  docs/pages/web/overlaypanel.js
  docs/pages/web/popover.js
  docs/pages/web/popovereducational.js
Labels: patch release

#3328 ColorSchemeProvider: fix in docs and better documentation
  docs/docs-components/App.js
  packages/gestalt/src/contexts/ColorSchemeProvider.js
Labels: patch release

#3327 Docs: Fix subsection scroll-magin-top
  docs/docs-components/MainSectionSubsection.js
Labels: patch release

#3326 Docs: fix GA4 property
  docs/docs-components/App.js
  docs/pages/_document.js
Labels: patch release

#3331 Internal: ts typo fix
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3337 Icon: Added scissors icon
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_scissors_gestalt.svg
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/scissors.svg
Labels: patch release

#3335 Docs: Cosmetic fixes
  docs/docs-components/IllustrationCard.js
  docs/docs-components/IllustrationSection.js
  docs/docs-components/OverviewList.js
  docs/docs-components/data/components.js
  docs/graphics/general/ButtonLink.svg
  docs/graphics/general/Card.svg
  docs/graphics/general/ChartGraph.svg
  docs/graphics/general/DateField.svg
  docs/graphics/general/DatePicker.svg
  docs/graphics/general/DateRange.svg
  docs/graphics/general/Dropdown.svg
  docs/graphics/general/IconButton.svg
  docs/graphics/general/IconButtonFloating.svg
  docs/graphics/general/IconButtonLink.svg
  docs/graphics/general/Popover.svg
  docs/graphics/general/PopoverEducational.svg
  docs/graphics/general/SheetMobile.svg
  docs/graphics/general/TableOfContents.svg
  docs/graphics/general/Tag.svg
  docs/graphics/general/TagData.svg
  docs/graphics/general/TileData.svg
  docs/graphics/general/Toast.svg
  docs/graphics/general/Video.svg
  docs/graphics/home-page/color.svg
  docs/graphics/home-page/roadmap.svg
  docs/graphics/team_support/component-request.svg
  docs/pages/home.js
Labels: patch release

#3339 TapArea: Add cursor doc changes
  docs/examples/taparea/mouseCursor.js
  docs/pages/web/taparea.js
Labels: patch release
