Repository pinterest/gestalt, pull requests merged in 2023-08, with the labels that each got.

#3120 Docs: newsletter July
  docs/pages/BlogPosts.json
Labels: patch release

#3122 GlobalEventsHandlerProvider, DatePicker, DateRange, DateField: add `onMount` handlers
  docs/docs-components/CombinationNew.js
  docs/docs-components/MainSectionCard.js
  docs/docs-components/MainSectionSubsection.js
  docs/pages/web/buttonlink.js
  docs/pages/web/datefield.js
  docs/pages/web/datepicker.js
  docs/pages/web/daterange.js
  docs/pages/web/iconbutton.js
  docs/pages/web/link.js
  docs/pages/web/taparea.js
  docs/pages/web/utilities/globaleventshandlerprovider.js
  packages/gestalt-datepicker/src/DateField.js
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DateRange.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.js
  packages/gestalt/src/index.js
Labels: minor release

#3123 ButtonLink: Adding custom codemod to implement component
  docs/docs-components/MarkdownPage.js
  docs/docs-components/YearInReviewBanner.js
  docs/examples/globaleventshandlerprovider/linkHandlersLinkButton.js
  docs/examples/popover/variantIdealDirection.js
  docs/examples/popover/variantScrollingContainers.js
  docs/examples/scrollboundarycontainer/popoverExample.js
  docs/pages/get_started/developers/tooling/web.js
  docs/pages/home.js
  docs/pages/year_in_review_2022.js
  packages/gestalt-codemods/119.2.0/__testfixtures__/button-href-to-buttonlink/button-href-to-buttonlink.input.js
  packages/gestalt-codemods/119.2.0/__testfixtures__/button-href-to-buttonlink/button-href-to-buttonlink.output.js
  packages/gestalt-codemods/119.2.0/__testfixtures__/button-href-to-buttonlink/button-href-to-buttonlinkAlias.input.js
  packages/gestalt-codemods/119.2.0/__testfixtures__/button-href-to-buttonlink/button-href-to-buttonlinkAlias.output.js
  packages/gestalt-codemods/119.2.0/__tests__/button-href-to-buttonlink.test..js
  packages/gestalt-codemods/119.2.0/button-href-to-buttonlink.js
Labels: minor release

#3118 TableOfContents: New Component
  .github/pr-title-checker-config.json
  docs/docs-components/data/components.js
  docs/docs-components/siteIndex.js
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/tableofcontents/dontPlaceFarAway.js
  docs/examples/tableofcontents/main.js
  docs/examples/tableofcontents/nestedItemsExample.js
  docs/examples/tableofcontents/topAlignWithContentTitle.js
  docs/examples/tableofcontents/withHeaderExample.js
  docs/graphics/general/TableOfContents.svg
  docs/pages/BlogPosts.json
  docs/pages/foundations/forms/structure_and_behavior.js
  docs/pages/visual-test/TableOfContents-dark.js
  docs/pages/visual-test/TableOfContents-light.js
  docs/pages/web/tableofcontents.js
  docs/pages/web/utilities/defaultlabelprovider.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TableOfContents.css
  packages/gestalt/src/TableOfContents.css.flow
  packages/gestalt/src/TableOfContents.flowtest.js
  packages/gestalt/src/TableOfContents.js
  packages/gestalt/src/TableOfContents.test.js
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.css
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.css.flow
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.js
  packages/gestalt/src/TableOfContents/TableOfContentsItemList.js
  packages/gestalt/src/TableOfContents/getChildrenToArray.js
  packages/gestalt/src/TableOfContentsItem.js
  packages/gestalt/src/__snapshots__/TableOfContents.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/contexts/NestingProvider.js
  packages/gestalt/src/index.js
  playwright/accessibility/web__tableofcontents.spec.mjs
  playwright/visual-test/TableOfContents-dark.spec.mjs
  playwright/visual-test/TableOfContents-dark.spec.mjs-snapshots/TableOfContents-dark-chromium-darwin.png
  playwright/visual-test/TableOfContents.spec.mjs
  playwright/visual-test/TableOfContents.spec.mjs-snapshots/TableOfContents-light-chromium-darwin.png
Labels: minor release

#3125 DateField: fix locales in MM/DD/YYYY format, upgraded package, added unit tests
  docs/pages/web/datefield.js
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/src/DateField.jsdom.test.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
  yarn.lock
Labels: patch release

#3126 TableOfContents: Add default label
  packages/gestalt/src/TableOfContents.js
  packages/gestalt/src/__snapshots__/TableOfContents.test.js.snap
Labels: patch release

#3130 Docs: Fix layout of TableOfContents examples
  docs/examples/tableofcontents/dontPlaceFarAway.js
  docs/examples/tableofcontents/main.js
  docs/examples/tableofcontents/nestedItemsExample.js
  docs/examples/tableofcontents/topAlignWithContentTitle.js
  docs/examples/tableofcontents/withHeaderExample.js
Labels: patch release

#3133 Docs: Use TableOfContents component in ToC
  docs/docs-components/Toc.js
Labels: patch release

#3137 SideNavigation: Rename `title` prop to `mobileTitle`
  docs/docs-components/DocsSideNavigation.js
  docs/examples/devicetypeprovider/implementation.js
  docs/examples/sidenavigation/mobileExample.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigation/Mobile.js
Labels: major release

#3127 Text: Add CJK wrapping to Text
  docs/examples/text/cjkText.js
  docs/pages/web/text.js
  packages/gestalt/src/Text.css
Labels: patch release

#3128 Tokens: Move Emoji Fonts Higher
  packages/gestalt-design-tokens/tokens/font/base.json
Labels: patch release

#3139 Docs: removed outdated stats from table in tooling
  docs/pages/get_started/developers/tooling/web.js
Labels: patch release

#3140 Docs: removed outdated stats from table in tooling
  docs/pages/get_started/developers/tooling/web.js
Labels: patch release

#3141 DatePicker: new documented issue
  docs/docs-components/data/components.js
Labels: patch release

#3132 OverlayPanel: fix PopoverEducational positioning issues in footer
  packages/gestalt/src/OverlayPanel/InternalOverlayPanel.js
  packages/gestalt/src/ScrollBoundaryContainer/InternalScrollBoundaryContainerWithForwardRef.js
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/ScrollBoundaryContainer.test.js.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
Labels: patch release

#3142 Module: Center the collapse/expand icon
  packages/gestalt/src/Module/ExpandableItem.js
  packages/gestalt/src/Module/__snapshots__/ExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
Labels: patch release

#3134 SideNavigation: Remove Tooltip on dropdown open
  packages/gestalt/src/SideNavigation/PrimaryActionIconButton.js
Labels: patch release

#3144 Component Status: Update components.js
  docs/docs-components/data/components.js
Labels: patch release

#3145 Icon: add target icon and keywords
  docs/docs-components/Header.js
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/target.svg
Labels: patch release

#3143 Chart: new gestalt-chart package setup
  .eslintignore
  .github/pr-title-checker-config.json
  .github/workflows/alpha.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  docs/docs-components/DevelopmentEditor.js
  docs/docs-components/Example.js
  docs/docs-components/MainSectionCard.js
  docs/docs-components/PageHeader.js
  docs/docs-components/SandpackExample.js
  docs/docs-components/data/components.js
  docs/docs-components/handleCodeSandbox.js
  docs/docs-components/siteIndex.js
  docs/graphics/general/Chart.svg
  docs/markdown/get_started/developers/contributing/development_process.md
  docs/package.json
  docs/pages/_app.js
  docs/pages/get_started/developers/installation.js
  docs/pages/get_started/developers/releases.js
  docs/pages/get_started/faq.js
  docs/pages/web/chart.js
  package.json
  packages/gestalt-charts/.npmignore
  packages/gestalt-charts/README.md
  packages/gestalt-charts/dist/gestalt-charts.js.flow
  packages/gestalt-charts/dist/index.d.ts
  packages/gestalt-charts/package.json
  packages/gestalt-charts/rollup.config.js
  packages/gestalt-charts/src/Chart.css
  packages/gestalt-charts/src/Chart.css.flow
  packages/gestalt-charts/src/Chart.js
  packages/gestalt-charts/src/Chart.jsdom.test.js
  packages/gestalt-charts/src/index.js
  playwright/accessibility/web__chart.spec.mjs
  scripts/cssValidate.js
  scripts/generateMetadata.js
  scripts/netlify.sh
  scripts/publish.js
  scripts/releaseSteps.js
  scripts/test.sh
  yarn.lock
Labels: minor release

#3148 Button: Update Android button docs
  docs/markdown/android/button.md
Labels: patch release

#3147 Docs: Migrate TextArea, Pog, Video, Image, Status, Layer examples to Sandpack
  docs/examples/image/delayOffScreenImageLoading.js
  docs/examples/image/imagesForPresentationOnly.js
  docs/examples/image/overlayContentOnImage.js
  docs/examples/image/placeholderColorUsage.js
  docs/examples/image/scalingImageToFitContainer.js
  docs/examples/layer/childContentRenderedOutsideExample.js
  docs/examples/layer/stackingUsingZIndexExample.js
  docs/examples/pog/main.js
  docs/examples/status/ariaAttributesExample1.js
  docs/examples/status/ariaAttributesExample2.js
  docs/examples/status/dontPlaceFarAwayFromItsSubject.js
  docs/examples/status/dontUseSVGsOrImages.js
  docs/examples/status/dontUseSubText.js
  docs/examples/status/mainExample.js
  docs/examples/status/placeCloseToItsSubject.js
  docs/examples/status/textAdditionsExample1.js
  docs/examples/status/textAdditionsExample2.js
  docs/examples/status/useTitleWhenItRepresents.js
  docs/examples/status/useToCommunicateAStepIn.js
  docs/examples/textarea/defaultVariant.js
  docs/examples/textarea/disabledVariant.js
  docs/examples/textarea/dontSetRowPropToLessThan2.js
  docs/examples/textarea/dontUsePlaceholderAsReplacementForLabel.js
  docs/examples/textarea/dontUsePlaceholderToProvideAny.js
  docs/examples/textarea/dontUseWhenTextInputIsASingle.js
  docs/examples/textarea/errorMessageVariant.js
  docs/examples/textarea/helperTextVariant.js
  docs/examples/textarea/labelVisibilityVariant.js
  docs/examples/textarea/maximumLengthExample1.js
  docs/examples/textarea/maximumLengthExample2.js
  docs/examples/textarea/readOnlyVariant.js
  docs/examples/textarea/setHeightOfUsingRowTo.js
  docs/examples/textarea/useAsAffordanceToInputLongerText.js
  docs/examples/textarea/useHelperTextToProvideAdditional.js
  docs/examples/textarea/useLabelToClearlyDenoteWhat.js
  docs/examples/textarea/withRowsExample.js
  docs/examples/textarea/withTagsExample.js
  docs/examples/video/autoplayAndErrorDetectionExample.js
  docs/examples/video/captionsExample.js
  docs/examples/video/controlsExample.js
  docs/examples/video/mainExample.js
  docs/examples/video/multipleSourcesExample.js
  docs/examples/video/updatesExample.js
  docs/examples/video/withChildrenExample.js
  docs/pages/web/image.js
  docs/pages/web/layer.js
  docs/pages/web/pog.js
  docs/pages/web/status.js
  docs/pages/web/textarea.js
  docs/pages/web/video.js
Labels: patch release

#3150 Internal: move gestalt-charts to end of release list
  .github/workflows/release.yml
Labels: major release

#3151 Internal: updated github personal token
  .github/workflows/alpha.yml
  .github/workflows/release.yml
Labels: patch release

#3153 Internal: fix npm publishing
  docs/docs-components/DocSearch.js
Labels: patch release

#3155 Docs: Migrate CheckBox, RadioGroup, ZIndex classes, SegmentedControl examples to Sandpack
  docs/examples/checkbox/dontUseForOneSelection.js
  docs/examples/checkbox/dontUseNumerousInTableRows.js
  docs/examples/checkbox/dontUseToToggleState.js
  docs/examples/checkbox/dontUseTruncatedText.js
  docs/examples/checkbox/dontVerticallyCenterInputs.js
  docs/examples/checkbox/errorMessageExample.js
  docs/examples/checkbox/keepLabelsAndLegendsClear.js
  docs/examples/checkbox/labelVisibilityExample.js
  docs/examples/checkbox/legendsExample.js
  docs/examples/checkbox/sizeExample.js
  docs/examples/checkbox/stateExample.js
  docs/examples/checkbox/useAtStartOfTableRow.js
  docs/examples/checkbox/useForMultiSelection.js
  docs/examples/checkbox/useSingleInForms.js
  docs/examples/checkbox/useVerticalAlignment.js
  docs/examples/checkbox/withHelperTextExample.js
  docs/examples/checkbox/withImageExample.js
  docs/examples/radiogroup/addingAPopoverExample.js
  docs/examples/radiogroup/directionExample.js
  docs/examples/radiogroup/dontUseToSelectMultipleItems.js
  docs/examples/radiogroup/dontUseToToggleStateOnMobile.js
  docs/examples/radiogroup/dontUseTruncatedText.js
  docs/examples/radiogroup/keepLabelsAndLegendsClear.js
  docs/examples/radiogroup/legendVisibilityExample.js
  docs/examples/radiogroup/main.js
  docs/examples/radiogroup/sizeExample.js
  docs/examples/radiogroup/statesExample.js
  docs/examples/radiogroup/useToSelectOnlyOneOption.js
  docs/examples/radiogroup/useWhenNeedClearAnswer.js
  docs/examples/radiogroup/withAnErrorExample.js
  docs/examples/radiogroup/withCustomLabelsExample.js
  docs/examples/radiogroup/withHelperTextExample.js
  docs/examples/radiogroup/withImageExample.js
  docs/examples/segmentedcontrol/defaultExample.js
  docs/examples/segmentedcontrol/mainExample.js
  docs/examples/segmentedcontrol/responsiveExample.js
  docs/examples/sidenavigation/footerVariant.js
  docs/examples/zindex_classes/foundationalComponentsExample.js
  docs/examples/zindex_classes/layerExample.js
  docs/pages/web/checkbox.js
  docs/pages/web/radiogroup.js
  docs/pages/web/segmentedcontrol.js
  docs/pages/web/sidenavigation.js
  docs/pages/web/zindex_classes.js
Labels: patch release

#3156 Docs: update ios &aos sheet docs
  docs/markdown/android/sheet.md
  docs/markdown/ios/sheet.md
Labels: patch release

#3136 Text: Add breakAll option to Text
  docs/examples/text/variantOverflowTruncation.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Text.js
  packages/gestalt/src/Typography.css
  packages/gestalt/src/Typography.css.flow
Labels: minor release

#3158 Heading: Add BreakAll support to Header
  docs/examples/heading/overflowAndTruncationExample.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Heading.js
Labels: minor release

#3165 Text: Swap word-break property
  docs/examples/text/variantOverflowTruncation.js
  packages/gestalt/src/Typography.css
Labels: patch release

#3169 Icon: updated star icons
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_star-half_gestalt.svg
  packages/gestalt-icons-android/ic_star-outlined_gestalt.svg
  packages/gestalt-icons-android/ic_star_gestalt.svg
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/star-half.svg
  packages/gestalt/src/icons/star-outline.svg
  packages/gestalt/src/icons/star.svg
Labels: patch release

#3171 ComboBox: Fix Bottom Rendering
  packages/gestalt/src/ComboBox.js
Labels: patch release

#3170 Upsell: Update default backgrounds for elevationRaised
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/ModuleExpandable.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandable.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
Labels: minor release

#3173 TableOfContents: Show maker only for active or hovered item
  docs/docs-components/Toc.js
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.js
  packages/gestalt/src/__snapshots__/TableOfContents.test.js.snap
Labels: patch release

#3175 Docs: Migrate foundation examples sandpack
  docs/docs-components/PageHeader.js
  docs/examples/iconography/centerAlignWithText.js
  docs/examples/iconography/dontBaselineWithText.js
  docs/examples/iconography/dontModifyIconDesignSpecs.js
  docs/examples/iconography/dontUseIconsWithoutLabels.js
  docs/examples/iconography/dontUseLowContrastColors.js
  docs/examples/iconography/stickToOurDesignTokens.js
  docs/examples/iconography/useIconsFollowingDesignSpecs.js
  docs/examples/iconography/useIconsSemantically.js
  docs/examples/typography/alignAndSpaceTextForReadability.js
  docs/examples/typography/dontCenterTextWithTightLeading.js
  docs/examples/typography/dontTruncateParagraphText.js
  docs/examples/typography/dontTruncateTextInControls.js
  docs/examples/typography/dontUseFixedSizeLineHeightAndCaps.js
  docs/examples/typography/dontUseSmallSizes.js
  docs/examples/typography/truncateForSecondaryText.js
  docs/examples/typography/useProperFontSize.js
  docs/examples/typography/useStandardsForLanguageTranslation.js
  docs/examples/typography/wrapTextWhenNeeded.js
  docs/pages/foundations/iconography/usage.js
  docs/pages/foundations/typography/guidelines.js
Labels: patch release

#3176 Docs: Fix ToC overflow
  docs/docs-components/Toc.js
Labels: patch release

#3178 Checkbox: iOS/Android update example images
  docs/markdown/android/checkbox.md
  docs/markdown/ios/checkbox.md
Labels: patch release

#3179 TapArea: support to new `dataTestId` prop
  docs/pages/web/taparea.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TapArea.js
Labels: minor release, blog-post
