Repository pinterest/gestalt, pull requests merged in 2023-04, with the labels that each got.

#2795 Popover: deprecate info in Docs re color and caret
  docs/docs-components/COMPONENT_DATA.js
  docs/examples/popover/doEducate.js
  docs/examples/popover/dontCaret.js
  docs/examples/popover/variantAnchor.js
  docs/examples/popover/variantColorCaret.js
  docs/examples/popover/variantIdealDirection.js
  docs/examples/popover/variantScrollingContainers.js
  docs/examples/popover/variantVisibility.js
  docs/pages/web/popover.js
  packages/gestalt/src/Popover.js
Labels: patch release

#2796 Table: implemented header/footer borders
  docs/pages/web/table.js
  packages/gestalt/src/Table.css
  packages/gestalt/src/Table.css.flow
  packages/gestalt/src/Table.js
  packages/gestalt/src/TableFooter.js
  packages/gestalt/src/TableHeader.js
  packages/gestalt/src/__snapshots__/TableFooter.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableHeader..jsdom.test.js.snap
Labels: minor release

#2792 TextField: add 'inputMode' prop
  docs/pages/web/textfield.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField/InternalTextField.js
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
Labels: minor release

#2797 Table: implement controlled Table.RowExpanded with `expanded` prop
  docs/examples/table/controlledExpandable.js
  docs/examples/table/main.js
  docs/examples/table/uncontrolledExpandable.js
  docs/pages/web/table.js
  packages/gestalt/src/TableRowDrawer.js
  packages/gestalt/src/TableRowExpandable.js
Labels: minor release

#2798 DatePicker: remove hard coded date formats and replaced to dynamically feed from date-fns
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/dateFormat.js
Labels: major release

#2801 TextField: remove `inputMode` default to text as it can interfere with `type`. Undo change introduced in #2792
  packages/gestalt/src/TextField.js
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
Labels: patch release

#2800 Docs: add March newsletter
  docs/pages/BlogPosts.json
Labels: patch release

#2802 Docs: Removing Paragraph BG Color for MD documents
  docs/docs.css
Labels: patch release

#2794 DatePicker: added Year/Month dropdown options, removed virtual keyboard, upgraded react-datepicker to 4.0.0
  docs/examples/datepicker/main.js
  docs/examples/datepicker/selectLists.js
  docs/pages/web/datepicker.js
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt-datepicker/src/DatePickerTextField.js
  yarn.lock
Labels: major release

#2805 Collage: migrate docs examples to Sandpack
  docs/examples/collage/main.js
  docs/examples/collage/variantsColumns.js
  docs/examples/collage/variantsColumnsCoverImage.js
  docs/examples/collage/variantsCoverImage.js
  docs/examples/collage/variantsGutter.js
  docs/examples/collage/variantsLayoutKey.js
  docs/pages/web/collage.js
Labels: patch release

#2806 TextField, NumberField: prefix 'mobile' to mobile only props: inputMode & enterKeyHint
  docs/examples/numberfield/enterKeyHint.js
  packages/gestalt-datepicker/src/DatePickerTextField.js
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/NumberField.test.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField.test.js
  packages/gestalt/src/TextField/InternalTextField.js
Labels: major release

#2745 Docs: 2023 Q1 Newsletter
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/markdown/blog/2023_q1_newsletter.md
  playwright/accessibility/blog__2023_q1_newsletter.spec.mjs
Labels: patch release

#2808 Icon: update docs for color and other props
  packages/gestalt/src/Icon.js
Labels: patch release

#2810 Docs: Q1 newsletter fix
  docs/markdown/blog/2023_q1_newsletter.md
Labels: patch release

#2807 Docs: Add white bg to darkmode images, remove padding
  docs/docs-components/MarkdownPage.js
  docs/markdown/android/avatar.md
  docs/markdown/android/checkbox.md
  docs/markdown/android/switch.md
  docs/markdown/android/toast.md
  docs/markdown/ios/avatar.md
  docs/markdown/ios/checkbox.md
  docs/markdown/ios/icon.md
  docs/markdown/ios/switch.md
  docs/markdown/ios/toast.md
  docs/pages/BlogPosts.json
  docs/pages/whats_new.js
Labels: patch release

#2811 Docs: fix mobile examples display
  docs/docs-components/SandpackExample.js
  docs/pages/web/modal.js
  docs/pages/web/modalalert.js
  docs/pages/web/sheetmobile.js
  docs/pages/web/sidenavigation.js
Labels: patch release

#2804 Updated mobile and documentation statuses for all components
  docs/docs-components/COMPONENT_DATA.js
Labels: patch release

#2814 Docs: 4/7 weekly digest
  docs/pages/BlogPosts.json
Labels: patch release

#2816 Icon: add "briefcase" icon
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt/src/icons/briefcase.svg
  packages/gestalt/src/icons/index.js
Labels: minor release

#2817 Internal: upgrade xml2js to 0.5.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#2818 SheetMobile: fixes and docs additions
  docs/examples/sheetmobile/differentSize.js
  docs/graphics/building-blocks/SheetMobile.svg
  docs/pages/web/sheetmobile.js
  packages/gestalt/src/SheetMobile.js
Labels: major release

#2822 Docs: lint development_process.md
  docs/markdown/get_started/developers/contributing/development_process.md
Labels: patch release

#2824 Text: Android component specs and guidelines
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/text.md
  playwright/accessibility/android__text.spec.mjs
Labels: patch release

#2823 Internal: add `realisticPinHeights` option for Masonry integration test route
  docs/integration-test-helpers/masonry/ExampleGridItem.js
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/integration-test-helpers/masonry/items-utils.js
  docs/integration-test-helpers/masonry/items-utils/generateExampleItems.js
  docs/integration-test-helpers/masonry/items-utils/generateRealisticExampleItems.js
  docs/integration-test-helpers/masonry/items-utils/getRandomColor.js
  docs/integration-test-helpers/masonry/items-utils/getRandomNumberGenerator.js
  docs/integration-test-helpers/masonry/items-utils/pinHeights.js
  docs/pages/integration-test/masonry.js
  playwright/masonry/utils/getServerURL.mjs
Labels: patch release

#2829 Internal: upgrade @codesandbox/sandpack-react to 1.20.9
  package.json
  yarn.lock
Labels: dependencies, patch release

#2830 Internal: upgrade @codesandbox/sandpack-react to 2.6.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#2833 Internal: Stop generating inline sourcemaps
  packages/eslint-plugin-gestalt/rollup.config.js
  packages/gestalt-datepicker/rollup.config.js
  packages/gestalt/rollup.config.js
Labels: major release

#2828 Link: Convert examples to use Sandpack
  docs/examples/link/accessibilityBoxes.js
  docs/examples/link/accessibilityTiers.js
  docs/examples/link/doClarity.js
  docs/examples/link/doDisplayExternal.js
  docs/examples/link/doMatchStyle.js
  docs/examples/link/doMeaning.js
  docs/examples/link/doUnderline.js
  docs/examples/link/doWeightLists.js
  docs/examples/link/dontGeneric.js
  docs/examples/link/dontMultiple.js
  docs/examples/link/dontOtherIcons.js
  docs/examples/link/dontOveruse.js
  docs/examples/link/dontUnderlineLists.js
  docs/examples/link/dontWeightTexts.js
  docs/examples/link/main.js
  docs/examples/link/variantExternalIcon.js
  docs/examples/link/variantHiddenUnderline.js
  docs/examples/link/variantInlineLink.js
  docs/examples/link/variantInlineOverride.js
  docs/examples/link/variantLinkText.js
  docs/examples/link/variantRel.js
  docs/examples/link/variantStandaloneLink.js
  docs/examples/link/variantTarget.js
  docs/pages/web/link.js
Labels: patch release

#2841 Internal: upgrade Flow to 0.188.2
  .flowconfig
  package.json
  yarn.lock
Labels: dependencies, patch release

#2831 TextArea: Add Android guidelines and specs
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/searchfield.md
  docs/markdown/android/textarea.md
  docs/markdown/android/textfield.md
  playwright/accessibility/android__textarea.spec.mjs
Labels: patch release

#2842 SheetMobile: Added additional header and footer context
  docs/pages/web/sheetmobile.js
Labels: patch release

#2843 Docs: add support for dark mode and RTL in Sandpack examples
  docs/docs-components/SandpackExample.js
  docs/docs-components/buttons/CodeExampleDarkModeButton.js
  docs/docs-components/buttons/CodeExampleTextDirectionButton.js
  packages/gestalt/src/Layout.css
  packages/gestalt/src/Layout.css.flow
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
Labels: patch release

#2845 Docs: additional information about releases: codemod outputs in csv and alpha release process
  docs/pages/get_started/developers/releases.js
Labels: patch release

#2850 Icon: add sun/moon icons, use in docs dark mode button
  docs/docs-components/buttons/CodeExampleDarkModeButton.js
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_moon.svg
  packages/gestalt-icons-android/ic_sun.svg
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/moon.svg
  packages/gestalt/src/icons/sun.svg
  scripts/validateIconSvgSpecs.js
Labels: minor release

#2851 Docs: update dark mode and text direction from "global" when changed
  docs/docs-components/SandpackExample.js
Labels: patch release

#2846 Box, Textfield, TextArea: fixed `visuallyHidden` prop CSS configuration, fixed bug in overflowing `maxLength.errorAccessibilityLabel`
  packages/gestalt/src/Box.css
Labels: patch release

#2825 DateField, DatePicker: DateField new component (ALPHA), DatePicker moved to named export
  .github/pr-title-checker-config.json
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/DevelopmentEditor.js
  docs/docs-components/Example.js
  docs/docs-components/MainSectionCard.js
  docs/docs-components/PageHeader.js
  docs/docs-components/siteIndex.js
  docs/examples/datefield/error.js
  docs/examples/datefield/main.js
  docs/examples/datefield/states.js
  docs/examples/datepicker/main.js
  docs/examples/datepicker/selectLists.js
  docs/examples/sidenavigation/footerExample.js
  docs/graphics/general/DateField.svg
  docs/pages/get_started/developers/installation.js
  docs/pages/visual-test/DateField-dark.js
  docs/pages/visual-test/DateField-light.js
  docs/pages/visual-test/DatePicker-closed-dark.js
  docs/pages/visual-test/DatePicker-closed.js
  docs/pages/web/datefield.js
  docs/pages/web/datepicker.js
  flow-typed/npm/@mui/material_vx.x.x.js
  flow-typed/npm/@mui/x-date-pickers_vx.x.x.js
  packages/gestalt-datepicker/README.md
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/src/DateField.css
  packages/gestalt-datepicker/src/DateField.css.flow
  packages/gestalt-datepicker/src/DateField.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DatePicker/TextField.js
  packages/gestalt-datepicker/src/index.js
  playwright/accessibility/web__datefield.spec.mjs
  playwright/visual-test/DateField-dark.spec.mjs
  playwright/visual-test/DateField-dark.spec.mjs-snapshots/DateField-dark-chromium-darwin.png
  playwright/visual-test/DateField.spec.mjs
  playwright/visual-test/DateField.spec.mjs-snapshots/DateField-light-chromium-darwin.png
  scripts/generateMetadata.js
  yarn.lock
Labels: major release

#2852 Docs: update header icon button toggles
  docs/docs-components/Header.js
Labels: patch release

#2855 DateField: fixed responsiveness issue & added disableRange example
  docs/docs-components/SandpackExample.js
  docs/examples/datefield/disabled.js
  docs/examples/datefield/error.js
  docs/examples/datefield/main.js
  docs/examples/datefield/states.js
  docs/pages/web/datefield.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
Labels: patch release

#2859 DateField: css fixes
  packages/gestalt-datepicker/src/DateField.css
  packages/gestalt-datepicker/src/DateField.css.flow
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
Labels: patch release

#2861 DateField: undoing ._gestalt in DateField.css file as it breaks style
  packages/gestalt-datepicker/src/DateField.css
Labels: patch release

#2856 Text: convert examples to use Sandpack
  docs/docs-components/SandpackExample.js
  docs/examples/text/doMinimalStyle.js
  docs/examples/text/doStartAlign.js
  docs/examples/text/doUseSize.js
  docs/examples/text/doWeight.js
  docs/examples/text/dontCenterAlign.js
  docs/examples/text/dontMixStyles.js
  docs/examples/text/dontUnderline.js
  docs/examples/text/dontUseHierarchy.js
  docs/examples/text/main.js
  docs/examples/text/variantAlignment.js
  docs/examples/text/variantBoxInline.js
  docs/examples/text/variantColors.js
  docs/examples/text/variantOverflowTruncation.js
  docs/examples/text/variantRefs.js
  docs/examples/text/variantSizes.js
  docs/examples/text/variantStyles.js
  docs/examples/text/variantTitle.js
  docs/pages/web/text.js
Labels: patch release

#2862 TextField: fix tooltip triggering on icon button
  packages/gestalt/src/TextField/InternalTextFieldIconButton.js
Labels: patch release

#2863 Docs: fix outdated/incorrect links
  docs/docs-components/Overview.js
  docs/pages/foundations/color/examples.js
  docs/pages/foundations/iconography/library.js
  docs/pages/foundations/iconography/usage.js
  docs/pages/web/link.js
  docs/pages/web/sheetmobile.js
  docs/redirects.js
  packages/gestalt/src/TextField.js
Labels: patch release

#2860 Link: Fixing code not expanding vertically
  docs/pages/web/link.js
Labels: patch release

#2809 Text: iOS component specs and guidelines
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/markdown/ios/text.md
  playwright/accessibility/ios__text.spec.mjs
Labels: patch release

#2865 Internal: update Flow to v0.190.1
  .flowconfig
  package.json
  yarn.lock
Labels: patch release

#2864 Popover, PopoverEducational: internal popover component to build different APIs for Popover & PopoverEducational
  packages/gestalt/src/Popover.js
  packages/gestalt/src/Popover/InternalPopover.js
  packages/gestalt/src/PopoverEducational.js
Labels: patch release

#2866 Icon: additions to android repo
  packages/gestalt-icons-android/ic_arrow-circle-back_pds.svg
  packages/gestalt-icons-android/ic_briefcase_pds.svg
  packages/gestalt-icons-android/ic_create-section_pds.svg
  packages/gestalt-icons-android/ic_move-pin_pds.svg
  packages/gestalt-icons-android/ic_workflow-status-queued_pds.svg
Labels: patch release

#2871 PopoverEducational: changing `accessibilityLabel` prop to optional
  packages/gestalt/src/PopoverEducational.js
Labels: patch release

#2853 Masonry: add experimental prop to batch paints
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/pages/integration-test/masonry.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/MeasureItems.js
  playwright/masonry/utils/getServerURL.mjs
Labels: minor release

#2872 Link, Button, TapArea, IconButton: fix default label to target="blank".
  docs/examples/table/main.js
  packages/gestalt/src/NewTabAccessibilityLabel.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Link.test.js.snap
Labels: patch release

#2873 Docs: Roadmap updates
  docs/pages/RoadmapData.json
Labels: patch release

#2867 Internal: upgrade to Flow 0.191.0
  .flowconfig
  docs/docs-components/Overview.js
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/pages/integration-test/masonry.js
  docs/removeFlowTypesLoader.js
  package.json
  packages/eslint-plugin-gestalt/src/helpers/styleValidators.js
  packages/eslint-plugin-gestalt/src/no-workflow-status-icon.js
  packages/gestalt-datepicker/src/DateField.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/getRoundingClassName.js
  packages/gestalt/src/style.js
  packages/gestalt/src/utils/keyboardNavigation.js
  playwright/masonry/load-more.spec.mjs
  playwright/masonry/optimized-remount.spec.mjs
  playwright/masonry/utils/countColumns.mjs
  yarn.lock
Labels: patch release

#2868 Docs: Weekly update for April 21
  docs/pages/BlogPosts.json
Labels: patch release

#2869 TextArea: Add MaxHeight for Rows with Tags
  docs/pages/web/textarea.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
Labels: patch release

#2875 Docs: fix incorrect links
  docs/markdown/android/iconbutton.md
  docs/markdown/android/sheet.md
Labels: patch release

#2874 Internal: upgrade to Flow 0.192.0
  .flowconfig
  docs/docs-components/clipboardCopy.js
  package.json
  yarn.lock
Labels: patch release

#2878 Internal: fix master after missing id in example (introduced in #2869)
  docs/pages/web/textarea.js
Labels: patch release

#2877 Docs: Fix broken web Overview page
  docs/docs-components/Overview.js
Labels: patch release

#2876 Internal: upgrade to Flow 0.193.0
  .flowconfig
  package.json
  yarn.lock
Labels: patch release

#2881 Internal: upgrade to Flow 0.195.2
  .flowconfig
  package.json
  yarn.lock
Labels: patch release

#2882 Internal: upgrade to Flow 0.196.2
  .flowconfig
  docs/docs-components/MarkdownPage.js
  package.json
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.js
  packages/eslint-plugin-gestalt/src/no-role-link-components.js
  yarn.lock
Labels: patch release

#2883 Internal: upgrade to Flow 0.198.2
  .flowconfig
  package.json
  packages/gestalt/src/AvatarGroup.js
  yarn.lock
Labels: patch release

#2884 Internal: upgrade to Flow 0.201.0
  .flowconfig
  package.json
  packages/gestalt/src/Avatar/DefaultAvatar.js
  packages/gestalt/src/Tabs.js
  yarn.lock
Labels: patch release

#2885 Internal: upgrade to Flow v0.202.0
  .flowconfig
  package.json
  yarn.lock
Labels: patch release
