Repository pinterest/gestalt, pull requests merged in 2023-01, with the labels that each got.

#2579 Docs: fix manual prop table value on IconButton
  docs/pages/web/iconbutton.js
Labels: patch release

#2583 Internal: Revert "Bump minimatch from 3.0.4 to 3.0.8 (#2506)"
  yarn.lock
Labels: patch release

#2582 Internal: tweak generic codemods for easier copy/paste-ability
  packages/gestalt-codemods/generic-codemods/detectManualReplacement.js
  packages/gestalt-codemods/generic-codemods/modifyProp.js
  packages/gestalt-codemods/generic-codemods/modifyPropValue.js
  packages/gestalt-codemods/generic-codemods/renameComponent.js
Labels: patch release

#2581 Link: replace `inline` prop with `display`
  docs/docs-components/Page.js
  docs/examples/avatarGroup/sizing.js
  docs/examples/combobox/labels.js
  docs/examples/iconbutton/keyboard.js
  docs/examples/link/inline.js
  docs/examples/modalalert/errorSingleAction.js
  docs/pages/foundations/color/examples.js
  docs/pages/foundations/iconography/library.js
  docs/pages/foundations/messaging/available_components.js
  docs/pages/foundations/messaging/priority_and_placement.js
  docs/pages/foundations/typography/guidelines.js
  docs/pages/get_started/developers/installation.js
  docs/pages/get_started/developers/tooling/web.js
  docs/pages/get_started/faq.js
  docs/pages/roadmap.js
  docs/pages/visual-test/Link-dark.js
  docs/pages/visual-test/Link.js
  docs/pages/web/checkbox.js
  docs/pages/web/component_status.js
  docs/pages/web/fieldset.js
  docs/pages/web/link.js
  docs/pages/web/list.js
  docs/pages/web/radiogroup.js
  docs/pages/web/slimbanner.js
  docs/pages/web/text.js
  docs/pages/web/toast.js
  docs/pages/year_in_review_2022.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link.jsdom.test.js
  packages/gestalt/src/Link.test.js
  packages/gestalt/src/PageHeaderComponents.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/SlimBanner.test.js
  packages/gestalt/src/Toast.test.js
Labels: major release, blog-post

#2584 Internal: actually fix autogen props default values
  docs/docs-components/GeneratedPropTable.js
  yarn.lock
Labels: patch release

#2562 Popover: Controlled height based on size of contents
  packages/gestalt/src/Contents.js
  packages/gestalt/src/__snapshots__/Controller.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
Labels: patch release

#2585 Internal: rename Touchable.css to TapArea.css
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.js
  packages/gestalt/src/ComboBoxItem.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/InternalDismissButton.js
  packages/gestalt/src/InternalLink.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/TapArea.css
  packages/gestalt/src/TapArea.css.flow
  packages/gestalt/src/TapArea.js
Labels: patch release

#2586 Internal: add Flow stub for lottie-react
  docs/docs-components/YearInReviewBanner.js
  docs/pages/year_in_review_2022.js
  flow-typed/npm/lottie-react_vx.x.x.js
Labels: patch release

#2587 Internal: add Flow types to icon data
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/foundations/iconography/ICON_DATA.json.flow
  docs/pages/foundations/iconography/library.js
Labels: patch release

#2588 Internal: add Flow declaration for roadmap data json
  docs/pages/RoadmapData.json
  docs/pages/RoadmapData.json.flow
  docs/pages/roadmap.js
Labels: patch release

#2590 Internal: add Flow declaration for blog posts json
  docs/pages/BlogPosts.json.flow
  docs/pages/whats_new.js
Labels: patch release

#2591 Internal: create Flow declaration stub for style-dictionary
  flow-typed/npm/style-dictionary_vx.x.x.js
  packages/gestalt-design-tokens/build.js
Labels: patch release

#2592 Internal: add flow declarations for @testing-library/user-event
  flow-typed/npm/@testing-library/user-event_v14.x.x.js
  packages/gestalt/src/ComboBox.jsdom.test.js
  packages/gestalt/src/TextArea.jsdom.test.js
  packages/gestalt/src/TextField.jsdom.test.js
Labels: patch release

#2593 Internal: add Flow declarations for Lottie JSON animations
  docs/docs-components/YearInReviewBanner.js
  docs/graphics/year-in-review/lottie/discoStars.json.flow
  docs/graphics/year-in-review/lottie/figma.json.flow
  docs/graphics/year-in-review/lottie/pencil.json.flow
  docs/graphics/year-in-review/lottie/steps.json.flow
  docs/graphics/year-in-review/lottie/vibes.json.flow
  docs/pages/year_in_review_2022.js
Labels: patch release

#2571 TextField: Ship password visibility experiment
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/textfield.js
  packages/gestalt/src/TextField.js
Labels: major release, blog-post

#2589 Dropdown: Update custom item example
  docs/examples/dropdown/customItem.js
  docs/pages/web/dropdown.js
Labels: patch release

#2594 Icons: Add keywords to icon search page
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/foundations/iconography/ICON_DATA.json.flow
  docs/pages/foundations/iconography/library.js
Labels: patch release

#2597 Replace Flow React$AbstractComponent with React wrapper type AbstractComponent
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DatePickerTextField.js
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/ComboBoxItem.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButtonFloating.js
  packages/gestalt/src/InternalDismissButton.js
  packages/gestalt/src/InternalTextField.js
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/RadioButton.js
  packages/gestalt/src/RadioGroupButton.js
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TextArea.js
  packages/gestalt/src/TextField.js
Labels: patch release

#2596 Docs: Update site layout
  docs/docs-components/AppLayout.js
  docs/docs-components/Header.js
  docs/docs-components/IllustrationCard.js
  docs/docs-components/IllustrationContainer.js
  docs/docs-components/IllustrationSection.js
  docs/docs-components/Page.js
  docs/docs-components/PageHeader.js
  docs/docs-components/Toc.js
  docs/pages/foundations/iconography/library.js
Labels: patch release

#2595 IconButton: Add icon color option for Pinterest brand
  docs/pages/web/iconbutton.js
  docs/pages/web/pog.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Pog.js
Labels: minor release

#2601 Icons: Add 21 new icons
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt/src/icons/3d-move.svg
  packages/gestalt/src/icons/3d.svg
  packages/gestalt/src/icons/apple.svg
  packages/gestalt/src/icons/arrow-left-curved.svg
  packages/gestalt/src/icons/board.svg
  packages/gestalt/src/icons/calendar-check.svg
  packages/gestalt/src/icons/cog.svg
  packages/gestalt/src/icons/desktop.svg
  packages/gestalt/src/icons/face-neutral.svg
  packages/gestalt/src/icons/flame.svg
  packages/gestalt/src/icons/home.svg
  packages/gestalt/src/icons/image-portrait.svg
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/instagram.svg
  packages/gestalt/src/icons/live.svg
  packages/gestalt/src/icons/magic-pen.svg
  packages/gestalt/src/icons/manage-access.svg
  packages/gestalt/src/icons/mobile.svg
  packages/gestalt/src/icons/overview.svg
  packages/gestalt/src/icons/pincode.svg
  packages/gestalt/src/icons/save-outline.svg
  packages/gestalt/src/icons/saved.svg
  packages/gestalt/src/icons/thumbs-down.svg
  packages/gestalt/src/icons/thumbs-up.svg
  packages/gestalt/src/icons/video-advance-10-seconds.svg
  packages/gestalt/src/icons/video-rewind-10-seconds.svg
  packages/gestalt/src/icons/whats-app.svg
  packages/gestalt/src/icons/wifi-no.svg
Labels: minor release

#2603 Internal: update release.yml to use pinterest-gestalt account
  .github/workflows/release.yml
Labels: patch release

#2605 Internal: update release.yml to use dangerismycat account
  .github/workflows/release.yml
Labels: patch release

#2607 Internal: NO BREAKING CHANGES - fix lint errors in codemod readme.md
  packages/gestalt-codemods/README.md
Labels: major release

#2604 Masonary: Update getDerivedStateFromProps Flowtype
  packages/gestalt/src/Masonry.js
Labels: patch release

#2609 Updated Data visualization menu item to be sentence case
  docs/docs-components/siteIndex.js
Labels: patch release

#2611 Internal: Flow fixes
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/VideoControls.js
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/style.js
  packages/gestalt/src/transforms.js
  packages/gestalt/src/useFocusVisible.js
  packages/gestalt/src/utils/matchMedia.js
  packages/gestalt/src/utils/positioningUtils.js
  packages/gestalt/src/utils/wrapWithComponent.js
Labels: patch release

#2614 Docs: add December newsletter
  docs/pages/BlogPosts.json
Labels: patch release

#2608 Table: fix unresponsive Table.Rowdrawer and Table.RowExpandable to wrapped children in React.Fragment
  packages/gestalt/src/Table/getChildrenCount.js
  packages/gestalt/src/TableRowDrawer.js
  packages/gestalt/src/TableRowExpandable.js
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.js.snap
Labels: patch release

#2599 Docs: Add Content Guidelines Page
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/DocsSideNavigation.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/docs.css
  docs/graphics/foundations/content.svg
  docs/markdown/foundations/content_standards/formatting.md
  docs/markdown/foundations/content_standards/grammar.md
  docs/markdown/foundations/content_standards/inclusive_language.md
  docs/markdown/foundations/content_standards/resources.md
  docs/markdown/foundations/content_standards/syntax_structure.md
  docs/markdown/foundations/content_standards/ui_elements.md
  docs/markdown/foundations/content_standards/voice.md
  playwright/accessibility/Content Standards.spec.mjs
  playwright/accessibility/Formatting.spec.mjs
  playwright/accessibility/Grammar.spec.mjs
  playwright/accessibility/Inclusive Language.spec.mjs
  playwright/accessibility/Resources.spec.mjs
  playwright/accessibility/Syntax Structure.spec.mjs
  playwright/accessibility/UI Elements.spec.mjs
  playwright/accessibility/Voice.spec.mjs
Labels: patch release

#2613 Docs: Jan 13 weekly digest
  docs/pages/BlogPosts.json
Labels: patch release

#2617 Tokens: Update text and icon subtle color
  docs/docs-components/ColorPalette.js
  docs/pages/foundations/data_visualization/usage.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt-design-tokens/tokens/color/base.json
  packages/gestalt-design-tokens/tokens/color/data-visualization/base.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: patch release

#2619 Docs: 1/20 weekly digest
  docs/pages/BlogPosts.json
Labels: patch release

#2616 Masonry: replace the `Item` prop with the `renderItem` prop
  docs/pages/visual-test/Masonry.js
  docs/pages/web/masonry.js
  packages/gestalt/src/Collage.js
  packages/gestalt/src/Collection.js
  packages/gestalt/src/Collection.test.js
  packages/gestalt/src/Masonry.flowtest.js
  packages/gestalt/src/Masonry.js
Labels: minor release

#2622 Icon: Add invoice icon
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/foundations/iconography/ICON_DATA.json.flow
  docs/pages/foundations/iconography/library.js
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/invoice.svg
Labels: minor release

#2620 Sheet: internal refactors
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/sheet/animationExample.js
  docs/examples/sheet/defaultExample.js
  docs/examples/sheet/footerExample.js
  docs/examples/sheet/preventClosingExample.js
  docs/examples/sheet/quickEditsExample.js
  docs/pages/web/sheet.js
  packages/gestalt/src/AnimationContext.flowtest.js
  packages/gestalt/src/AnimationContext.js
  packages/gestalt/src/AnimationContext.jsdom.test.js
  packages/gestalt/src/AnimationController.flowtest.js
  packages/gestalt/src/AnimationController.js
  packages/gestalt/src/Backdrop.js
  packages/gestalt/src/InternalSheet.js
  packages/gestalt/src/Sheet.flowtest.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/Sheet.jsdom.test.js
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
Labels: major release

#2623 Docs: Add details about icon creation
  docs/docs-components/LockIcon.js
  docs/docs-components/MarkdownPage.js
  docs/pages/foundations/iconography/creating_icons.js
Labels: patch release

#2618 Modal, ModalAlert: implement adaptive Modal, ModalAlert for mobile
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/modal/accessibilityExample.js
  docs/examples/modal/createBoardExample.js
  docs/examples/modal/limitActionsExample.js
  docs/examples/modal/mobileExample.js
  docs/examples/modal/preventCloseExample.js
  docs/examples/modal/roleAlertDialogExample.js
  docs/examples/modal/sizesExample.js
  docs/examples/modalalert/mobileExample.js
  docs/pages/visual-test/Modal-mobile.js
  docs/pages/visual-test/ModalAlert-mobile.js
  docs/pages/web/modal.js
  docs/pages/web/modalalert.js
  packages/gestalt/src/MobileModal.js
  packages/gestalt/src/Modal.css
  packages/gestalt/src/Modal.css.flow
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Modal.jsdom.test.js
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/ModalAlert.jsdom.test.js
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  playwright/visual-test/Modal-dark.spec.mjs-snapshots/Modal-dark-chromium-darwin.png
  playwright/visual-test/Modal-mobile.spec.mjs
  playwright/visual-test/Modal-mobile.spec.mjs-snapshots/Modal-mobile-chromium-darwin.png
  playwright/visual-test/Modal.spec.mjs-snapshots/Modal-chromium-darwin.png
  playwright/visual-test/ModalAlert-dark.spec.mjs-snapshots/ModalAlert-dark-chromium-darwin.png
  playwright/visual-test/ModalAlert-mobile.spec.mjs
  playwright/visual-test/ModalAlert-mobile.spec.mjs-snapshots/ModalAlert-mobile-chromium-darwin.png
  playwright/visual-test/ModalAlert.spec.mjs-snapshots/ModalAlert-chromium-darwin.png
Labels: major release

#2624 Docs: delete Modal, ModalAlert, Sheet examples used while developing
  docs/pages/web/modal.js
  docs/pages/web/modalalert.js
  docs/pages/web/sheet.js
Labels: patch release

#2626 Docs: Create script to produce slack block kit blog post
  package.json
  scripts/generateSlackBlockKitPost.js
Labels: patch release

#2628 Docs: fix old link on SlimBanner page
  docs/pages/web/slimbanner.js
Labels: patch release

#2627 Docs: add recent changes link to component pages
  docs/docs-components/PageHeader.js
Labels: patch release, blog-post

#2629 Masonry: add route for future integration tests
  docs/pages/integration-test/masonry.js
  docs/public/robots.txt
Labels: patch release

#2631 Upsell: extend `message` prop API from string to string | Text
  docs/pages/web/upsell.js
  packages/gestalt/src/Upsell.css
  packages/gestalt/src/Upsell.css.flow
  packages/gestalt/src/Upsell.js
Labels: patch release

#2632 ModalAlert: revert adaptive behavior in mobile
  docs/pages/web/modalalert.js
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.js.snap
  playwright/visual-test/ModalAlert-mobile.spec.mjs-snapshots/ModalAlert-mobile-chromium-darwin.png
Labels: patch release
