Repository pinterest/gestalt, pull requests merged in 2023-05, with the labels that each got.

#2886 Modal: Implement SheetMobile for mobile Modal and fix DismissButton positioning bug
  packages/gestalt/src/MobileModal.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/Modal.jsdom.test.js
  packages/gestalt/src/SheetMobile/Header.js
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
Labels: patch release

#2887 Docs: add April newsletter
  docs/pages/BlogPosts.json
Labels: patch release

#2899 IconButton: document "brandPrimary" option for `iconColor`
  docs/pages/web/iconbutton.js
Labels: patch release

#2812 Internal: add TypeScript declaration files
  .gitignore
  .prettierrc.json
  .vscode/settings.json
  README.md
  docs/pages/get_started/developers/installation.js
  docs/pages/get_started/faq.js
  package.json
  packages/gestalt-datepicker/dist/index.d.ts
  packages/gestalt-datepicker/package.json
  packages/gestalt/dist/index.d.ts
  packages/gestalt/package.json
  scripts/templates/README.md
  tsconfig.json
  yarn.lock
Labels: major release

#2902 TextField: Update Android docs content and specs
  docs/markdown/android/textfield.md
Labels: patch release

#2905 PopoverEducational: fix unresponsive `zIndex` prop
  packages/gestalt/src/PopoverEducational.js
Labels: patch release

#2903 Internal: Create ESLint rule to enforce List usage
  docs/pages/get_started/developers/eslint_plugin.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-list/invalid/no-gestalt-list-ol.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-list/invalid/no-gestalt-list-ul.js
  packages/eslint-plugin-gestalt/src/__fixtures__/prefer-list/valid/valid.js
  packages/eslint-plugin-gestalt/src/index.js
  packages/eslint-plugin-gestalt/src/prefer-list.js
  packages/eslint-plugin-gestalt/src/prefer-list.test.js
Labels: minor release

#2904 Docs: Weekly update and roadmap updates
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
Labels: patch release

#2906 Docs: Adding Design file hygiene section and new pages
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/graphics/team_support/design-file-hygiene.svg
  docs/markdown/ios/iconbutton.md
  docs/markdown/team_support/contributions.md
  docs/markdown/team_support/design_file_hygiene/design_handoff.md
  docs/markdown/team_support/design_file_hygiene/figma_branches.md
  docs/markdown/team_support/design_file_hygiene/naming_convention.md
  docs/markdown/team_support/design_file_hygiene/organizing_layout.md
  playwright/accessibility/team_support__design_file_hygiene__design_handoff.spec.mjs
  playwright/accessibility/team_support__design_file_hygiene__figma_branches.spec.mjs
  playwright/accessibility/team_support__design_file_hygiene__naming_convention.spec.mjs
  playwright/accessibility/team_support__design_file_hygiene__organizing_layout.spec.mjs
Labels: patch release

#2910 Status: updates visual snapshots
  docs/pages/visual-test/Status-dark.js
  playwright/visual-test/Status-dark.spec.mjs-snapshots/Status-dark-chromium-darwin.png
  playwright/visual-test/Status.spec.mjs-snapshots/Status-chromium-darwin.png
Labels: patch release

#2912 Docs: Design handoff page typo fix
  docs/markdown/team_support/design_file_hygiene/design_handoff.md
Labels: patch release

#2913 Internal: disable `import/no-namespace` for test files
  .eslintrc.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/animation/AnimationContext.jsdom.test.js
Labels: patch release

#2911 SheetMobile, OverlayPanel: implement `window.requestAnimationFrame` method
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Dropdown/OptionItem.js
  packages/gestalt/src/OverlayPanel.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.js
  packages/gestalt/src/OverlayPanel/InternalOverlayPanel.js
  packages/gestalt/src/SheetMobile.js
  packages/gestalt/src/SheetMobile.jsdom.test.js
  packages/gestalt/src/SheetMobile/Header.js
  packages/gestalt/src/SheetMobile/PartialPage.js
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/SheetMobile.jsdom.test.js.snap
  packages/gestalt/src/animation/AnimationContext.js
  packages/gestalt/src/animation/AnimationContext.jsdom.test.js
  packages/gestalt/src/animation/DismissingElement.js
  packages/gestalt/src/animation/RequestAnimationFrameContext.js
Labels: patch release

#2919 Dropdown: changed Dropdown.Link icon to "visit"
  packages/gestalt/src/Dropdown/OptionItem.js
Labels: patch release

#2917 Docs: Android page layout consistency
  docs/markdown/android/avatar.md
  docs/markdown/android/button.md
  docs/markdown/android/checkbox.md
  docs/markdown/android/icon.md
  docs/markdown/android/searchfield.md
  docs/markdown/android/sheet.md
  docs/markdown/android/switch.md
  docs/markdown/android/tabs.md
  docs/markdown/android/text.md
Labels: patch release

#2927 Dropdown: fixes visual snapshots after [#2919]
  playwright/visual-test/Dropdown-open-dark.spec.mjs-snapshots/Dropdown-open-dark-chromium-darwin.png
  playwright/visual-test/Dropdown-open.spec.mjs-snapshots/Dropdown-open-chromium-darwin.png
Labels: patch release

#2920 SheetMobile, OverlayPanel: fixes to animation
  packages/gestalt/src/Backdrop.css
  packages/gestalt/src/Backdrop.css.flow
  packages/gestalt/src/Backdrop.js
  packages/gestalt/src/OverlayPanel/InternalOverlayPanel.js
  packages/gestalt/src/SheetMobile/PartialPage.js
  packages/gestalt/src/animation/AnimationContext.js
  packages/gestalt/src/animation/AnimationContext.jsdom.test.js
  packages/gestalt/src/animation/RequestAnimationFrameContext.js
  packages/gestalt/src/animation/animation.css
  packages/gestalt/src/animation/animation.css.flow
Labels: patch release

#2915 SheetMobile: adding `onOutsideClick` prop
  packages/gestalt/src/SheetMobile.js
  packages/gestalt/src/SheetMobile/PartialPage.js
Labels: minor release

#2932 Internal: alphabetize dependencies
  package.json
Labels: patch release

#2931 Docs: Weekly update for May 12
  docs/pages/BlogPosts.json
Labels: patch release

#2930 OnLinkNavigationProvider: added "disabling provider" variant
  docs/docs-components/DevelopmentEditor.js
  docs/examples/onlinknavigationprovider/dangerouslyDisableOnNavigation.js
  docs/pages/web/utilities/onlinknavigationprovider.js
Labels: patch release

#2934 DateField: added spacious format
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
  playwright/visual-test/DateField-dark.spec.mjs-snapshots/DateField-dark-chromium-darwin.png
  playwright/visual-test/DateField.spec.mjs-snapshots/DateField-light-chromium-darwin.png
Labels: patch release

#2935 OnLinkNavigationProvider: example fix
  docs/docs-components/DevelopmentEditor.js
  docs/examples/onlinknavigationprovider/dangerouslyDisableOnNavigation.js
Labels: patch release

#2936 Internal: fixes to pass `flow codemod annotate-implicit-instantiations --write --include-widened --annotate-special-function-return .`
  packages/gestalt/src/AvatarGroup.js
Labels: patch release

#2933 Internal: Add 03 Dark Value to Data Viz Pallete
  docs/pages/foundations/data_visualization/palette.js
  packages/gestalt-design-tokens/tokens/color/data-visualization/base.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#2937 Internal: fixes to pass `flow codemod annotate-empty-array --write . `
  packages/gestalt/src/Masonry/defaultLayout.test.js
Labels: patch release

#2938 Internal: fixes to pass `flow codemod annotate-cycles --write .`
  docs/docs-components/Combination.js
  docs/docs-components/CombinationNew.js
  docs/docs-components/SkipToContent.js
  docs/docs-components/useGetSideNavItems.js
  docs/examples/tag/variantDismissable.js
  packages/gestalt/src/List/getChildrenToArray.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/SideNavigation/getChildrenToArray.js
  packages/gestalt/src/animation/RequestAnimationFrameContext.js
Labels: patch release

#2941 Internal: fixes to pass `flow codemod annotate-functions-and-classes --include-lti --write .`
  docs/docs-components/Combination.js
  docs/docs-components/CombinationNew.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/eslint-plugin-gestalt/src/no-workflow-status-icon.js
  packages/eslint-plugin-gestalt/src/prefer-box-inline-style.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
  packages/gestalt/src/Collage/Collection.js
  packages/gestalt/src/OverlayPanel/InternalOverlayPanel.js
  packages/gestalt/src/SideNavigationGroup.js
  playwright/masonry/flexible-resize.spec.mjs
  playwright/masonry/shuffle-items.spec.mjs
  playwright/masonry/utils/getGridItems.mjs
Labels: patch release

#2940 Avatar: correcting measurement units for Android
  docs/markdown/android/avatar.md
Labels: patch release

#2943 Docs: Figma plugins links update
  docs/docs-components/ResourcesFooter.js
Labels: patch release

#2942 Internal: fixes to pass ` flow codemod annotate-implicit-instantiations --write --include-widened .` & `flow codemod annotate-implicit-instantiations --write .`
  docs/examples/combobox/controlled.js
  docs/examples/iconbuttonfloating/variantsA11y.js
  docs/examples/numberfield/bestPractices-do-required.js
  docs/examples/numberfield/bestPractices-dont-required.js
  docs/examples/spinner/doOverlay.js
  docs/pages/foundations/iconography/library.js
  docs/pages/integration-test/masonry.js
  docs/pages/web/masonry.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt/src/ActivationCard.jsdom.test.js
  packages/gestalt/src/AvatarGroup.jsdom.test.js
  packages/gestalt/src/Box.jsdom.test.js
  packages/gestalt/src/Button.jsdom.test.js
  packages/gestalt/src/Callout.jsdom.test.js
  packages/gestalt/src/Checkbox.jsdom.test.js
  packages/gestalt/src/Collage.js
  packages/gestalt/src/Dropdown.jsdom.test.js
  packages/gestalt/src/Dropdown/OptionItem.jsdom.test.js
  packages/gestalt/src/DropdownItem.jsdom.test.js
  packages/gestalt/src/DropdownLink.jsdom.test.js
  packages/gestalt/src/HelpButton.jsdom.test.js
  packages/gestalt/src/IconButton.jsdom.test.js
  packages/gestalt/src/Link.jsdom.test.js
  packages/gestalt/src/Link/InternalLink.jsdom.test.js
  packages/gestalt/src/Masonry/MeasureItems.js
  packages/gestalt/src/Masonry/defaultLayout.js
  packages/gestalt/src/Masonry/fullWidthLayout.js
  packages/gestalt/src/Module/ExpandableItem.jsdom.test.js
  packages/gestalt/src/ModuleExpandable.jsdom.test.js
  packages/gestalt/src/NumberField.jsdom.test.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/RadioButton.jsdom.test.js
  packages/gestalt/src/ScrollBoundaryContainer.jsdom.test.js
  packages/gestalt/src/SegmentedControl.jsdom.test.js
  packages/gestalt/src/SelectList.jsdom.test.js
  packages/gestalt/src/SheetMobile.jsdom.test.js
  packages/gestalt/src/TableRowExpandable.jsdom.test.js
  packages/gestalt/src/TableSortableHeaderCell.jsdom.test.js
  packages/gestalt/src/Tabs.jsdom.test.js
  packages/gestalt/src/TapArea.jsdom.test.js
  packages/gestalt/src/TextArea.jsdom.test.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/Upsell.jsdom.test.js
  packages/gestalt/src/Video/Controls.js
  packages/gestalt/src/Video/Controls.jsdom.test.js
  packages/gestalt/src/Video/Playhead.jsdom.test.js
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
  packages/gestalt/src/contexts/SideNavigationProvider.js
  packages/gestalt/src/useReducedMotion.jsdom.test.js
  packages/gestalt/src/useResponsiveMinWidth.jsdom.test.js
Labels: patch release

#2945 Internal: upgrade to Flow 0.203.1
  .flowconfig
  docs/docs-components/GeneratedPropTable.js
  docs/docs-components/MainSectionSubsection.js
  docs/docs-components/Markdown.js
  docs/docs-components/Page.js
  docs/docs-components/PropTable.js
  docs/pages/whats_new.js
  docs/utils/mdHelper.js
  package.json
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.js
  packages/eslint-plugin-gestalt/src/helpers/noBoxDangerousStyleDuplicatesReducer.js
  packages/eslint-plugin-gestalt/src/no-box-useless-props.js
  packages/gestalt-codemods/generic-codemods/utils.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/ButtonGroup.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Flex.js
  packages/gestalt/src/Link/InternalLink.js
  packages/gestalt/src/List/Message.js
  packages/gestalt/src/List/getChildrenToArray.js
  packages/gestalt/src/Masonry.flowtest.js
  packages/gestalt/src/Masonry/MeasureItems.js
  packages/gestalt/src/Masonry/defaultLayout.js
  packages/gestalt/src/Masonry/fullWidthLayout.js
  packages/gestalt/src/OverlayPanel.flowtest.js
  packages/gestalt/src/Pog.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/SideNavigation/getChildrenToArray.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/Table/getChildrenCount.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/shared/FormHelperTextCounter.js
  packages/gestalt/src/useFocusVisible.js
  packages/gestalt/src/useReducedMotion.jsdom.test.js
  packages/gestalt/src/useResponsiveMinWidth.jsdom.test.js
  playwright/masonry/flexible-resize.spec.mjs
  yarn.lock
Labels: patch release

#2946 Internal: upgrade to Flow 0.204.1
  .flowconfig
  flow-typed/npm/@testing-library/react_v10.x.x.js
  flow-typed/npm/@testing-library/react_vx.x.x.js
  flow-typed/npm/classnames_v2.x.x.js
  flow-typed/npm/jest_v26.x.x.js
  flow-typed/npm/react-datepicker_v2.x.x.js
  package.json
  packages/gestalt-datepicker/src/DatePicker/TextField.js
  packages/gestalt/src/Masonry.js
  yarn.lock
Labels: patch release

#2947 Internal: upgrade to Flow 0.206.0
  .flowconfig
  package.json
  packages/gestalt/src/Divider.js
  packages/gestalt/src/debounce.js
  packages/gestalt/src/throttle.js
  yarn.lock
Labels: patch release

#2951 Docs: fix bug in navigation
  docs/docs-components/navigationContext.js
Labels: patch release

#2950 Icon: Remove 'google-plus' icon
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/icons/google-plus.svg
  packages/gestalt/src/icons/index.js
  playwright/visual-test/Icon-list-dark.spec.mjs-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.mjs-snapshots/Icon-list-chromium-darwin.png
Labels: major release

#2952 Table: added "selected"and "hoverStyle" prop to all Table.Row subcomponents
  docs/examples/table/selected.js
  docs/pages/web/table.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Table.css
  packages/gestalt/src/Table.css.flow
  packages/gestalt/src/TableRow.js
  packages/gestalt/src/TableRowDrawer.js
  packages/gestalt/src/TableRowExpandable.js
  packages/gestalt/src/__snapshots__/TableFooter.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableHeader..jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableRow.test.js.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.js.snap
  packages/gestalt/src/__snapshots__/TableRowExpandable.test.js.snap
Labels: minor release, blog-post

#2954 Docs: May 19, 2023 update
  docs/pages/BlogPosts.json
Labels: patch release

#2953 PageHeader: Expose badge type prop
  docs/examples/pageheader/titleExample.js
  docs/pages/web/pageheader.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/PageHeader.test.js
  packages/gestalt/src/PageHeader/components.js
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
Labels: minor release, blog-post

#2702 Internal: Add Troubleshooting section to Readme
  README.md
Labels: patch release

#2844 TileData: Adding new component
  .github/pr-title-checker-config.json
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/examples/tiledata/color.js
  docs/examples/tiledata/disabled.js
  docs/examples/tiledata/group.js
  docs/examples/tiledata/main.js
  docs/examples/tiledata/multipleCheckboxDo.js
  docs/examples/tiledata/multipleCheckboxDont.js
  docs/examples/tiledata/singleTileDo.js
  docs/examples/tiledata/singleTileDont.js
  docs/examples/tiledata/tooltip.js
  docs/graphics/general/TileData.svg
  docs/pages/visual-test/TileData-dark.js
  docs/pages/visual-test/TileData.js
  docs/pages/web/tiledata.js
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Borders.css.flow
  packages/gestalt/src/Checkbox.js
  packages/gestalt/src/Checkbox/InternalCheckbox.css
  packages/gestalt/src/Checkbox/InternalCheckbox.css.flow
  packages/gestalt/src/Checkbox/InternalCheckbox.js
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/Datapoint/InternalDatapoint.js
  packages/gestalt/src/Datapoint/Trend.js
  packages/gestalt/src/Tile/Tile.css
  packages/gestalt/src/Tile/Tile.css.flow
  packages/gestalt/src/Tile/Tile.js
  packages/gestalt/src/TileData.flowtest.js
  packages/gestalt/src/TileData.js
  packages/gestalt/src/TileData.svg
  packages/gestalt/src/TileData.test.js
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  packages/gestalt/src/index.js
  packages/gestalt/src/utils/useInteractiveStates.js
  playwright/accessibility/web__tiledata.spec.mjs
  playwright/visual-test/TileData-dark.spec.mjs
  playwright/visual-test/TileData-dark.spec.mjs-snapshots/TileData-dark-chromium-darwin.png
  playwright/visual-test/TileData.spec.mjs
  playwright/visual-test/TileData.spec.mjs-snapshots/TileData-chromium-darwin.png
Labels: minor release

#2961 Internal: Flow fixes
  docs/docs-components/MainSectionSubsection.js
  docs/docs-components/Page.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/List/Message.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Upsell.js
Labels: patch release

#2964 TileData: add accessibility pause
  packages/gestalt/src/Button.js
  packages/gestalt/src/Datapoint/InternalDatapoint.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/NewTabAccessibilityLabel.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  packages/gestalt/src/accessibility/AccessibilityPause.js
  packages/gestalt/src/accessibility/NewTabAccessibilityLabel.js
  packages/gestalt/src/accessibility/VisuallyHidden.js
  packages/gestalt/src/accessibility/getAriaLabel.js
Labels: patch release, accessibility-improvement

#2965 Internal: Fix TileData Examples
  docs/examples/tiledata/color.js
  docs/examples/tiledata/disabled.js
  docs/examples/tiledata/group.js
  docs/examples/tiledata/main.js
  docs/examples/tiledata/tooltip.js
Labels: patch release

#2967 Docs: Weekly update and roadmap updates
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
Labels: patch release

#2966 TileData: Add Typescript Types
  docs/pages/web/tiledata.js
  packages/gestalt/dist/index.d.ts
Labels: patch release
