Repository pinterest/gestalt, pull requests merged in 2023-06, with the labels that each got.

#2972 Docs: Added Android specs
  docs/markdown/android/avatar.md
  docs/markdown/android/button.md
  docs/markdown/android/checkbox.md
  docs/markdown/android/iconbutton.md
  docs/markdown/android/searchfield.md
  docs/markdown/android/sheet.md
  docs/markdown/android/switch.md
  docs/markdown/android/tabs.md
  docs/markdown/android/textfield.md
Labels: patch release

#2969 Table: Convert examples to use Sandpack
  docs/examples/table/alignContent.js
  docs/examples/table/avoidOverStylingText.js
  docs/examples/table/bottomCaptionExample.js
  docs/examples/table/dontAddSoMuchContent.js
  docs/examples/table/dontAlignContent.js
  docs/examples/table/dontMixTextAndGraphics.js
  docs/examples/table/dontOverStyleText.js
  docs/examples/table/dontUseExpandForDenseContent.js
  docs/examples/table/drawerRowExample.js
  docs/examples/table/expandRows.js
  docs/examples/table/main.js
  docs/examples/table/makeContentDigestable.js
  docs/examples/table/multipleStickyColumnsExample.js
  docs/examples/table/rowExpandableWithStickyColumns.js
  docs/examples/table/selected.js
  docs/examples/table/separateUnitType.js
  docs/examples/table/sortableHeaderCellsWithStickyColumns.js
  docs/examples/table/sortableTableCells.js
  docs/examples/table/stickyColumnExample.js
  docs/examples/table/stickyHeaderColumnExample.js
  docs/examples/table/stickyHeaderFooterExample.js
  docs/examples/table/topCaptionExample.js
  docs/pages/web/table.js
Labels: patch release

#2959 GlobalEventsHandlerProvider: new provider to share global event handlers to consuming components
  .github/pr-title-checker-config.json
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/examples/globaleventshandlerprovider/sheetMobileHandlers.js
  docs/examples/sheetmobile/autoSize.js
  docs/examples/sheetmobile/defaultSize.js
  docs/examples/sheetmobile/fullSize.js
  docs/examples/sheetmobile/main.js
  docs/graphics/utilities/provider-global-events-handler.svg
  docs/pages/web/sheetmobile.js
  docs/pages/web/utilities/globaleventshandlerprovider.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/SheetMobile/FullPage.js
  packages/gestalt/src/SheetMobile/PartialPage.js
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.jsdom.test.js
  packages/gestalt/src/contexts/OnLinkNavigationProvider.js
  packages/gestalt/src/index.js
  playwright/accessibility/web__utilities__globaleventshandlerprovider.spec.mjs
  rfcs/rfcs/2023-05-effectsProvider-new-component/README.md
  rfcs/rfcs/2023-05-effectsProvider-new-component/onLinkNavigation.png
  rfcs/rfcs/2023-05-globalEventsHandlersProvider-new-component/README.md
Labels: minor release, blog-post

#2971 Docs: Update Designers page
  docs/pages/get_started/designers.js
Labels: minor release

#2978 Checkbox: Update InternalCheckbox.css
  packages/gestalt/src/Checkbox/InternalCheckbox.css
Labels: patch release

#2980 Docs: Added data visualization guidelines
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/examples/datavisualization/desktopgraphExample.js
  docs/examples/datavisualization/graphtotableExample.js
  docs/examples/datavisualization/mobilegraphExample.js
  docs/pages/foundations/data_visualization/available_components.js
  docs/pages/foundations/data_visualization/charts_and_graphs.js
  docs/pages/foundations/data_visualization/color/palette.js
  docs/pages/foundations/data_visualization/color/usage.js
  docs/pages/foundations/data_visualization/micro_visualizations.js
  docs/pages/foundations/data_visualization/overview.js
  docs/redirects.js
  playwright/accessibility/foundations__data_visualization__available_components.spec.mjs
  playwright/accessibility/foundations__data_visualization__charts_and_graphs.spec.mjs
  playwright/accessibility/foundations__data_visualization__color__palette.spec.mjs
  playwright/accessibility/foundations__data_visualization__color__usage.spec.mjs
  playwright/accessibility/foundations__data_visualization__micro_visualizations.spec.mjs
  playwright/accessibility/foundations__data_visualization__overview.spec.mjs
Labels: patch release

#2977 Docs: Revised About Us page
  docs/graphics/about_us/harmonious.svg
  docs/graphics/about_us/inclusive.svg
  docs/graphics/about_us/velocity.svg
  docs/pages/get_started/about_us.js
Labels: patch release

#2979 Docs: Added IconButtonFloating Android docs
  docs/docs-components/siteIndex.js
  docs/markdown/android/iconbuttonfloating.md
  playwright/accessibility/android__iconbuttonfloating.spec.mjs
Labels: patch release, blog-post

#2975 Internal: Add Alpha Workflow file
  .github/workflows/alpha.yml
  scripts/releaseSteps.js
Labels: minor release

#2983 Docs: Fix info on Available components page
  docs/pages/foundations/data_visualization/available_components.js
Labels: patch release

#2981 SheetMobile: add event to `onOutsideClick`
  packages/gestalt/src/Backdrop.js
  packages/gestalt/src/SheetMobile.js
  packages/gestalt/src/SheetMobile/PartialPage.js
Labels: patch release

#2985 Internal: fix TS declaration file
  packages/gestalt/dist/index.d.ts
Labels: patch release

#2984 Tabs: Update wrap and best practices docs verbiage
  docs/pages/web/tabs.js
Labels: patch release

#2986 Docs: 2023-06-02 weekly update
  docs/pages/BlogPosts.json
Labels: patch release

#2988 TileData: fix typo + copyediting
  docs/pages/web/tiledata.js
  packages/gestalt/src/TileData.js
Labels: patch release

#2989 Internal: Update eslint-plugin-gestalt README
  packages/eslint-plugin-gestalt/README.md
Labels: patch release

#2990 Docs: fix max width for blog post titles
  docs/pages/whats_new.js
Labels: patch release

#2991 Docs: add May newsletter
  docs/pages/BlogPosts.json
Labels: patch release

#2948 Internal: Unminify classname when developing
  packages/gestalt-core/build.js
  packages/gestalt/package.json
Labels: patch release

#2994 Docs: fix broken links
  docs/pages/foundations/data_visualization/color/usage.js
  docs/pages/foundations/design_tokens.js
  docs/pages/web/tiledata.js
  docs/redirects.js
Labels: patch release

#2998 Internal: Upgrade ESLint to 8.23.0
  packages/eslint-plugin-gestalt/package.json
  yarn.lock
Labels: dependencies, patch release

#2987 ESLint plugin: Update color names for Box inline style rule
  .github/pr-title-checker-config.json
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-dangerous-style-duplicates/invalid/invalid-backgroundColor-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-dangerous-style-duplicates/invalid/invalid-in-variable-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-dangerous-style-duplicates/invalid/invalid-multiple-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/no-box-dangerous-style-duplicates/invalid/invalid-renamed-import-output.js
  packages/eslint-plugin-gestalt/src/helpers/styleValidators.js
  packages/eslint-plugin-gestalt/src/no-box-dangerous-style-duplicates.test.js
  packages/eslint-plugin-gestalt/src/prefer-box-inline-style.test.js
Labels: patch release

#2997 Internal: fixes to gestalt-datepicker in editors and templates
  docs/docs-components/DevelopmentEditor.js
  docs/docs-components/Example.js
  docs/docs-components/MainSectionCard.js
  docs/docs-components/handleCodeSandbox.js
  scripts/templates/ComponentName.js
  scripts/templates/lowercasecomponentname.js
Labels: patch release

#2993 Internal: add README explaining Masonry
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/README.md
Labels: patch release

#2992 Internal: Add Url Param to toggle Dev Example Mode
  docs/docs-components/AppLayout.js
  docs/docs-components/DevelopmentEditor.js
  docs/docs-components/Header.js
  docs/markdown/get_started/developers/contributing/development_process.md
  scripts/releaseSteps.js
Labels: patch release

#3002 DateField: refactor InternalDateField logic
  packages/gestalt-datepicker/src/DateField.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
Labels: patch release

#3003 Docs: fix non-standard Datapoint casing
  docs/pages/foundations/data_visualization/available_components.js
  docs/pages/foundations/data_visualization/charts_and_graphs.js
  docs/pages/foundations/data_visualization/micro_visualizations.js
Labels: patch release

#3004 Docs: refactor how design tile data is handled
  docs/docs-components/AccessibilityChecklist.js
  docs/docs-components/PageHeaderQualitySummary.js
  docs/docs-components/QualityChecklist.js
  docs/docs-components/StatusData.js
  docs/docs-components/data/componentStatusMessaging.js
  docs/docs-components/data/foundations.js
  docs/docs-components/data/teamSupport.js
  docs/docs-components/data/types.js
  docs/pages/foundations/overview.js
  docs/pages/team_support/overview.js
  docs/pages/web/component_status.js
Labels: patch release

#3007 DatePicker: fixes in Flow|TypeScript types
  docs/examples/datepicker/controlled.js
  docs/examples/datepicker/disable.js
  docs/examples/datepicker/disableSelected.js
  docs/examples/datepicker/disabled.js
  docs/examples/datepicker/error.js
  docs/examples/datepicker/helperText.js
  docs/examples/datepicker/preselected.js
  docs/examples/datepicker/range.js
  docs/pages/web/datepicker.js
  packages/gestalt-datepicker/dist/index.d.ts
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.js
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.js
Labels: major release

#3009 Masonry: overhaul docs page
  docs/examples/masonry/main.js
  docs/examples/masonry/variantsBasic.js
  docs/examples/masonry/variantsFlexible.js
  docs/examples/masonry/variantsUniform.js
  docs/pages/web/masonry.js
  packages/gestalt/src/Masonry.js
Labels: patch release, blog-post

#3011 Docs: fix empty aliases bug
  docs/docs-components/PageHeader.js
Labels: patch release

#2970 DefaultLabelProvider: Adding new default labels
  docs/examples/animation/celebrationExample.js
  docs/examples/animation/educationExample.js
  docs/examples/animation/feedbackExample.js
  docs/examples/animation/transitionExample.js
  docs/examples/animation/useExample.js
  docs/examples/datavisualization/desktopgraphExample.js
  docs/examples/datavisualization/graphtotableExample.js
  docs/examples/datavisualization/mobilegraphExample.js
  docs/examples/defaultlabelprovider/translations.js
  docs/pages/visual-test/Video.js
  docs/pages/web/utilities/defaultlabelprovider.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/Modal.jsdom.test.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/SheetMobile.jsdom.test.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/Spinner.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/Video.flowtest.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/Video.jsdom.test.js
  packages/gestalt/src/Video.test.js
  packages/gestalt/src/Video/Controls.js
  packages/gestalt/src/Video/Controls.jsdom.test.js
  packages/gestalt/src/Video/Controls.test.js
  packages/gestalt/src/Video/__snapshots__/Controls.test.js.snap
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/SheetMobile.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.jsdom.test.js
Labels: major release, blog-post

#3010 Toast: CSS fix in width
  packages/gestalt/src/Toast.css
Labels: patch release

#3014 Docs: fix outdated link
  packages/gestalt/src/TileData.js
Labels: patch release

#3013 Heading: Convert examples to use Sandpack
  docs/examples/heading/accessibilityLevelExample.js
  docs/examples/heading/alignmentExample.js
  docs/examples/heading/clearlyDescribeTheSection.js
  docs/examples/heading/colorsExample.js
  docs/examples/heading/dontCenterAlign.js
  docs/examples/heading/dontOverlyLongHeadings.js
  docs/examples/heading/dontUseToEmphasizeText.js
  docs/examples/heading/dontUseVagueLanguage.js
  docs/examples/heading/groupTextIntoSections.js
  docs/examples/heading/keepHeadingShort.js
  docs/examples/heading/mainExample.js
  docs/examples/heading/overflowAndTruncationExample.js
  docs/examples/heading/startAlignHeadings.js
  docs/examples/heading/variantsExample.js
  docs/pages/web/heading.js
Labels: patch release

#3006 GlobalEventsHandlerProvider: migrating OnLinkNavigationProvider to `linkHandlers.onNavigation`
  docs/docs-components/App.js
  docs/docs-components/COMPONENT_DATA.js
  docs/examples/globaleventshandlerprovider/linkHandlersCalloutUpsell.js
  docs/examples/globaleventshandlerprovider/linkHandlersDangerouslyDisableOnNavigation.js
  docs/examples/globaleventshandlerprovider/linkHandlersDropdown.js
  docs/examples/globaleventshandlerprovider/linkHandlersLinkButton.js
  docs/pages/get_started/developers/eslint_plugin.js
  docs/pages/web/activationcard.js
  docs/pages/web/button.js
  docs/pages/web/callout.js
  docs/pages/web/dropdown.js
  docs/pages/web/helpbutton.js
  docs/pages/web/iconbutton.js
  docs/pages/web/link.js
  docs/pages/web/sheetmobile.js
  docs/pages/web/slimbanner.js
  docs/pages/web/taparea.js
  docs/pages/web/upsell.js
  docs/pages/web/utilities/globaleventshandlerprovider.js
  docs/pages/web/utilities/onlinknavigationprovider.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link/InternalLink.js
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Upsell.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.js
  packages/gestalt/src/contexts/OnLinkNavigationProvider.js
Labels: major release

#3017 Docs: 6-9 and 6-16 updates
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
Labels: patch release

#2974 Internal: Cleaner Logging for DocGen Errors
  scripts/generateMetadata.js
Labels: patch release

#3018 Docs: Data visualization videos
  docs/docs-components/COMPONENT_DATA.js
  docs/examples/datavisualization/desktopgraphExample.js
  docs/examples/datavisualization/graphtotableExample.js
  docs/examples/datavisualization/mobilegraphExample.js
  docs/pages/foundations/data_visualization/charts_and_graphs.js
Labels: patch release

#2963 TagData: Add new Component
  .github/pr-title-checker-config.json
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/tagdata/baseColor.js
  docs/examples/tagdata/colors.js
  docs/examples/tagdata/disabled.js
  docs/examples/tagdata/dismissible.js
  docs/examples/tagdata/doChangeBaseColor.js
  docs/examples/tagdata/doUseSameStyle.js
  docs/examples/tagdata/doUseShortLabels.js
  docs/examples/tagdata/dontChangeBaseColor.js
  docs/examples/tagdata/dontMixStyles.js
  docs/examples/tagdata/dontUseLongLabels.js
  docs/examples/tagdata/group.js
  docs/examples/tagdata/main.js
  docs/examples/tagdata/sizes.js
  docs/examples/tagdata/tooltip.js
  docs/graphics/general/TagData.svg
  docs/pages/visual-test/TagData-dark.js
  docs/pages/visual-test/TagData.js
  docs/pages/web/tag.js
  docs/pages/web/tagdata.js
  packages/gestalt/src/TagData.css
  packages/gestalt/src/TagData.css.flow
  packages/gestalt/src/TagData.flowtest.js
  packages/gestalt/src/TagData.js
  packages/gestalt/src/TagData.svg
  packages/gestalt/src/TagData.test.js
  packages/gestalt/src/Tile/Tile.css
  packages/gestalt/src/Tile/Tile.js
  packages/gestalt/src/TileData.css
  packages/gestalt/src/TileData.css.flow
  packages/gestalt/src/TileData.js
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/index.js
  packages/gestalt/src/utils/MaybeTooltip.js
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.js
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.test.js
  packages/gestalt/src/utils/datavizcolors/getDataVisualizationColor.js
  packages/gestalt/src/utils/datavizcolors/getDataVisualizationColor.test.js
  playwright/accessibility/web__tagdata.spec.mjs
  playwright/visual-test/TagData-dark.spec.mjs
  playwright/visual-test/TagData-dark.spec.mjs-snapshots/TagData-dark-chromium-darwin.png
  playwright/visual-test/TagData.spec.mjs
  playwright/visual-test/TagData.spec.mjs-snapshots/TagData-chromium-darwin.png
Labels: minor release

#3022 Internal: lint contributions.md
  docs/markdown/team_support/contributions.md
Labels: patch release

#3023 Internal: update package.json keywords
  packages/eslint-plugin-gestalt/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt-design-tokens/package.json
  packages/gestalt/package.json
Labels: patch release

#3024 Internal: lint android/iconbutton.md
  docs/markdown/android/iconbutton.md
Labels: patch release

#3025 Docs: add link to UX Writing Cheat Sheet
  .markdownlint.json
  docs/markdown/foundations/content_standards/resources.md
Labels: patch release

#3021 Docs: adds a new metric statsboards to web/tooling page
  docs/pages/get_started/developers/tooling/web.js
Labels: patch release

#3020 TagData: Fit and Finish on TagData
  docs/examples/tagdata/baseColor.js
  docs/pages/web/tagdata.js
  packages/gestalt/src/TagData.css
  packages/gestalt/src/TagData.css.flow
  packages/gestalt/src/TagData.js
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
  playwright/visual-test/TagData-dark.spec.mjs-snapshots/TagData-dark-chromium-darwin.png
  playwright/visual-test/TagData.spec.mjs-snapshots/TagData-chromium-darwin.png
Labels: minor release

#3031 Image: web - conditionally add imagetiming attribute
  packages/gestalt/src/Image.js
Labels: patch release

#3034 Docs: fix `allowfullscreen` bug
  docs/markdown/android/icon.md
  docs/markdown/android/text.md
  docs/markdown/ios/icon.md
  docs/markdown/ios/text.md
Labels: patch release

#3029 OnLinkNavigationProvider: deprecation of component util
  .github/pr-title-checker-config.json
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/siteIndex.js
  docs/graphics/utilities/provider-on-link-navigation.svg
  docs/pages/web/utilities/onlinknavigationprovider.js
  docs/redirects.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link/InternalLink.js
  packages/gestalt/src/OnLinkNavigationProvider.flowtest.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.js
  packages/gestalt/src/contexts/OnLinkNavigationProvider.js
  packages/gestalt/src/index.js
  playwright/accessibility/web__utilities__onlinknavigationprovider.spec.mjs
Labels: major release, blog-post

#3035 Docs: 6/23/2023 weekly update
  docs/pages/BlogPosts.json
  docs/pages/RoadmapData.json
Labels: patch release

#3005 Docs: create new COMPONENT_DATA data structure type for scalability
  docs/docs-components/AccessibilityChecklist.js
  docs/docs-components/Overview.js
  docs/docs-components/OverviewList.js
  docs/docs-components/PageHeader.js
  docs/docs-components/PageHeaderQualitySummary.js
  docs/docs-components/QualityChecklist.js
  docs/docs-components/data/components.js
  docs/docs-components/data/types.js
  docs/pages/android/overview.js
  docs/pages/ios/overview.js
  docs/pages/web/component_status.js
  docs/pages/web/overview.js
Labels: patch release

#2955 Masonry: add experimental support for two-column items
  docs/integration-test-helpers/masonry/ExampleGridItem.js
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/integration-test-helpers/masonry/items-utils/generateExampleItems.js
  docs/integration-test-helpers/masonry/items-utils/generateRealisticExampleItems.js
  docs/pages/integration-test/masonry.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/Graph.js
  packages/gestalt/src/Masonry/GraphNode.js
  packages/gestalt/src/Masonry/HeightsStore.js
  packages/gestalt/src/Masonry/MeasurementStore.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/types.js
  playwright/masonry/utils/getServerURL.mjs
Labels: minor release

#3026 Docs: Add Value to Default Label Provider Docs
  docs/pages/web/utilities/defaultlabelprovider.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TagData.js
Labels: patch release

#3032 Docs: copyedit iOS Card pages
  docs/markdown/ios/card/card.boards.md
  docs/markdown/ios/card/card.header.md
  docs/markdown/ios/card/card.md
  docs/markdown/ios/card/card.pins.md
Labels: patch release

#3036 Internal: upgrade `semver` and add resolution
  package.json
  yarn.lock
Labels: dependencies, patch release

#3040 Avatar: the tiniest of docs nits
  docs/pages/web/avatar.js
Labels: patch release

#3043 Docs: Fix Android Figma links
  docs/markdown/android/avatar.md
  docs/markdown/android/icon.md
  docs/markdown/android/searchfield.md
  docs/markdown/android/switch.md
  docs/markdown/android/toast.md
Labels: patch release

#3045 Internal: implement new component data type (w/helpers)
  docs/docs-components/data/components-new.js
  docs/docs-components/data/types.js
  docs/docs-components/data/utils/getByCategory.js
  docs/docs-components/data/utils/getByCategory.test.js
  docs/docs-components/data/utils/getByPlatform.js
  docs/docs-components/data/utils/getByPlatform.test.js
  docs/docs-components/data/utils/test-fixtures.js
Labels: patch release

#3047 Docs: update status for several components
  docs/docs-components/data/components-new.js
  docs/docs-components/data/components.js
Labels: patch release

#3008 Tokens: Update $selected-strong and $selected-weak values
  .github/pr-title-checker-config.json
  packages/gestalt-design-tokens/tokens/color/alias.json
Labels: major release

#3044 Callout: Support Text Type in Callout
  docs/examples/callout/variantMessage.js
  docs/pages/web/callout.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Callout.test.js
  packages/gestalt/src/__snapshots__/Callout.test.js.snap
Labels: minor release

#3046 Masonry: add hook to log whitespace above 2-col modules
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/pages/integration-test/masonry.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  playwright/masonry/utils/getServerURL.mjs
Labels: minor release

#3048 Docs: Weekly update
  docs/pages/BlogPosts.json
Labels: patch release

#3049 Masonry: remove unused `heightAdjustment` field
  packages/gestalt/src/Masonry.js
Labels: patch release
