Repository pinterest/gestalt, pull requests merged in 2023-09, with the labels that each got.

#3180 Docs: updated Readme after removing Issues support in github
  README.md
Labels: patch release

#3181 TapAreaLink, IconButtonLink: new components
  docs/docs-components/siteIndex.js
  docs/examples/iconbuttonlink/main.js
  docs/examples/taparealink/main.js
  docs/pages/web/iconbutton.js
  docs/pages/web/iconbuttonlink.js
  docs/pages/web/taparea.js
  docs/pages/web/taparealink.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/ButtonLink.js
  packages/gestalt/src/ButtonLink.jsdom.test.js
  packages/gestalt/src/ButtonLink.test.js
  packages/gestalt/src/IconButtonLink.js
  packages/gestalt/src/IconButtonLink.jsdom.test.js
  packages/gestalt/src/IconButtonLink.test.js
  packages/gestalt/src/TapAreaLink.js
  packages/gestalt/src/TapAreaLink.jsdom.test.js
  packages/gestalt/src/TapAreaLink.test.js
  packages/gestalt/src/__snapshots__/ButtonLink.test.js.snap
  packages/gestalt/src/__snapshots__/IconButtonLink.test.js.snap
  packages/gestalt/src/__snapshots__/TapAreaLink.test.js.snap
  packages/gestalt/src/index.js
  playwright/accessibility/web__iconbuttonlink.spec.mjs
  playwright/accessibility/web__taparealink.spec.mjs
Labels: minor release, blog-post

#3182 Internal: remove all `eslint-disable-next-line testing-library/prefer-screen-queries` disables from unit tests
  packages/gestalt/src/ActivationCard.jsdom.test.js
  packages/gestalt/src/Avatar.jsdom.test.js
  packages/gestalt/src/Button.jsdom.test.js
  packages/gestalt/src/Callout.jsdom.test.js
  packages/gestalt/src/Checkbox.jsdom.test.js
  packages/gestalt/src/IconButton.jsdom.test.js
  packages/gestalt/src/Layer.jsdom.test.js
  packages/gestalt/src/Link.jsdom.test.js
  packages/gestalt/src/Link/InternalLink.jsdom.test.js
  packages/gestalt/src/NumberField.jsdom.test.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/ScrollBoundaryContainer.jsdom.test.js
  packages/gestalt/src/SearchField.jsdom.test.js
  packages/gestalt/src/SegmentedControl.jsdom.test.js
  packages/gestalt/src/TableHeader.jsdom.test.js
  packages/gestalt/src/TableRowExpandable.jsdom.test.js
  packages/gestalt/src/TableSortableHeaderCell.jsdom.test.js
  packages/gestalt/src/Tabs.jsdom.test.js
  packages/gestalt/src/TapArea.jsdom.test.js
  packages/gestalt/src/TextArea.jsdom.test.js
  packages/gestalt/src/TextField.jsdom.test.js
  packages/gestalt/src/Tooltip.jsdom.test.js
  packages/gestalt/src/Upsell.jsdom.test.js
  packages/gestalt/src/Video/Controls.jsdom.test.js
  packages/gestalt/src/Video/Playhead.jsdom.test.js
  packages/gestalt/src/__snapshots__/TableHeader.jsdom.test.js.snap
  packages/gestalt/src/animation/AnimationContext.jsdom.test.js
Labels: patch release

#3183 Video: Support RTL layout in scrubber
  docs/docs-components/SandpackExample.js
  docs/examples/video/autoplayAndErrorDetectionExample.js
  docs/examples/video/captionsExample.js
  docs/examples/video/controlsExample.js
  docs/examples/video/mainExample.js
  docs/examples/video/multipleSourcesExample.js
  docs/examples/video/updatesExample.js
  docs/examples/video/withChildrenExample.js
  packages/gestalt/src/Video/Playhead.js
  packages/gestalt/src/Video/__snapshots__/Controls.test.js.snap
  packages/gestalt/src/Video/__snapshots__/Playhead.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: patch release

#3184 Icon: update visual-tests snapshot and updates in Docs
  docs/pages/_app.js
  docs/pages/foundations/iconography/custom_and_brand_icons.js
  docs/pages/visual-test/Icon-list-dark.js
  docs/pages/visual-test/Icon-list.js
  packages/gestalt/src/TagData.svg
  packages/gestalt/src/TileData.svg
  packages/gestalt/src/icons/svgo.config.js
  playwright/visual-test/Icon-list-dark.spec.mjs-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.mjs-snapshots/Icon-list-chromium-darwin.png
Labels: patch release

#3185 Docs: Newsletter Eng August 2023
  docs/pages/BlogPosts.json
Labels: patch release

#3186 Docs: Fix broken link in Get started/Designers section
  docs/pages/get_started/designers.js
Labels: patch release

#3190 Docs: 9/8 weekly digest
  docs/pages/BlogPosts.json
Labels: patch release

#3189 Internal: Re-update playwright snapshots to match master
  package.json
  playwright/playwright.config.js
  playwright/visual-test/List-dark.spec.mjs-snapshots/List-dark-chromium-darwin.png
  playwright/visual-test/List-light.spec.mjs-snapshots/List-light-chromium-darwin.png
  playwright/visual-test/Modal-mobile.spec.mjs-snapshots/Modal-mobile-chromium-darwin.png
  playwright/visual-test/PageHeader-items-secondaryAction.spec.mjs-snapshots/PageHeader-items-secondaryAction-md-chromium-darwin.png
  playwright/visual-test/PageHeader-items-secondaryAction.spec.mjs-snapshots/PageHeader-items-secondaryAction-sm-chromium-darwin.png
  playwright/visual-test/PageHeader-secondaryAction.spec.mjs-snapshots/PageHeader-secondaryAction-sm-chromium-darwin.png
  playwright/visual-test/SideNavigation-dark.spec.mjs-snapshots/SideNavigation-dark-chromium-darwin.png
  playwright/visual-test/SideNavigation.spec.mjs-snapshots/SideNavigation-chromium-darwin.png
  playwright/visual-test/Table.spec.mjs-snapshots/Table-chromium-darwin.png
  playwright/visual-test/TableOfContents-dark.spec.mjs-snapshots/TableOfContents-dark-chromium-darwin.png
  playwright/visual-test/TableOfContents.spec.mjs-snapshots/TableOfContents-light-chromium-darwin.png
  playwright/visual-test/Tabs-dark.spec.mjs-snapshots/Tabs-dark-chromium-darwin.png
  playwright/visual-test/Tabs.spec.mjs-snapshots/Tabs-chromium-darwin.png
  playwright/visual-test/Tooltip-dark.spec.mjs-snapshots/Tooltip-dark-chromium-darwin.png
  playwright/visual-test/Tooltip.spec.mjs-snapshots/Tooltip-chromium-darwin.png
  playwright/visual-test/ZIndex.spec.mjs-snapshots/ZIndex-chromium-darwin.png
  scripts/test.sh
  yarn.lock
Labels: patch release

#3191 Icon: added new icon for busines-hierarchy
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_business-hierarchy_gestalt.svg
  packages/gestalt/src/icons/business-hierarchy.svg
  packages/gestalt/src/icons/index.js
Labels: patch release

#3192 Docs: Fix duplicated ToC accessibility label
  docs/docs-components/Toc.js
Labels: patch release

#3193 Internal: fix debug statements
  docs/pages/visual-test/SheetMobile-dark.js
  docs/pages/visual-test/SheetMobile-light.js
  playwright/visual-test/SheetMobile-dark.spec.mjs
  playwright/visual-test/SheetMobile-dark.spec.mjs-snapshots/SheetMobile-dark-chromium-darwin.png
  playwright/visual-test/SheetMobile.spec.mjs
  playwright/visual-test/SheetMobile.spec.mjs-snapshots/SheetMobile-light-chromium-darwin.png
  scripts/test.sh
Labels: patch release

#3197 Toast: Fix toast prop "variant" to "type"
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3198 Docs: Markdown fix for Text component docs
  docs/markdown/ios/text.md
Labels: patch release

#3200 Docs: update iOS checkbox header image
  docs/markdown/ios/checkbox.md
Labels: patch release

#3201 Masonry: Fix height initialization when reusing cached positions for multi-column pins
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/pages/integration-test/masonry.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
Labels: patch release

#3187 Tooltip: Move to Internal Tooltip with a disabled state
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/Tooltip/InternalTooltip.js
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  packages/gestalt/src/utils/MaybeTooltip.js
Labels: patch release

#3196 Tokens: Density Tokens Update
  packages/gestalt-datepicker/src/DateField.css
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt-design-tokens/tokens/space/base.json
  packages/gestalt/src/Checkbox/InternalCheckbox.css
  packages/gestalt/src/Dropdown.css
  packages/gestalt/src/List.css
  packages/gestalt/src/RadioButtonCheckbox.css
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/SideNavigation.css
  packages/gestalt/src/TableOfContents.css
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.css
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/TextField/InternalTextField.css
  packages/gestalt/src/WashAnimated.css
  packages/gestalt/src/boxWhitespace.css
Labels: major release

#3199 AvatarGroup: Android docs page
  docs/docs-components/siteIndex.js
  docs/markdown/android/avatargroup.md
  playwright/accessibility/android__avatargroup.spec.mjs
Labels: patch release

#3194 Docs: Generate component metadata only from library exposed components
  .flowconfig
  package.json
  scripts/generateMetadata.js
  yarn.lock
Labels: patch release

#3202 Video: Fix flickering video controls on iOS browsers
  packages/gestalt/src/Icon.css
Labels: patch release

#3209 Tooltip: Revert Internal Tooltip move
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/Tooltip/InternalTooltip.js
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  packages/gestalt/src/utils/MaybeTooltip.js
Labels: patch release

#3208 Masonry: Fix bug with height restoration + two column module items
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
Labels: patch release

#3212 Docs: Add IconButtonLink SVG
  docs/docs-components/data/components.js
  docs/graphics/general/IconButtonLink.svg
Labels: patch release

#3213 WashAnimated: Remove space tokens
  packages/gestalt/src/WashAnimated.css
Labels: patch release

#3205 Docs: Add ListAction component
  docs/docs-components/siteIndex.js
  docs/markdown/android/listaction.md
  docs/markdown/ios/listaction.md
  playwright/accessibility/android__listaction.spec.mjs
  playwright/accessibility/ios__listaction.spec.mjs
Labels: patch release

#3214 Docs: 9/22 weekly digest
  docs/pages/BlogPosts.json
Labels: patch release

#3215 Docs: Data viz color usage examples updated
  docs/docs-components/data/components.js
  docs/graphics/data-viz-color-examples/dataViz2Colors.svg
  docs/graphics/data-viz-color-examples/dataViz3Colors.svg
  docs/graphics/data-viz-color-examples/dataViz4Colors.svg
  docs/graphics/data-viz-color-examples/dataViz6Colors.svg
  docs/graphics/data-viz-color-examples/dataViz8Colors.svg
  docs/graphics/data-viz-color-examples/dataVizPrimary.svg
  docs/graphics/data-viz-color-examples/dataVizSuccessError.svg
Labels: patch release

#3216 ChartGraph: fix in Docs
  docs/docs-components/PatternBarFill.js
  docs/docs-components/PatternLineMarker.js
  docs/examples/chartgraph/noTooltip.js
  docs/examples/chartgraph/selectorTagData.js
  docs/examples/chartgraph/selectorTileData.js
  docs/examples/chartgraph/tooltip.js
  docs/pages/web/chartgraph.js
  packages/gestalt-charts/src/ChartGraph.js
Labels: patch release

#3211 TapArea: deprecate role='link'
  docs/docs-components/IllustrationCard.js
  docs/docs-components/YearInReviewBanner.js
  docs/examples/globaleventshandlerprovider/linkHandlersLinkButton.js
  docs/examples/overlaypanel/subHeadingExample.js
  docs/examples/taparea/accessibility.js
  docs/examples/taparea/compressBehavior.js
  docs/examples/taparea/heightWidth.js
  docs/examples/taparea/inlineUsage.js
  docs/examples/taparea/main.js
  docs/examples/taparea/mouseCursor.js
  docs/examples/taparea/refExample.js
  docs/examples/taparea/withLinkButton.js
  docs/examples/taparealink/compressBehavior.js
  docs/examples/taparealink/heightWidth.js
  docs/examples/taparealink/inlineUsage.js
  docs/examples/taparealink/mouseCursor.js
  docs/pages/web/taparea.js
  docs/pages/web/taparealink.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/AvatarGroup.js
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/SideNavigation/GroupContent.js
  packages/gestalt/src/SideNavigation/PrimaryActionIconButton.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationNestedItem.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.js
  packages/gestalt/src/TableOfContentsItem.js
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/TableSortableHeaderCell.jsdom.test.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tabs.jsdom.test.js
  packages/gestalt/src/TapArea.flowtest.js
  packages/gestalt/src/TapArea.js
  packages/gestalt/src/TapArea.jsdom.test.js
  packages/gestalt/src/TapArea.test.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/Video/Controls.js
  packages/gestalt/src/__snapshots__/TapArea.test.js.snap
Labels: major release

#3223 TapArea: fix in TapArea child Flow type
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TapArea.js
Labels: patch release

#3224 TapArea: full space with no children example in Docs
  docs/examples/taparea/fullSpace.js
  docs/pages/web/taparea.js
Labels: patch release

#3221 List: Update Condensed List Spacing Tokens
  packages/gestalt/src/List.css
Labels: patch release

#3220 Tooltip: Move to Internal Tooltip
  packages/gestalt/src/Tooltip.js
  packages/gestalt/src/Tooltip/InternalTooltip.js
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  packages/gestalt/src/utils/MaybeTooltip.js
Labels: patch release

#3210 IconButton: deprecate `role` prop
  docs/examples/globaleventshandlerprovider/linkHandlersLinkButton.js
  docs/examples/iconbutton/keyboard.js
  docs/examples/iconbutton/roleButton.js
  docs/examples/iconbutton/roleLink.js
  docs/examples/sheetmobile/footer.js
  docs/examples/sheetmobile/withPrimaryActionHeader.js
  docs/examples/table/dontUseExpandForDenseContent.js
  docs/pages/web/iconbutton.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/IconButton.flowtest.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButton.jsdom.test.js
  packages/gestalt/src/IconButtonFloating.js
  packages/gestalt/src/Module.js
  packages/gestalt/src/Module/Title.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/PageHeader/components.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
Labels: major release

#3225 IconButton: onClick fix
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/__snapshots__/ActivationCard.test.js.snap
Labels: patch release

#3226 IconButton: reenabling tooltip when disabled
  packages/gestalt/src/IconButton.js
Labels: patch release

#3228 Icon: new "accessibility" and "table" icons
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt/src/icons/accessibility.svg
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/table.svg
Labels: minor release

#3222 Docs: new RTL guidelines
  docs/docs-components/MainSectionSubsection.js
  docs/docs-components/PageHeader.js
  docs/docs-components/consts.js
  docs/docs-components/data/foundations.js
  docs/docs-components/siteIndex.js
  docs/docs.css
  docs/graphics/foundations/rtl-guidelines.svg
  docs/markdown/foundations/content_standards/voice.md
  docs/markdown/ios/card/card.header.md
  docs/markdown/ios/card/card.pins.md
  docs/pages/foundations/forms/structure_and_behavior.js
  docs/pages/foundations/rtl_guidelines/about_international_design.js
  docs/pages/foundations/rtl_guidelines/icons.js
  docs/pages/foundations/rtl_guidelines/layout_and_text_direction.js
  docs/pages/foundations/rtl_guidelines/rtl_overview.js
  docs/pages/foundations/rtl_guidelines/typography.js
  docs/pages/foundations/typography/guidelines.js
  playwright/accessibility/foundations__rtl_guidelines__about_international_design.spec.mjs
  playwright/accessibility/foundations__rtl_guidelines__icons.spec.mjs
  playwright/accessibility/foundations__rtl_guidelines__layout_and_text_direction.spec.mjs
  playwright/accessibility/foundations__rtl_guidelines__rtl_overview.spec.mjs
  playwright/accessibility/foundations__rtl_guidelines__typography.spec.mjs
Labels: patch release
