Repository pinterest/gestalt, pull requests merged in 2023-07, with the labels that each got.

#3051 Internal: use const for docs copy max width
  docs/docs-components/AccessibilitySection.js
  docs/docs-components/Card.js
  docs/docs-components/MainSectionCard.js
  docs/docs-components/MainSectionSubsection.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/consts.js
  docs/pages/foundations/animation/guidelines.js
  docs/pages/foundations/animation/implementation.js
  docs/pages/foundations/data_visualization/charts_and_graphs.js
  docs/pages/foundations/iconography/usage.js
  docs/pages/foundations/typography/guidelines.js
  docs/pages/get_started/developers/tooling/web.js
Labels: patch release

#3053 Internal: upgrade Flow to 0.209.0
  .flowconfig
  docs/integration-test-helpers/masonry/MasonryContainer.js
  package.json
  yarn.lock
Labels: dependencies, patch release

#3055 Internal: upgrade Flow to 0.210.2
  .flowconfig
  package.json
  yarn.lock
Labels: dependencies, patch release

#3054 Docs: switch to use new component data structure
  docs/docs-components/AccessibilityChecklist.js
  docs/docs-components/AccessibilitySection.js
  docs/docs-components/IllustrationCard.js
  docs/docs-components/IllustrationSection.js
  docs/docs-components/Overview.js
  docs/docs-components/OverviewList.js
  docs/docs-components/PageHeader.js
  docs/docs-components/PageHeaderQualitySummary.js
  docs/docs-components/QualityChecklist.js
  docs/docs-components/data/componentStatusMessaging.js
  docs/docs-components/data/components-new.js
  docs/docs-components/data/components.js
  docs/docs-components/data/types.js
  docs/docs-components/data/utils/prettyPrintPlatform.js
  docs/graphics/index.js
  docs/pages/android/overview.js
  docs/pages/ios/overview.js
  docs/pages/web/component_status.js
  docs/pages/web/overview.js
Labels: patch release

#3058 Docs: fix outdated link
  docs/pages/web/tagdata.js
Labels: patch release

#3059 Box: add support for `<p>` in `as`
  docs/examples/box/as.js
  packages/gestalt/src/Box.js
  packages/gestalt/src/boxTypes.js
Labels: minor release

#3060 Column, Label, Letterbox, Mask: migrate docs examples to Sandpack
  .eslintrc.js
  docs/docs-components/CombinationNew.js
  docs/examples/column/variantBasic.js
  docs/examples/column/variantEqualHeight.js
  docs/examples/column/variantGutters.js
  docs/examples/column/variantResizingColumns.js
  docs/examples/column/variantStackingColumns.js
  docs/examples/column/variantThreeColumn.js
  docs/examples/column/variantTwoColumn.js
  docs/examples/column/variantTwoColumnUnequal.js
  docs/examples/label/variantWithFormComponent.js
  docs/examples/letterbox/main.js
  docs/examples/letterbox/variantSquare.js
  docs/examples/letterbox/variantSquareHorizontalFrame.js
  docs/examples/letterbox/variantSquareVerticalFrame.js
  docs/examples/letterbox/variantTall.js
  docs/examples/letterbox/variantWide.js
  docs/examples/mask/variantCircle.js
  docs/examples/mask/variantContent.js
  docs/examples/mask/variantWash.js
  docs/examples/mask/variantWillChangeTransform.js
  docs/pages/web/column.js
  docs/pages/web/label.js
  docs/pages/web/letterbox.js
  docs/pages/web/mask.js
  packages/gestalt/src/Column.js
  packages/gestalt/src/Letterbox.js
  packages/gestalt/src/Mask.js
Labels: patch release

#3062 Docs: add June newsletter
  docs/pages/BlogPosts.json
Labels: patch release

#3065 Internal: clean up component data types
  docs/docs-components/OverviewList.js
  docs/docs-components/data/components.js
  docs/docs-components/data/types.js
  docs/docs-components/data/utils/test-fixtures.js
  docs/pages/web/component_status.js
Labels: patch release

#3067 Internal: Bump stylelint from 14.0.1 to 15.10.1
  .stylelintrc.json
  package.json
  yarn.lock
Labels: dependencies, patch release

#3069 Docs: PageHeader example fixes
  docs/examples/pageheader/centerAlignedExample.js
  docs/examples/pageheader/complimentaryItemsExample.js
  docs/examples/pageheader/defaultExample.js
  docs/examples/pageheader/dontOverloadExample.js
  docs/examples/pageheader/includeImageExample.js
  docs/examples/pageheader/includeProfilePictureExample.js
  docs/examples/pageheader/localizationExample.js
  docs/examples/pageheader/maxWidthExample.js
  docs/examples/pageheader/minimumButtonsExample.js
  docs/examples/pageheader/multiplePrimaryActionsExample.js
  docs/examples/pageheader/onePrimaryActionExample.js
  docs/examples/pageheader/subtextExample.js
  docs/examples/pageheader/titleExample.js
Labels: patch release

#3068 Tokens: added undocumented `$color-text-disabled` & `$color-text-icon-disabled` tokens
  docs/pages/foundations/design_tokens.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#3070 Docs: Added Issues section for Text, Heading within Component quality checklist
  docs/docs-components/QualityChecklist.js
  docs/docs-components/data/components.js
  docs/docs-components/data/types.js
  docs/pages/web/text.js
Labels: patch release

#3072 Docs: cleaned up Android sheet docs
  docs/markdown/android/sheet.md
Labels: patch release

#3074 Docs: Fix typo in overview
  docs/pages/foundations/data_visualization/overview.js
Labels: patch release

#3071 Docs: Header toggle button placement
  docs/docs-components/Header.js
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt/src/icons/code-checked.svg
  packages/gestalt/src/icons/index.js
Labels: patch release

#3073 Table: Add SortableHeaderCell End align
  docs/examples/table/sortableTableCells.js
  docs/pages/web/table.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/TableSortableHeaderCell.test.js
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
Labels: minor release

#3076 Docs: Page Source Links
  docs/docs-components/Page.js
  docs/pages/[...id].js
Labels: patch release

#3078 Button: fixes ` name` prop documentation and Flow
  docs/pages/web/button.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Button.flowtest.js
  packages/gestalt/src/Button.js
Labels: major release

#3079 Popover: Deprecating showcaret and color=blue
  docs/examples/button/semiTransparentWhiteButtonExample.js
  docs/examples/button/whiteButtonExample.js
  docs/examples/popover/dontCritical.js
  docs/examples/pulsar/doHighlight.js
  docs/examples/pulsar/doPopover.js
  docs/examples/pulsar/doPosition.js
  docs/examples/pulsar/doPrioritize.js
  docs/examples/pulsar/dontPosition.js
  docs/examples/pulsar/dontStatus.js
  docs/examples/scrollboundarycontainer/popoverExample.js
  docs/pages/visual-test/Popover-dark.js
  docs/pages/visual-test/Popover.js
  docs/pages/web/button.js
  docs/pages/web/popover.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Popover.js
  playwright/visual-test/Popover-dark.spec.mjs-snapshots/Popover-dark-chromium-darwin.png
  playwright/visual-test/Popover.spec.mjs-snapshots/Popover-chromium-darwin.png
Labels: major release, blog-post

#3083 Docs: Added Android Badge docs
  docs/docs-components/data/components.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/badge.md
  playwright/accessibility/android__badge.spec.mjs
Labels: patch release

#3081 PopoverEducational: removing flex null spacing
  packages/gestalt/src/PopoverEducational.js
Labels: patch release

#3085 Docs: Re-add hero animation on home page
  docs/pages/home.js
Labels: patch release

#3086 Internal: test skip-title-checker tag in github workflow
  .github/workflows/pr-title-checker.yml
Labels: patch release

#3087 Internal: test 'skip-title-checker' 2
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-checker.yml
Labels: patch release

#3088 Internal: revert tests 'skip-title-checker'
  .github/pr-title-checker-config.json
Labels: patch release

#3001 DateRange: new component
  .github/pr-title-checker-config.json
  docs/docs-components/DevelopmentEditor.js
  docs/docs-components/data/components.js
  docs/docs-components/siteIndex.js
  docs/examples/datefield/disabled.js
  docs/examples/datefield/error.js
  docs/examples/datefield/main.js
  docs/examples/daterange/disabledFuture.js
  docs/examples/daterange/disabledPast.js
  docs/examples/daterange/errorMessaging.js
  docs/examples/daterange/futureRadioGroup.js
  docs/examples/daterange/implementation.js
  docs/examples/daterange/main.js
  docs/examples/daterange/mobile.js
  docs/examples/daterange/pastRadioGroup.js
  docs/examples/defaultlabelprovider/translations.js
  docs/graphics/general/DateRange.svg
  docs/pages/visual-test/DateRange-dark.js
  docs/pages/visual-test/DateRange-light.js
  docs/pages/web/datefield.js
  docs/pages/web/datepicker.js
  docs/pages/web/daterange.js
  docs/pages/web/utilities/defaultlabelprovider.js
  flow-typed/npm/react-datepicker_v2.x.x.js
  packages/gestalt-datepicker/dist/index.d.ts
  packages/gestalt-datepicker/src/DateField.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt-datepicker/src/DatePicker.css.flow
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.js
  packages/gestalt-datepicker/src/DateRange.css
  packages/gestalt-datepicker/src/DateRange.css.flow
  packages/gestalt-datepicker/src/DateRange.flowtest.js
  packages/gestalt-datepicker/src/DateRange.js
  packages/gestalt-datepicker/src/DateRange.jsdom.test.js
  packages/gestalt-datepicker/src/DateRange/InternalDatePicker.js
  packages/gestalt-datepicker/src/index.js
  packages/gestalt/src/RadioGroup.js
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/index.js
  playwright/accessibility/DateRange.spec.mjs
  playwright/accessibility/web__daterange.spec.mjs
  playwright/visual-test/DateRange-dark.spec.mjs
  playwright/visual-test/DateRange-dark.spec.mjs-snapshots/DateRange-dark-chromium-darwin.png
  playwright/visual-test/DateRange.spec.mjs
  playwright/visual-test/DateRange.spec.mjs-snapshots/DateRange-light-chromium-darwin.png
  scripts/generateMetadata.js
Labels: minor release, blog-post

#3089 DateRange: Fix example, add snapshot in unit test, fix sandboxes
  docs/examples/daterange/disabledFuture.js
  docs/examples/daterange/disabledPast.js
  docs/examples/daterange/errorMessaging.js
  docs/examples/daterange/futureRadioGroup.js
  docs/examples/daterange/implementation.js
  docs/examples/daterange/main.js
  docs/examples/daterange/mobile.js
  docs/examples/daterange/pastRadioGroup.js
  docs/pages/web/daterange.js
  packages/gestalt-datepicker/src/DateRange.jsdom.test.js
Labels: patch release

#3090 Docs: fix in broken TextField page
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.js
  packages/gestalt-datepicker/src/DatePicker/TextInput.js
Labels: patch release

#3092 Docs: 2023-07-21 weekly update
  docs/pages/BlogPosts.json
Labels: patch release

#3077 Docs: 2023 H2 roadmap
  docs/pages/RoadmapData.json
Labels: patch release

#3061 Docs: Q2 newsletter addition
  docs/docs-components/MarkdownPage.js
  docs/docs-components/siteIndex.js
  docs/markdown/blog/2023_q1_newsletter.md
  docs/markdown/blog/2023_q2_newsletter.md
  playwright/accessibility/blog__2023_q2_newsletter.spec.mjs
Labels: patch release

#3093 ButtonLink: new component forked from Button
  docs/docs-components/data/components.js
  docs/docs-components/siteIndex.js
  docs/examples/buttonlink/main.js
  docs/examples/buttonlink/relAndTargetExample.js
  docs/graphics/general/ButtonLink.svg
  docs/pages/visual-test/ButtonLink-dark.js
  docs/pages/visual-test/ButtonLink.js
  docs/pages/web/button.js
  docs/pages/web/buttonlink.js
  packages/gestalt/src/ButtonLink.js
  packages/gestalt/src/index.js
  playwright/accessibility/web__buttonlink.spec.mjs
  playwright/visual-test/ButtonLink-dark.spec.mjs
  playwright/visual-test/ButtonLink-dark.spec.mjs-snapshots/ButtonLink-dark-chromium-darwin.png
  playwright/visual-test/ButtonLink.spec.mjs
  playwright/visual-test/ButtonLink.spec.mjs-snapshots/ButtonLink-chromium-darwin.png
Labels: minor release

#3102 Docs: Added iOS components to the H2 roadmap
  docs/pages/RoadmapData.json
Labels: patch release

#3107 Docs: development mode switch shown when activated from url
  docs/docs-components/Header.js
Labels: patch release

#3108 Docs: New and updated component svgs
  docs/docs-components/data/components.js
  docs/graphics/building-blocks/Popover.svg
  docs/graphics/general/DateField.svg
  docs/graphics/general/DatePicker.svg
  docs/graphics/general/DateRange.svg
  docs/graphics/general/Popover.svg
  docs/graphics/general/PopoverEducational.svg
  docs/graphics/index.js
  docs/graphics/utilities/GlobalEventsHandlerProvider.svg
Labels: patch release

#3104 Switch: iOS mobile doc clean up
  docs/markdown/android/switch.md
  docs/markdown/ios/switch.md
Labels: patch release

#3109 Docs: Switch replacing images on the iOS doc
  docs/markdown/ios/switch.md
Labels: patch release

#3103 DateField: Add locale format translations
  flow-typed/npm/@mui/material_vx.x.x.js
  flow-typed/npm/@mui/x-date-pickers_vx.x.x.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
Labels: minor release

#3101 IconButton: support to `data-test-id`
  docs/pages/web/iconbutton.js
  packages/gestalt/src/Button.jsdom.test.js
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButton.jsdom.test.js
  packages/gestalt/src/IconButton.test.js
  packages/gestalt/src/__snapshots__/IconButton.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/IconButton.test.js.snap
Labels: minor release

#3113 Icon: support rtl to "mute" icon
  packages/gestalt/src/Icon.js
  packages/gestalt/src/Video/__snapshots__/Controls.test.js.snap
  packages/gestalt/src/__snapshots__/Video.test.js.snap
Labels: patch release

#3095 Text: Add CJK wrapping to Text
  docs/examples/text/cjkText.js
  docs/pages/web/text.js
  packages/gestalt/src/Text.css
Labels: minor release

#3116 Table: Headercell take full width
  docs/examples/table/sortableTableCells.js
  packages/gestalt/src/TableSortableHeaderCell.js
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.js.snap
Labels: patch release

#3111 Popover: add "forceDown" to `idealDirection`
  docs/examples/popover/a11y.js
  docs/examples/popover/dontCritical.js
  docs/examples/popover/main.js
  docs/pages/web/popover.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Caret.js
  packages/gestalt/src/Controller.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/Popover/InternalPopover.js
  packages/gestalt/src/utils/positioningTypes.js
  packages/gestalt/src/utils/positioningUtils.js
Labels: minor release

#3115 DatePicker: support controlled/uncontrolled component
  docs/examples/datepicker/main.js
  docs/examples/datepicker/preselected.js
  docs/examples/datepicker/selectLists.js
  docs/pages/web/datefield.js
  docs/pages/web/datepicker.js
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.js
Labels: major release
