Repository pinterest/gestalt, pull requests merged in 2023-10, with the labels that each got.

#3232 Toast, SideNavigation: typo and syntax error
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3231 Tokens: Updated dark mode $color-border-container
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: patch release

#3229 Docs: Newsletter Eng September 2023
  docs/pages/BlogPosts.json
Labels: patch release

#3219 ChartGraph: Tabular representation feature
  docs/docs-components/data/components.js
  docs/examples/chartgraph/bar.js
  docs/examples/chartgraph/barColumn.js
  docs/examples/chartgraph/barHorizontal.js
  docs/examples/chartgraph/biaxial.js
  docs/examples/chartgraph/biaxialHorizontal.js
  docs/examples/chartgraph/biaxialVertical.js
  docs/examples/chartgraph/combo.js
  docs/examples/chartgraph/controlledCategorical.js
  docs/examples/chartgraph/controlledTimeseries.js
  docs/examples/chartgraph/decalLines.js
  docs/examples/chartgraph/doColor.js
  docs/examples/chartgraph/doLimit.js
  docs/examples/chartgraph/doSameColor.js
  docs/examples/chartgraph/dontLimit.js
  docs/examples/chartgraph/grouped.js
  docs/examples/chartgraph/labelMap.js
  docs/examples/chartgraph/layout.js
  docs/examples/chartgraph/legend.js
  docs/examples/chartgraph/line.js
  docs/examples/chartgraph/main.js
  docs/examples/chartgraph/precision.js
  docs/examples/chartgraph/range.js
  docs/examples/chartgraph/responsive.js
  docs/examples/chartgraph/stacked.js
  docs/examples/chartgraph/stackedBar.js
  docs/examples/chartgraph/timeseries.js
  docs/examples/defaultlabelprovider/translations.js
  docs/pages/web/chartgraph.js
  docs/pages/web/utilities/defaultlabelprovider.js
  packages/gestalt-charts/src/ChartGraph.js
  packages/gestalt-charts/src/ChartGraph.jsdom.test.js
  packages/gestalt-charts/src/ChartGraph/Header.js
  packages/gestalt-charts/src/ChartGraph/TabularDataModal.js
  packages/gestalt-charts/src/ChartGraph/TabularDataModalFooter.js
  packages/gestalt-charts/src/ChartGraph/TabularDataModalHeading.js
  packages/gestalt-charts/src/ChartGraph/TabularDataModalTable.js
  packages/gestalt-charts/src/ChartGraph/useTabularData.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  playwright/visual-test/ChartGraph-dark.spec.mjs-snapshots/ChartGraph-dark-chromium-darwin.png
  playwright/visual-test/ChartGraph.spec.mjs-snapshots/ChartGraph-light-chromium-darwin.png
  playwright/visual-test/Icon-list-dark.spec.mjs-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.mjs-snapshots/Icon-list-chromium-darwin.png
Labels: major release

#3233 Docs: remove internal section from Sept eng newsletter
  docs/pages/BlogPosts.json
Labels: patch release

#3230 Text: Remove-CJK formatting
  docs/examples/text/cjkText.js
  docs/pages/web/text.js
  packages/gestalt/src/Text.css
Labels: patch release

#3234 Table: fix Flow and TS types for Table.RowExpandable
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TableRowExpandable.js
  packages/gestalt/src/TableRowExpandable.jsdom.test.js
Labels: patch release

#3227 Internal: Update local test check
  scripts/test.sh
Labels: patch release

#3237 Link: added `dataTestId` prop
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Link.js
  packages/gestalt/src/Link.jsdom.test.js
Labels: minor release, blog-post

#3239 Internal: fix in TS file
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3240 Docs: cleanup
  docs/pages/web/activationcard.js
  docs/pages/web/button.js
  docs/pages/web/callout.js
  docs/pages/web/dropdown.js
  docs/pages/web/iconbutton.js
  docs/pages/web/link.js
  docs/pages/web/taparea.js
  docs/pages/web/upsell.js
  docs/pages/web/utilities/globaleventshandlerprovider.js
Labels: patch release

#3242 Docs: Updates to Toast and Tabs in Android and iOS
  docs/markdown/android/listaction.md
  docs/markdown/android/tabs.md
  docs/markdown/android/toast.md
  docs/markdown/ios/listaction.md
  docs/markdown/ios/tabs.md
  docs/markdown/ios/toast.md
Labels: patch release

#3241 Docs: integrate PDocs in web component docs
  docs/docs-components/InternalDocumentationSection.js
  docs/docs-components/PageHeader.js
  docs/pages/get_started/developers/tooling/web.js
  docs/pages/web/avatar.js
  docs/pages/web/box.js
  docs/pages/web/button.js
  docs/pages/web/buttonlink.js
  docs/pages/web/datefield.js
  docs/pages/web/datepicker.js
  docs/pages/web/daterange.js
  docs/pages/web/flex.js
  docs/pages/web/iconbutton.js
  docs/pages/web/iconbuttonlink.js
  docs/pages/web/link.js
  docs/pages/web/masonry.js
  docs/pages/web/modal.js
  docs/pages/web/pageheader.js
  docs/pages/web/sheetmobile.js
  docs/pages/web/taparea.js
  docs/pages/web/taparealink.js
  docs/pages/web/toast.js
  docs/pages/web/utilities/colorschemeprovider.js
  docs/pages/web/utilities/defaultlabelprovider.js
  docs/pages/web/utilities/devicetypeprovider.js
  docs/pages/web/utilities/globaleventshandlerprovider.js
  docs/pages/web/video.js
Labels: patch release, blog-post

#3249 Docs: TextField - Updated ios & android
  docs/markdown/android/textfield.md
  docs/markdown/ios/textfield.md
Labels: patch release

#3204 TagData, TileData: Multi-line Tooltips
  docs/examples/tagdata/tooltip.js
  docs/examples/tiledata/tooltip.js
  docs/pages/web/tagdata.js
  docs/pages/web/tiledata.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TagData.js
  packages/gestalt/src/TileData.js
  packages/gestalt/src/Tooltip/InternalTooltip.js
  packages/gestalt/src/utils/MaybeTooltip.js
Labels: patch release

#3250 Docs: Added & Updated mobile overview & status
  docs/docs-components/data/components.js
  docs/graphics/general/ListAction.svg
Labels: patch release

#3252 Docs: small fixes
  docs/docs-components/AppLayout.js
  docs/docs-components/DocSearch.js
  docs/docs-components/Header.js
  docs/docs-components/LocalizationSection.js
  docs/docs-components/SkipToContent.js
  docs/docs-components/z-indices.js
  docs/pages/web/sheetmobile.js
  docs/pages/web/slimbanner.js
  docs/pages/web/table.js
  docs/pages/web/tagdata.js
  docs/pages/web/video.js
Labels: patch release

#3256 Internal: update Flow from v0.210.2 to v0.216.1
  .flowconfig
  docs/utils/mdHelper.js
  package.json
  yarn.lock
Labels: patch release

#3257 Tokens: Add space tokens
  packages/gestalt-design-tokens/tokens/space/base.json
Labels: minor release

#3263 ChartGraph: support to RTL
  docs/docs-components/data/components.js
  docs/examples/chartgraph/biaxial.js
  packages/gestalt-charts/src/ChartGraph.js
  packages/gestalt-charts/src/ChartGraph/renderAxis.js
  packages/gestalt-charts/src/ChartGraph/useDefaultLegend.js
  packages/gestalt-charts/src/ChartGraph/useDefaultTooltip.js
Labels: minor release

#3261 Docs: Q3 Newsletter
  docs/docs-components/siteIndex.js
  docs/markdown/blog/2023_q3_newsletter.md
  playwright/accessibility/blog__2023_q3_newsletter.spec.mjs
Labels: patch release, blog-post

#3246 Docs: Update README.md with email
  README.md
Labels: patch release

#3264 Icon: New conversion and speech icons
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_speech_exclamation_point_gestalt.svg
  packages/gestalt-icons-android/ic_speech_outline_gestalt.svg
  packages/gestalt/src/icons/api.svg
  packages/gestalt/src/icons/data-source.svg
  packages/gestalt/src/icons/diagnostics.svg
  packages/gestalt/src/icons/heart-health.svg
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/speech-exclamation-point.svg
  packages/gestalt/src/icons/speech-outline.svg
Labels: patch release

#3265 Docs: Update 2023_q3_newsletter.md
  docs/markdown/blog/2023_q3_newsletter.md
Labels: patch release, blog-post

#3268 Docs: Update 2023_q3_newsletter.md
  docs/markdown/blog/2023_q3_newsletter.md
Labels: patch release, blog-post

#3270 Tokens: Added $color-background-neutral
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: patch release

#3266 IconButton: iOS/Android documentation cleanup
  docs/markdown/android/iconbutton.md
  docs/markdown/ios/iconbutton.md
Labels: patch release

#3251 Tokens: Move to Border radius tokens
  docs/docs-components/TokenExample.js
  packages/gestalt-design-tokens/tokens/rounding/base.json
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Button.css
  packages/gestalt/src/SegmentedControl.css
  packages/gestalt/src/Tag.css
  packages/gestalt/src/TagData.css
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/Toast.css
  packages/gestalt/src/shared/FormElement.css
Labels: minor release

#3271 DateField: add `size` prop to match input field pattern and fix border color
  packages/gestalt-datepicker/dist/index.d.ts
  packages/gestalt-datepicker/src/DateField.css
  packages/gestalt-datepicker/src/DateField.css.flow
  packages/gestalt-datepicker/src/DateField.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
Labels: minor release

#3262 Divider: make vertical border lightgray
  packages/gestalt/src/Divider.css
Labels: patch release

#3272 Docs: layout and general cleanups
  docs/examples/badge/variantsOtherComponents.js
  docs/examples/combobox/labels.js
  docs/examples/fieldset/variantsError.js
  docs/examples/helpbutton/main.js
  docs/examples/icon/builtInIcon.js
  docs/examples/icon/customIcon.js
  docs/examples/iconbutton/customIcon.js
  docs/examples/iconbutton/gestaltIcon.js
  docs/pages/web/avatargroup.js
  docs/pages/web/badge.js
  docs/pages/web/datepicker.js
  docs/pages/web/daterange.js
  docs/pages/web/fieldset.js
  docs/pages/web/heading.js
  docs/pages/web/helpbutton.js
  docs/pages/web/icon.js
  docs/pages/web/iconbutton.js
Labels: patch release

#3278 Docs: Clarifying updates to ListAction docs
  docs/markdown/android/listaction.md
  docs/markdown/ios/listaction.md
Labels: patch release

#3285 Icon: updated TS types
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3260 RadioGroup/DatePicker/DateField/DateRange: Updating GlobalEventsHandlerProvider for impression logging hooks
  docs/pages/web/datefield.js
  docs/pages/web/datepicker.js
  docs/pages/web/daterange.js
  docs/pages/web/utilities/globaleventshandlerprovider.js
  packages/gestalt-datepicker/src/DateField.js
  packages/gestalt-datepicker/src/DatePicker.js
  packages/gestalt-datepicker/src/DateRange.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/RadioGroup.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.js
Labels: major release

#3286 TextArea: iOS Publishing docs
  docs/docs-components/data/components.js
  docs/docs-components/siteIndex.js
  docs/markdown/android/textarea.md
  docs/markdown/ios/textarea.md
  playwright/accessibility/ios__textarea.spec.mjs
Labels: patch release

#3288 Docs: Experimentation section
  docs/docs-components/siteIndex.js
  docs/markdown/get_started/developers/contributing/development_process.md
  docs/markdown/get_started/developers/contributing/experimentation.md
  playwright/accessibility/get_started__developers__contributing__experimentation.spec.mjs
Labels: patch release
