Repository pinterest/gestalt, pull requests merged in 2023-02, with the labels that each got.

#2630 Sheet: implement dismiss confirmation modal and `dismissConfirmation` prop
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/sheet/defaultExample.js
  docs/pages/web/sheet.js
  packages/gestalt/src/InternalSheet.js
  packages/gestalt/src/Sheet.js
  packages/gestalt/src/Sheet.jsdom.test.js
  packages/gestalt/src/SheetConfirmationPopover.js
  packages/gestalt/src/__snapshots__/Sheet.jsdom.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
Labels: major release, blog-post

#2634 Docs: January newsletter
  docs/pages/BlogPosts.json
  docs/pages/BlogPosts.json.flow
  docs/pages/whats_new.js
  scripts/generateSlackBlockKitPost.js
Labels: patch release

#2637 Internal: upgrade @playwright/test to 1.30.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#2636 Badge: experiment rollout
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/visual-test/Badge-dark.js
  docs/pages/visual-test/Badge.js
  docs/pages/web/badge.js
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.css.flow
  packages/gestalt/src/Badge.js
  packages/gestalt/src/PageHeaderComponents.js
  packages/gestalt/src/__snapshots__/Badge.test.js.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Module.test.js.snap
  packages/gestalt/src/__snapshots__/ModuleExpandableItem.test.js.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  playwright/visual-test/Badge-dark.spec.mjs
  playwright/visual-test/Badge-dark.spec.mjs-snapshots/Badge-dark-chromium-darwin.png
  playwright/visual-test/Badge.spec.mjs
  playwright/visual-test/Badge.spec.mjs-snapshots/Badge-chromium-darwin.png
Labels: major release, blog-post

#2639 Internal: improve Masonry a11y test route, refactor docs example
  docs/docs-components/AppLayout.js
  docs/integration-test-helpers/masonry/ExampleGridItem.js
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/integration-test-helpers/masonry/getClassicGridServerStyles.js
  docs/integration-test-helpers/masonry/getFlexibleGridServerStyles.js
  docs/integration-test-helpers/masonry/items-utils.js
  docs/pages/integration-test/masonry.js
  docs/pages/web/masonry.js
Labels: patch release

#2640 Internal: fix "open in codesandbox" dependencies
  docs/docs-components/handleCodeSandbox.js
Labels: patch release

#2641 Docs: improve 'See recent changes on GitHub" by including previous component names
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/PageHeader.js
Labels: patch release

#2643 List: fix style issue replacing uncompiling `padding-inline-start` with `padding-right/left`
  packages/gestalt/src/List.css
Labels: patch release

#2644 List: amend design to add indentation to left padding side
  packages/gestalt/src/InternalList.js
  packages/gestalt/src/List.css
  packages/gestalt/src/List.css.flow
  packages/gestalt/src/__snapshots__/List.test.js.snap
  playwright/visual-test/List-dark.spec.mjs-snapshots/List-dark-chromium-darwin.png
  playwright/visual-test/List-light.spec.mjs-snapshots/List-light-chromium-darwin.png
Labels: patch release

#2645 Internal: match peer dependencies to actual usage
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
Labels: major release

#2649 Docs: tiny bug on code Editor in Badge
  docs/pages/web/badge.js
Labels: patch release

#2651 ZIndex: fix Flow types
  packages/gestalt/src/zIndex.js
Labels: patch release

#2652 Table: add `sticky` prop to Table.Footer
  docs/pages/web/table.js
  packages/gestalt/src/Table.css
  packages/gestalt/src/Table.css.flow
  packages/gestalt/src/TableFooter.js
  packages/gestalt/src/TableFooter.jsdom.test.js
  packages/gestalt/src/TableFooter.test.js
  packages/gestalt/src/TableHeader..jsdom.test.js
  packages/gestalt/src/TableHeader.js
  packages/gestalt/src/TableHeader.test.js
  packages/gestalt/src/__snapshots__/TableFooter.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableFooter.test.js.snap
  packages/gestalt/src/__snapshots__/TableHeader..jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableHeader.test.js.snap
Labels: minor release

#2647 Internal: add first integration test for Masonry
  docs/pages/integration-test/masonry.js
  package.json
  playwright/masonry/fetch-more.spec.mjs
  playwright/masonry/utils/getServerURL.mjs
  playwright/masonry/utils/resizeWidth.mjs
  playwright/masonry/utils/selectors.mjs
  playwright/masonry/utils/waitForRenderedItems.mjs
Labels: patch release

#2653 Updated roadmap to match H1 2023 goals
  docs/pages/RoadmapData.json
Labels: patch release

#2658 Docs: open external footer links in new tab
  docs/docs-components/Footer.js
Labels: patch release

#2646 SideNavigation: implemented `primaryAction` prop to allow actions on SideNavigation.TopItem and SideNavigation.Group
  docs/examples/sidenavigation/localizationExample.js
  docs/examples/sidenavigation/primaryAction.js
  docs/pages/web/sidenavigation.js
  packages/gestalt/src/OptionItem.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigation.jsdom.test.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationGroupContent.js
  packages/gestalt/src/SideNavigationGroupMobile.js
  packages/gestalt/src/SideNavigationIconButton.js
  packages/gestalt/src/SideNavigationMobile.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
Labels: minor release

#2657 Docs: Remove Year in Review banner
  docs/docs-components/AppLayout.js
Labels: patch release

#2660 Docs: add Feb 22 updates
  docs/pages/BlogPosts.json
Labels: patch release

#2665 Docs: linting + copyediting for Android icon page
  docs/docs-components/MarkdownPage.js
  docs/markdown/android/icon.md
Labels: patch release

#2664 ScrollBoundaryContainer: add 'visible' to `overflow` prop type, documented case, and move editor to Sandpack
  docs/examples/scrollboundarycontainer/autoOverflowExample.js
  docs/examples/scrollboundarycontainer/modalExample.js
  docs/examples/scrollboundarycontainer/popoverExample.js
  docs/examples/scrollboundarycontainer/visibleOverflowExample.js
  docs/pages/web/utilities/scrollboundarycontainer.js
  packages/gestalt/src/ScrollBoundaryContainer.js
  packages/gestalt/src/ScrollBoundaryContainerWithForwardRef.js
Labels: patch release

#2659 WashAnimated: rename Card to WashAnimated
  CHANGELOG.md
  docs/docs-components/COMPONENT_DATA.js
  docs/docs-components/IllustrationCard.js
  docs/docs-components/siteIndex.js
  docs/examples/washanimated/defaultExample.js
  docs/graphics/general/Card.svg
  docs/graphics/general/WashAnimated.svg
  docs/pages/visual-test/WashAnimated-dark.js
  docs/pages/visual-test/WashAnimated.js
  docs/pages/web/washanimated.js
  docs/redirects.js
  packages/gestalt/src/Card.flowtest.js
  packages/gestalt/src/Card.test.js
  packages/gestalt/src/WashAnimated.css
  packages/gestalt/src/WashAnimated.css.flow
  packages/gestalt/src/WashAnimated.flowtest.js
  packages/gestalt/src/WashAnimated.js
  packages/gestalt/src/WashAnimated.test.js
  packages/gestalt/src/__snapshots__/WashAnimated.test.js.snap
  packages/gestalt/src/index.js
  playwright/accessibility/WashAnimated.spec.mjs
  playwright/visual-test/Card-dark.spec.mjs
  playwright/visual-test/Card.spec.mjs
  playwright/visual-test/WashAnimated-dark.spec.mjs
  playwright/visual-test/WashAnimated-dark.spec.mjs-snapshots/WashAnimated-dark-chromium-darwin.png
  playwright/visual-test/WashAnimated.spec.mjs
  playwright/visual-test/WashAnimated.spec.mjs-snapshots/WashAnimated-chromium-darwin.png
Labels: major release

#2667 Masonry: Add `handle-item-updates` integration test
  docs/integration-test-helpers/masonry/ExampleGridItem.js
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/pages/integration-test/masonry.js
  package.json
  playwright/masonry/handle-item-updates.spec.mjs
  playwright/masonry/utils/selectors.mjs
  playwright/masonry/utils/waitForRenderedItems.mjs
  playwright/playwright.config.js
Labels: patch release

#2668 Docs: fix MDX Do/Dont rendering
  docs/docs-components/MarkdownPage.js
Labels: patch release

#2671 Internal: add `handle-position-update` Masonry integration test
  playwright/masonry/handle-position-update.spec.mjs
Labels: patch release

#2670 Docs: fix MDX Do/Dont rendering, take two
  docs/markdown/android/icon.md
Labels: patch release

#2669 Toast: ship new experimental Toast redesign (#2508)
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/toast.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
  playwright/visual-test/Toast-dark.spec.mjs-snapshots/Toast-dark-chromium-darwin.png
  playwright/visual-test/Toast.spec.mjs-snapshots/Toast-chromium-darwin.png
Labels: minor release, blog-post
