Repository pinterest/gestalt, pull requests merged in 2024-06, with the labels that each got.

#3609 Internal: fix some TS suppressions due to ReactNode
  docs/docs-components/App.tsx
  docs/docs-components/ColorPalette.tsx
  docs/docs-components/ErrorBoundary.tsx
  docs/docs-components/StatusData.tsx
  docs/docs-components/createHydra.ts
  docs/pages/foundations/color/palette.tsx
  docs/pages/foundations/data_visualization/color/usage.tsx
  docs/pages/integration-test/masonry.tsx
  packages/gestalt-charts/src/ChartGraph/renderGraphPoint.tsx
  packages/gestalt-datepicker/src/DatePicker.tsx
  packages/gestalt/src/AvatarGroup.tsx
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/ButtonLink.tsx
  packages/gestalt/src/Checkbox.tsx
  packages/gestalt/src/Checkbox/InternalCheckbox.tsx
  packages/gestalt/src/Collage/Collection.tsx
  packages/gestalt/src/ComboBox.tsx
  packages/gestalt/src/ComboBox/Item.tsx
  packages/gestalt/src/Dropdown/OptionItem.tsx
  packages/gestalt/src/HelpButton.tsx
  packages/gestalt/src/IconButton.tsx
  packages/gestalt/src/IconButtonFloating.tsx
  packages/gestalt/src/IconButtonLink.tsx
  packages/gestalt/src/Image.tsx
  packages/gestalt/src/LegacyContents.tsx
  packages/gestalt/src/LegacyController.tsx
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/ScrollContainer.ts
  packages/gestalt/src/NumberField.tsx
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.tsx
  packages/gestalt/src/Popover.tsx
  packages/gestalt/src/Popover/InternalPopover.tsx
  packages/gestalt/src/PopoverEducational.tsx
  packages/gestalt/src/RadioButton.tsx
  packages/gestalt/src/RadioGroupButton.tsx
  packages/gestalt/src/ScrollBoundaryContainer/InternalScrollBoundaryContainerWithForwardRef.tsx
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/SideNavigation/PrimaryActionIconButton.tsx
  packages/gestalt/src/SideNavigationNestedItem.tsx
  packages/gestalt/src/SideNavigationTopItem.tsx
  packages/gestalt/src/TagData.tsx
  packages/gestalt/src/TapArea.tsx
  packages/gestalt/src/TapAreaLink.tsx
  packages/gestalt/src/TextArea.tsx
  packages/gestalt/src/TextField/InternalTextField.tsx
  packages/gestalt/src/TileData.tsx
  packages/gestalt/src/Video.tsx
  packages/gestalt/src/Video/Playhead.tsx
  packages/gestalt/src/behaviors/StopScrollBehavior.ts
  packages/gestalt/src/sharedSubcomponents/InternalDismissButton.tsx
  packages/gestalt/src/sharedSubcomponents/MaybeTooltip.tsx
Labels: patch release

#3612 Image: Address onLoad not being called for SSR images
  packages/gestalt/src/Image.tsx
Labels: minor release

#3613 Docs: removed Accessibility checklist module and badge
  docs/docs-components/AccessibilitySection.tsx
  docs/docs-components/PageHeaderQualitySummary.tsx
  docs/pages/web/pageheader.tsx
Labels: patch release

#3614 Internal: remove flow-typed and updated docs
  .dockerignore
  .eslintignore
  .github/pull_request_template.md
  .prettierignore
  docs/pages/foundations/motion/principles.tsx
  flow-typed/npm/jest_v26.x.x.js
  flow-typed/npm/stylelint-config-prettier_vx.x.x.js
  flow-typed/npm/stylelint-config-standard_vx.x.x.js
  flow-typed/npm/stylelint-order_vx.x.x.js
  flow-typed/npm/stylelint_vx.x.x.js
  packages/gestalt/src/Box.tsx
Labels: patch release

#3615 TableOfContents: Fix padding-inline-start padding-inline-end issues with PostCSS
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.css
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.tsx
  packages/gestalt/src/__snapshots__/TableOfContents.test.tsx.snap
Labels: patch release

#3618 Box: extended margin/padding range from 12 to 16
  packages/gestalt/src/Accordion/applyModuleDensity.ts
  packages/gestalt/src/Box.tsx
  packages/gestalt/src/Flex.tsx
  packages/gestalt/src/boxWhitespace.css
  scripts/whitespace.js
Labels: minor release

#3620 PageHeader: standardize tooltip prop
  docs/examples/pageheader/titleExample.tsx
  docs/pages/visual-test/PageHeader-thumbnail-badge-iconButton.tsx
  packages/gestalt/src/PageHeader.tsx
  packages/gestalt/src/PageHeader/components.tsx
Labels: major release

#3619 Badge: add interactive icon to all types
  docs/examples/badge/variantsType.tsx
  docs/pages/web/badge.tsx
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.tsx
Labels: minor release

#3617 Tokens: Adding Snapshot Tests for Token Dist
  package.json
  packages/gestalt-design-tokens/package.json
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/dist.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tests/android.test.js
  packages/gestalt-design-tokens/tests/dist.test.js
  packages/gestalt-design-tokens/tests/getFiles.js
  packages/gestalt-design-tokens/tests/ios.test.js
  packages/gestalt-design-tokens/tests/web.test.js
  scripts/test.sh
  yarn.lock
Labels: patch release

#3621 Dropdown: Use Popover v2
  docs/docs-components/contexts/DocsExperimentProvider.tsx
  docs/pages/web/dropdown.tsx
  packages/gestalt/src/Dropdown.jsdom.test.tsx
  packages/gestalt/src/Dropdown.tsx
  packages/gestalt/src/OverlayPanel.jsdom.test.tsx
  packages/gestalt/src/Popover.tsx
  packages/gestalt/src/PopoverEducational.jsdom.test.tsx
Labels: minor release

#3622 SideNavigation: Add `primaryAction` prop to all nested subcomponents
  docs/examples/sidenavigation/primaryAction.tsx
  packages/gestalt/src/SideNavigationNestedGroup.tsx
  packages/gestalt/src/SideNavigationNestedItem.tsx
Labels: minor release

#3624 Video: Add `dataTestId` prop
  packages/gestalt/src/Video.test.tsx
  packages/gestalt/src/Video.tsx
  packages/gestalt/src/__snapshots__/Video.test.tsx.snap
Labels: minor release

#3625 ButtonToggle: Changing background logic
  docs/pages/visual-test/ButtonToggle-dark.tsx
  docs/pages/visual-test/ButtonToggle.tsx
  packages/gestalt/src/ButtonToggle.css
  packages/gestalt/src/ButtonToggle.tsx
  playwright/visual-test/ButtonToggle-dark.spec.ts-snapshots/ButtonToggle-dark-chromium-darwin.png
  playwright/visual-test/ButtonToggle.spec.ts-snapshots/ButtonToggle-chromium-darwin.png
Labels: patch release

#3627 Internal: adding react-compiler plugin and rule
  .eslintrc.js
  package.json
  packages/gestalt/src/MasonryV2.tsx
  packages/gestalt/src/ScrollBoundaryContainer.jsdom.test.tsx
  packages/gestalt/src/behaviors/TrapFocusBehavior.tsx
  yarn.lock
Labels: patch release

#3616 Tokens, Icon: enables beta VR theme experimentation
  docs/docs-components/App.tsx
  docs/docs-components/ColorTile.tsx
  docs/docs-components/DocsVisualRefreshTypographyStyle.tsx
  docs/docs-components/contexts/DocsExperimentProvider.tsx
  docs/examples/bannercallout/dontStack.tsx
  docs/examples/bannercallout/placeAtTop.tsx
  docs/examples/text/variantRefs.tsx
  docs/pages/foundations/color/palette.tsx
  docs/pages/visualrefreshactivation.tsx
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-elevation-darkTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-elevation-lightTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme/base-font.json
  packages/gestalt/src/Avatar/Foundation.tsx
  packages/gestalt/src/Icon.tsx
  packages/gestalt/src/accessibility/AccessibilityOpenNewTab.tsx
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.tsx
  packages/gestalt/src/contexts/ColorSchemeProvider.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/index.ts
Labels: minor release

#3623 Tokens: Add line-height tokens
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/package.json
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/dist.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme/base-lineheight.json
  packages/gestalt-design-tokens/tokens/vr-theme/language/sema-lineheight-ck.json
  packages/gestalt-design-tokens/tokens/vr-theme/language/sema-lineheight-default.json
  packages/gestalt-design-tokens/tokens/vr-theme/language/sema-lineheight-ja.json
  packages/gestalt-design-tokens/tokens/vr-theme/language/sema-lineheight-tall.json
  packages/gestalt-design-tokens/tokens/vr-theme/language/sema-lineheight-th.json
  packages/gestalt-design-tokens/tokens/vr-theme/language/sema-lineheight-vi.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release, accessibility-improvement

#3629 SearchGuide: docs on mobile (iOS/Android)
  docs/markdown/android/searchguide.md
  docs/markdown/ios/searchguide.md
Labels: patch release

#3626 Flex: Added forwardRef to Flex, Flex.Item
  packages/gestalt/src/Flex.tsx
  packages/gestalt/src/FlexItem.tsx
Labels: minor release

#3634 Docs: fix Flex page
  scripts/generateMetadata.js
Labels: patch release

#3633 BannerSlim: Standardize dismiss functionality
  docs/examples/bannerslim/dismissableExample.tsx
  docs/examples/bannerslim/localizationLabels.tsx
  docs/examples/bannerslim/main.tsx
  docs/examples/bannerslim/messagePropExample.tsx
  docs/examples/bannerslim/responsiveExample.tsx
  docs/examples/table/drawerRowExample.tsx
  docs/pages/web/bannerslim.tsx
  packages/gestalt/src/BannerSlim.test.tsx
  packages/gestalt/src/BannerSlim.tsx
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
Labels: minor release

#3639 Masonry: Remove legacy flexible gutter logic
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/fullWidthLayout.test.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: minor release

#3641 ButtonToggle: Fixing accessibility fallback
  packages/gestalt/src/ButtonToggle.tsx
Labels: patch release

#3640 Tokens: small fixes to line height tokens
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
Labels: patch release

#3643 Internal: Upgrade TypeScript to 5.5
  docs/docs-components/GeneratedPropTable.tsx
  docs/docs-components/TokenTable.tsx
  docs/pages/foundations/design_tokens/component_tokens.tsx
  docs/pages/foundations/design_tokens/overview.tsx
  package.json
  packages/gestalt-charts/src/ChartGraph/useDefaultLegend.tsx
  packages/gestalt-charts/src/ChartGraph/useDefaultTooltip.tsx
  packages/gestalt/src/Datapoint/InternalDatapoint.tsx
  packages/gestalt/src/Popover.tsx
  packages/gestalt/src/TextField/InternalTextFieldIconButton.tsx
  scripts/ts/removeUnusedTsExpectErrorComments.ts
  scripts/ts/tsRemoveUnusedTsExpectErrors.sh
  yarn.lock
Labels: minor release

#3636 Masonry: Responsive grid modules
  docs/integration-test-helpers/masonry/MasonryContainer.tsx
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.test.ts
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.test.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: major release

#3647 Internal: upgrade @typescript-eslint
  package.json
  yarn.lock
Labels: patch release
