Repository pinterest/gestalt, pull requests merged in 2024-05, with the labels that each got.

#3547 Masonry: Update element height on reflow (MasonryV2)
  packages/gestalt/src/MasonryV2.js
Labels: patch release

#3551 DatePicker: upgraded react-datepicker to 6.9.0
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.js
  yarn.lock
Labels: patch release

#3548 Tokens: support .ts outputs for web
  packages/gestalt-design-tokens/build.js
Labels: minor release

#3552 Accordion: support borderStyles prop
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Accordion.js
  packages/gestalt/src/AccordionExpandable.js
Labels: minor release

#3544 Masonry: Remove heights cache
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/HeightsStore.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
  packages/gestalt/src/Masonry/getLayoutAlgorithm.js
  packages/gestalt/src/MasonryV2.js
Labels: patch release

#3553 Icon: added cloud-server-icon
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_cloud-server_gestalt.svg
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/icons/cloud-server.svg
  packages/gestalt/src/icons/index.js
Labels: patch release

#3554 Tokens: add declaration file for constant tokens
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/package.json
Labels: minor release

#3555 Masonry: Fix heights init
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3556 Tag: fix padding in mobile browsers in button tag
  packages/gestalt/src/Tag.css
Labels: patch release

#3557 Docs: Update Android component status to reflect the latest
  docs/docs-components/data/components.js
Labels: patch release

#3562 Internal: Upgrade GitHub actions to v4
  .github/workflows/alpha.yml
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  .github/workflows/release.yml
Labels: patch release

#3561 SideNavigation: Use TransitionEvent
  packages/gestalt/src/SideNavigation/NavigationContent.js
  packages/gestalt/src/contexts/SideNavigationProvider.js
Labels: patch release

#3564 Masonry: Fix multi-column issues
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/MasonryV2.js
Labels: patch release

#3563 Internal: Upgrade to Node 20
  .devcontainer/devcontainer.json
  .github/workflows/alpha.yml
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  .github/workflows/release.yml
  .nvmrc
  package.json
  yarn.lock
Labels: patch release

#3565 Popover: Flip direction after shifting
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/Popover/usePopover.js
Labels: patch release

#3568 Internal: add temporary files to ignore lists
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  package.json
Labels: patch release

#3570 Internal: Fix some issues caught in TypeScript branch
  docs/docs-components/AccessibilityChecklist.js
  docs/examples/iconography/centerAlignWithText.js
  docs/examples/iconography/dontBaselineWithText.js
  docs/examples/iconography/dontModifyIconDesignSpecs.js
  docs/examples/zindex_classes/foundationalComponentsExample.js
  docs/integration-test-helpers/masonry/MasonryContainer.js
  packages/gestalt/src/Masonry.js
Labels: patch release

#3571 Internal: change runs-on from macos-12 to ubuntu-latest
  .github/workflows/playwright.yml
Labels: patch release

#3558 Masonry: Bug fix, "basic" layout not left aligning
  docs/examples/masonry/align.js
  docs/pages/web/masonry.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/defaultLayout.js
  packages/gestalt/src/Masonry/defaultLayout.test.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
  packages/gestalt/src/Masonry/getLayoutAlgorithm.js
  packages/gestalt/src/Masonry/types.js
  packages/gestalt/src/MasonryV2.js
Labels: minor release

#3582 Internal: playwright TypeScript types fixup
  playwright/accessibility/expectAccessiblePage.ts
  playwright/masonry/fetch-more.spec.ts
  playwright/masonry/flexible-resize.spec.ts
  playwright/masonry/handle-item-updates.spec.ts
  playwright/masonry/parent-sizing.spec.ts
  playwright/masonry/reflow-item-prop-changes.spec.ts
  playwright/masonry/render-height.spec.ts
  playwright/masonry/scroll-performance.spec.ts
  playwright/masonry/server-render-layout.spec.ts
  playwright/masonry/shuffle-items.spec.ts
  playwright/masonry/utils/clickButton.ts
  playwright/masonry/utils/countColumns.ts
  playwright/masonry/utils/getGridItems.ts
  playwright/masonry/utils/getServerURL.ts
  playwright/masonry/utils/getStaticGridItems.ts
  playwright/masonry/utils/resizeWidth.ts
  playwright/masonry/utils/selectors.ts
  playwright/masonry/utils/tracingEvents.ts
  playwright/masonry/utils/waitForRenderedItems.ts
Labels: patch release

#3583 Docs: updates re Flow and codemods
  docs/pages/get_started/developers/releases.tsx
  docs/pages/get_started/faq.tsx
Labels: patch release

#3585 Icon: updated redo/undo icons + deprecated live icon.
  packages/gestalt-icons-android/ic_live_gestalt.svg
  packages/gestalt-icons-android/ic_redo_gestalt.svg
  packages/gestalt-icons-android/ic_undo_gestalt.svg
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/live.svg
  packages/gestalt/src/icons/redo.svg
  packages/gestalt/src/icons/undo.svg
Labels: major release

#3584 Internal: remove Flow
  .devcontainer/devcontainer.json
  .eslintrc.js
  .flowconfig
  .vscode/extensions.json
  README.md
  babel.config.js
  docs/.babelrc
  docs/docs-components/metadata.js.flow
  docs/exampleCleanupLoader.js
  docs/examples/README.md
  docs/markdown/get_started/developers/contributing/development_process.md
  docs/next.config.js
  docs/pages/get_started/developers/releases.tsx
  docs/redirects.js
  flow-typed/npm/jscodeshift_vx.x.x.js
  flow-typed/npm/style-dictionary_vx.x.x.js
  package.json
  packages/eslint-plugin-gestalt/rollup.config.js
  packages/gestalt-charts/rollup.config.js
  packages/gestalt-codemods/README.md
  packages/gestalt-codemods/generic-codemods/__tests__/detectManualReplacement.test.ts
  packages/gestalt-core/build.js
  packages/gestalt-core/lib/classnameBuilder.js
  packages/gestalt-datepicker/rollup.config.js
  packages/gestalt-design-tokens/build.js
  packages/gestalt/rollup.config.js
  packages/stylelint-plugin-gestalt/rollup.config.js
  packages/stylelint-plugin-gestalt/src/helpers/testHelpers.js
  packages/stylelint-plugin-gestalt/src/index.js
  packages/stylelint-plugin-gestalt/src/no-invalid-design-tokens.js
  packages/stylelint-plugin-gestalt/src/no-invalid-design-tokens.test.js
  scripts/fileMock.js
  scripts/generateAccessibilitySpec.js
  scripts/generateMetadata.js
  scripts/templates/ComponentName-dark.spec.ts
  scripts/templates/ComponentName-light.spec.ts
  scripts/templates/ComponentName.test.js
  scripts/templates/README.md
  scripts/templates/accessibility_ComponentName.spec.ts
  tsMigrate.sh
  yarn.lock
Labels: patch release

#3578 Docs: New Motion Guidelines page
  docs/docs-components/PageHeader.tsx
  docs/docs-components/ReducedMotionImage.tsx
  docs/docs-components/data/foundations.tsx
  docs/docs-components/siteIndex.ts
  docs/pages/foundations/animation/guidelines.tsx
  docs/pages/foundations/animation/implementation.tsx
  docs/pages/foundations/animation/principles.tsx
  docs/pages/foundations/motion/guidelines.tsx
  docs/pages/foundations/motion/principles.tsx
  docs/redirects.js
  playwright/accessibility/foundations__animation__implementation.spec.ts
  playwright/accessibility/foundations__motion__guidelines.spec.ts
  playwright/accessibility/foundations__motion__principles.spec.ts
Labels: patch release

#3590 Docs: Use img tag for GIFs
  docs/docs-components/ReducedMotionGIF.tsx
  docs/docs-components/ReducedMotionImage.tsx
  docs/pages/foundations/motion/guidelines.tsx
  docs/pages/foundations/motion/principles.tsx
Labels: patch release

#3593 Internal: renames and fixes more
  packages/gestalt/src/BannerOverlay.tsx
  packages/gestalt/src/Checkbox/InternalCheckbox.tsx
  packages/gestalt/src/Fieldset.tsx
  packages/gestalt/src/OverlayPanel/InternalOverlayPanel.tsx
  packages/gestalt/src/Popover/InternalPopover.tsx
  packages/gestalt/src/Popover/LegacyInternalPopover.tsx
  packages/gestalt/src/RadioGroupButton.tsx
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/SelectList.tsx
  packages/gestalt/src/SheetMobile/Header.tsx
  packages/gestalt/src/SideNavigation/GroupMobile.tsx
  packages/gestalt/src/SideNavigation/Mobile.tsx
  packages/gestalt/src/TextArea.css
  packages/gestalt/src/TextArea.tsx
  packages/gestalt/src/TextField/InternalTextField.css
  packages/gestalt/src/TextField/InternalTextField.tsx
  packages/gestalt/src/Toast.tsx
  packages/gestalt/src/sharedSubcomponents/FormElement.css
  packages/gestalt/src/sharedSubcomponents/FormErrorMessage.css
  packages/gestalt/src/sharedSubcomponents/FormErrorMessage.test.tsx
  packages/gestalt/src/sharedSubcomponents/FormErrorMessage.tsx
  packages/gestalt/src/sharedSubcomponents/FormHelperText.tsx
  packages/gestalt/src/sharedSubcomponents/FormHelperTextCounter.tsx
  packages/gestalt/src/sharedSubcomponents/FormLabel.css
  packages/gestalt/src/sharedSubcomponents/FormLabel.tsx
  packages/gestalt/src/sharedSubcomponents/InternalDismissButton.tsx
  packages/gestalt/src/sharedSubcomponents/__snapshots__/FormErrorMessage.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/thumbnailSubcomponents.tsx
Labels: patch release

#3574 Masonry: Add multi column item support to flexible masonry
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.test.ts
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.test.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3595 Docs: fix Heading page
  packages/gestalt/src/Heading.tsx
Labels: patch release

#3599 Docs: Fix Motion Guidelines Lateral easing GIF
  docs/pages/foundations/motion/guidelines.tsx
Labels: patch release

#3598 Docs: Update design_contributions_overview.md
  docs/markdown/team_support/design_contributions/design_contributions_overview.md
Labels: patch release, docs-update

#3577 ButtonToggle: New Component v1
  .github/pr-title-checker-config.json
  docs/docs-components/data/components.tsx
  docs/docs-components/siteIndex.ts
  docs/examples/buttontoggle/changeLabelsDo.tsx
  docs/examples/buttontoggle/colors.tsx
  docs/examples/buttontoggle/confirmationDo.tsx
  docs/examples/buttontoggle/consistencyDo.tsx
  docs/examples/buttontoggle/defaultStateExample.tsx
  docs/examples/buttontoggle/disabledStateExample.tsx
  docs/examples/buttontoggle/iconEndExample.tsx
  docs/examples/buttontoggle/localization.tsx
  docs/examples/buttontoggle/locationDo.tsx
  docs/examples/buttontoggle/main.tsx
  docs/examples/buttontoggle/selectedStateExample.tsx
  docs/pages/visual-test/ButtonToggle-dark.tsx
  docs/pages/visual-test/ButtonToggle.tsx
  docs/pages/web/buttontoggle.tsx
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/ButtonToggle.css
  packages/gestalt/src/ButtonToggle.jsdom.test.tsx
  packages/gestalt/src/ButtonToggle.test.tsx
  packages/gestalt/src/ButtonToggle.tsx
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.tsx
  packages/gestalt/src/index.ts
  playwright/accessibility/web__buttontoggle.spec.ts
  playwright/visual-test/ButtonToggle-dark.spec.ts
  playwright/visual-test/ButtonToggle-dark.spec.ts-snapshots/ButtonToggle-dark-chromium-darwin.png
  playwright/visual-test/ButtonToggle.spec.ts
  playwright/visual-test/ButtonToggle.spec.ts-snapshots/ButtonToggle-chromium-darwin.png
Labels: minor release

#3600 Link, Dropdown: fix A11y (opens new tab logic)
  packages/gestalt/src/Dropdown/OptionItem.tsx
  packages/gestalt/src/DropdownLink.jsdom.test.tsx
  packages/gestalt/src/HelpButton.jsdom.test.tsx
  packages/gestalt/src/Link.jsdom.test.tsx
  packages/gestalt/src/Link.tsx
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/Link.test.tsx.snap
  packages/gestalt/src/accessibility/AccessibilityOpenNewTab.tsx
Labels: patch release

#3601 Status: support to Text (& links) in `title` prop
  docs/examples/status/basicTitle.tsx
  docs/examples/status/richTitle.tsx
  docs/examples/status/subtext.tsx
  docs/pages/web/status.tsx
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/SideNavigation/PrimaryActionIconButton.tsx
  packages/gestalt/src/Status.test.tsx
  packages/gestalt/src/Status.tsx
  packages/gestalt/src/TagData.tsx
  packages/gestalt/src/Text.css
  packages/gestalt/src/TileData.tsx
  packages/gestalt/src/Toast.css
  packages/gestalt/src/Toast.tsx
  packages/gestalt/src/Typography.css
  packages/gestalt/src/__snapshots__/Status.test.tsx.snap
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/MaybeTooltip.tsx
  packages/gestalt/src/sharedSubcomponents/OverridingSpan.tsx
  packages/gestalt/src/utils/isComponentNode.ts
Labels: minor release

#3603 ButtonToggle: Follow-up Fixes
  docs/examples/button/defaultStateExample.tsx
  docs/examples/buttontoggle/disabledStateExample.tsx
  docs/examples/buttontoggle/locationDo.tsx
  docs/examples/buttontoggle/selectedStateExample.tsx
  docs/pages/web/buttontoggle.tsx
  packages/gestalt/src/ButtonToggle.css
  packages/gestalt/src/ButtonToggle.tsx
Labels: patch release

#3596 Tokens: VR mapping base/semantic tokens layer for web
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tokens/classic/base-color-dataviz-darkTheme.json
  packages/gestalt-design-tokens/tokens/classic/base-color-dataviz-lightTheme.json
  packages/gestalt-design-tokens/tokens/classic/sema-color-dataviz-darkTheme.json
  packages/gestalt-design-tokens/tokens/classic/sema-color-dataviz-lightTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-color-dataviz-darkTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-color-dataviz-lightTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-color.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-elevation-darkTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-elevation-lightTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-font.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-opacity.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-rounding.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/base-space.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/sema-color-dataviz-darkTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/sema-color-dataviz-lightTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/sema-color.json
  packages/gestalt-design-tokens/tokens/vr-theme/base-color.json
  packages/gestalt-design-tokens/tokens/vr-theme/base-rounding.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema-color-darkTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema-color-lightTheme.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema-rounding.json
Labels: minor release

#3604 Icon: new `performance-plus` icon
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_performance-plus_gestalt.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/performance-plus.svg
Labels: minor release

#3605 ButtonToggle: cleanup docs.
  docs/examples/buttontoggle/changeLabelsDo.tsx
  docs/examples/buttontoggle/colors.tsx
  docs/examples/buttontoggle/confirmationDo.tsx
  docs/examples/buttontoggle/consistencyDo.tsx
  docs/examples/buttontoggle/default.tsx
  docs/examples/buttontoggle/disabled.tsx
  docs/examples/buttontoggle/disabledStateExample.tsx
  docs/examples/buttontoggle/icon.tsx
  docs/examples/buttontoggle/iconEndExample.tsx
  docs/examples/buttontoggle/localization.tsx
  docs/examples/buttontoggle/locationDo.tsx
  docs/examples/buttontoggle/main.tsx
  docs/examples/buttontoggle/selected.tsx
  docs/examples/buttontoggle/selectedStateExample.tsx
  docs/pages/web/buttontoggle.tsx
  packages/gestalt/src/ButtonToggle.tsx
Labels: patch release

#3606 Docs: fixes
  docs/examples/status/richTitle.tsx
  packages/stylelint-plugin-gestalt/README.md
Labels: patch release

#3607 Internal: add stylelint-plugin-gestalt to the npm release schedule
  .github/workflows/release.yml
  packages/stylelint-plugin-gestalt/README.md
  packages/stylelint-plugin-gestalt/package.json
  scripts/publish.js
Labels: patch release

#3608 Internal: remove rollup from stylelint-plugin-gestalt folder
  packages/stylelint-plugin-gestalt/rollup.config.js
Labels: patch release
