Repository pinterest/gestalt, pull requests merged in 2024-11, with the labels that each got.

#3843 Tabs: fixes VR
  packages/gestalt/src/Tabs.tsx
Labels: patch release

#3830 SearchGuideLink: Style discrepancy fixes
  docs/examples/searchguide/avatar.tsx
  docs/examples/searchguide/image.tsx
  docs/examples/searchguidelink/avatar.tsx
  docs/examples/searchguidelink/colors.tsx
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.tsx
  packages/gestalt/src/SearchGuideLink.tsx
Labels: minor release

#3838 Icon: Update android dist files
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
Labels: patch release

#3844 SearchGuide, SearchGuideLink: docs
  docs/examples/searchguide/avatar.tsx
  docs/examples/searchguide/avatargroup.tsx
  docs/examples/searchguide/expandableVariants.tsx
  docs/examples/searchguide/icon.tsx
  docs/examples/searchguide/image.tsx
  docs/examples/searchguidelink/thumbnail.tsx
  docs/pages/web/searchguide.tsx
  docs/pages/web/searchguidelink.tsx
Labels: patch release

#3845 TextField: VR layout adjusments
  packages/gestalt/src/TextField.tsx
  packages/gestalt/src/TextField/InternalTextField.css
  packages/gestalt/src/TextField/VRIconButtonEnd.tsx
  packages/gestalt/src/TextField/VRInternalTextField.css
  packages/gestalt/src/TextField/VRInternalTextField.tsx
  packages/gestalt/src/sharedSubcomponents/FormHelperText.css
Labels: patch release

#3846 Masonry: Add fixed early bailout depending on column span
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3847 SelectList: VR fixes to standardize form fields and match them to Figma spacing
  packages/gestalt/src/SelectList/IconEnd.tsx
  packages/gestalt/src/SelectList/VRSelectList.css
  packages/gestalt/src/SelectList/VRSelectList.tsx
  packages/gestalt/src/TextField/VRInternalTextField.css
Labels: patch release

#3848 SearchField: VR fixes to standardize form fields and match them to Figma spacing
  packages/gestalt/src/SearchField/VRSearchField.css
  packages/gestalt/src/SearchField/VRSearchField.tsx
  packages/gestalt/src/sharedSubcomponents/FormErrorMessage.tsx
Labels: patch release

#3849 Tokens: temporarily removing references from RGBA tokens
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme/$metadata.json
  packages/gestalt-design-tokens/tokens/vr-theme/$themes.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/hover.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/pressed.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/hover.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/pressed.json
Labels: minor release

#3852 Masonry: Add early bailout to be configurable from the outside
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3853 Avatar,AvatarGroup: Update typing on color prop
  docs/examples/avatar/colorExample.tsx
  docs/examples/avatar/mainExample.tsx
  docs/examples/avatar/noEmojiExample.tsx
  docs/examples/avatar/noImageSourceExample.tsx
  docs/examples/avatarGroup/noEmoji.tsx
  docs/pages/web/avatargroup.tsx
  packages/gestalt/src/Avatar.tsx
  packages/gestalt/src/Avatar/DefaultAvatar.tsx
  packages/gestalt/src/Avatar/Foundation.tsx
  packages/gestalt/src/Avatar/InternalAvatar.tsx
  packages/gestalt/src/Avatar/getAvatarColorToken.ts
  packages/gestalt/src/AvatarGroup.tsx
  packages/gestalt/src/AvatarGroup/CollaboratorAvatar.tsx
Labels: major release

#3850 DatePicker: VR fixes to standardize form fields and match them to Figma spacing
  packages/gestalt-datepicker/src/DatePicker/VRDateInput.css
  packages/gestalt-datepicker/src/DatePicker/VRDateInput.tsx
  packages/gestalt-datepicker/src/subcomponents/HelperText.css
  packages/gestalt-datepicker/src/subcomponents/HelperText.tsx
Labels: patch release

#3851 DateRange: add readonly optinal prop to DateRange component (web)
  docs/examples/daterange/readOnly.tsx
  docs/pages/web/daterange.tsx
  packages/gestalt-datepicker/src/DateRange.jsdom.test.tsx
  packages/gestalt-datepicker/src/DateRange.tsx
Labels: minor release

#3855 DateField: VR fixes to standardize form fields and match them to Figma spacing
  packages/gestalt-datepicker/src/DateField/VRInternalDateField.css
  packages/gestalt-datepicker/src/DateField/VRInternalDateField.tsx
Labels: patch release

#3858 ButtonToggle: VR Certification Fixes
  docs/examples/buttontoggle/disabled.tsx
  docs/pages/web/buttontoggle.tsx
  packages/gestalt/src/ButtonToggle.css
  packages/gestalt/src/ButtonToggle.tsx
Labels: minor release

#3857 Masonry: Support flexible for uniformRow layout
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/types.ts
  packages/gestalt/src/Masonry/uniformRowLayout.test.ts
  packages/gestalt/src/Masonry/uniformRowLayout.ts
Labels: minor release

#3856 Pog, IconButton: add "transparentDarkBackground" value for `bgColor`
  docs/docs-components/CombinationNew.tsx
  docs/examples/iconbutton/disabled.tsx
  docs/examples/pog/statesOnBackground.tsx
  docs/pages/web/iconbutton.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/IconButton.tsx
  packages/gestalt/src/IconButton/InternalIconButton.tsx
  packages/gestalt/src/Pog.css
  packages/gestalt/src/Pog.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/InternalDismissButton.tsx
Labels: patch release

#3859 ComboBox: fix in padding after https://github.com/pinterest/gestalt/pull/3822
  packages/gestalt/src/ComboBox/Item.tsx
Labels: patch release

#3865 DatePicker: fix for position at the edge
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.tsx
Labels: patch release

#3863 Tokens: Remove Gradient tokens for Android
  packages/gestalt-design-tokens/src/filters.js
  packages/gestalt-design-tokens/src/formatters/registerWebFormats.js
  packages/gestalt-design-tokens/src/platforms/android.js
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
Labels: major release

#3867 Internal: [Snyk] Security upgrade react-live from 2.3.0 to 3.0.0
  docs/package.json
Labels: patch release

#3869 Internal: updated yarn
  yarn.lock
Labels: patch release

#3870 DateRange: replace width with minWidth in filter section
  packages/gestalt-datepicker/src/DateRange.tsx
Labels: patch release

#3872 Badge: VR fixes
  packages/gestalt-icons-android/src/vr-theme/compact/ic_vr_compact-sparkle.svg
  packages/gestalt-icons-android/src/vr-theme/compact/index.ts
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.tsx
  packages/gestalt/src/__snapshots__/Accordion.test.tsx.snap
  packages/gestalt/src/__snapshots__/Badge.test.tsx.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.tsx.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/icons-vr-theme/compact/compact-sparkle.svg
  packages/gestalt/src/icons-vr-theme/compact/index.ts
Labels: patch release

#3873 Badge: Badge improves VR focus interaction
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.tsx
  packages/gestalt/src/__snapshots__/Accordion.test.tsx.snap
  packages/gestalt/src/__snapshots__/Badge.test.tsx.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.tsx.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3876 Masonry: Update container measurement logic for V2
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3874 Masonry: Update fullWidthLayout to not floor column widths
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  playwright/masonry/flexible-resize.spec.ts
Labels: patch release

#3868 Tokens: Remove percents from Android rounding
  packages/gestalt-design-tokens/src/transformers/transformGroups.js
  packages/gestalt-design-tokens/src/transformers/transforms.js
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
Labels: minor release

#3882 Badge: fix VR size icon
  packages/gestalt/src/Badge.tsx
Labels: patch release

#3885 Revert "Masonry: Update fullWidthLayout to not floor column widths"
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  playwright/masonry/flexible-resize.spec.ts
Labels: patch release

#3884 Spinner: Remove Opacity Token
  packages/gestalt/src/Spinner.css
Labels: patch release

#3878 BannerOverlay: VR Certification Fixes
  docs/examples/banneroverlay/dismissButton.tsx
  docs/examples/banneroverlay/message.tsx
  docs/pages/web/banneroverlay.tsx
  packages/gestalt/src/BannerOverlay.tsx
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/thumbnailSubcomponents.tsx
Labels: patch release

#3886 Icon: rename ios compact sparkle icon to adhere to naming pattern
  packages/gestalt-icons-android/src/vr-theme/compact/ic_vr_compact-sparkle_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/compact/index.ts
Labels: patch release

#3887 Pog: implement InternalPog
  packages/gestalt/src/Pog.tsx
  packages/gestalt/src/Pog/InternalPog.css
  packages/gestalt/src/Pog/InternalPog.tsx
Labels: patch release

#3888 Spinner: Opacity animation bug in Chrome
  packages/gestalt/src/Spinner.css
Labels: patch release

#3881 Spinner: VR version intro & outro animation
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme/comp/spinner/default.json
  packages/gestalt/src/Spinner.tsx
  packages/gestalt/src/Spinner/VRSpinner.css
  packages/gestalt/src/Spinner/VRSpinner.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3889 IconButtonFloating: VR fixes
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/IconButton/InternalIconButton.tsx
  packages/gestalt/src/IconButtonFloating.tsx
  packages/gestalt/src/Pog/InternalPog.css
  packages/gestalt/src/Pog/InternalPog.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3890 Masonry: Revamp Dynamic Heights
  docs/integration-test-helpers/masonry/MasonryContainer.tsx
  docs/pages/integration-test/masonry.tsx
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/dynamicHeightsUtils.test.ts
  packages/gestalt/src/Masonry/dynamicHeightsV2Utils.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3891 BannerCallout: responsiveness fixes
  packages/gestalt/src/BannerCallout/Footer.tsx
  packages/gestalt/src/BannerCallout/HeaderSection.tsx
  packages/gestalt/src/BannerCallout/VRBannerCallout.tsx
  packages/gestalt/src/BannerCallout/useIsWrappedContainer.ts
Labels: patch release

#3892 SearchGuide: VR certification Fixes
  docs/examples/searchguide/avatar.tsx
  docs/examples/searchguide/avatargroup.tsx
  docs/examples/searchguide/expandable.tsx
  docs/examples/searchguide/expandableVariants.tsx
  docs/examples/searchguide/icon.tsx
  docs/examples/searchguide/image.tsx
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.tsx
Labels: minor release

#3893 BannerCallout: implement internal IconCompactButton for dismiss button (VR only)
  packages/gestalt/src/BannerCallout/DismissButton.tsx
  packages/gestalt/src/BannerCallout/HeaderSection.tsx
  packages/gestalt/src/IconButton/InternalIconCompactButton.tsx
  packages/gestalt/src/Pog/InternalPogCompact.tsx
Labels: patch release

#3894 Icon: Update Icons [GESTALT-8645]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/compact/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
  packages/gestalt-icons-android/src/classic/ic_crystal-ball_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_magnifying-glass-sparkle_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_crystal-ball_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/crystal-ball.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons/crystal-ball.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/magnifying-glass-sparkle.svg
Labels: minor release

#3895 CheckBox: VR certification fixes
  docs/examples/checkbox/checked.tsx
  docs/examples/checkbox/disabled.tsx
  docs/examples/checkbox/error.tsx
  docs/examples/checkbox/indeterminate.tsx
  docs/examples/checkbox/stateExample.tsx
  docs/examples/checkbox/unchecked.tsx
  docs/pages/web/checkbox.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Checkbox.tsx
  packages/gestalt/src/Checkbox/InternalCheckbox.css
  packages/gestalt/src/Checkbox/InternalCheckbox.tsx
  packages/gestalt/src/Checkbox/VRInternalCheckbox.tsx
  packages/gestalt/src/Fieldset.tsx
  packages/gestalt/src/__snapshots__/Fieldset.test.tsx.snap
  packages/gestalt/src/__snapshots__/RadioGroup.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/FormLabel.css
Labels: patch release

#3897 Link: role tab for aria-current === section
  packages/gestalt/src/Link/InternalLink.tsx
Labels: patch release

#3896 Checkbox: VR adjustments
  packages/gestalt/src/Checkbox/VRInternalCheckbox.tsx
Labels: patch release

#3899 HelpButton: VR adjusments
  packages/gestalt/src/HelpButton.tsx
Labels: patch release

#3900 Divider: VR adjusments
  packages/gestalt/src/Divider.css
  packages/gestalt/src/Divider.tsx
  packages/gestalt/src/__snapshots__/AccordionExpandable.test.tsx.snap
  packages/gestalt/src/__snapshots__/Divider.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
Labels: patch release
