Repository pinterest/gestalt, pull requests merged in 2024-08, with the labels that each got.

#3711 TextArea, TextField: Add support for Tags with internal TagArea #3710
  docs/examples/textarea/tags.tsx
  docs/examples/textfield/tags.tsx
  docs/pages/web/textarea.tsx
  docs/pages/web/textfield.tsx
  packages/gestalt/src/TagArea/TagArea.css
  packages/gestalt/src/TagArea/TagArea.tsx
  packages/gestalt/src/TextArea.tsx
  packages/gestalt/src/TextField.tsx
Labels: minor release

#3716 Internal: run yarn tsc to fix formatting in declaration files
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
Labels: patch release

#3718 Tokens: July VR Tokens Fixes
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/transform.js
  packages/gestalt/src/TagArea/TagArea.css
  packages/gestalt/src/TextArea/VRTextArea.css
  packages/gestalt/src/TextField/VRInternalTextField.css
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  scripts/findAndReplace.js
Labels: major release

#3719 Tokens: Line Height Fixes for Language Tokens
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme/sema/text/language/ck.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/text/language/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/text/language/ja.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/text/language/tall.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/text/language/th.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/text/language/vi.json
Labels: minor release

#3722 ComboBox: undoing breaking change in `id` set in #3712
  packages/gestalt/src/ComboBox.tsx
Labels: patch release

#3721 Tokens: Hover token RGBA fixes
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/transform.js
  packages/gestalt-design-tokens/transformers/hexToRgba.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3723 ComboBox: undoing breaking change in id set in #3712 in classic code
  packages/gestalt/src/ComboBox.tsx
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.tsx.snap
Labels: patch release

#3724 Masonry: Fix full-width module support
  packages/gestalt/src/Masonry/multiColumnLayout.ts
Labels: patch release

#3727 Masonry: Change whitespace logging from one number to an array
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: minor release

#3726 Icon: Update Icons [GESTALT-8341]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/src/classic/ic_card-stack_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_face-smiley-plus_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_ribbon_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_share_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_text-invert_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_card-stack_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_face-smiley-plus_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_ribbon_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_text-invert_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/card-stack.svg
  packages/gestalt/src/icons-vr-theme/face-smiley-plus.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/ribbon.svg
  packages/gestalt/src/icons-vr-theme/text-invert.svg
  packages/gestalt/src/icons/card-stack.svg
  packages/gestalt/src/icons/face-smiley-plus.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/ribbon.svg
  packages/gestalt/src/icons/share.svg
  packages/gestalt/src/icons/text-invert.svg
Labels: minor release

#3713 SelectList: VR implementation changes
  docs/examples/selectlist/controlled.tsx
  docs/examples/selectlist/customLabelVisibilityExample.tsx
  docs/examples/selectlist/disabled.tsx
  docs/examples/selectlist/doOrder.tsx
  docs/examples/selectlist/doSelection.tsx
  docs/examples/selectlist/doSimple.tsx
  docs/examples/selectlist/dontFeatures.tsx
  docs/examples/selectlist/dontFourItems.tsx
  docs/examples/selectlist/dontMix.tsx
  docs/examples/selectlist/enabled.tsx
  docs/examples/selectlist/error.tsx
  docs/examples/selectlist/grouping.tsx
  docs/examples/selectlist/helperText.tsx
  docs/examples/selectlist/labelHidden.tsx
  docs/examples/selectlist/labelVisible.tsx
  docs/examples/selectlist/labelled.tsx
  docs/examples/selectlist/labelsWithBuiltInFeaturesExample.tsx
  docs/examples/selectlist/main.tsx
  docs/examples/selectlist/size.tsx
  docs/pages/web/selectlist.tsx
  packages/gestalt/src/SelectList.tsx
  packages/gestalt/src/SelectList/IconEnd.tsx
  packages/gestalt/src/SelectList/VRSelectList.css
  packages/gestalt/src/SelectList/VRSelectList.tsx
Labels: minor release

#3730 Switch: Add toggle motion
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Switch.tsx
Labels: patch release
