Repository pinterest/gestalt, pull requests merged in 2024-01, with the labels that each got.

#3340 List: Add Sizing to List
  .vscode/settings.json
  docs/examples/list/fontSize.js
  docs/pages/web/list.js
  packages/gestalt/src/List.js
  packages/gestalt/src/List/InternalList.js
  packages/gestalt/src/List/Message.js
  packages/gestalt/src/ListItem.js
  packages/gestalt/src/__snapshots__/List.test.js.snap
  packages/gestalt/src/contexts/ListProvider.js
Labels: minor release

#3332 BannerOverlay: New Component
  .github/pr-title-checker-config.json
  docs/docs-components/data/components.js
  docs/docs-components/siteIndex.js
  docs/examples/banneroverlay/avatar.js
  docs/examples/banneroverlay/callToAction.js
  docs/examples/banneroverlay/ctaDismiss.js
  docs/examples/banneroverlay/desktop.js
  docs/examples/banneroverlay/doConcise.js
  docs/examples/banneroverlay/doEducate.js
  docs/examples/banneroverlay/doNavigate.js
  docs/examples/banneroverlay/dontCritical.js
  docs/examples/banneroverlay/dontLong.js
  docs/examples/banneroverlay/dontStack.js
  docs/examples/banneroverlay/icon.js
  docs/examples/banneroverlay/image.js
  docs/examples/banneroverlay/main.js
  docs/examples/banneroverlay/mobile.js
  docs/examples/defaultlabelprovider/translations.js
  docs/graphics/general/BannerOverlay.svg
  docs/pages/visual-test/BannerOverlay-dark.js
  docs/pages/visual-test/BannerOverlay.js
  docs/pages/web/banneroverlay.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/BannerOverlay.css
  packages/gestalt/src/BannerOverlay.css.flow
  packages/gestalt/src/BannerOverlay.flowtest.js
  packages/gestalt/src/BannerOverlay.js
  packages/gestalt/src/BannerOverlay.test.js
  packages/gestalt/src/BannerOverlay/CalltoAction.js
  packages/gestalt/src/Shared/ToastSubcomponents.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/__snapshots__/BannerOverlay.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.js
  packages/gestalt/src/index.js
  playwright/accessibility/web__banneroverlay.spec.mjs
  playwright/visual-test/BannerOverlay-dark.spec.mjs
  playwright/visual-test/BannerOverlay-dark.spec.mjs-snapshots/BannerOverlay-dark-chromium-darwin.png
  playwright/visual-test/BannerOverlay.spec.mjs
  playwright/visual-test/BannerOverlay.spec.mjs-snapshots/BannerOverlay-chromium-darwin.png
Labels: major release

#3341 Docs: Layout guidelines
  docs/docs-components/data/foundations.js
  docs/docs-components/siteIndex.js
  docs/graphics/foundations/layout.svg
  docs/graphics/foundations/layouts.svg
  docs/next.config.js
  docs/pages/foundations/forms/example_code.js
  docs/pages/foundations/international_design/icon_localization.js
  docs/pages/foundations/international_design/rtl_guidelines/iconography.js
  docs/pages/foundations/layout.js
  docs/pages/foundations/layouts.js
  docs/redirects.js
  playwright/accessibility/foundations__forms__example_code.spec.mjs
  playwright/accessibility/foundations__layout.spec.mjs
Labels: patch release

#3342 BannerOverlay: fixing trailing space in link examples
  docs/examples/banneroverlay/avatar.js
  docs/examples/banneroverlay/desktop.js
  docs/examples/banneroverlay/doConcise.js
  docs/examples/banneroverlay/doEducate.js
  docs/examples/banneroverlay/doNavigate.js
  docs/examples/banneroverlay/dontCritical.js
  docs/examples/banneroverlay/icon.js
  docs/examples/banneroverlay/image.js
  docs/examples/banneroverlay/main.js
  docs/examples/banneroverlay/mobile.js
Labels: minor release

#3333 Tooltip: Add experiment hooks for using Popover v2
  docs/docs-components/PageHeader.js
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/combobox.js
  docs/pages/web/dropdown.js
  docs/pages/web/helpbutton.js
  docs/pages/web/overlaypanel.js
  docs/pages/web/popover.js
  docs/pages/web/popovereducational.js
  docs/pages/web/tooltip.js
  packages/gestalt/src/Tooltip/InternalTooltip.js
Labels: patch release

#3343 Internal: fix Flow suppressions in docs PropTable
  docs/docs-components/PropTable.js
Labels: patch release

#3344 Docs: Add a docs-update label to non-package related changes
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/semver.yml
Labels: patch release, docs-update

#3347 Internal: fixes to .ts files
  packages/gestalt/dist/index.d.ts
Labels: patch release, docs-update

#3348 Docs: Revert Labeler changes
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/semver.yml
Labels: patch release, docs-update

#3350 Docs: Remove extra space link
  docs/docs-components/Markdown.js
Labels: patch release

#3349 BannerOverlay: Fixing responsiveness and margin for small desktop viewports
  docs/pages/web/banneroverlay.js
  packages/gestalt/src/BannerOverlay.js
  packages/gestalt/src/__snapshots__/BannerOverlay.test.js.snap
Labels: patch release

#3354 Docs: remove preview deploy links
  docs/pages/web/dropdown.js
  docs/pages/web/sheetmobile.js
  packages/gestalt/src/DropdownLink.js
Labels: patch release

#3352 Docs: year-in-review-2023
  .prettierignore
  docs/css/year-in-review-2023.css
  docs/docs-components/AppLayout.js
  docs/graphics/year-in-review-2023/lottie/yir-2023-docs.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-docs.json.flow
  docs/graphics/year-in-review-2023/lottie/yir-2023-dsd.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-dsd.json.flow
  docs/graphics/year-in-review-2023/lottie/yir-2023-footer.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-footer.json.flow
  docs/graphics/year-in-review-2023/lottie/yir-2023-intro-hero.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-intro-hero.json.flow
  docs/graphics/year-in-review-2023/lottie/yir-2023-peoples-choice.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-peoples-choice.json.flow
  docs/graphics/year-in-review-2023/lottie/yir-2023-smiley.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-smiley.json.flow
  docs/graphics/year-in-review-2023/lottie/yir-2023-tokens.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-tokens.json.flow
  docs/graphics/year-in-review-2023/lottie/yir-2023-twinkle.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-twinkle.json.flow
  docs/graphics/year-in-review-2023/lottie/yir-2023-variables.json
  docs/graphics/year-in-review-2023/lottie/yir-2023-variables.json.flow
  docs/graphics/year-in-review-2023/yir-2023-docs.svg
  docs/graphics/year-in-review-2023/yir-2023-dsd.svg
  docs/graphics/year-in-review-2023/yir-2023-footer.svg
  docs/graphics/year-in-review-2023/yir-2023-intro-hero.svg
  docs/graphics/year-in-review-2023/yir-2023-line-left-docs.svg
  docs/graphics/year-in-review-2023/yir-2023-line-right-docs.svg
  docs/graphics/year-in-review-2023/yir-2023-peoples-choice.svg
  docs/graphics/year-in-review-2023/yir-2023-quote.svg
  docs/graphics/year-in-review-2023/yir-2023-single-line-intro.svg
  docs/graphics/year-in-review-2023/yir-2023-smiley.svg
  docs/graphics/year-in-review-2023/yir-2023-token-lines.svg
  docs/graphics/year-in-review-2023/yir-2023-tokens.svg
  docs/graphics/year-in-review-2023/yir-2023-twinkle.svg
  docs/graphics/year-in-review-2023/yir-2023-variables.svg
  docs/pages/_app.js
  docs/pages/year_in_review_2023.js
  playwright/accessibility/year_in_review_2023.spec.mjs
Labels: patch release, blog-post

#3357 Docs: Make header always sticky for desktop
  docs/docs-components/Header.js
Labels: patch release

#3359 Docs: Update year_in_review_2023.js
  docs/pages/year_in_review_2023.js
Labels: patch release, blog-post

#3355 Docs: Number Localization page
  docs/docs-components/siteIndex.js
  docs/pages/foundations/international_design/number_localization.js
  playwright/accessibility/foundations__international_design__number_localization.spec.mjs
Labels: patch release

#3360 Docs: Update contributions.md
  docs/markdown/team_support/contributions.md
Labels: patch release

#3356 Docs: Pluralization page
  docs/docs-components/siteIndex.js
  docs/pages/foundations/international_design/pluralization.js
  playwright/accessibility/foundations__international_design__pluralization.spec.mjs
Labels: patch release

#3362 Internal: upgrade netlify-cli to 3.39.4
  package.json
  yarn.lock
Labels: dependencies, patch release

#3366 Internal: upgrade netlify-cli to 6.15.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#3368 Internal: upgrade netlify-cli to 7.1.0
  package.json
  yarn.lock
Labels: dependencies, patch release

#3358 Internal: fix TS declaration for SlimBanner's primaryAction type
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3369 Internal: upgrade cssnano to 5.1.15
  package.json
  packages/gestalt-core/build.js
  yarn.lock
Labels: dependencies, patch release

#3372 Internal: upgrade cssnano to 6.0.3
  package.json
  yarn.lock
Labels: dependencies, patch release

#3371 Internal: fixes for no-unused-vars suppressions
  .eslintrc.js
  docs/pages/foundations/international_design/icon_localization.js
  docs/pages/foundations/international_design/rtl_guidelines/iconography.js
  docs/pages/foundations/international_design/rtl_guidelines/layout_and_text_direction.js
  docs/pages/foundations/international_design/rtl_guidelines/typography.js
  packages/eslint-plugin-gestalt/src/button-icon-restrictions.js
  packages/eslint-plugin-gestalt/src/no-box-marginleft-marginright.js
  packages/eslint-plugin-gestalt/src/no-medium-formfields.js
  packages/eslint-plugin-gestalt/src/no-role-link-components.js
  packages/gestalt-charts/src/ChartGraph/LegendIcon.js
  packages/gestalt-charts/src/ChartGraph/renderGraphPoint.js
  packages/gestalt-charts/src/ChartGraph/useDefaultLegend.js
  packages/gestalt-datepicker/src/DateField/InternalDateField.js
Labels: patch release

#3365 ESLint plugin: fix adding responsive props missing
  packages/eslint-plugin-gestalt/src/no-box-disallowed-props.js
Labels: patch release

#3374 Internal: update pull_request_template to include semver info
  .github/pull_request_template.md
Labels: patch release

#3276 TextField: Add more Density sizes
  docs/examples/combobox/sizes.js
  docs/examples/numberfield/sizes.js
  docs/examples/textfield/sizesExample.js
  docs/examples/textfield/tagsExample.js
  docs/pages/visual-test/ComboBox-closed-dark.js
  docs/pages/visual-test/ComboBox-closed.js
  docs/pages/visual-test/TextField-dark.js
  docs/pages/visual-test/TextField.js
  docs/pages/web/combobox.js
  docs/pages/web/numberfield.js
  docs/pages/web/textfield.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Checkbox/InternalCheckbox.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField/InternalTextField.css
  packages/gestalt/src/TextField/InternalTextField.css.flow
  packages/gestalt/src/TextField/InternalTextField.js
  packages/gestalt/src/__snapshots__/Checkbox.test.js.snap
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.js.snap
  packages/gestalt/src/__snapshots__/NumberField.test.js.snap
  packages/gestalt/src/__snapshots__/RadioGroup.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/__snapshots__/Upsell.test.js.snap
  packages/gestalt/src/__snapshots__/UpsellForm.test.js.snap
  packages/gestalt/src/shared/FormErrorMessage.js
  packages/gestalt/src/shared/FormHelperText.js
  packages/gestalt/src/shared/FormLabel.css
  packages/gestalt/src/shared/FormLabel.css.flow
  packages/gestalt/src/shared/FormLabel.js
  packages/gestalt/src/shared/__snapshots__/FormErrorMessage.test.js.snap
  playwright/visual-test/Checkbox-dark.spec.mjs-snapshots/Checkbox-dark-chromium-darwin.png
  playwright/visual-test/Checkbox.spec.mjs-snapshots/Checkbox-chromium-darwin.png
  playwright/visual-test/ComboBox-closed-dark.spec.mjs-snapshots/ComboBox-closed-dark-chromium-darwin.png
  playwright/visual-test/ComboBox-closed.spec.mjs-snapshots/ComboBox-closed-chromium-darwin.png
  playwright/visual-test/ComboBox-open-dark.spec.mjs-snapshots/ComboBox-open-dark-chromium-darwin.png
  playwright/visual-test/ComboBox-open.spec.mjs-snapshots/ComboBox-open-chromium-darwin.png
  playwright/visual-test/DateRange-dark.spec.mjs-snapshots/DateRange-dark-chromium-darwin.png
  playwright/visual-test/DateRange.spec.mjs-snapshots/DateRange-light-chromium-darwin.png
  playwright/visual-test/Fieldset-dark.spec.mjs-snapshots/Fieldset-dark-chromium-darwin.png
  playwright/visual-test/Fieldset.spec.mjs-snapshots/Fieldset-chromium-darwin.png
  playwright/visual-test/NumberField-dark.spec.mjs-snapshots/NumberField-dark-chromium-darwin.png
  playwright/visual-test/NumberField.spec.mjs-snapshots/NumberField-chromium-darwin.png
  playwright/visual-test/RadioGroup-dark.spec.mjs-snapshots/RadioGroup-dark-chromium-darwin.png
  playwright/visual-test/RadioGroup.spec.mjs-snapshots/RadioGroup-chromium-darwin.png
  playwright/visual-test/SearchField-dark.spec.mjs-snapshots/SearchField-dark-chromium-darwin.png
  playwright/visual-test/SearchField.spec.mjs-snapshots/SearchField-chromium-darwin.png
  playwright/visual-test/SelectList-dark.spec.mjs-snapshots/SelectList-dark-chromium-darwin.png
  playwright/visual-test/SelectList.spec.mjs-snapshots/SelectList-chromium-darwin.png
  playwright/visual-test/TextArea-dark.spec.mjs-snapshots/TextArea-dark-chromium-darwin.png
  playwright/visual-test/TextArea.spec.mjs-snapshots/TextArea-chromium-darwin.png
  playwright/visual-test/TextField-dark.spec.mjs-snapshots/TextField-dark-chromium-darwin.png
  playwright/visual-test/TextField.spec.mjs-snapshots/TextField-chromium-darwin.png
Labels: major release, density

#3377 Docs: fix broken links
  docs/pages/web/datefield.js
  docs/pages/web/daterange.js
  docs/pages/web/numberfield.js
  docs/pages/web/tableofcontents.js
  docs/pages/web/textfield.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/List.js
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/contexts/GlobalEventsHandlerProvider.js
Labels: patch release

#3378 Icon: update visual snapshot
  docs/pages/visual-test/Icon-list-dark.js
  docs/pages/visual-test/Icon-list.js
  playwright/visual-test/Icon-list-dark.spec.mjs-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.mjs-snapshots/Icon-list-chromium-darwin.png
Labels: patch release

#3379 Tooltip: Fix v2 experiment name
  packages/gestalt/src/Tooltip/InternalTooltip.js
Labels: patch release

#3382 Docs: updates in accessibility content and links URLs
  docs/pages/foundations/accessibility.js
Labels: patch release

#3383 Docs: Small fixes to i18n docs
  docs/docs-components/siteIndex.js
  docs/pages/foundations/international_design/number_localization.js
  docs/pages/foundations/international_design/pluralization.js
Labels: patch release

#3381 AvatarGroup: Fix rerenders on hover
  docs/examples/avatarGroup/accessibility.js
  packages/gestalt/src/AvatarGroup.js
Labels: patch release

#3385 Icon: added clock-checked icon
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_clock-checked_gestalt.svg
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/icons/clock-checked.svg
  packages/gestalt/src/icons/index.js
Labels: patch release

#3386 Internal: add displayName to all top-level components
  packages/gestalt-charts/src/ChartGraph.js
  packages/gestalt-datepicker/src/DateRange.js
  packages/gestalt/src/Accordion.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Badge.js
  packages/gestalt/src/BannerOverlay.js
  packages/gestalt/src/BannerUpsell.js
  packages/gestalt/src/ButtonGroup.js
  packages/gestalt/src/Callout.js
  packages/gestalt/src/Collage.js
  packages/gestalt/src/Column.js
  packages/gestalt/src/Container.js
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/Divider.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Fieldset.js
  packages/gestalt/src/Heading.js
  packages/gestalt/src/Label.js
  packages/gestalt/src/Layer.js
  packages/gestalt/src/Letterbox.js
  packages/gestalt/src/Mask.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Modal.js
  packages/gestalt/src/ModalAlert.js
  packages/gestalt/src/PageHeader.js
  packages/gestalt/src/Pog.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/Pulsar.js
  packages/gestalt/src/SegmentedControl.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SlimBanner.js
  packages/gestalt/src/Spinner.js
  packages/gestalt/src/Status.js
  packages/gestalt/src/Sticky.js
  packages/gestalt/src/Switch.js
  packages/gestalt/src/Table.js
  packages/gestalt/src/TableOfContents.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/TagData.js
  packages/gestalt/src/TileData.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/Video.js
  packages/gestalt/src/WashAnimated.js
Labels: patch release

#3389 Docs: end-align P10n table
  docs/pages/foundations/international_design/pluralization.js
Labels: patch release

#3392 Tokens: update color token documentation
  docs/docs-components/ColorPalette.js
  docs/docs-components/ColorTile.js
  docs/pages/foundations/color/palette.js
  docs/pages/foundations/design_tokens.js
Labels: patch release

#3353 Docs: Newsletter Jan 2024
  docs/pages/BlogPosts.json
Labels: patch release

#3394 Tokens: change color-text-subtle & color-text-icon-subtle value to match Figma + Token changelog
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: major release

#3393 AvatarGroup: Update addCollaborators icon from 'add' to 'add-person'
  packages/gestalt/src/Avatar/Foundation.js
Labels: minor release
