Repository pinterest/gestalt, pull requests merged in 2024-04, with the labels that each got.

#3490 TileData: Fixing width Overlap issues
  docs/pages/visual-test/TileData.js
  packages/gestalt/src/Datapoint/InternalDatapoint.js
  packages/gestalt/src/TileData.js
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  playwright/visual-test/TileData.spec.mjs-snapshots/TileData-chromium-darwin.png
Labels: patch release

#3501 PopoverEducational: Release v2
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/popovereducational.js
  packages/gestalt/src/PopoverEducational.js
Labels: minor release

#3500 SideNavigation: Fix scrollbar clipping in collapsed state
  docs/docs-components/ExampleCode.js
  docs/examples/sidenavigation/collapsibleExample.js
  docs/examples/sidenavigation/collapsibleHeaderExample.js
  docs/examples/sidenavigation/collapsibleWithMixedIconsExample.js
  docs/examples/sidenavigation/collapsibleWithoutIconsExample.js
  docs/pages/web/sidenavigation.js
  packages/gestalt/src/Layout.css
  packages/gestalt/src/Layout.css.flow
  packages/gestalt/src/SideNavigation.css
  packages/gestalt/src/SideNavigation/NavigationContent.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
Labels: patch release

#3506 OverlayPanel: Use ConfirmationPopover v2 #3501
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/overlaypanel.js
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.js
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
Labels: minor release

#3494 Docs: Design contributions updates
  docs/docs-components/Header.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/data/teamSupport.js
  docs/docs-components/siteIndex.js
  docs/graphics/team_support/contributions.svg
  docs/graphics/team_support/design-contributions.svg
  docs/markdown/team_support/contributions.md
  docs/markdown/team_support/design_contributions/contribution_types_and_criteria.md
  docs/markdown/team_support/design_contributions/design_contributions_overview.md
  docs/markdown/team_support/design_contributions/process_deep_dive.md
  docs/markdown/team_support/design_contributions/process_diagrams.md
  docs/pages/team_support/overview.js
  docs/redirects.js
  playwright/accessibility/team_support__design_contributions__contribution_types_and_criteria.spec.mjs
  playwright/accessibility/team_support__design_contributions__design_contributions_overview.spec.mjs
  playwright/accessibility/team_support__design_contributions__process_deep_dive.spec.mjs
  playwright/accessibility/team_support__design_contributions__process_diagrams.spec.mjs
Labels: patch release

#3508 Docs: Update contributions image
  docs/markdown/team_support/design_contributions/design_contributions_overview.md
  playwright/accessibility/team_support__design_contributions__process_deep_dive.spec.mjs
Labels: patch release

#3509 HelpButton: Use Popover v2
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/helpbutton.js
  packages/gestalt/src/HelpButton.js
Labels: minor release

#3504 Internal: added Stylelint rule to prevent Gestalt token errors
  .stylelintignore
  .stylelintrc.json
  packages/gestalt/src/Box.css
  packages/gestalt/src/Box.css.flow
  packages/stylelint-plugin-gestalt/README.md
  packages/stylelint-plugin-gestalt/package.json
  packages/stylelint-plugin-gestalt/rollup.config.js
  packages/stylelint-plugin-gestalt/src/__fixtures__/no-invalid-design-tokens/invalid-color.css
  packages/stylelint-plugin-gestalt/src/__fixtures__/no-invalid-design-tokens/invalid-composed-color.css
  packages/stylelint-plugin-gestalt/src/__fixtures__/no-invalid-design-tokens/invalid-rounding.css
  packages/stylelint-plugin-gestalt/src/__fixtures__/no-invalid-design-tokens/valid-color.css
  packages/stylelint-plugin-gestalt/src/__fixtures__/no-invalid-design-tokens/valid-composed-color.css
  packages/stylelint-plugin-gestalt/src/__fixtures__/no-invalid-design-tokens/valid-non-gestalt.css
  packages/stylelint-plugin-gestalt/src/__fixtures__/no-invalid-design-tokens/valid-rounding.css
  packages/stylelint-plugin-gestalt/src/helpers/testHelpers.js
  packages/stylelint-plugin-gestalt/src/index.js
  packages/stylelint-plugin-gestalt/src/no-invalid-design-tokens.js
  packages/stylelint-plugin-gestalt/src/no-invalid-design-tokens.test.js
Labels: patch release

#3510 Docs: Update redirects.js
  docs/redirects.js
Labels: patch release, docs-update

#3512 ComboBox: Use Popover v2
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/combobox.js
  packages/gestalt/src/ComboBox.js
Labels: minor release

#3511 Docs: Contributions
  docs/markdown/team_support/design_contributions/design_contributions_overview.md
  docs/markdown/team_support/design_contributions/process_deep_dive.md
Labels: patch release, docs-update

#3513 Internal: replace interpolated strings with design tokens constants.
  .eslintignore
  .eslintrc.js
  docs/docs-components/ColorPalette.js
  docs/docs-components/ColorTile.js
  docs/docs-components/IllustrationCard.js
  docs/docs-components/MainSectionCard.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/OverviewList.js
  docs/markdown/android/sheet.md
  docs/markdown/android/tabs.md
  docs/markdown/ios/sheet.md
  docs/markdown/ios/tabs.md
  docs/pages/BlogPosts.json
  docs/pages/foundations/color/palette.js
  docs/pages/foundations/color/usage.js
  docs/pages/foundations/data_visualization/color/palette.js
  docs/pages/foundations/data_visualization/color/usage.js
  docs/pages/foundations/overview.js
  docs/pages/home.js
  docs/pages/team_support/overview.js
  docs/pages/whats_new.js
  package.json
Labels: patch release

#3514 PageHeader: update heading to BreakAll to split on long titles
  packages/gestalt/src/PageHeader/components.js
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
Labels: patch release

#3516 Revert "ComboBox: Use Popover v2"
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/combobox.js
  packages/gestalt/src/ComboBox.js
Labels: minor release

#3505 Masonry: Experimental Masonry Refactor
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/pages/integration-test/masonry.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/getLayoutAlgorithm.js
  packages/gestalt/src/Masonry/types.js
  packages/gestalt/src/MasonryV2.js
  packages/gestalt/src/index.js
  packages/gestalt/src/useIsomorphicLayoutEffect.js
Labels: minor release

#3517 Icon: Added icon to Android folder
  packages/gestalt-icons-android/ic_smiley-outline_gestalt.svg
Labels: patch release

#3518 TextArea, NumberField, SelectList: Adding new datatestids
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/TextArea.js
Labels: minor release

#3519 Masonry: Fix incorrect node to solve graph positioning for two column items
  packages/gestalt/src/Masonry/Graph.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3523 Accordion: Fix size type inconsistency with the Accordion component
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3522 Icon: Pinterest logo change
  packages/gestalt-icons-android/ic_pinterest_gestalt.svg
  packages/gestalt/src/icons/pinterest.svg
Labels: patch release

#3520 ComboBox: Use Popover v2
  docs/docs-components/contexts/DocsExperimentProvider.js
  docs/pages/web/combobox.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/ComboBox.jsdom.test.js
  packages/gestalt/src/HelpButton.jsdom.test.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/Popover/usePopover.js
  packages/gestalt/src/PopoverEducational.jsdom.test.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
Labels: minor release

#3524 Docs: Newsletter March
  docs/pages/BlogPosts.json
Labels: patch release

#3527 Masonry: Implement graph early bailout feature
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3528 Icon: New icon for search by image
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_search-by-image_gestalt.svg
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/search-by-image.svg
Labels: patch release

#3526 Icon: deprecate "pincode" icon
  docs/examples/iconography/useIconsFollowingDesignSpecs.js
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_pincode_gestalt.svg
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/pincode.svg
Labels: major release

#3529 SideNavigation: add type fixes based on component prop definition
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3531 Popover: Add experimental overflow prop
  docs/examples/popover/variantAnchor.js
  docs/examples/popover/variantIdealDirection.js
  docs/examples/popover/variantScrollingContainers.js
  docs/examples/popover/variantVisibility.js
  packages/gestalt/src/Contents.css
  packages/gestalt/src/Contents.css.flow
  packages/gestalt/src/LegacyContents.js
  packages/gestalt/src/LegacyController.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/Popover/Controller.js
  packages/gestalt/src/Popover/InternalPopover.js
  packages/gestalt/src/Popover/LegacyInternalPopover.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/LegacyController.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/PopoverEducational.jsdom.test.js.snap
Labels: patch release

#3533 Masonry: Scroll throttle + memo component (MasonryV2)
  packages/gestalt/src/MasonryV2.js
Labels: patch release

#3534 Docs: updated broken/deprecated links to drive links
  docs/docs-components/data/components.js
  rfcs/rfcs/2023-05-globalEventsHandlersProvider-new-component/README.md
  rfcs/rfcs/2023-07-globalEventsHandlersProvider-providerAuxData/README.md
Labels: patch release

#3532 Tag: Fix disabled tag spacing
  packages/gestalt/src/Tag.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  playwright/visual-test/Tag-dark.spec.mjs-snapshots/Tag-dark-chromium-darwin.png
  playwright/visual-test/Tag.spec.mjs-snapshots/Tag-chromium-darwin.png
Labels: patch release

#3537 Masonry: Enable multiple multi column items on layout logic
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3536 Docs: RTL icons update
  docs/pages/foundations/international_design/rtl_guidelines/iconography.js
Labels: patch release

#3542 Docs: Update iOS component status to reflect the latest
  docs/docs-components/data/components.js
Labels: patch release

#3543 Revert "Masonry: Enable multiple multi column items on layout logic (…
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3546 Dropdown: fix ts file bug
  packages/gestalt/dist/index.d.ts
Labels: patch release

#3549 Internal: remove dead dev dependency
  package.json
  yarn.lock
Labels: patch release
