Repository pinterest/gestalt, pull requests merged in 2024-09, with the labels that each got.

#3733 Accordion, Badge, Icon, Text, Tooltip: Adding data test id
  packages/gestalt/src/Accordion.test.tsx
  packages/gestalt/src/Accordion.tsx
  packages/gestalt/src/Accordion/Title.tsx
  packages/gestalt/src/Badge.test.tsx
  packages/gestalt/src/Badge.tsx
  packages/gestalt/src/Icon.test.tsx
  packages/gestalt/src/Icon.tsx
  packages/gestalt/src/Text.test.tsx
  packages/gestalt/src/Text.tsx
  packages/gestalt/src/Tooltip.jsdom.test.tsx
  packages/gestalt/src/Tooltip.tsx
  packages/gestalt/src/Tooltip/InternalTooltip.tsx
Labels: minor release

#3735 Docs: Add promotion to accessibility training and update Pinternal resources
  docs/pages/foundations/accessibility.tsx
Labels: patch release

#3734 Dropdown: replacing isExternal with iconEnd
  docs/examples/buttonlink/localizationLabels.tsx
  docs/examples/defaultlabelprovider/translations.tsx
  docs/examples/dropdown/composability.tsx
  docs/examples/dropdown/customHeader.tsx
  docs/examples/dropdown/customItem.tsx
  docs/examples/dropdown/disabled.tsx
  docs/examples/dropdown/doFeatures.tsx
  docs/examples/dropdown/doIcons.tsx
  docs/examples/dropdown/doOrder.tsx
  docs/examples/dropdown/dontCustom.tsx
  docs/examples/dropdown/dontTooltips.tsx
  docs/examples/dropdown/link.tsx
  docs/examples/dropdown/localizationLabels.tsx
  docs/examples/dropdown/main.tsx
  docs/examples/dropdown/mobile.tsx
  docs/examples/dropdown/subtext.tsx
  docs/examples/dropdown/truncation.tsx
  docs/examples/iconbutton/grouping.tsx
  docs/examples/iconbuttonfloating/doForScroll.tsx
  docs/examples/iconbuttonlink/localizationLabels.tsx
  docs/examples/link/localizationLabels.tsx
  docs/examples/pageheader/responsiveExample.tsx
  docs/examples/pageheader/secondaryActionExample.tsx
  docs/examples/taparealink/localizationLabels.tsx
  docs/pages/visual-test/Dropdown-open-dark.tsx
  docs/pages/visual-test/Dropdown-open.tsx
  docs/pages/visual-test/PageHeader-items-secondaryAction.tsx
  docs/pages/visual-test/PageHeader-secondaryAction.tsx
  docs/pages/web/dropdown.tsx
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
  packages/gestalt/src/Dropdown.jsdom.test.tsx
  packages/gestalt/src/Dropdown/OptionItem.tsx
  packages/gestalt/src/DropdownLink.jsdom.test.tsx
  packages/gestalt/src/DropdownLink.tsx
  packages/gestalt/src/Link.tsx
  packages/gestalt/src/PageHeader.test.tsx
  packages/gestalt/src/accessibility/AccessibilityLinkActionIcon.tsx
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.tsx
  packages/gestalt/src/contexts/DefaultLabelProvider.tsx
Labels: major release

#3728 Button: VR Implementation
  docs/examples/button/colors.tsx
  docs/examples/button/defaultStateExample.tsx
  docs/examples/button/keepSimpleTextDo.tsx
  docs/examples/button/keepSimpleTextDont.tsx
  docs/examples/button/washColors.tsx
  docs/pages/web/button.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3740 TextUI, TextCompact: new components in classic & Visual Refresh
  .github/pr-title-checker-config.json
  docs/docs-components/siteIndex.ts
  docs/examples/textcompact/main.tsx
  docs/examples/textcompact/variantAlignment.tsx
  docs/examples/textcompact/variantBoxInline.tsx
  docs/examples/textcompact/variantColors.tsx
  docs/examples/textcompact/variantOverflowTruncation.tsx
  docs/examples/textcompact/variantRefs.tsx
  docs/examples/textcompact/variantStyles.tsx
  docs/examples/textcompact/variantTitle.tsx
  docs/examples/textui/main.tsx
  docs/examples/textui/variantAlignment.tsx
  docs/examples/textui/variantBoxInline.tsx
  docs/examples/textui/variantColors.tsx
  docs/examples/textui/variantOverflowTruncation.tsx
  docs/examples/textui/variantRefs.tsx
  docs/examples/textui/variantSizes.tsx
  docs/examples/textui/variantStyles.tsx
  docs/examples/textui/variantTitle.tsx
  docs/pages/visual-test/TextCompact-dark.tsx
  docs/pages/visual-test/TextCompact.tsx
  docs/pages/visual-test/TextUI-dark.tsx
  docs/pages/visual-test/TextUI.tsx
  docs/pages/web/text.tsx
  docs/pages/web/textcompact.tsx
  docs/pages/web/textui.tsx
  packages/gestalt/src/TextCompact.css
  packages/gestalt/src/TextCompact.test.tsx
  packages/gestalt/src/TextCompact.tsx
  packages/gestalt/src/TextUI.css
  packages/gestalt/src/TextUI.test.tsx
  packages/gestalt/src/TextUI.tsx
  packages/gestalt/src/__snapshots__/TextCompact.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextUI.test.tsx.snap
  packages/gestalt/src/index.ts
  playwright/accessibility/web__textcompact.spec.ts
  playwright/accessibility/web__textui.spec.ts
  playwright/visual-test/TextCompact-dark.spec.ts
  playwright/visual-test/TextCompact-dark.spec.ts-snapshots/TextCompact-dark-chromium-darwin.png
  playwright/visual-test/TextCompact.spec.ts
  playwright/visual-test/TextCompact.spec.ts-snapshots/TextCompact-chromium-darwin.png
  playwright/visual-test/TextUI-dark.spec.ts
  playwright/visual-test/TextUI-dark.spec.ts-snapshots/TextUI-dark-chromium-darwin.png
  playwright/visual-test/TextUI.spec.ts
  playwright/visual-test/TextUI.spec.ts-snapshots/TextUI-chromium-darwin.png
Labels: minor release

#3741 Text: VR implementation
  docs/examples/text/variantStyles.tsx
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/Datapoint/__snapshots__/Trend.test.tsx.snap
  packages/gestalt/src/Link/__snapshots__/InternalLink.test.tsx.snap
  packages/gestalt/src/Text.css
  packages/gestalt/src/Text.tsx
  packages/gestalt/src/Video/__snapshots__/Controls.test.tsx.snap
  packages/gestalt/src/__snapshots__/Accordion.test.tsx.snap
  packages/gestalt/src/__snapshots__/AccordionExpandable.test.tsx.snap
  packages/gestalt/src/__snapshots__/ActivationCard.test.tsx.snap
  packages/gestalt/src/__snapshots__/Badge.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerCallout.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsellForm.test.tsx.snap
  packages/gestalt/src/__snapshots__/ButtonGroup.test.tsx.snap
  packages/gestalt/src/__snapshots__/ButtonLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/Checkbox.test.tsx.snap
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.tsx.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.tsx.snap
  packages/gestalt/src/__snapshots__/List.test.tsx.snap
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/NumberField.test.tsx.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PopoverEducational.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.tsx.snap
  packages/gestalt/src/__snapshots__/RadioGroup.test.tsx.snap
  packages/gestalt/src/__snapshots__/SegmentedControl.test.tsx.snap
  packages/gestalt/src/__snapshots__/SelectList.test.tsx.snap
  packages/gestalt/src/__snapshots__/SheetMobile.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/__snapshots__/Status.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableFooter.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableHeader.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableOfContents.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.tsx.snap
  packages/gestalt/src/__snapshots__/Tabs.test.tsx.snap
  packages/gestalt/src/__snapshots__/Tag.test.tsx.snap
  packages/gestalt/src/__snapshots__/TagData.test.tsx.snap
  packages/gestalt/src/__snapshots__/Text.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextArea.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextField.test.tsx.snap
  packages/gestalt/src/__snapshots__/TileData.test.tsx.snap
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
  packages/gestalt/src/__snapshots__/Video.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/__snapshots__/FormErrorMessage.test.tsx.snap
Labels: minor release

#3742 Masonry: Ensure zero height items dont have a gutter
  packages/gestalt/src/Masonry/defaultLayout.test.ts
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.test.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/layoutHelpers.ts
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
Labels: patch release

#3743 BannerOverlay: enabled `reverseOffset` in `offset` for custom positioining
  docs/pages/web/banneroverlay.tsx
  packages/gestalt/src/BannerOverlay.test.tsx
  packages/gestalt/src/BannerOverlay.tsx
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
Labels: minor release

#3748 Internal: Upgrade TypeScript to 5.6
  package.json
  packages/gestalt/src/AvatarGroup/PositioningWrapper.tsx
  yarn.lock
Labels: patch release

#3745 Sticky: Updating Types to avoid Prop Issues
  packages/gestalt/src/Sticky.tsx
Labels: patch release

#3720 IconButton: VR Implementation
  docs/docs-components/CombinationNew.tsx
  docs/examples/iconbutton/defaultStateExample.tsx
  docs/examples/iconbutton/disabledStateExample.tsx
  docs/examples/iconbutton/focusOnDarkBackground.tsx
  docs/examples/iconbutton/label.tsx
  docs/examples/iconbutton/selectedStateExample.tsx
  docs/examples/iconbuttonlink/focusOnDarkBackground.tsx
  docs/examples/pog/focusOnDarkBackground.tsx
  docs/examples/pog/states.tsx
  docs/examples/pog/statesOnBackground.tsx
  docs/pages/web/iconbutton.tsx
  docs/pages/web/iconbuttonlink.tsx
  docs/pages/web/pog.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/sema-color.json
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/IconButton.tsx
  packages/gestalt/src/IconButtonFloating.tsx
  packages/gestalt/src/IconButtonLink.tsx
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/Pog.css
  packages/gestalt/src/Pog.tsx
  packages/gestalt/src/__snapshots__/Accordion.test.tsx.snap
  packages/gestalt/src/__snapshots__/ActivationCard.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerCallout.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/IconButton.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowExpandable.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3738 ButtonToggle: VR Implementation
  docs/examples/buttontoggle/colorpicker.tsx
  docs/examples/buttontoggle/consistencyDo.tsx
  docs/examples/buttontoggle/dropdown.tsx
  docs/examples/buttontoggle/iconOnly.tsx
  docs/pages/web/buttontoggle.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/ButtonToggle.css
  packages/gestalt/src/ButtonToggle.tsx
  packages/gestalt/src/ButtonToggle/ColorPicker.css
  packages/gestalt/src/ButtonToggle/ColorPicker.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3757 SelectList: adopted TextUI
  packages/gestalt/src/SelectList/VRSelectList.css
  packages/gestalt/src/SelectList/VRSelectList.tsx
Labels: patch release

#3750 Button: adopted TextUI
  packages/gestalt/src/Button.tsx
Labels: patch release

#3751 TextField, ComboBox: adopted TextUI
  packages/gestalt/src/TextField/VRInternalTextField.css
  packages/gestalt/src/TextField/VRInternalTextField.tsx
  packages/gestalt/src/TextUI.tsx
Labels: patch release

#3752 TextArea: adopted TextUI
  packages/gestalt/src/TextArea/VRTextArea.css
  packages/gestalt/src/TextArea/VRTextArea.tsx
Labels: patch release

#3754 TextField, TextArea, ComboBox: adopted TextUI in TagArea
  packages/gestalt/src/TagArea/TagArea.css
  packages/gestalt/src/TagArea/TagArea.tsx
Labels: patch release

#3758 TextArea, TextField, SelectList: adopted TextBody
  packages/gestalt/src/SelectList/VRSelectList.css
  packages/gestalt/src/TagArea/TagArea.css
  packages/gestalt/src/TagArea/TagArea.tsx
  packages/gestalt/src/TextArea/VRTextArea.css
  packages/gestalt/src/TextField/VRInternalTextField.css
Labels: patch release

#3759 ButtonToggle: adopted TextUI
  docs/examples/textfield/main.tsx
  packages/gestalt/src/ButtonToggle.tsx
Labels: patch release

#3762 SearchField: VR implementation changes
  docs/examples/searchfield/accessibilityExample.tsx
  docs/examples/searchfield/dontAddCriticalInfoToPlaceholder.tsx
  docs/examples/searchfield/dontTruncateText.tsx
  docs/examples/searchfield/errorExample.tsx
  docs/examples/searchfield/localizationExample.tsx
  docs/examples/searchfield/mainExample.tsx
  docs/examples/searchfield/makePlaceholderSpecific.tsx
  docs/examples/searchfield/makeSearchFieldWide.tsx
  docs/examples/searchfield/placeAboveContent.tsx
  docs/examples/searchfield/sizesExample.tsx
  docs/examples/searchfield/variantsExample.tsx
  packages/gestalt/src/Pog.css
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/SearchField/VRSearchField.css
  packages/gestalt/src/SearchField/VRSearchField.tsx
Labels: patch release

#3764 IconButton: refactor to prevent snapshot change
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/IconButton.tsx
  packages/gestalt/src/__snapshots__/Accordion.test.tsx.snap
  packages/gestalt/src/__snapshots__/ActivationCard.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerCallout.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/IconButton.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowExpandable.test.tsx.snap
Labels: patch release

#3763 Tabs: VR implementation changes
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Tabs.css
  packages/gestalt/src/Tabs.tsx
  packages/gestalt/src/Tabs/Tab.tsx
  packages/gestalt/src/Tabs/subcomponents.tsx
  packages/gestalt/src/__snapshots__/Tabs.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3770 Tokens: add icon-subtle-accent token
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/sema-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/sema-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/sema-color.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3755 DatePicker: adopted TextUI
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt-datepicker/src/DatePicker/VRDateInput.css
  packages/gestalt-datepicker/src/DatePicker/VRDateInput.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-font.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-font.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3776 ColorSchemeProvider: implemented language for line height override in design tokens
  docs/examples/heading/languageTokens.tsx
  docs/examples/text/alignment.tsx
  docs/examples/text/boxInline.tsx
  docs/examples/text/colors.tsx
  docs/examples/text/languageTokens.tsx
  docs/examples/text/overflowTruncation.tsx
  docs/examples/text/refs.tsx
  docs/examples/text/sizes.tsx
  docs/examples/text/styles.tsx
  docs/examples/text/title.tsx
  docs/examples/textcompact/languageTokens.tsx
  docs/examples/textui/languageTokens.tsx
  docs/pages/web/heading.tsx
  docs/pages/web/text.tsx
  docs/pages/web/textcompact.tsx
  docs/pages/web/textui.tsx
  packages/gestalt-design-tokens/build.js
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.tsx
  packages/gestalt/src/contexts/ColorSchemeProvider.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3777 Tabs: fix padding
  packages/gestalt/src/Tabs.css
Labels: patch release

#3778 Tooltip: implement VR changes
  packages/gestalt/src/Popover/Contents.tsx
  packages/gestalt/src/Popover/Controller.tsx
  packages/gestalt/src/Tooltip/InternalTooltip.tsx
Labels: minor release

#3766 Icon: Update Icons [GESTALT-8440]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/foundations/international_design/rtl_guidelines/iconography.tsx
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/src/classic/ic_gift_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_indent_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_kakao-talk_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_list-numbered-rtl_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_list-numbered_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_outdent_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_pincode_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_snapchat_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_telegram_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_viber_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_gift_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_indent_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_kakao-talk_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_list-numbered-rtl_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_list-numbered_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_outdent_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_pincode_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_snapchat_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_telegram_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_viber_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/Icon.tsx
  packages/gestalt/src/icons-vr-theme/gift.svg
  packages/gestalt/src/icons-vr-theme/indent.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/kakao-talk.svg
  packages/gestalt/src/icons-vr-theme/list-numbered-rtl.svg
  packages/gestalt/src/icons-vr-theme/list-numbered.svg
  packages/gestalt/src/icons-vr-theme/outdent.svg
  packages/gestalt/src/icons-vr-theme/pincode.svg
  packages/gestalt/src/icons-vr-theme/snapchat.svg
  packages/gestalt/src/icons-vr-theme/telegram.svg
  packages/gestalt/src/icons-vr-theme/viber.svg
  packages/gestalt/src/icons/gift.svg
  packages/gestalt/src/icons/indent.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/kakao-talk.svg
  packages/gestalt/src/icons/list-numbered-rtl.svg
  packages/gestalt/src/icons/list-numbered.svg
  packages/gestalt/src/icons/outdent.svg
  packages/gestalt/src/icons/pincode.svg
  packages/gestalt/src/icons/snapchat.svg
  packages/gestalt/src/icons/telegram.svg
  packages/gestalt/src/icons/viber.svg
Labels: minor release

#3781 Tokens: removed TOKEN_ prefix from vr tokens in JS
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
Labels: major release

#3780 IconButton, IconButtonFloating, Pog: created InternalIconButton to support different rounding in Pog-based components
  docs/examples/pog/rounding.tsx
  docs/pages/web/iconbuttonfloating.tsx
  docs/pages/web/pog.tsx
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/IconButton.tsx
  packages/gestalt/src/IconButton/InternalIconButton.css
  packages/gestalt/src/IconButton/InternalIconButton.tsx
  packages/gestalt/src/IconButtonFloating.tsx
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/Link/__snapshots__/InternalLink.test.tsx.snap
  packages/gestalt/src/Pog.css
  packages/gestalt/src/Pog.tsx
  packages/gestalt/src/__snapshots__/Accordion.test.tsx.snap
  packages/gestalt/src/__snapshots__/ActivationCard.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerCallout.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/IconButton.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/IconButtonLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/Pog.test.tsx.snap
  packages/gestalt/src/__snapshots__/SheetMobile.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowExpandable.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/InternalDismissButton.tsx
Labels: minor release

#3783 TapArea: support to VR visible focus style
  docs/examples/taparea/focus.tsx
  docs/pages/web/taparea.tsx
  packages/gestalt/src/ButtonToggle.css
  packages/gestalt/src/ButtonToggle.tsx
  packages/gestalt/src/Focus.css
  packages/gestalt/src/TapArea.tsx
Labels: minor release

#3785 Internal: updates icon declaration file
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
Labels: patch release
