Repository pinterest/gestalt, pull requests merged in 2024-02, with the labels that each got.

#3396 SearchGuide: Android and iOS docs
  .github/pr-title-checker-config.json
  docs/docs-components/data/components.js
  docs/docs-components/siteIndex.js
  docs/graphics/general/SearchGuide.svg
  docs/markdown/android/searchguide.md
  docs/markdown/ios/searchguide.md
  docs/next.config.js
  playwright/accessibility/android__searchguide.spec.mjs
  playwright/accessibility/ios__searchguide.spec.mjs
Labels: patch release

#3397 Icon: added new icons
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/ic_collapse_gestalt.svg
  packages/gestalt-icons-android/ic_expand_gestalt.svg
  packages/gestalt-icons-android/ic_face_tryon_gestalt.svg
  packages/gestalt-icons-android/ic_fade_gestalt.svg
  packages/gestalt-icons-android/ic_shrink_gestalt.svg
  packages/gestalt-icons-android/ic_speech-heart_gestalt.svg
  packages/gestalt-icons-android/ic_spread_gestalt.svg
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/icons/index.js
  packages/gestalt/src/icons/speech-heart.svg
  playwright/visual-test/Icon-list-dark.spec.mjs-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.mjs-snapshots/Icon-list-chromium-darwin.png
Labels: minor release

#3398 Docs: fix alias section on mobile pages
  docs/docs-components/MarkdownPage.js
  docs/docs-components/PageHeader.js
  docs/pages/[...id].js
Labels: patch release

#3402 Internal: removed unused deprecated colors
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/LegacyContents.js
  packages/gestalt/src/LegacyController.js
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/Popover/Controller.js
  packages/gestalt/src/boxTypes.js
Labels: patch release

#3403 Internal: remove blue color replaced with color-background-education
  packages/gestalt/src/Colors.css
Labels: patch release

#3401 Tokens: add component tokens for Button
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#3406 ColorSchemeProvider: removed deprecated colors
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Backdrop.css
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.test.js
  packages/gestalt/src/utils/datavizcolors/getDataVisualizationColor.test.js
Labels: major release

#3404 Tokens: rename alias tokens from color-text-icon-* to color-icon-*
  docs/pages/foundations/color/usage.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt/src/Colors.css
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: major release

#3407 Internal: moved all rgba color codes instances to rbg color codes
  docs/docs-components/atomDark.js
  docs/examples/accessibility/useFocusVisibleExample.js
  docs/examples/box/rtl.js
  docs/examples/usefocusvisible/exampleButtons.js
  docs/examples/video/controlsExample.js
  docs/examples/video/withChildrenExample.js
  packages/eslint-plugin-gestalt/src/helpers/styleValidators.js
  packages/gestalt-charts/src/ChartGraph.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt-design-tokens/tokens/elevation/base.json
  packages/gestalt/src/Caret.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/__snapshots__/Caret.test.js.snap
  packages/gestalt/src/__snapshots__/LegacyController.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/PopoverEducational.jsdom.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.test.js
Labels: patch release

#3409 Button: documenting Color contrast in disabled state
  docs/pages/web/button.js
Labels: patch release

#3410 Pog, IconButton: implemented color tokens and deprecated darkGray color (duplicated with selected state)
  docs/examples/pog/states.js
  docs/examples/pog/statesOnBackground.js
  docs/pages/web/iconbutton.js
  docs/pages/web/pog.js
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Button.css
  packages/gestalt/src/IconButton.js
  packages/gestalt/src/IconButtonLink.js
  packages/gestalt/src/Pog.css
  packages/gestalt/src/Pog.css.flow
  packages/gestalt/src/Pog.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: major release

#3411 Docs, TagData, TileData: Docs, TagData, Tile to consume directly from tokens rather than ColorSchemeProvider and legacy colors
  docs/docs-components/MarkdownPage.js
  docs/docs.css
  docs/pages/web/chartgraph.js
  docs/pages/year_in_review_2023.js
  packages/gestalt/src/TagData.js
  packages/gestalt/src/TileData.js
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.test.js
  packages/gestalt/src/utils/datavizcolors/getDataVisualizationColor.js
  packages/gestalt/src/utils/datavizcolors/getDataVisualizationColor.test.js
Labels: patch release

#3412 Internal: remove unused deprecated legacy colors
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: patch release

#3418 ChartGraph: fix bug from #3411 still consuming from ColorSchemeProvider
  docs/docs-components/PatternBarFill.js
  docs/docs-components/PatternLineMarker.js
  packages/gestalt-charts/src/ChartGraph/LegendIcon.js
  packages/gestalt-charts/src/ChartGraph/usePatterns.js
Labels: patch release

#3388 Internal: add test for Masonry scroll performance
  playwright/masonry/scroll-performance.spec.mjs
  playwright/masonry/utils/tracingEvents.mjs
Labels: patch release

#3413 Tokens, Modal, OverlayPanel, SheetMobile, Popover: consume from overlay component tokens
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/LegacyContents.js
  packages/gestalt/src/Modal.css
  packages/gestalt/src/OverlayPanel.css
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/SheetMobile.css
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#3417 Masonry: Fix integration tests and run in CI
  docs/integration-test-helpers/masonry/MasonryContainer.js
  package.json
  playwright/masonry/fetch-more.spec.mjs
  playwright/masonry/flexible-resize.spec.mjs
  playwright/masonry/item-prop-change-key-reset.spec.mjs
  playwright/masonry/load-more.spec.mjs
  playwright/masonry/optimized-remount.spec.mjs
  playwright/masonry/shuffle-items.spec.mjs
  playwright/masonry/utils/countColumns.mjs
  playwright/masonry/utils/getGridItems.mjs
  playwright/masonry/utils/getServerURL.mjs
  playwright/masonry/utils/waitForRenderedItems.mjs
Labels: patch release

#3416 Docs: Added ButtonToggle docs and graphics
  docs/docs-components/data/components.js
  docs/docs-components/siteIndex.js
  docs/graphics/general/ButtonToggle.svg
  docs/markdown/android/buttontoggle.md
  docs/markdown/ios/buttontoggle.md
  playwright/accessibility/android__buttontoggle.spec.mjs
  playwright/accessibility/ios__buttontoggle.spec.mjs
Labels: patch release

#3415 Popover: deprecated red color
  docs/examples/popover/dontCritical.js
  docs/pages/web/popover.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/LegacyContents.js
  packages/gestalt/src/LegacyController.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/Popover/Controller.js
  packages/gestalt/src/Popover/InternalPopover.js
  packages/gestalt/src/Popover/LegacyInternalPopover.js
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: major release

#3420 Tokens: fix in Android tokens
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/rounding/base.json
  packages/gestalt-design-tokens/tokens/space/base.json
Labels: minor release

#3421 Tokens: update style-dictionary dependency and restructure component tokens to match library
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/package.json
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/src/Button.css
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Modal.css
  packages/gestalt/src/OverlayPanel.css
  packages/gestalt/src/Pog.css
  packages/gestalt/src/SheetMobile.css
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  yarn.lock
Labels: major release

#3423 Tokens: fix `color-background-overlay` token bug introduced in #3421
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Modal.css
  packages/gestalt/src/OverlayPanel.css
  packages/gestalt/src/SheetMobile.css
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: major release

#3422 Tag: implement component tokens
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/src/Tag.css
  packages/gestalt/src/Tag.css.flow
  packages/gestalt/src/Tag.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#3424 Tokens, Box: implement component background tokens
  docs/docs-components/CombinationNew.js
  docs/pages/web/box.js
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/BannerOverlay.css
  packages/gestalt/src/Box.css
  packages/gestalt/src/Box.css.flow
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/ComboBox/Item.js
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/LegacyContents.js
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/SelectList.css
  packages/gestalt/src/TileData.css
  packages/gestalt/src/Video.js
  packages/gestalt/src/__snapshots__/BannerSlim.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/TableOfContents.test.js.snap
  packages/gestalt/src/boxTransforms.js
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#3429 Docs: Fixed ButtonToggle & SearchGuide information for clarity in Android/iOS
  docs/markdown/android/buttontoggle.md
  docs/markdown/android/searchguide.md
  docs/markdown/ios/buttontoggle.md
Labels: patch release

#3425 RadioGroup: Add Badge prop
  docs/examples/radiogroup/addingABadgeExample.js
  docs/pages/web/radiogroup.js
  packages/gestalt/src/RadioGroupButton.js
  packages/gestalt/src/__snapshots__/RadioGroup.test.js.snap
Labels: minor release

#3430 Internal: Update tests for v2 of Popover and Popover-based components
  packages/gestalt/src/ComboBox.jsdom.test.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Dropdown.jsdom.test.js
  packages/gestalt/src/HelpButton.jsdom.test.js
  packages/gestalt/src/HelpButton.test.js
  packages/gestalt/src/OverlayPanel.jsdom.test.js
  packages/gestalt/src/Popover.jsdom.test.js
  packages/gestalt/src/PopoverEducational.jsdom.test.js
  packages/gestalt/src/SideNavigation.jsdom.test.js
  packages/gestalt/src/Tooltip.jsdom.test.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/PopoverEducational.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Tooltip.jsdom.test.js.snap
  packages/gestalt/src/utils/testing/renderWithExperiment.js
Labels: patch release

#3426 Box: linking to Box component tokens
  docs/docs-components/TokenExample.js
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/src/Box.css
  packages/gestalt/src/Box.css.flow
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: patch release

#3427 Badge, TagData: tokenization background colors
  docs/pages/foundations/design_tokens/component_tokens.js
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.js.snap
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.css.flow
  packages/gestalt/src/Badge.js
  packages/gestalt/src/Badge.test.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/TagData.css
  packages/gestalt/src/TagData.css.flow
  packages/gestalt/src/TagData.js
  packages/gestalt/src/__snapshots__/Accordion.test.js.snap
  packages/gestalt/src/__snapshots__/Badge.test.js.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.js.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.js.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#3432 Tokens, TableOfContents, TileData: implement background color tokens and some code cleanups
  docs/pages/foundations/design_tokens/component_tokens.js
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/src/Colors.css
  packages/gestalt/src/Colors.css.flow
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.css
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.css.flow
  packages/gestalt/src/TableOfContents/TableOfContentsAnchor.js
  packages/gestalt/src/TagData.js
  packages/gestalt/src/TileData.css
  packages/gestalt/src/TileData.css.flow
  packages/gestalt/src/TileData.js
  packages/gestalt/src/__snapshots__/TableOfContents.test.js.snap
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.js
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.test.js
Labels: minor release

#3431 ComboBox, Dropdown, HelpButton, PopoverEducational: Release v2
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
Labels: minor release

#3435 Tag: Change tag contents to break-all
  packages/gestalt/src/Tag.js
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/__snapshots__/TextArea.test.js.snap
  packages/gestalt/src/__snapshots__/TextField.test.js.snap
Labels: minor release

#3436 ButtonLink: fix on darkmode colors + more documentation
  docs/examples/buttonlink/colors.js
  docs/examples/buttonlink/washColors.js
  docs/pages/web/buttonlink.js
  packages/gestalt/src/BannerUpsell.js
  packages/gestalt/src/Button.css
  packages/gestalt/src/ButtonLink.js
Labels: patch release

#3434 Textfield, RadioGroup, SearchField: implement background color tokens in form fields and some code cleanups
  docs/pages/foundations/design_tokens/component_tokens.js
  docs/pages/foundations/iconography/library.js
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/BannerOverlay.css
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/SearchField.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  packages/gestalt/src/shared/FormElement.css
Labels: major release

#3438 DatePicker: tokenize colors and other internal styles
  docs/markdown/team_support/contributions.md
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt-design-tokens/tokens/elevation/component.json
  packages/gestalt-design-tokens/tokens/rounding/component.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#3439 ColorSchemeProvider, Avatar, Tag, TextField: deprecate legacy colors from provider + tokenize background and border colors
  docs/docs-components/Checkerboard.js
  docs/docs-components/ColorTile.js
  docs/docs-components/PatternBarFill.js
  docs/docs-components/PatternLineMarker.js
  packages/gestalt-charts/src/ChartGraph.js
  packages/gestalt-charts/src/ChartGraph/LegendIcon.js
  packages/gestalt-charts/src/ChartGraph/usePatterns.js
  packages/gestalt-datepicker/src/DateField.css
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Accordion.js
  packages/gestalt/src/AccordionExpandable.js
  packages/gestalt/src/ActivationCard.js
  packages/gestalt/src/Avatar.js
  packages/gestalt/src/Avatar/Foundation.js
  packages/gestalt/src/BannerOverlay.js
  packages/gestalt/src/BannerUpsell.js
  packages/gestalt/src/Button.js
  packages/gestalt/src/ButtonLink.js
  packages/gestalt/src/Colors.css
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/List/Message.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/Shared/ToastSubcomponents.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/TagData.js
  packages/gestalt/src/TileData.js
  packages/gestalt/src/Toast.js
  packages/gestalt/src/__snapshots__/Avatar.test.js.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/Tag.test.js.snap
  packages/gestalt/src/contexts/ColorSchemeProvider.js
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.js
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
  packages/gestalt/src/shared/FormElement.css
Labels: major release

#3442 Revert "ComboBox, Dropdown, HelpButton, PopoverEducational: Release v…
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.js.snap
Labels: major release

#3443 ComboBox, Dropdown, HelpButton: Disable internal Popover portal
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/HelpButton.js
  packages/gestalt/src/OverlayPanel/ConfirmationPopover.js
Labels: patch release

#3444 Popover, Dropdown, ComboBox, Tooltip: Disable focus trap for Tooltip + fixed a11y in Dropdown, ComboBox
  docs/docs-components/contexts/DocsExperimentProvider.js
  packages/gestalt/src/Popover.js
  packages/gestalt/src/Popover/Contents.js
  packages/gestalt/src/Popover/Controller.js
  packages/gestalt/src/Popover/InternalPopover.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/Tooltip/InternalTooltip.js
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.js.snap
  packages/gestalt/src/__snapshots__/PopoverEducational.jsdom.test.js.snap
Labels: patch release, accessibility-improvement

#3446 TextField: Add dataTestId prop
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField/InternalTextField.js
Labels: minor release

#3445 Tokens: some cleanups to increase token coverage
  docs/css/year-in-review-2023.css
  docs/docs.css
  docs/examples/accessibility/useFocusVisibleExample.js
  docs/examples/usefocusvisible/exampleButtons.js
  docs/pages/foundations/design_tokens/component_tokens.js
  docs/pages/foundations/design_tokens/overview.js
  packages/gestalt-datepicker/src/DateField.css
  packages/gestalt-design-tokens/CHANGELOG.md
  packages/gestalt-design-tokens/tokens/color/alias.json
  packages/gestalt-design-tokens/tokens/color/component.json
  packages/gestalt-design-tokens/tokens/elevation/base.json
  packages/gestalt/src/Backdrop.css
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Button.css
  packages/gestalt/src/Checkbox/InternalCheckbox.css
  packages/gestalt/src/Flex.css
  packages/gestalt/src/Focus.css
  packages/gestalt/src/Mask.css
  packages/gestalt/src/Pulsar.css
  packages/gestalt/src/RadioButtonCheckbox.css
  packages/gestalt/src/SideNavigation/GroupMobile.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/Spinner.css
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Toast.css
  packages/gestalt/src/WashAnimated.css
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  packages/gestalt/src/__snapshots__/Tabs.test.js.snap
  packages/gestalt/src/boxWhitespace.css
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: minor release

#3447 RadioGroup, Accordion, Datapoint, Dropdown: Fixing badge type
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/Accordion.js
  packages/gestalt/src/Accordion/ExpandableItem.js
  packages/gestalt/src/Accordion/Title.js
  packages/gestalt/src/AccordionExpandable.js
  packages/gestalt/src/Datapoint.js
  packages/gestalt/src/Datapoint/InternalDatapoint.js
  packages/gestalt/src/Dropdown/OptionItem.js
  packages/gestalt/src/DropdownItem.js
  packages/gestalt/src/DropdownLink.js
  packages/gestalt/src/RadioGroupButton.js
Labels: patch release

#3450 SelectList: fix for hidden arrow-down Icon
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/__snapshots__/SelectList.test.js.snap
  packages/gestalt/src/shared/FormElement.css
  packages/gestalt/src/shared/FormElement.css.flow
Labels: patch release

#3452 Popover: Remove autofocusing dismiss button
  packages/gestalt/src/Dropdown.js
  packages/gestalt/src/Popover/InternalPopover.js
Labels: patch release

#3454 SelectList, SearchField: fix token
  packages/gestalt/src/SearchField.css
  packages/gestalt/src/SelectList.css
Labels: patch release

#3455 TextField: Adding new autocomplete strings
  docs/pages/web/textfield.js
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/TextField.js
  packages/gestalt/src/TextField/InternalTextField.js
Labels: minor release

#3456 Tokens: organized packages/gestalt-design-tokens/config.json & packages/gestalt-design-tokens/build.js + constants.js file
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
Labels: patch release

#3460 Tokens: set `outputReferences": true` for android/resources
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
Labels: patch release
