Repository pinterest/gestalt, pull requests merged in 2024-07, with the labels that each got.

#3646 AvatarGroup: enable actions in smaller sizes
  docs/pages/web/avatargroup.tsx
  packages/gestalt/src/AvatarGroup.tsx
Labels: minor release

#3648 AvatarGroup: fix, remove xs from actions
  docs/pages/web/avatargroup.tsx
  packages/gestalt/src/AvatarGroup.tsx
Labels: patch release

#3655 Popover: Release v2
  docs/docs-components/contexts/DocsExperimentProvider.tsx
  docs/examples/popover/variantScrollingContainers.tsx
  docs/pages/web/popover.tsx
  packages/gestalt/src/Popover.jsdom.test.tsx
  packages/gestalt/src/Popover.tsx
  packages/gestalt/src/Popover/LegacyInternalPopover.tsx
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.tsx.snap
Labels: minor release

#3651 SelectList: Added onBlur/onFocus props
  packages/gestalt/src/SelectList.tsx
Labels: minor release

#3654 TextField, SearchField, TextArea, SelectList: fix Label implementation consistency
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/SelectList.tsx
  packages/gestalt/src/TextArea.tsx
  packages/gestalt/src/TextField/InternalTextField.css
  packages/gestalt/src/TextField/InternalTextField.tsx
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsellForm.test.tsx.snap
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/NumberField.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextField.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/FormElement.css
Labels: patch release

#3658 SelectList/TextArea: fix rounding bug introduced in #3651
  packages/gestalt/src/SelectList.tsx
  packages/gestalt/src/TextArea.tsx
  packages/gestalt/src/__snapshots__/SelectList.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextArea.test.tsx.snap
  playwright/visual-test/TextArea-dark.spec.ts-snapshots/TextArea-dark-chromium-darwin.png
  playwright/visual-test/TextArea.spec.ts-snapshots/TextArea-chromium-darwin.png
Labels: patch release

#3656 Button, ButtonLink: Add leading icon to Button/ButtonLink
  docs/examples/button/iconExample.tsx
  docs/examples/buttonlink/iconEndExample.tsx
  docs/pages/web/button.tsx
  docs/pages/web/buttonlink.tsx
  packages/gestalt/src/Button.test.tsx
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/ButtonLink.test.tsx
  packages/gestalt/src/ButtonLink.tsx
  packages/gestalt/src/__snapshots__/ButtonLink.test.tsx.snap
Labels: minor release

#3642 SideNavigation: SideNavigationGroupItem with link
  docs/docs-components/Example.tsx
  docs/examples/sidenavigation/displayExpandable.tsx
  docs/examples/sidenavigation/displayExpanded.tsx
  docs/examples/sidenavigation/displayStatic.tsx
  docs/examples/sidenavigation/footerVariant.tsx
  docs/examples/sidenavigation/groupLinkDisplayExpadable.tsx
  docs/examples/sidenavigation/groupLinkDisplayStatic.tsx
  docs/examples/sidenavigation/nestedExample.tsx
  docs/examples/sidenavigation/primaryAction.tsx
  docs/examples/sidenavigation/subcomponent.tsx
  docs/pages/web/sidenavigation.tsx
  packages/gestalt/src/SideNavigation/GroupContent.tsx
  packages/gestalt/src/SideNavigation/GroupExpandIconButton.tsx
  packages/gestalt/src/SideNavigation/GroupItemTapControl.tsx
  packages/gestalt/src/SideNavigation/GroupMobile.tsx
  packages/gestalt/src/SideNavigation/ItemContent.tsx
  packages/gestalt/src/SideNavigation/PrimaryActionIconButton.tsx
  packages/gestalt/src/SideNavigationGroup.tsx
  packages/gestalt/src/SideNavigationNestedGroup.tsx
  packages/gestalt/src/SideNavigationTopItem.tsx
  packages/gestalt/src/TapArea.tsx
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
Labels: minor release

#3661 Tokens: June 2024 release
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/sema-color.json
  packages/gestalt-design-tokens/tokens/vr-theme/$metadata.json
  packages/gestalt-design-tokens/tokens/vr-theme/$themes.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/color/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/color/hover.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/color/pressed.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/elevation/dark.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/elevation/light.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/font.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/opacity.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/rounding.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/hover.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/pressed.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/hover.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/pressed.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/elevation.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/font.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/ck.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/ja.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/tall.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/th.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/vi.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/opacity.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/rounding.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/space.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3662 Tooltip: Release v2
  docs/docs-components/contexts/DocsExperimentProvider.tsx
  docs/pages/web/tooltip.tsx
  packages/gestalt/src/LegacyContents.test.ts
  packages/gestalt/src/LegacyContents.tsx
  packages/gestalt/src/LegacyController.jsdom.test.tsx
  packages/gestalt/src/LegacyController.tsx
  packages/gestalt/src/Popover/Contents.tsx
  packages/gestalt/src/Popover/Controller.tsx
  packages/gestalt/src/Popover/InternalPopover.tsx
  packages/gestalt/src/Tooltip.jsdom.test.tsx
  packages/gestalt/src/Tooltip/InternalTooltip.tsx
  packages/gestalt/src/__snapshots__/LegacyController.jsdom.test.tsx.snap
  packages/gestalt/src/utils/testing/renderWithExperiment.tsx
Labels: minor release

#3665 Icon: new icons
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/visual-test/Icon-list-vr.tsx
  packages/gestalt-icons-android/src/classic/ic_check-circle-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_circle-initializing_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_rocketship_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_table_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_tag_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_check-circle-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_circle-initializing_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_rocketship_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/check-circle-fill.svg
  packages/gestalt/src/icons-vr-theme/circle-initializing.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/rocketship.svg
  packages/gestalt/src/icons/check-circle-fill.svg
  packages/gestalt/src/icons/circle-initializing.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/rocketship.svg
  packages/gestalt/src/icons/tag.svg
  playwright/visual-test/Icon-list-dark.spec.ts-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list-vr.spec.ts
  playwright/visual-test/Icon-list-vr.spec.ts-snapshots/Icon-list-vr-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.ts-snapshots/Icon-list-chromium-darwin.png
Labels: minor release

#3657 Internal: fixes in focus from box-shadow to outline
  docs/docs.css
  docs/examples/accessibility/useFocusVisibleExample.tsx
  docs/examples/usefocusvisible/exampleButtons.tsx
  packages/gestalt-datepicker/src/DateField.css
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/ButtonToggle.tsx
  packages/gestalt/src/Dropdown/OptionItem.tsx
  packages/gestalt/src/Focus.css
  packages/gestalt/src/IconButton.css
  packages/gestalt/src/IconButtonLink.tsx
  packages/gestalt/src/Link.tsx
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/Link/__snapshots__/InternalLink.test.tsx.snap
  packages/gestalt/src/SegmentedControl.tsx
  packages/gestalt/src/Tag.tsx
  packages/gestalt/src/TagData.tsx
  packages/gestalt/src/TapArea.tsx
  packages/gestalt/src/Video/__snapshots__/Controls.test.tsx.snap
  packages/gestalt/src/__snapshots__/AccordionExpandable.test.tsx.snap
  packages/gestalt/src/__snapshots__/ActivationCard.test.tsx.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerCallout.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsellForm.test.tsx.snap
  packages/gestalt/src/__snapshots__/ButtonGroup.test.tsx.snap
  packages/gestalt/src/__snapshots__/ButtonLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.tsx.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/HelpButton.test.tsx.snap
  packages/gestalt/src/__snapshots__/IconButtonLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/Link.test.tsx.snap
  packages/gestalt/src/__snapshots__/Modal.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/ModalAlert.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/PopoverEducational.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/SegmentedControl.test.tsx.snap
  packages/gestalt/src/__snapshots__/SheetMobile.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/__snapshots__/Status.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableOfContents.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableSortableHeaderCell.test.tsx.snap
  packages/gestalt/src/__snapshots__/Tabs.test.tsx.snap
  packages/gestalt/src/__snapshots__/Tag.test.tsx.snap
  packages/gestalt/src/__snapshots__/TagData.test.tsx.snap
  packages/gestalt/src/__snapshots__/TapArea.test.tsx.snap
  packages/gestalt/src/__snapshots__/TapAreaLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextArea.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextField.test.tsx.snap
  packages/gestalt/src/__snapshots__/TileData.test.tsx.snap
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
  packages/gestalt/src/__snapshots__/Video.test.tsx.snap
Labels: patch release

#3645 Tokens: Support language in line-height for VR-Web-Mapping
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/dist.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3663 Text, Icon: Support new color: “disabled”
  docs/examples/text/variantColors.tsx
  docs/pages/web/icon.tsx
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/ButtonLink.tsx
  packages/gestalt/src/ButtonToggle.tsx
  packages/gestalt/src/ButtonToggle/LabeledThumbnail.tsx
  packages/gestalt/src/Heading.tsx
  packages/gestalt/src/Icon.css
  packages/gestalt/src/Icon.tsx
  packages/gestalt/src/Text.css
  packages/gestalt/src/Text.tsx
  packages/gestalt/src/__snapshots__/ButtonLink.test.tsx.snap
  packages/gestalt/src/textTypes.ts
Labels: major release

#3667 Tokens: Revert Token Studio Push
  packages/gestalt-design-tokens/tokens/vr-theme/$metadata.json
  packages/gestalt-design-tokens/tokens/vr-theme/$themes.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/color.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/color/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/color/hover.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/color/pressed.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/elevation/dark.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/elevation/light.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/font.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/lineheight.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/opacity.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/rounding.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/space.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/hover.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/dark/pressed.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/hover.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/color/light/pressed.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/elevation.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/font.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/ck.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/ja.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/tall.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/th.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/lineheight/vi.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/opacity.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/rounding.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/space.json
Labels: patch release

#3668 Docs: fixing release pipeline
  packages/eslint-plugin-gestalt/package.json
  packages/gestalt-charts/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt-design-tokens/package.json
  packages/gestalt/package.json
Labels: patch release

#3670 Tokens: removing px units from font size tokens
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tokens/vr-theme/$metadata.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/font.json
Labels: minor release

#3671 IconButton, Pog: New background for classic IconButton
  docs/docs-components/CombinationNew.tsx
  docs/pages/web/iconbutton.tsx
  docs/pages/web/pog.tsx
  packages/gestalt/src/IconButton.tsx
  packages/gestalt/src/Pog.css
  packages/gestalt/src/Pog.tsx
Labels: minor release

#3669 Badge: enabling VR design
  docs/docs-components/Header.tsx
  docs/examples/badge/localizationLabels.tsx
  docs/examples/badge/main.tsx
  docs/examples/badge/variantsOverMedia.tsx
  docs/examples/badge/variantsPositioning.tsx
  docs/examples/text/variantColors.tsx
  docs/pages/visual-test/Badge-dark.tsx
  docs/pages/visual-test/Badge.tsx
  docs/pages/web/badge.tsx
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/sema-color.json
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/Badge.css
  packages/gestalt/src/Badge.tsx
  packages/gestalt/src/Focus.css
  packages/gestalt/src/TapArea.tsx
  packages/gestalt/src/Text.css
  packages/gestalt/src/Text.tsx
  packages/gestalt/src/__snapshots__/Accordion.test.tsx.snap
  packages/gestalt/src/__snapshots__/Badge.test.tsx.snap
  packages/gestalt/src/__snapshots__/Datapoint.test.tsx.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/textTypes.ts
  playwright/visual-test/Badge-dark.spec.ts-snapshots/Badge-dark-chromium-darwin.png
  playwright/visual-test/Badge.spec.ts-snapshots/Badge-chromium-darwin.png
Labels: minor release

#3674 Internal: fix releases
  packages/eslint-plugin-gestalt/package.json
  packages/gestalt-charts/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt-design-tokens/package.json
  packages/gestalt/package.json
  packages/stylelint-plugin-gestalt/package.json
Labels: patch release

#3675 Tokens: Move Component_Tokens to getStaticProps
  docs/pages/foundations/design_tokens/component_tokens.tsx
Labels: patch release

#3676 Internal: update release.yml to use active account #2605
  .github/workflows/alpha.yml
  .github/workflows/release.yml
Labels: patch release

#3677 Internal: fix releases
  packages/eslint-plugin-gestalt/package.json
  packages/gestalt-charts/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt-design-tokens/package.json
  packages/gestalt/package.json
  packages/stylelint-plugin-gestalt/package.json
Labels: patch release

#3678 Internal: fix releases
  packages/eslint-plugin-gestalt/package.json
  packages/gestalt-charts/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt-design-tokens/package.json
  packages/gestalt/package.json
  packages/stylelint-plugin-gestalt/package.json
Labels: patch release

#3684 Tokens: Add missing sema-pressed tokens
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3681 Tokens: remove comments from classic for readability
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/base-color-dataviz-dark.json
  packages/gestalt-design-tokens/tokens/classic/base-color-dataviz-light.json
  packages/gestalt-design-tokens/tokens/classic/base-elevation-dark.json
  packages/gestalt-design-tokens/tokens/classic/base-elevation-light.json
  packages/gestalt-design-tokens/tokens/classic/base-font.json
  packages/gestalt-design-tokens/tokens/classic/base-opacity.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-elevation-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-elevation-light.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-rounding.json
  packages/gestalt-design-tokens/tokens/classic/sema-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/sema-color-dataviz-dark.json
  packages/gestalt-design-tokens/tokens/classic/sema-color-dataviz-light.json
  packages/gestalt-design-tokens/tokens/classic/sema-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/font.json
Labels: patch release

#3680 Tokens: Add motion tokens
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/dist.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tests/android.test.js
  packages/gestalt-design-tokens/tokens/vr-theme/base/motion.json
  packages/gestalt-design-tokens/tokens/vr-theme/sema/motion.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3660 SideNavigation: Use outline as border
  packages/gestalt/src/SideNavigation/ItemContent.tsx
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
Labels: patch release

#3687 Link: external icon inheriting color + cleanups + TS removal + docs refactors
  docs/docs-components/Footer.tsx
  docs/examples/link/colors.tsx
  docs/examples/link/inline.tsx
  docs/examples/link/variantLinkText.tsx
  docs/examples/link/variantRel.tsx
  docs/examples/link/variantStandaloneLink.tsx
  docs/examples/text/variantColors.tsx
  docs/pages/visual-test/Link-dark.tsx
  docs/pages/visual-test/Link.tsx
  docs/pages/web/link.tsx
  docs/pages/web/text.tsx
  packages/gestalt/src/Avatar/Foundation.tsx
  packages/gestalt/src/Heading.tsx
  packages/gestalt/src/Icon.css
  packages/gestalt/src/Link.css
  packages/gestalt/src/Link.tsx
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/Link/__snapshots__/InternalLink.test.tsx.snap
  packages/gestalt/src/Text.css
  packages/gestalt/src/Text.tsx
  packages/gestalt/src/TextField/InternalTextField.tsx
  packages/gestalt/src/Typography.css
  packages/gestalt/src/__snapshots__/ActivationCard.test.tsx.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerCallout.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/ButtonLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/IconButtonLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/Link.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/__snapshots__/Status.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableOfContents.test.tsx.snap
  packages/gestalt/src/__snapshots__/Tabs.test.tsx.snap
  packages/gestalt/src/__snapshots__/TapAreaLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
  packages/gestalt/src/accessibility/AccessibilityOpenNewTab.tsx
  packages/gestalt/src/sharedSubcomponents/OverridingSpan.tsx
  packages/gestalt/src/useTapFeedback.ts
Labels: patch release

#3688 Link: enabling VR design
  docs/examples/link/colors.tsx
  packages/gestalt/src/Link.tsx
  packages/gestalt/src/Text.css
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/Link.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/Status.test.tsx.snap
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
Labels: minor release

#3689 Toast: VR Fixes
  packages/gestalt/src/Text.css
  packages/gestalt/src/Toast.tsx
  packages/gestalt/src/Toast/PrimaryAction.tsx
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/OverridingSpan.tsx
  packages/gestalt/src/sharedSubcomponents/thumbnailSubcomponents.tsx
Labels: minor release

#3691 Icon: Update Icons [GESTALT-8259]
  docs/pages/foundations/iconography/ICON_DATA.json
  packages/gestalt-icons-android/src/classic/ic_birthday-cake_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_building-business_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_link-broken_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_view-type-space_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_view-type-sparse_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_x-social_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_birthday-cake_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_building-business_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_link-broken_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_view-type-sparse_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_x-social_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/birthday-cake.svg
  packages/gestalt/src/icons-vr-theme/building-business.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/link-broken.svg
  packages/gestalt/src/icons-vr-theme/view-type-sparse.svg
  packages/gestalt/src/icons-vr-theme/x-social.svg
  packages/gestalt/src/icons/birthday-cake.svg
  packages/gestalt/src/icons/building-business.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/link-broken.svg
  packages/gestalt/src/icons/view-type-sparse.svg
  packages/gestalt/src/icons/x-social.svg
Labels: major release

#3637 Masonry: Add _loadingStateItems & _renderLoadingStateItems props
  docs/pages/visual-test/Masonry-renderLoadingItems.tsx
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.test.ts
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/loadingStateUtils.ts
  packages/gestalt/src/Masonry/types.ts
Labels: minor release

#3694 Tokens: Fixing background button disabled token
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3695 Checkbox: Cleanup pre-VR work
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt/src/Checkbox/InternalCheckbox.css
  packages/gestalt/src/Checkbox/InternalCheckbox.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3686 Switch: VR Implementation
  docs/examples/switch/doDisabled.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Switch.css
  packages/gestalt/src/Switch.tsx
  packages/gestalt/src/__snapshots__/Switch.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3696 Masonry: Update logic around updating containerOffset + containerHeight (MasonryV2)
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3700 Icon: Update Icons [GESTALT-8286]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/src/classic/ic_ar-try-on_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_mute-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_mute_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_sound-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_sound-slash-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_sound-slash_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_sound_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_ar-try-on_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_mute-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_mute_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_sound-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_sound-slash-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_sound-slash_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_sound_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/ar-try-on.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/mute-fill.svg
  packages/gestalt/src/icons-vr-theme/mute.svg
  packages/gestalt/src/icons-vr-theme/sound-fill.svg
  packages/gestalt/src/icons-vr-theme/sound-slash-fill.svg
  packages/gestalt/src/icons-vr-theme/sound-slash.svg
  packages/gestalt/src/icons-vr-theme/sound.svg
  packages/gestalt/src/icons/ar-try-on.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/mute-fill.svg
  packages/gestalt/src/icons/sound-fill.svg
  packages/gestalt/src/icons/sound-slash-fill.svg
  packages/gestalt/src/icons/sound-slash.svg
Labels: minor release

#3704 Masonry: Revert Update logic around updating containerOffset + conta…
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3705 Internal: fixes
  packages/gestalt/src/Box.tsx
  packages/gestalt/src/Masonry/defaultLayout.ts
Labels: patch release

#3707 Masonry: Revert revert Update logic around updating containerOffset …
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3699 Checkbox: VR Implementation
  docs/examples/checkbox/errorMessageExample.tsx
  docs/examples/checkbox/stateExample.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Checkbox/InternalCheckbox.css
  packages/gestalt/src/Checkbox/InternalCheckbox.tsx
  packages/gestalt/src/__snapshots__/Checkbox.test.tsx.snap
  packages/gestalt/src/__snapshots__/Fieldset.test.tsx.snap
  packages/gestalt/src/__snapshots__/TagData.test.tsx.snap
  packages/gestalt/src/__snapshots__/TileData.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/FormErrorMessage.tsx
  packages/gestalt/src/sharedSubcomponents/FormHelperText.css
  packages/gestalt/src/sharedSubcomponents/FormHelperText.tsx
Labels: minor release

#3708 Masonry: Support flexible and uniformRow layouts for rendering loading state items
  docs/pages/visual-test/Masonry-renderLoadingItems-flexible.tsx
  docs/pages/visual-test/Masonry-renderLoadingItems-uniformRow.tsx
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/fullWidthLayout.test.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/uniformRowLayout.test.ts
  packages/gestalt/src/Masonry/uniformRowLayout.ts
Labels: minor release

#3703 TextArea: VR Implementation
  docs/examples/textarea/disabled.tsx
  docs/examples/textarea/doAsAffordance.tsx
  docs/examples/textarea/doHelper.tsx
  docs/examples/textarea/doLabel.tsx
  docs/examples/textarea/doRows.tsx
  docs/examples/textarea/dontPlaceholder.tsx
  docs/examples/textarea/dontPlaceholderLabel.tsx
  docs/examples/textarea/dontRows.tsx
  docs/examples/textarea/dontSingleText.tsx
  docs/examples/textarea/enabled.tsx
  docs/examples/textarea/error.tsx
  docs/examples/textarea/helperText.tsx
  docs/examples/textarea/hiddenLabel.tsx
  docs/examples/textarea/label.tsx
  docs/examples/textarea/labelled.tsx
  docs/examples/textarea/maximumLengthEnabled.tsx
  docs/examples/textarea/maximumLengthError.tsx
  docs/examples/textarea/readOnly.tsx
  docs/examples/textarea/rows.tsx
  docs/examples/textarea/tags.tsx
  docs/pages/web/textarea.tsx
  packages/gestalt/src/TextArea.tsx
  packages/gestalt/src/TextArea/VRTextArea.css
  packages/gestalt/src/TextArea/VRTextArea.tsx
  packages/gestalt/src/TextField/VRInternalTextField.css
  packages/gestalt/src/TextField/VRInternalTextField.tsx
  packages/gestalt/src/sharedSubcomponents/FormErrorMessage.css
Labels: patch release

#3709 Toast: VR implementation changes
  docs/examples/defaultlabelprovider/translations.tsx
  docs/pages/web/utilities/defaultlabelprovider.tsx
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.tsx
  packages/gestalt/src/contexts/DefaultLabelProvider.tsx
  packages/gestalt/src/sharedSubcomponents/thumbnailSubcomponents.tsx
Labels: minor release

#3679 Masonry: Initial proposal for dynamic heights on masonry
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/ItemResizeObserverWrapper.tsx
  packages/gestalt/src/Masonry/dynamicHeightsUtils.test.ts
  packages/gestalt/src/Masonry/dynamicHeightsUtils.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release
