Repository pinterest/gestalt, pull requests merged in 2024-12, with the labels that each got.

#3898 Indicator: new component
  docs/docs-components/siteIndex.ts
  docs/examples/indicator/counter.tsx
  docs/examples/indicator/main.tsx
  docs/examples/indicator/notification.tsx
  docs/pages/visual-test/Indicator-dark.tsx
  docs/pages/visual-test/Indicator.tsx
  docs/pages/web/indicator.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Indicator.css
  packages/gestalt/src/Indicator.jsdom.test.tsx
  packages/gestalt/src/Indicator.tsx
  packages/gestalt/src/__snapshots__/Indicator.jsdom.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/index.ts
  playwright/accessibility/web__indicator.spec.ts
  playwright/visual-test/Indicator-dark.spec.ts
  playwright/visual-test/Indicator-dark.spec.ts-snapshots/Indicator-dark-chromium-darwin.png
  playwright/visual-test/Indicator.spec.ts
  playwright/visual-test/Indicator.spec.ts-snapshots/Indicator-chromium-darwin.png
Labels: minor release

#3901 SideNavigation, Tabs, DefaultLabelProvider: implemented Indicator
  docs/examples/defaultlabelprovider/translations.tsx
  docs/pages/web/utilities/defaultlabelprovider.tsx
  packages/gestalt/src/Badge.tsx
  packages/gestalt/src/Indicator.css
  packages/gestalt/src/Indicator.tsx
  packages/gestalt/src/SideNavigation/ItemContent.tsx
  packages/gestalt/src/Tabs.tsx
  packages/gestalt/src/Tabs/Tab.tsx
  packages/gestalt/src/Tabs/subcomponents.tsx
  packages/gestalt/src/__snapshots__/Indicator.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/__snapshots__/Tabs.test.tsx.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.tsx
  packages/gestalt/src/contexts/DefaultLabelProvider.tsx
Labels: major release

#3902 Popover, PopoverEducational: VR adjusments
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Popover/InternalPopover.tsx
  packages/gestalt/src/PopoverEducational.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3904 Spinner: Intro animation refinements
  packages/gestalt/src/Spinner/VRSpinner.css
  packages/gestalt/src/Spinner/VRSpinner.tsx
Labels: patch release

#3906 BannerCallout: Remove Children.only logic prone to break if message is undefined in runtime
  packages/gestalt/src/BannerCallout.tsx
Labels: patch release

#3907 List: remove color override in Text node
  packages/gestalt/src/List/Message.tsx
  packages/gestalt/src/__snapshots__/List.test.tsx.snap
Labels: patch release

#3905 SideNavigation: Add disable and helper text props
  docs/examples/sidenavigation/disableItemExample.tsx
  docs/examples/sidenavigation/subtextItemExample.tsx
  docs/pages/web/sidenavigation.tsx
  packages/gestalt/src/SideNavigation.test.tsx
  packages/gestalt/src/SideNavigation/ItemContent.tsx
  packages/gestalt/src/SideNavigationNestedItem.tsx
  packages/gestalt/src/SideNavigationTopItem.tsx
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
Labels: minor release

#3908 Icon: Update Icons [Gestalt-8459]
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/src/classic/ic_bell-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_chevron-up-circle_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_circle-ellipsis_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_circle-information-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_circle_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_code_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_conversion-tag_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_credit-card_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_face-smiley-outline_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_facebook_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_flash-slash_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_flash_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_heart-broken_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_home-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_microphone_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_person-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_pin-hide_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_pinterest_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_search-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_shapes_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_smiley_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_speech-ellipsis-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_add-section_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_camera_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_chevron-up-circle_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_facebook_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_folder_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_manage-access_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_pinterest_gestalt.svg
  packages/gestalt/src/icons-vr-theme/add-section.svg
  packages/gestalt/src/icons-vr-theme/camera.svg
  packages/gestalt/src/icons-vr-theme/chevron-up-circle.svg
  packages/gestalt/src/icons-vr-theme/facebook.svg
  packages/gestalt/src/icons-vr-theme/folder.svg
  packages/gestalt/src/icons-vr-theme/manage-access.svg
  packages/gestalt/src/icons-vr-theme/pinterest.svg
  packages/gestalt/src/icons/bell-fill.svg
  packages/gestalt/src/icons/chevron-up-circle.svg
  packages/gestalt/src/icons/circle-ellipsis.svg
  packages/gestalt/src/icons/circle-information-fill.svg
  packages/gestalt/src/icons/circle.svg
  packages/gestalt/src/icons/code.svg
  packages/gestalt/src/icons/conversion-tag.svg
  packages/gestalt/src/icons/credit-card.svg
  packages/gestalt/src/icons/face-smiley-outline.svg
  packages/gestalt/src/icons/facebook.svg
  packages/gestalt/src/icons/flash-slash.svg
  packages/gestalt/src/icons/flash.svg
  packages/gestalt/src/icons/heart-broken.svg
  packages/gestalt/src/icons/home-fill.svg
  packages/gestalt/src/icons/microphone.svg
  packages/gestalt/src/icons/person-fill.svg
  packages/gestalt/src/icons/pin-hide.svg
  packages/gestalt/src/icons/pinterest.svg
  packages/gestalt/src/icons/search-fill.svg
  packages/gestalt/src/icons/shapes.svg
  packages/gestalt/src/icons/smiley.svg
  packages/gestalt/src/icons/speech-ellipsis-fill.svg
Labels: minor release

#3913 Masonry: Update fluid grid to not floor column width (take two)
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  playwright/masonry/flexible-resize.spec.ts
Labels: patch release
