Repository pinterest/gestalt, pull requests merged in 2024-10, with the labels that each got.

#3774 Spinner: VR implementation changes
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme/comp/spinner.json
  packages/gestalt/src/Spinner.tsx
  packages/gestalt/src/Spinner/VRSpinner.css
  packages/gestalt/src/Spinner/VRSpinner.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3784 IconButtonFloating: reverting circle to squircle
  packages/gestalt/src/IconButton/InternalIconButton.tsx
  packages/gestalt/src/IconButtonFloating.tsx
Labels: patch release

#3788 ButtonLink: VR implementation changes
  docs/examples/button/disabled.tsx
  docs/examples/button/enabled.tsx
  docs/examples/button/focus.tsx
  docs/examples/button/width.tsx
  docs/examples/buttonlink/colors.tsx
  docs/examples/buttonlink/disabled.tsx
  docs/examples/buttonlink/enabled.tsx
  docs/examples/buttonlink/focus.tsx
  docs/examples/buttonlink/iconEnd.tsx
  docs/examples/buttonlink/iconTooltipToExplainDo.tsx
  docs/examples/buttonlink/iconTooltipToExplainDont.tsx
  docs/examples/buttonlink/localizationLabels.tsx
  docs/examples/buttonlink/main.tsx
  docs/examples/buttonlink/placePrimaryButtonDo.tsx
  docs/examples/buttonlink/placePrimaryButtonDont.tsx
  docs/examples/buttonlink/relAndTargetExample.tsx
  docs/examples/buttonlink/showFullTextDo.tsx
  docs/examples/buttonlink/showFullTextDont.tsx
  docs/examples/buttonlink/washColors.tsx
  docs/examples/buttonlink/width.tsx
  docs/examples/buttontoggle/focus.tsx
  docs/pages/web/button.tsx
  docs/pages/web/buttonlink.tsx
  docs/pages/web/buttontoggle.tsx
  docs/pages/web/taparea.tsx
  packages/gestalt/src/ButtonLink.tsx
  packages/gestalt/src/Link/InternalLink.tsx
Labels: minor release

#3790 Docs: removed hidden examples for VR
  docs/pages/web/iconbutton.tsx
  docs/pages/web/iconbuttonlink.tsx
Labels: patch release

#3791 TapArea: fix focus token to support built-in darkmode
  packages/gestalt/src/Focus.css
  packages/gestalt/src/Text.css
Labels: patch release

#3786 Tokens: Refactor Token Build Script
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/package.json
  packages/gestalt-design-tokens/src/build.js
  packages/gestalt-design-tokens/src/filters.js
  packages/gestalt-design-tokens/src/formatters/registerWebFormats.js
  packages/gestalt-design-tokens/src/getSources.js
  packages/gestalt-design-tokens/src/headers/fileheader.js
  packages/gestalt-design-tokens/src/platforms/android.js
  packages/gestalt-design-tokens/src/platforms/ios.js
  packages/gestalt-design-tokens/src/platforms/web.js
  packages/gestalt-design-tokens/src/transformers/transformGroups.js
  packages/gestalt-design-tokens/src/transformers/transforms.js
  packages/gestalt-design-tokens/src/utils/buildShadowValue.js
  packages/gestalt-design-tokens/src/utils/getFilter.js
  packages/gestalt-design-tokens/src/utils/hexToRgba.js
Labels: patch release

#3792 Docs: Fix Tokens Page not loading
  docs/pages/foundations/design_tokens/overview.tsx
Labels: patch release

#3794 TextField, SelectList, DateField, DatePicker: center iconEnd in VR
  packages/gestalt-datepicker/src/DatePicker/VRDateInput.css
  packages/gestalt-datepicker/src/DatePicker/VRDateInput.tsx
  packages/gestalt/src/ComboBox.tsx
  packages/gestalt/src/SelectList/IconEnd.tsx
  packages/gestalt/src/SelectList/VRSelectList.css
  packages/gestalt/src/TextField.tsx
  packages/gestalt/src/TextField/IconButtonEnd.tsx
Labels: patch release

#3795 Icon: vertical-align unset when within Text
  packages/gestalt/src/Text.css
Labels: patch release

#3772 SearchGuide: New Component + VR Implementation
  docs/docs-components/data/components.tsx
  docs/docs-components/siteIndex.ts
  docs/examples/searchguide/avatarExample.tsx
  docs/examples/searchguide/colors.tsx
  docs/examples/searchguide/expandableExample.tsx
  docs/examples/searchguide/hideLowQualityDo.tsx
  docs/examples/searchguide/main.tsx
  docs/examples/searchguide/noScrollDo.tsx
  docs/examples/searchguide/selectedStateExample.tsx
  docs/examples/searchguide/serialDo.tsx
  docs/examples/searchguide/showLowQualityDont.tsx
  docs/examples/searchguide/singleDont.tsx
  docs/examples/searchguide/startOfScreenDo.tsx
  docs/examples/searchguide/truncateSearchQueriesDont.tsx
  docs/examples/searchguide/upToNineDo.tsx
  docs/examples/searchguide/upToNineDont.tsx
  docs/examples/searchguide/verticalScrollDont.tsx
  docs/examples/searchguidelink/avatarExample.tsx
  docs/examples/searchguidelink/colors.tsx
  docs/examples/searchguidelink/hideLowQualityDo.tsx
  docs/examples/searchguidelink/main.tsx
  docs/examples/searchguidelink/noScrollDo.tsx
  docs/examples/searchguidelink/serialDo.tsx
  docs/examples/searchguidelink/showLowQualityDont.tsx
  docs/examples/searchguidelink/singleDont.tsx
  docs/examples/searchguidelink/startOfScreenDo.tsx
  docs/examples/searchguidelink/truncateSearchQueriesDont.tsx
  docs/examples/searchguidelink/upToNineDo.tsx
  docs/examples/searchguidelink/upToNineDont.tsx
  docs/examples/searchguidelink/verticalScrollDont.tsx
  docs/graphics/general/SearchGuideLink.svg
  docs/pages/visual-test/SearchGuide-dark.tsx
  docs/pages/visual-test/SearchGuide.tsx
  docs/pages/visual-test/SearchGuideLink-dark.tsx
  docs/pages/visual-test/SearchGuideLink.tsx
  docs/pages/web/searchguide.tsx
  docs/pages/web/searchguidelink.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.jsdom.test.tsx
  packages/gestalt/src/SearchGuide.test.tsx
  packages/gestalt/src/SearchGuide.tsx
  packages/gestalt/src/SearchGuideLink.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/index.ts
  playwright/accessibility/web__searchguide.spec.ts
  playwright/accessibility/web__searchguidelink.spec.ts
  playwright/visual-test/SearchGuide-dark.spec.ts
  playwright/visual-test/SearchGuide-dark.spec.ts-snapshots/SearchGuide-dark-chromium-darwin.png
  playwright/visual-test/SearchGuide.spec.ts
  playwright/visual-test/SearchGuide.spec.ts-snapshots/SearchGuide-chromium-darwin.png
  playwright/visual-test/SearchGuideLink-dark.spec.ts
  playwright/visual-test/SearchGuideLink.spec.ts
Labels: minor release

#3796 Avatar/AvatarGroup: Fix for broken default sizing on VR
  docs/examples/avatar/colorExample.tsx
  packages/gestalt/src/Avatar/InternalAvatar.tsx
  packages/gestalt/src/__snapshots__/Avatar.test.tsx.snap
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.tsx.snap
Labels: patch release

#3744 Popover, Dropdown, PopoverEducational: support `forcePosition` prop
  docs/examples/popover/a11y.tsx
  docs/examples/popover/main.tsx
  docs/examples/popover/variantIdealDirection.tsx
  packages/gestalt/src/Caret.tsx
  packages/gestalt/src/Dropdown.tsx
  packages/gestalt/src/Layer.tsx
  packages/gestalt/src/Popover.tsx
  packages/gestalt/src/Popover/Contents.tsx
  packages/gestalt/src/Popover/Controller.tsx
  packages/gestalt/src/Popover/InternalPopover.tsx
  packages/gestalt/src/Popover/usePopover.ts
  packages/gestalt/src/PopoverEducational.tsx
  packages/gestalt/src/utils/positioningTypes.ts
  packages/gestalt/src/utils/positioningUtils.ts
Labels: major release

#3797 RadioGroupButton: VR motion implementation
  packages/gestalt-design-tokens/src/getSources.js
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme/comp/radiogroupbutton.json
  packages/gestalt/src/ButtonToggle.tsx
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/RadioGroupButton.tsx
  packages/gestalt/src/__snapshots__/RadioGroup.test.tsx.snap
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/utils/tapScaleAnimation.css
  packages/gestalt/src/utils/useTapScaleAnimation.ts
Labels: minor release

#3800 SearchGuide: Renaming Examples
  docs/examples/searchguide/avatar.tsx
  docs/examples/searchguide/expandable.tsx
  docs/examples/searchguide/selectedState.tsx
  docs/examples/searchguidelink/avatar.tsx
  docs/pages/web/searchguide.tsx
  docs/pages/web/searchguidelink.tsx
Labels: patch release

#3799 SearchGuide: Fixing issue with selected/focus and shrinking image
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.tsx
Labels: patch release

#3798 DatePicker: support SheetMobile for mobile
  docs/examples/datepicker/main.tsx
  docs/examples/datepicker/mobile.tsx
  docs/examples/defaultlabelprovider/translations.tsx
  docs/pages/web/datepicker.tsx
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.tsx
  packages/gestalt-datepicker/src/DatePicker.tsx
  packages/gestalt-datepicker/src/DatePicker/DateInput.tsx
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.tsx
  packages/gestalt-datepicker/src/__snapshots__/DatePicker.jsdom.test.tsx.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.tsx
  packages/gestalt/src/contexts/DefaultLabelProvider.tsx
Labels: minor release

#3801 SearchGuide: Fixes and docs improvements
  docs/examples/searchguide/avatar.tsx
  docs/examples/searchguide/avatargroup.tsx
  docs/examples/searchguide/expandable.tsx
  docs/examples/searchguide/expandableVariants.tsx
  docs/examples/searchguide/icon.tsx
  docs/examples/searchguide/image.tsx
  docs/examples/searchguide/selectedState.tsx
  docs/pages/web/searchguide.tsx
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.tsx
Labels: minor release

#3806 DateRange: add example for secondary date errors (web)
  docs/examples/daterange/secondaryErrorMessages.tsx
  docs/pages/web/daterange.tsx
  packages/gestalt-datepicker/src/DateRange.tsx
Labels: patch release

#3807 Internal: Bump next from 12.3.0 to 14.2.10 #3803
  docs/docs-components/MarkdownPage.tsx
  docs/next-env.d.ts
  docs/package.json
  yarn.lock
Labels: patch release

#3793 Tokens: Add XFN Component Tokens
  packages/gestalt-design-tokens/src/filters.js
  packages/gestalt-design-tokens/src/getSources.js
  packages/gestalt-design-tokens/src/platforms/android.js
  packages/gestalt-design-tokens/src/platforms/ios.js
  packages/gestalt-design-tokens/src/platforms/web.js
  packages/gestalt-design-tokens/tests/__snapshots__/android.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/dist.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/ios.test.js.snap
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme/$metadata.json
  packages/gestalt-design-tokens/tokens/vr-theme/$themes.json
  packages/gestalt-design-tokens/tokens/vr-theme/base/motion.json
  packages/gestalt-design-tokens/tokens/vr-theme/comp/radiogroupbutton/default.json
  packages/gestalt-design-tokens/tokens/vr-theme/comp/spinner/default.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3810 ButtonToggle: Fix VR scale animation
  packages/gestalt/src/ButtonToggle.tsx
Labels: patch release

#3813 SelectList: fix placeholder color
  packages/gestalt/src/SelectList.css
  packages/gestalt/src/SelectList.tsx
  packages/gestalt/src/SelectList/VRSelectList.css
  packages/gestalt/src/SelectList/VRSelectList.tsx
  packages/gestalt/src/__snapshots__/SelectList.test.tsx.snap
Labels: patch release

#3815 Internal: Revert "Internal: Bump next from 12.3.0 to 14.2.10 #3803 (#3807)"
  docs/docs-components/MarkdownPage.tsx
  docs/next-env.d.ts
  docs/package.json
  yarn.lock
Labels: patch release

#3808 Icon: Update Icons [GESTALT-8450]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/pages/foundations/international_design/rtl_guidelines/iconography.tsx
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
  packages/gestalt-icons-android/src/classic/ic_add-small_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_arrow-small-up-right_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_cancel-small_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_check-small_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_chevron-small-down_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_chevron-small-left_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_chevron-small-right_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_chevron-small-up_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_dash-small_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_folder-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_ghost-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_ghost_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_add-small_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_arrow-small-up-right_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_cancel-small_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_check-small_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_chevron-small-down_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_chevron-small-left_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_chevron-small-right_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_chevron-small-up_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_dash-small_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_folder-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_ghost-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_ghost_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/Icon.tsx
  packages/gestalt/src/icons-vr-theme/add-small.svg
  packages/gestalt/src/icons-vr-theme/arrow-small-up-right.svg
  packages/gestalt/src/icons-vr-theme/cancel-small.svg
  packages/gestalt/src/icons-vr-theme/check-small.svg
  packages/gestalt/src/icons-vr-theme/chevron-small-down.svg
  packages/gestalt/src/icons-vr-theme/chevron-small-left.svg
  packages/gestalt/src/icons-vr-theme/chevron-small-right.svg
  packages/gestalt/src/icons-vr-theme/chevron-small-up.svg
  packages/gestalt/src/icons-vr-theme/dash-small.svg
  packages/gestalt/src/icons-vr-theme/folder-fill.svg
  packages/gestalt/src/icons-vr-theme/ghost-fill.svg
  packages/gestalt/src/icons-vr-theme/ghost.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons/add-small.svg
  packages/gestalt/src/icons/arrow-small-up-right.svg
  packages/gestalt/src/icons/cancel-small.svg
  packages/gestalt/src/icons/check-small.svg
  packages/gestalt/src/icons/chevron-small-down.svg
  packages/gestalt/src/icons/chevron-small-left.svg
  packages/gestalt/src/icons/chevron-small-right.svg
  packages/gestalt/src/icons/chevron-small-up.svg
  packages/gestalt/src/icons/dash-small.svg
  packages/gestalt/src/icons/folder-fill.svg
  packages/gestalt/src/icons/ghost-fill.svg
  packages/gestalt/src/icons/ghost.svg
  packages/gestalt/src/icons/index.ts
Labels: major release

#3818 PopoverEducational: Add Experimental Prop for Notification (background color change)
  packages/gestalt/src/PopoverEducational.tsx
Labels: minor release

#3819 Docs: Card.iOS renamed to Module and Figma embeds relinked.
  docs/docs-components/siteIndex.ts
  docs/markdown/ios/card/card.boards.md
  docs/markdown/ios/card/card.header.md
  docs/markdown/ios/card/card.md
  docs/markdown/ios/card/card.pins.md
  docs/markdown/ios/module/module.boards.md
  docs/markdown/ios/module/module.header.md
  docs/markdown/ios/module/module.md
  docs/markdown/ios/module/module.pins.md
  docs/redirects.js
  playwright/accessibility/ios__module__module.boards.spec.ts
  playwright/accessibility/ios__module__module.header.spec.ts
  playwright/accessibility/ios__module__module.pins.spec.ts
  playwright/accessibility/ios__module__module.spec.ts
Labels: patch release, docs-update

#3817 Masonry: Log number of iterations it takes to find optimal whitespace
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  packages/gestalt/src/Masonry/types.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: minor release

#3820 PopoverEducational: fix to color text
  packages/gestalt/src/PopoverEducational.css
  packages/gestalt/src/PopoverEducational.tsx
  packages/gestalt/src/__snapshots__/PopoverEducational.jsdom.test.tsx.snap
Labels: patch release

#3821 Masonry: Add support for loading states to v2
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: minor release

#3823 Docs: updated TextUI TextCompact descriptions
  packages/gestalt/src/TextCompact.tsx
  packages/gestalt/src/TextUI.tsx
Labels: patch release

#3825 Masonry: Enable whitespaceThreshold prop
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#3824 Icon: VR error color fix
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/sema-color.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#3826 Link: fix aria-selected values for accessibility
  packages/gestalt/src/Link/InternalLink.tsx
Labels: patch release

#3828 Box: fix rounding bug introduced in #3822
  packages/gestalt-datepicker/src/__snapshots__/DatePicker.jsdom.test.tsx.snap
  packages/gestalt/src/Accordion/__snapshots__/ExpandableItem.test.tsx.snap
  packages/gestalt/src/Video/__snapshots__/Controls.test.tsx.snap
  packages/gestalt/src/Video/__snapshots__/Playhead.test.tsx.snap
  packages/gestalt/src/__snapshots__/Accordion.test.tsx.snap
  packages/gestalt/src/__snapshots__/AccordionExpandable.test.tsx.snap
  packages/gestalt/src/__snapshots__/ActivationCard.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerCallout.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/Box.test.tsx.snap
  packages/gestalt/src/__snapshots__/ComboBox.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/SelectList.test.tsx.snap
  packages/gestalt/src/__snapshots__/SheetMobile.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/SideNavigation.test.tsx.snap
  packages/gestalt/src/__snapshots__/Table.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableOfContents.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.tsx.snap
  packages/gestalt/src/__snapshots__/Tabs.test.tsx.snap
  packages/gestalt/src/__snapshots__/Tag.test.tsx.snap
  packages/gestalt/src/__snapshots__/TagData.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextArea.test.tsx.snap
  packages/gestalt/src/__snapshots__/TextField.test.tsx.snap
  packages/gestalt/src/__snapshots__/TileData.test.tsx.snap
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
  packages/gestalt/src/__snapshots__/Video.test.tsx.snap
  packages/gestalt/src/boxTransforms.ts
  packages/gestalt/src/transforms.ts
Labels: patch release

#3831 Link: fix link token for Link
  packages/gestalt/src/Text.css
Labels: patch release

#3829 TextField: TextField VR adjusments
  packages/gestalt/src/TextField/VRInternalTextField.css
Labels: patch release

#3833 SelectList: fixes VR
  docs/examples/selectlist/disabled.tsx
  docs/examples/selectlist/enabled.tsx
  docs/examples/selectlist/error.tsx
  docs/examples/selectlist/helperText.tsx
  docs/examples/selectlist/labelVisible.tsx
  docs/examples/selectlist/labelled.tsx
  packages/gestalt/src/SelectList/IconEnd.tsx
  packages/gestalt/src/SelectList/VRSelectList.css
  packages/gestalt/src/SelectList/VRSelectList.tsx
Labels: patch release

#3834 SearchField: fix VR issues
  docs/examples/searchfield/errorExample.tsx
  docs/examples/searchfield/sizesExample.tsx
  packages/gestalt/src/SearchField/VRSearchField.css
  packages/gestalt/src/SearchField/VRSearchField.tsx
  packages/gestalt/src/sharedSubcomponents/FormErrorMessage.tsx
Labels: patch release

#3835 ComboBox: completed examples for testing
  docs/examples/combobox/helperText.tsx
  docs/examples/combobox/subtext.tsx
Labels: patch release

#3836 Icon: Update Icons [GESTALT-8491]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/src/classic/ic_layers-stack_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_magnifying-glass-sparkle_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_layers-stack_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_magnifying-glass-sparkle_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/layers-stack.svg
  packages/gestalt/src/icons-vr-theme/magnifying-glass-sparkle.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/layers-stack.svg
  packages/gestalt/src/icons/magnifying-glass-sparkle.svg
Labels: minor release

#3840 ButtonGroup: VR Implementation
  packages/gestalt/src/ButtonGroup.tsx
Labels: minor release

#3839 DateField: VR fixes
  docs/examples/datefield/main.tsx
  docs/examples/datefield/sizes.tsx
  packages/gestalt-datepicker/src/DateField/VRInternalDateField.css
  packages/gestalt-datepicker/src/DateField/VRInternalDateField.tsx
Labels: patch release

#3802 Button: VR Certification Fixes
  docs/examples/button/iconExample.tsx
  docs/pages/web/button.tsx
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.tsx
Labels: patch release

#3841 SelectList, DatePicker, DateField: fix min heights in VR
  packages/gestalt-datepicker/src/DateField/VRInternalDateField.css
  packages/gestalt-datepicker/src/DatePicker/VRDateInput.css
  packages/gestalt/src/SearchField/VRSearchField.css
Labels: patch release
