Repository pinterest/gestalt, pull requests merged in 2024-03, with the labels that each got.

#3458 Masonry: Fix initial flash for two-column mode
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3376 TextField: Update Docs examples and cleanup
  docs/pages/web/combobox.js
  docs/pages/web/numberfield.js
  docs/pages/web/textfield.js
  packages/gestalt/src/ComboBox.js
  packages/gestalt/src/NumberField.js
  packages/gestalt/src/TagData.js
  packages/gestalt/src/TextField.js
  packages/gestalt/src/shared/FormLabel.js
Labels: patch release

#3457 TagData: Fix Heights and Captions
  packages/gestalt/src/TagData.css
  packages/gestalt/src/TagData.js
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
  playwright/visual-test/TagData-dark.spec.mjs-snapshots/TagData-dark-chromium-darwin.png
  playwright/visual-test/TagData.spec.mjs-snapshots/TagData-chromium-darwin.png
Labels: patch release

#3464 Docs: Newsletter Feb 2024
  docs/pages/BlogPosts.json
Labels: patch release

#3462 TagData: Move to BreakAll
  packages/gestalt/src/TagData.js
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
Labels: minor release

#3467 Internal: run all visual snapshots for updated snapshots of components
  playwright/visual-test/BannerUpsell-dark.spec.mjs-snapshots/BannerUpsell-dark-chromium-darwin.png
  playwright/visual-test/BannerUpsell.spec.mjs-snapshots/BannerUpsell-chromium-darwin.png
  playwright/visual-test/DateRange-dark.spec.mjs-snapshots/DateRange-dark-chromium-darwin.png
  playwright/visual-test/DateRange.spec.mjs-snapshots/DateRange-light-chromium-darwin.png
  playwright/visual-test/SegmentedControl-dark.spec.mjs-snapshots/SegmentedControl-dark-chromium-darwin.png
  playwright/visual-test/SegmentedControl.spec.mjs-snapshots/SegmentedControl-chromium-darwin.png
  playwright/visual-test/TableOfContents-dark.spec.mjs-snapshots/TableOfContents-dark-chromium-darwin.png
  playwright/visual-test/TableOfContents.spec.mjs-snapshots/TableOfContents-light-chromium-darwin.png
  playwright/visual-test/Toast-dark.spec.mjs-snapshots/Toast-dark-chromium-darwin.png
  playwright/visual-test/Toast.spec.mjs-snapshots/Toast-chromium-darwin.png
Labels: patch release

#3459 Internal: migration to token constants
  docs/docs-components/AppLayout.js
  docs/docs-components/Checkerboard.js
  docs/docs-components/MarkdownPage.js
  docs/docs-components/PatternBarFill.js
  docs/docs-components/PatternLineMarker.js
  docs/docs-components/TokenExample.js
  docs/docs-components/YearInReviewBanner.js
  docs/examples/accessibility/useFocusVisibleExample.js
  docs/examples/hacking_gestalt/dangerouslySetInlineStyle.js
  docs/examples/image/placeholderColorUsage.js
  docs/examples/sidenavigation/correctHeadingExample.js
  docs/examples/usefocusvisible/exampleButtons.js
  docs/graphics/home-page/HeroGraphic.js
  docs/pages/foundations/color/palette.js
  docs/pages/web/chartgraph.js
  docs/pages/web/mask.js
  docs/pages/whats_new.js
  docs/pages/year_in_review_2022.js
  docs/pages/year_in_review_2023.js
  packages/gestalt-charts/src/ChartGraph.js
  packages/gestalt-charts/src/ChartGraph/renderAxis.js
  packages/gestalt-charts/src/ChartGraph/renderGraphPoint.js
  packages/gestalt-charts/src/ChartGraph/usePatterns.js
  packages/gestalt-design-tokens/package.json
  packages/gestalt/src/Avatar.js
  packages/gestalt/src/Avatar/Foundation.js
  packages/gestalt/src/ListItem.js
  packages/gestalt/src/SelectList.js
  packages/gestalt/src/SideNavigation/GroupContent.js
  packages/gestalt/src/SideNavigation/GroupMobile.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/Tabs.js
  packages/gestalt/src/Tag.js
  packages/gestalt/src/TextField/InternalTextField.js
  packages/gestalt/src/__snapshots__/TagData.test.js.snap
  packages/gestalt/src/__snapshots__/TileData.test.js.snap
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.js
  packages/gestalt/src/utils/datavizcolors/getCheckboxColor.test.js
Labels: major release

#3471 Tokens: generate commonJS constant file
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/package.json
Labels: patch release

#3469 Button: Fix Font Sizing
  packages/gestalt/src/Button.js
  packages/gestalt/src/ButtonLink.js
  packages/gestalt/src/__snapshots__/BannerSlim.test.js.snap
  packages/gestalt/src/__snapshots__/Toast.test.js.snap
Labels: patch release

#3466 Tokens: Refactored tokens style-dictionary build
  docs/docs-components/TokenTable.js
  docs/pages/foundations/design_tokens/overview.js
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/config.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/alias-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/alias-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/base.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/component-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/component-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/data-visualization/alias-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/data-visualization/alias-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/data-visualization/base-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/mainTheme/data-visualization/base-lightTheme.json
  packages/gestalt-design-tokens/tokens/elevation/mainTheme/base-darkTheme.json
  packages/gestalt-design-tokens/tokens/elevation/mainTheme/base-lightTheme.json
  packages/gestalt-design-tokens/tokens/elevation/mainTheme/component-darkTheme.json
  packages/gestalt-design-tokens/tokens/elevation/mainTheme/component-lightTheme.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.js.snap
Labels: patch release

#3470 Docs: Fix md page width
  docs/docs-components/MarkdownPage.js
  docs/markdown/team_support/contributions.md
Labels: patch release

#3473 Masonry: Enable two column module on secod batch
  docs/integration-test-helpers/masonry/MasonryContainer.js
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
  playwright/masonry/two-module.spec.mjs
Labels: patch release

#3477 ESLint plugin: `only-valid-tokens`
  docs/pages/get_started/developers/eslint_plugin.js
  packages/eslint-plugin-gestalt/README.md
  packages/eslint-plugin-gestalt/rollup.config.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/invalid/dangerouslySetInlineStyle-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/invalid/dangerouslySetInlineStyle-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/invalid/inline-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/invalid/inline-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/invalid/unsafeCss-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/invalid/unsafeCss-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/invalid/variable-input.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/invalid/variable-output.js
  packages/eslint-plugin-gestalt/src/__fixtures__/only-valid-tokens/valid/valid.js
  packages/eslint-plugin-gestalt/src/index.js
  packages/eslint-plugin-gestalt/src/only-valid-tokens.js
  packages/eslint-plugin-gestalt/src/only-valid-tokens.test.js
Labels: minor release

#3474 Tokens: theming folders and config for automatic token builds
  packages/gestalt-design-tokens/build.js
  packages/gestalt-design-tokens/tokens/color/main-theme/alias-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/main-theme/alias-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/main-theme/base.json
  packages/gestalt-design-tokens/tokens/color/main-theme/component-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/main-theme/component-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/main-theme/data-visualization/alias-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/main-theme/data-visualization/alias-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/main-theme/data-visualization/base-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/main-theme/data-visualization/base-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/alias-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/alias-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/base.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/component-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/component-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/data-visualization/alias-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/data-visualization/alias-lightTheme.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/data-visualization/base-darkTheme.json
  packages/gestalt-design-tokens/tokens/color/vr-theme/data-visualization/base-lightTheme.json
  packages/gestalt-design-tokens/tokens/elevation/main-theme/base-darkTheme.json
  packages/gestalt-design-tokens/tokens/elevation/main-theme/base-lightTheme.json
  packages/gestalt-design-tokens/tokens/elevation/main-theme/component-darkTheme.json
  packages/gestalt-design-tokens/tokens/elevation/main-theme/component-lightTheme.json
  packages/gestalt-design-tokens/tokens/elevation/vr-theme/base-darkTheme.json
  packages/gestalt-design-tokens/tokens/elevation/vr-theme/base-lightTheme.json
  packages/gestalt-design-tokens/tokens/elevation/vr-theme/component-darkTheme.json
  packages/gestalt-design-tokens/tokens/elevation/vr-theme/component-lightTheme.json
Labels: minor release

#3481 Icon: Add arrow double icons
  packages/gestalt/dist/index.d.ts
  packages/gestalt/src/icons/arrow-double-back.svg
  packages/gestalt/src/icons/arrow-double-forward.svg
  packages/gestalt/src/icons/index.js
Labels: minor release

#3483 Internal: testing data-id for HelixBot to detect page title
  docs/docs-components/PageHeader.js
Labels: patch release

#3476 SideNavigation: Collapsible SideNavigation
  docs/docs-components/AppLayout.js
  docs/examples/defaultlabelprovider/translations.js
  docs/examples/sidenavigation/collapsibleExample.js
  docs/examples/sidenavigation/collapsibleHeaderExample.js
  docs/examples/sidenavigation/collapsibleWithMixedIconsExample.js
  docs/examples/sidenavigation/collapsibleWithoutIconsExample.js
  docs/examples/sidenavigation/localizationLabels.js
  docs/pages/web/sidenavigation.js
  packages/gestalt/src/SideNavigation.css
  packages/gestalt/src/SideNavigation.css.flow
  packages/gestalt/src/SideNavigation.js
  packages/gestalt/src/SideNavigation/Collapser.js
  packages/gestalt/src/SideNavigation/GroupContent.js
  packages/gestalt/src/SideNavigation/ItemsEllipsis.js
  packages/gestalt/src/SideNavigation/NavigationContent.js
  packages/gestalt/src/SideNavigation/getChildrenToArray.js
  packages/gestalt/src/SideNavigation/navigationChildrenUtils.js
  packages/gestalt/src/SideNavigationGroup.js
  packages/gestalt/src/SideNavigationSection.js
  packages/gestalt/src/SideNavigationTopItem.js
  packages/gestalt/src/__snapshots__/SideNavigation.test.js.snap
  packages/gestalt/src/contexts/DefaultLabelProvider.js
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.js
  packages/gestalt/src/contexts/SideNavigationProvider.js
  packages/gestalt/src/utils/flattenChildren.js
Labels: minor release

#3482 Masonry: Adds a data attribute for two column module on ssr
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3480 Masonry: Update scroll performance test
  playwright/masonry/scroll-performance.spec.mjs
Labels: patch release

#3487 Masonry: Revert splitIndex change
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3488 Masonry: Render tcm in position on first line
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3486 PopoverEducational: fix zIndex bug + add example
  docs/examples/popovereducational/zIndex.js
  docs/pages/web/popovereducational.js
  packages/gestalt/src/LegacyContents.js
  packages/gestalt/src/LegacyController.js
  packages/gestalt/src/Popover/LegacyInternalPopover.js
  packages/gestalt/src/PopoverEducational.js
  packages/gestalt/src/__snapshots__/LegacyController.jsdom.test.js.snap
Labels: patch release

#3492 Masonry: Positions tcm correctly for last item on first row
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release

#3493 Docs: Figma embed fixes
  docs/markdown/ios/avatar.md
  docs/markdown/ios/avatargroup.md
  docs/markdown/ios/textfield.md
Labels: patch release

#3465 Masonry: seeded random values for deterministic integration tests
  docs/integration-test-helpers/masonry/MasonryContainer.js
  docs/integration-test-helpers/masonry/items-utils/generateExampleItems.js
  docs/integration-test-helpers/masonry/items-utils/generateRealisticExampleItems.js
  docs/pages/integration-test/masonry.js
Labels: patch release

#3498 SideNavigation: Display scrollbar only when content overflows
  packages/gestalt/src/SideNavigation.css
Labels: patch release

#3496 Masonry: Multi column feature, fix first row items position when batch is small
  packages/gestalt/src/Masonry.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.js
  packages/gestalt/src/Masonry/defaultTwoColumnModuleLayout.test.js
Labels: patch release
