Repository pinterest/gestalt, pull requests merged in 2025-02, with the labels that each got.

#3973 Tabs: support new icon prop #3972
  docs/examples/tabs/icons.tsx
  docs/pages/web/tabs.tsx
  packages/gestalt/src/Tabs.tsx
  packages/gestalt/src/Tabs/Tab.tsx
  packages/gestalt/src/__snapshots__/Tabs.test.tsx.snap
Labels: minor release

#3974 BannerUpsell: VR fixes & title as required
  docs/examples/bannerupsell/textVariant.tsx
  docs/pages/web/bannerupsell.tsx
  packages/gestalt/src/BannerUpsell.css
  packages/gestalt/src/BannerUpsell.jsdom.test.tsx
  packages/gestalt/src/BannerUpsell.test.tsx
  packages/gestalt/src/BannerUpsell.tsx
  packages/gestalt/src/BannerUpsell/VRBannerUpsell.tsx
  packages/gestalt/src/BannerUpsellForm.tsx
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsellForm.test.tsx.snap
Labels: major release

#3975 BannerOverlay: fix examples with logo
  docs/examples/banneroverlay/desktop.tsx
  docs/examples/banneroverlay/doEducate.tsx
  docs/examples/banneroverlay/doNavigate.tsx
  docs/examples/banneroverlay/dontStack.tsx
  docs/examples/banneroverlay/main.tsx
  docs/examples/banneroverlay/message.tsx
  docs/examples/banneroverlay/mobile.tsx
Labels: patch release

#3977 Masonry: Adding Window type to scroll container
  docs/integration-test-helpers/masonry/MasonryContainer.tsx
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/ScrollContainer.ts
  packages/gestalt/src/Masonry/scrollUtils.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: minor release

#3978 RadioGroup: VR changes
  docs/examples/radiogroup/addingABadgeExample.tsx
  docs/examples/radiogroup/addingAPopoverExample.tsx
  docs/pages/web/radiogroup.tsx
  packages/gestalt/src/Borders.css
  packages/gestalt/src/Fieldset.tsx
  packages/gestalt/src/Fieldset/InternalFieldset.css
  packages/gestalt/src/Fieldset/InternalFieldset.tsx
  packages/gestalt/src/Fieldset/VRFieldset.css
  packages/gestalt/src/Fieldset/VRFieldset.tsx
  packages/gestalt/src/RadioButton.css
  packages/gestalt/src/RadioButton.tsx
  packages/gestalt/src/RadioButtonCheckbox.css
  packages/gestalt/src/RadioGroup.tsx
  packages/gestalt/src/RadioGroup/RadioButton.css
  packages/gestalt/src/RadioGroup/RadioButton.tsx
  packages/gestalt/src/RadioGroupButton.tsx
  packages/gestalt/src/__snapshots__/Fieldset.test.tsx.snap
  packages/gestalt/src/__snapshots__/RadioGroup.test.tsx.snap
  packages/gestalt/src/sharedSubcomponents/FormHelperText.css
Labels: minor release

#3979 Checkbox: background fix on VR
  packages/gestalt/src/Checkbox/VRInternalCheckbox.tsx
Labels: patch release

#3981 Masonry: Fixing type bug
  packages/gestalt/src/Masonry/scrollUtils.ts
Labels: patch release

#3982 Internal: Revert "Internal: Fix error in React 19 with fetchpriority (#3976)"
  packages/gestalt/src/Avatar.jsdom.test.tsx
  packages/gestalt/src/AvatarGroup.jsdom.test.tsx
  packages/gestalt/src/DropdownItem.jsdom.test.tsx
  packages/gestalt/src/DropdownLink.jsdom.test.tsx
  packages/gestalt/src/Image.tsx
  packages/gestalt/src/__snapshots__/Avatar.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
  packages/gestalt/src/__snapshots__/Checkbox.test.tsx.snap
  packages/gestalt/src/__snapshots__/Image.test.tsx.snap
  packages/gestalt/src/__snapshots__/RadioButton.test.tsx.snap
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
Labels: patch release

#3985 SearchField: support readOnly
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/SearchField/VRSearchField.tsx
Labels: minor release

#3986 SearchField: support tabIndex
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/SearchField/VRSearchField.tsx
Labels: minor release

#3980 Icon: New and Updated Icons [Gestalt-8748]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
  packages/gestalt-icons-android/src/classic/ic_animate_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_clock-checked_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_cog-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_compass-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_ferris-wheel_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_flash-automatic_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_paper-clip_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_search_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_square-plus-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_square-plus_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_cog-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_compass-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_ferris-wheel_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_square-plus-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_square-plus_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/cog-fill.svg
  packages/gestalt/src/icons-vr-theme/compass-fill.svg
  packages/gestalt/src/icons-vr-theme/ferris-wheel.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/square-plus-fill.svg
  packages/gestalt/src/icons-vr-theme/square-plus.svg
  packages/gestalt/src/icons/animate.svg
  packages/gestalt/src/icons/clock-checked.svg
  packages/gestalt/src/icons/cog-fill.svg
  packages/gestalt/src/icons/compass-fill.svg
  packages/gestalt/src/icons/ferris-wheel.svg
  packages/gestalt/src/icons/flash-automatic.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/paper-clip.svg
  packages/gestalt/src/icons/search.svg
  packages/gestalt/src/icons/square-plus-fill.svg
  packages/gestalt/src/icons/square-plus.svg
Labels: minor release

#3984 SearchGuide: support to gradient background + overall fixes
  docs/examples/searchguide/gradient.tsx
  docs/examples/searchguide/main.tsx
  docs/examples/searchguidelink/gradient.tsx
  docs/examples/searchguidelink/main.tsx
  docs/pages/web/searchguide.tsx
  docs/pages/web/searchguidelink.tsx
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.tsx
  packages/gestalt/src/SearchGuideLink.tsx
Labels: minor release

#3987 SearchField: VR API fixes
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/SearchField/VRSearchField.tsx
Labels: patch release

#3988 TapAreaLink: fix duplication in aria label for target blank
  packages/gestalt/src/TapAreaLink.tsx
Labels: patch release

#3989 ComboBox: fix placeholder width when Tags are used
  packages/gestalt/src/TagArea/TagArea.tsx
Labels: patch release

#3991 SearchGuide: fix border radius in VR image variant
  packages/gestalt/src/SearchGuide.css
Labels: patch release

#3992 Box, Flex: support to `xl`, `xxl`, `xxxl` breakpoints
  docs/docs-components/FeedbackBannerCallout.tsx
  docs/examples/screenSizes/screenSizesWeb.tsx
  packages/gestalt-core/build.js
  packages/gestalt/src/Box.css
  packages/gestalt/src/Box.test.tsx
  packages/gestalt/src/Box.tsx
  packages/gestalt/src/Column.css
  packages/gestalt/src/Flex.tsx
  packages/gestalt/src/__snapshots__/Box.test.tsx.snap
  packages/gestalt/src/boxTransforms.ts
  packages/gestalt/src/boxTypes.ts
  packages/gestalt/src/boxWhitespace.css
  scripts/whitespace.js
Labels: minor release

#3995 Button, ButtonLink: support lineClamp
  docs/examples/button/lineclamp.tsx
  docs/examples/buttonlink/lineclamp.tsx
  docs/pages/web/button.tsx
  docs/pages/web/buttonlink.tsx
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/ButtonLink.tsx
  packages/gestalt/src/__snapshots__/ActivationCard.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerCallout.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/ButtonLink.test.tsx.snap
Labels: minor release

#3996 SearchGuide: adjust selected state in Classic
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.tsx
Labels: patch release

#3998 IconButton: fix focus ring on visible in VR
  packages/gestalt/src/IconButtonLink.tsx
Labels: patch release

#4001 Internal: change v.pinimg.com to v1.pinimg.com
  docs/examples/animation/useExample.tsx
  docs/examples/video/autoplayAndErrorDetectionExample.tsx
  docs/examples/video/controlsExample.tsx
  docs/examples/video/localizationLabels.tsx
  docs/examples/video/mainExample.tsx
  docs/examples/video/updatesExample.tsx
  docs/examples/video/withChildrenExample.tsx
Labels: patch release

#4002 Link: fix a warning from accessibility pause in AccessibilityLinkActionIcon
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/Link.test.tsx.snap
  packages/gestalt/src/accessibility/AccessibilityLinkActionIcon.tsx
Labels: patch release

#4000 DatePicker: add private prop _overrideRangeDateFix to enable correct logic in date ranges
  packages/gestalt-datepicker/src/DatePicker.tsx
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.tsx
Labels: patch release

#4004 SegmentedControl: fix VR colors in dark mode
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#4003 Icon: New Icons [GESTALT-8749]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
  packages/gestalt-icons-android/src/classic/ic_shopping-bag-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_view-type-default-fill_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_shopping-bag-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_view-type-default-fill_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/shopping-bag-fill.svg
  packages/gestalt/src/icons-vr-theme/view-type-default-fill.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/shopping-bag-fill.svg
  packages/gestalt/src/icons/view-type-default-fill.svg
  playwright/visual-test/Icon-list-dark.spec.ts-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list-vr.spec.ts-snapshots/Icon-list-vr-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.ts-snapshots/Icon-list-chromium-darwin.png
  playwright/visual-test/IconCompact-list-dark.spec.ts-snapshots/IconCompact-list-dark-chromium-darwin.png
  playwright/visual-test/IconCompact-list-vr.spec.ts-snapshots/IconCompact-list-vr-chromium-darwin.png
  playwright/visual-test/IconCompact-list.spec.ts-snapshots/IconCompact-list-chromium-darwin.png
Labels: minor release

#4006 SearchGuide: fix border radius in VR image variant
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.tsx
Labels: patch release

#4007 BannerCallout: message width adjustments
  packages/gestalt/src/BannerCallout/Footer.tsx
  packages/gestalt/src/BannerCallout/VRBannerCallout.tsx
Labels: patch release

#4008 DateField: upgrade dependency
  packages/gestalt-datepicker/package.json
  yarn.lock
Labels: patch release

#4011 SearchGuide: fix stacking context bug with isolation='isolate'
  packages/gestalt/src/SearchGuide.css
  packages/gestalt/src/SearchGuide.tsx
Labels: patch release

#4012 Masonry: Fix bug on edge case while using dynamicHeightsV2
  packages/gestalt/src/Masonry/dynamicHeightsV2Utils.ts
Labels: patch release

#4009 DateField: upgrade dependency to 7.0.0
  docs/examples/datefield/main.tsx
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/src/DateField/DateField.css
  packages/gestalt-datepicker/src/DateField/InternalDateField.tsx
  packages/gestalt-datepicker/src/DateField/VRInternalDateField.tsx
  yarn.lock
Labels: patch release

#4005 Button: Fixing VR height
  docs/pages/web/button.tsx
  docs/pages/web/buttonlink.tsx
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/Link/InternalLink.tsx
Labels: minor release

#4014 Masonry: Code cleanup and new test for masonry testing page
  docs/integration-test-helpers/masonry/MasonryContainer.tsx
  docs/integration-test-helpers/masonry/items-utils/generateMultiColumnExampleItems.ts
  docs/pages/integration-test/masonry.tsx
  playwright/masonry/utils/getServerURL.ts
  playwright/masonry/virtualization-with-scroll-container.spec.ts
Labels: patch release

#4019 DateField, DateRange: upgrade @mui/x-date-pickers to 7.27.2
  packages/gestalt-datepicker/package.json
  yarn.lock
Labels: patch release

#4020 Popover: remove border options
  packages/gestalt/src/Contents.css
  packages/gestalt/src/Popover/Contents.tsx
  packages/gestalt/src/Popover/Controller.tsx
  packages/gestalt/src/Popover/InternalPopover.tsx
  packages/gestalt/src/Tooltip/InternalTooltip.tsx
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/OverlayPanel.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/Popover.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/PopoverEducational.jsdom.test.tsx.snap
Labels: patch release

#4013 Image, Video: if image or track `src` is empty string "" then set as undefined
  packages/gestalt/src/Image.tsx
  packages/gestalt/src/Video.tsx
Labels: patch release
