Repository pinterest/gestalt, pull requests merged in 2025-03, with the labels that each got.

#4023 Internal: Upgrade mui-material
  packages/gestalt-datepicker/package.json
  yarn.lock
Labels: patch release

#4022 TapAreaLink: support to `title` prop
  packages/gestalt/src/Link/InternalLink.jsdom.test.tsx
  packages/gestalt/src/Link/InternalLink.test.tsx
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/Link/__snapshots__/InternalLink.test.tsx.snap
  packages/gestalt/src/TapAreaLink.jsdom.test.tsx
  packages/gestalt/src/TapAreaLink.tsx
Labels: patch release

#4024 BannerCallout: Revert BannerCallout: message width adjustments (#4007)
  packages/gestalt/src/BannerCallout/Footer.tsx
  packages/gestalt/src/BannerCallout/VRBannerCallout.tsx
Labels: patch release

#4026 ChartGraph, TileData, TagData: support neutral dataviz color & opacity
  docs/docs-components/PatternBarFill.tsx
  docs/examples/chartgraph/neutral.tsx
  docs/examples/chartgraph/opacity.tsx
  docs/examples/tagdata/colors.tsx
  docs/examples/tiledata/color.tsx
  docs/pages/web/chartgraph.tsx
  packages/gestalt-charts/src/ChartGraph.tsx
  packages/gestalt-charts/src/ChartGraph/LegendIcon.tsx
  packages/gestalt-charts/src/ChartGraph/TabularDataModal.tsx
  packages/gestalt-charts/src/ChartGraph/renderAxis.tsx
  packages/gestalt-charts/src/ChartGraph/renderElements.tsx
  packages/gestalt-charts/src/ChartGraph/renderGraphPoint.tsx
  packages/gestalt-charts/src/ChartGraph/types.ts
  packages/gestalt-charts/src/ChartGraph/usePatterns.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt/src/TagData.tsx
  packages/gestalt/src/TileData.css
  packages/gestalt/src/TileData.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/utils/datavizcolors/getDataVisualizationColor.ts
Labels: minor release

#4025 ButtonToggle: color picker supports custom colors
  packages/gestalt/src/ButtonToggle/ColorPicker.tsx
Labels: minor release

#4028 ChartGraph: fix time series interval and padding issues
  packages/gestalt-charts/src/ChartGraph.tsx
  packages/gestalt-charts/src/ChartGraph/renderAxis.tsx
Labels: patch release

#3993 Masonry: Flexible width items
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.test.ts
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/dynamicHeightsUtils.test.ts
  packages/gestalt/src/Masonry/fullWidthLayout.test.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: minor release

#4031 Revert "Masonry: Fix Multi-Column Module Positioning Bug on Dynamic H…
  packages/gestalt/src/Masonry/dynamicHeightsUtils.test.ts
  packages/gestalt/src/Masonry/dynamicHeightsV2Utils.ts
Labels: patch release

#4030 ChartGraph: padding adjusments + example fixes
  docs/examples/chartgraph/doColor.tsx
  docs/examples/chartgraph/doLimit.tsx
  docs/examples/chartgraph/doSameColor.tsx
  docs/examples/chartgraph/dontLimit.tsx
  docs/examples/chartgraph/main.tsx
  packages/gestalt-charts/src/ChartGraph/renderAxis.tsx
Labels: patch release

#4032 PopoverMessage: renamed PopoverEducational to PopoverMessage + support to `type=education` and `type=notification`
  .github/pr-title-checker-config.json
  docs/docs-components/data/components.tsx
  docs/docs-components/siteIndex.ts
  docs/examples/popovermessage/customContent.tsx
  docs/examples/popovermessage/doEducate.tsx
  docs/examples/popovermessage/doReference.tsx
  docs/examples/popovermessage/dontDouble.tsx
  docs/examples/popovermessage/education.tsx
  docs/examples/popovermessage/main.tsx
  docs/examples/popovermessage/message.tsx
  docs/examples/popovermessage/notification.tsx
  docs/examples/popovermessage/primaryAction.tsx
  docs/examples/popovermessage/size.tsx
  docs/examples/popovermessage/visibility.tsx
  docs/examples/popovermessage/zIndex.tsx
  docs/examples/pulsar/doHighlight.tsx
  docs/examples/pulsar/doPopover.tsx
  docs/examples/pulsar/doPosition.tsx
  docs/examples/pulsar/doPrioritize.tsx
  docs/examples/pulsar/dontPosition.tsx
  docs/examples/pulsar/dontStatus.tsx
  docs/examples/scrollboundarycontainer/popoverExample.tsx
  docs/graphics/general/PopoverMessage.svg
  docs/pages/visual-test/PopoverMessage-dark.tsx
  docs/pages/visual-test/PopoverMessage.tsx
  docs/pages/web/popover.tsx
  docs/pages/web/popovermessage.tsx
  docs/pages/web/toast.tsx
  docs/redirects.js
  packages/gestalt/src/Popover.tsx
  packages/gestalt/src/PopoverMessage.css
  packages/gestalt/src/PopoverMessage.jsdom.test.tsx
  packages/gestalt/src/PopoverMessage.tsx
  packages/gestalt/src/__snapshots__/PopoverMessage.jsdom.test.tsx.snap
  packages/gestalt/src/index.ts
  playwright/accessibility/web__popovermessage.spec.ts
  playwright/visual-test/PopoverEducational-dark.spec.ts
  playwright/visual-test/PopoverEducational-dark.spec.ts-snapshots/PopoverEducational-dark-chromium-darwin.png
  playwright/visual-test/PopoverEducational.spec.ts
  playwright/visual-test/PopoverEducational.spec.ts-snapshots/PopoverEducational-chromium-darwin.png
  playwright/visual-test/PopoverMessage-dark.spec.ts
  playwright/visual-test/PopoverMessage-dark.spec.ts-snapshots/PopoverMessage-dark-chromium-darwin.png
  playwright/visual-test/PopoverMessage.spec.ts
  playwright/visual-test/PopoverMessage.spec.ts-snapshots/PopoverMessage-chromium-darwin.png
Labels: major release

#4034 ChartGraph: Upgrade recharts for ChartGraph to support React 19
  packages/gestalt-charts/package.json
  packages/gestalt-charts/src/ChartGraph/renderAxis.tsx
  packages/gestalt-charts/src/ChartGraph/renderElements.tsx
  yarn.lock
Labels: patch release

#4040 Avatar: updates to verified icon
  docs/examples/avatar/ideasExample.tsx
  docs/examples/avatar/mainExample.tsx
  docs/examples/avatar/nameExample.tsx
  docs/examples/avatar/noEmojiExample.tsx
  docs/examples/avatar/noImageSourceExample.tsx
  docs/examples/avatar/overExample.tsx
  docs/examples/avatar/personExample.tsx
  docs/examples/avatar/shapeExample.tsx
  docs/examples/avatar/sizingExample.tsx
  docs/examples/avatar/verifiedExample.tsx
  packages/gestalt/src/Avatar/InternalAvatar.tsx
  packages/gestalt/src/__snapshots__/Avatar.test.tsx.snap
Labels: patch release

#4041 TileData: removed width and max width definitions
  packages/gestalt/src/TileData.css
  packages/gestalt/src/TileData.tsx
  packages/gestalt/src/__snapshots__/TileData.test.tsx.snap
Labels: patch release

#4043 RadioButton: deprecate component
  .github/pr-title-checker-config.json
  docs/docs-components/data/components.tsx
  docs/examples/bannerslim/placeNearMostRelatedElement.tsx
  docs/examples/fieldset/accessibility.tsx
  docs/examples/overlaypanel/confirmationExample.tsx
  docs/examples/overlaypanel/defaultExample.tsx
  docs/examples/overlaypanel/footerExample.tsx
  docs/examples/overlaypanel/preventClosingExample.tsx
  docs/examples/overlaypanel/quickEditsExample.tsx
  docs/examples/overlaypanel/sizesExample.tsx
  docs/examples/tooltip/properPositioningExample.tsx
  docs/examples/tooltip/specifyPreferredPosition.tsx
  docs/graphics/general/RadioButton.svg
  docs/markdown/team_support/design_file_hygiene/naming_convention.md
  docs/pages/web/buttontoggle.tsx
  docs/pages/web/radiobutton.tsx
  docs/pages/web/selectlist.tsx
  docs/redirects.js
  packages/gestalt/src/ButtonToggle.tsx
  packages/gestalt/src/Checkbox.tsx
  packages/gestalt/src/Fieldset.tsx
  packages/gestalt/src/RadioButton.jsdom.test.tsx
  packages/gestalt/src/RadioButton.test.tsx
  packages/gestalt/src/RadioButton.tsx
  packages/gestalt/src/RadioGroupButton.css
  packages/gestalt/src/RadioGroupButton.tsx
  packages/gestalt/src/__snapshots__/RadioButton.test.tsx.snap
  packages/gestalt/src/index.ts
  playwright/accessibility/web__radiobutton.spec.ts
Labels: major release

#4044 Internal: [Snyk] Security upgrade react-cookie from 4.1.1 to 8.0.1
  docs/package.json
Labels: patch release

#4046 RadioGroup: fix in CSS file for width
  packages/gestalt/src/RadioGroupButton.css
Labels: patch release

#4038 Icon: New Icons [GESTALT-8749]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
  packages/gestalt-icons-android/src/classic/ic_amazon_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_blur_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_card-stack-refresh_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_credit-card-plus_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_imessage_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_instagram-stories_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_qr-code_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_threads_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_amazon_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_blur_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_card-stack-refresh_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_credit-card-plus_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_imessage_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_instagram-stories_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_qr-code_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_threads_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/amazon.svg
  packages/gestalt/src/icons-vr-theme/blur.svg
  packages/gestalt/src/icons-vr-theme/card-stack-refresh.svg
  packages/gestalt/src/icons-vr-theme/credit-card-plus.svg
  packages/gestalt/src/icons-vr-theme/imessage.svg
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/instagram-stories.svg
  packages/gestalt/src/icons-vr-theme/qr-code.svg
  packages/gestalt/src/icons-vr-theme/threads.svg
  packages/gestalt/src/icons/amazon.svg
  packages/gestalt/src/icons/blur.svg
  packages/gestalt/src/icons/card-stack-refresh.svg
  packages/gestalt/src/icons/credit-card-plus.svg
  packages/gestalt/src/icons/imessage.svg
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/instagram-stories.svg
  packages/gestalt/src/icons/qr-code.svg
  packages/gestalt/src/icons/threads.svg
  playwright/visual-test/Icon-list-dark.spec.ts-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list-vr.spec.ts-snapshots/Icon-list-vr-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.ts-snapshots/Icon-list-chromium-darwin.png
  playwright/visual-test/IconCompact-list-dark.spec.ts-snapshots/IconCompact-list-dark-chromium-darwin.png
  playwright/visual-test/IconCompact-list-vr.spec.ts-snapshots/IconCompact-list-vr-chromium-darwin.png
  playwright/visual-test/IconCompact-list.spec.ts-snapshots/IconCompact-list-chromium-darwin.png
Labels: minor release

#4045 Masonry: Fix scroll position glitch on load
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#4048 AvatarGroupCluster: new component
  .github/pr-title-checker-config.json
  docs/docs-components/siteIndex.ts
  docs/examples/avatar/containerExample.tsx
  docs/examples/avatarGroup/accessibility.tsx
  docs/examples/avatarGroup/ideas.tsx
  docs/examples/avatarGroup/main.tsx
  docs/examples/avatarGroup/noEmoji.tsx
  docs/examples/avatarGroup/noImageSource.tsx
  docs/examples/avatarGroup/person.tsx
  docs/examples/avatarGroup/roleButton.tsx
  docs/examples/avatarGroup/roleLink.tsx
  docs/examples/avatarGroup/sizing.tsx
  docs/examples/avatargroupcluster/avatar.tsx
  docs/examples/avatargroupcluster/counter.tsx
  docs/examples/avatargroupcluster/main.tsx
  docs/examples/avatargroupcluster/sizes.tsx
  docs/examples/divider/dontInset.tsx
  docs/examples/divider/useFromEdgeToEdge.tsx
  docs/examples/divider/useToSeparateCollections.tsx
  docs/examples/dropdown/customItem.tsx
  docs/examples/dropdown/mobile.tsx
  docs/examples/link/doWeightLists.tsx
  docs/examples/link/variantInlineOverride.tsx
  docs/examples/pageheader/includeProfilePictureExample.tsx
  docs/examples/searchguide/expandableVariants.tsx
  docs/examples/taparea/main.tsx
  docs/examples/textarea/hiddenLabel.tsx
  docs/examples/toast/avatar.tsx
  docs/examples/toast/doOne.tsx
  docs/examples/toast/dontMultiple.tsx
  docs/pages/visual-test/Avatar-dark.tsx
  docs/pages/visual-test/Avatar.tsx
  docs/pages/visual-test/AvatarGroup-dark.tsx
  docs/pages/visual-test/AvatarGroup.tsx
  docs/pages/visual-test/AvatarGroupCluster-dark.tsx
  docs/pages/visual-test/AvatarGroupCluster.tsx
  docs/pages/web/avatargroup.tsx
  docs/pages/web/avatargroupcluster.tsx
  packages/gestalt/src/AvatarGroup.jsdom.test.tsx
  packages/gestalt/src/AvatarGroup/CollaboratorsCount.tsx
  packages/gestalt/src/AvatarGroupCluster.css
  packages/gestalt/src/AvatarGroupCluster.jsdom.test.tsx
  packages/gestalt/src/AvatarGroupCluster.tsx
  packages/gestalt/src/__snapshots__/AvatarGroup.jsdom.test.tsx.snap
  packages/gestalt/src/__snapshots__/AvatarGroupCluster.jsdom.test.tsx.snap
  packages/gestalt/src/index.ts
  playwright/accessibility/web__avatargroupcluster.spec.ts
  playwright/visual-test/AvatarGroupCluster-dark.spec.ts
  playwright/visual-test/AvatarGroupCluster-dark.spec.ts-snapshots/AvatarGroupCluster-dark-chromium-darwin.png
  playwright/visual-test/AvatarGroupCluster.spec.ts
  playwright/visual-test/AvatarGroupCluster.spec.ts-snapshots/AvatarGroupCluster-chromium-darwin.png
Labels: minor release

#4050 SearchGuide: (mWeb) update color variant "11" to match figma in dark mode
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: patch release

#4016 Masonry: Multi-column position algorithm V2
  docs/integration-test-helpers/masonry/ExampleGridItem.tsx
  docs/integration-test-helpers/masonry/MasonryContainer.tsx
  docs/integration-test-helpers/masonry/items-utils/generateMultiColumnExampleItems.ts
  docs/pages/integration-test/masonry.tsx
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
  packages/gestalt/src/MasonryV2.tsx
  playwright/masonry/fetch-more.spec.ts
  playwright/masonry/flexible-resize.spec.ts
  playwright/masonry/multicolumn-layout.spec.ts
  playwright/masonry/render-height.spec.ts
  playwright/masonry/scroll-performance.spec.ts
  playwright/masonry/utils/getServerURL.ts
  playwright/masonry/utils/tracingEvents.ts
  playwright/masonry/utils/waitForRenderedItems.ts
Labels: patch release

#4052 Masonry: Fix the props on Masonry V2
  packages/gestalt/src/MasonryV2.tsx
Labels: patch release

#4054 ColorSchemeProvider: Refactor ColorSchemeProvider & separated concerns into DesignTokensProvider
  docs/docs-components/App.tsx
  docs/docs-components/SandpackExample.tsx
  docs/docs-components/TokenTable.tsx
  docs/docs-components/siteIndex.ts
  docs/examples/colors/alternativeColorTokensExample.tsx
  docs/examples/colorschemeprovider/variantsColorScheme.tsx
  docs/examples/designtokensprovider/configuration.tsx
  docs/examples/heading/languageTokens.tsx
  docs/examples/text/languageTokens.tsx
  docs/examples/textcompact/languageTokens.tsx
  docs/examples/textui/languageTokens.tsx
  docs/pages/foundations/color/palette.tsx
  docs/pages/foundations/data_visualization/color/palette.tsx
  docs/pages/foundations/elevation.tsx
  docs/pages/web/utilities/designtokensprovider.tsx
  docs/pages/year_in_review_2022.tsx
  docs/pages/year_in_review_2023.tsx
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.tsx
  packages/gestalt/src/contexts/ColorSchemeProvider.tsx
  packages/gestalt/src/contexts/DesignTokensProvider.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
  packages/gestalt/src/contexts/useDesignTokens.tsx
  packages/gestalt/src/index.ts
  packages/gestalt/src/sharedSubcomponents/thumbnailSubcomponents.tsx
  playwright/accessibility/web__utilities__designtokensprovider.spec.ts
Labels: major release

#4055 Docs: refactor to enable CALICO theme from selector in Gestalt Docs
  docs/docs-components/BannerSlimExperiment.tsx
  docs/docs-components/Header.tsx
  docs/docs-components/PageHeader.tsx
  docs/docs-components/appContext.tsx
  docs/docs-components/contexts/DocsExperimentProvider.tsx
  docs/examples/avatar/containerExample.tsx
  docs/pages/visualrefreshactivation.tsx
  docs/pages/web/avatar.tsx
  docs/pages/web/buttontoggle.tsx
  docs/pages/web/toast.tsx
  packages/gestalt/src/contexts/ColorSchemeProvider.jsdom.test.tsx
  packages/gestalt/src/utils/useExperimentalTheme.ts
Labels: patch release

#4058 Docs: adds DesignTokensProvider to Sandpack code editor
  docs/docs-components/SandpackExample.tsx
Labels: patch release

#4060 Toast: Compact icons
  packages/gestalt/src/sharedSubcomponents/thumbnailSubcomponents.tsx
Labels: minor release
