Repository pinterest/gestalt, pull requests merged in 2025-01, with the labels that each got.

#3909 DateRange: Remove overflow prop and apply border radius with css instead (web)
  packages/gestalt-datepicker/src/DateRange.css
  packages/gestalt-datepicker/src/DateRange.tsx
Labels: patch release

#3910 DateRange: Highlight secondary range in DateRange component (web)
  docs/pages/visual-test/DateRange-secondary-date.tsx
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt-datepicker/src/DateRange.jsdom.test.tsx
  packages/gestalt-datepicker/src/DateRange.tsx
  packages/gestalt-datepicker/src/DateRange/InternalDatePicker.tsx
  playwright/visual-test/DateRange-secondary-date.spec.ts
  playwright/visual-test/DateRange-secondary-date.spec.ts-snapshots/DateRange-secondary-range-chromium-darwin.png
Labels: patch release

#3918 BannerSlim: VR
  packages/gestalt/src/BannerSlim.tsx
Labels: minor release

#3919 SideNavigation: patch for accessibility aria-selected bug
  docs/pages/web/iconbuttonlink.tsx
  packages/gestalt/src/IconButtonLink.tsx
  packages/gestalt/src/Link/InternalLink.tsx
Labels: major release

#3920 DatePicker: upgraded package to latest 7.5.0
  package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/src/DatePicker.css
  packages/gestalt-datepicker/src/DatePicker.tsx
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.tsx
  packages/gestalt-datepicker/src/DateRange/InternalDatePicker.tsx
  packages/gestalt-datepicker/src/__snapshots__/DatePicker.jsdom.test.tsx.snap
  yarn.lock
Labels: patch release

#3921 DatePicker, TextField: 1. fix open behavior, 2. support to onClick
  packages/gestalt-datepicker/src/DatePicker.jsdom.test.tsx
  packages/gestalt-datepicker/src/DatePicker/DateInput.tsx
  packages/gestalt/src/TextField.tsx
  packages/gestalt/src/TextField/InternalTextField.tsx
Labels: minor release

#3925 Internal: remove internal circular dependencies
  packages/gestalt-datepicker/src/DateRange.tsx
  packages/gestalt-datepicker/src/DateRange/InternalDatePicker.tsx
  packages/gestalt/src/ButtonGroup.tsx
Labels: patch release

#3924 IconCompact: docs
  .github/pr-title-checker-config.json
  docs/docs-components/siteIndex.ts
  docs/examples/icon/compactIcon.tsx
  docs/examples/iconCompact/builtInIcon.tsx
  docs/examples/iconCompact/customIcon.tsx
  docs/examples/iconCompact/main.tsx
  docs/pages/visual-test/IconCompact-list-dark.tsx
  docs/pages/visual-test/IconCompact-list-vr.tsx
  docs/pages/visual-test/IconCompact-list.tsx
  docs/pages/web/icon.tsx
  docs/pages/web/iconcompact.tsx
  packages/gestalt/src/IconCompact.tsx
  playwright/accessibility/web__iconcompact.spec.ts
  playwright/visual-test/Icon-list-dark.spec.ts-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list-vr.spec.ts-snapshots/Icon-list-vr-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.ts-snapshots/Icon-list-chromium-darwin.png
  playwright/visual-test/IconCompact-list-dark.spec.ts
  playwright/visual-test/IconCompact-list-dark.spec.ts-snapshots/IconCompact-list-dark-chromium-darwin.png
  playwright/visual-test/IconCompact-list-vr.spec.ts
  playwright/visual-test/IconCompact-list-vr.spec.ts-snapshots/IconCompact-list-vr-chromium-darwin.png
  playwright/visual-test/IconCompact-list.spec.ts
  playwright/visual-test/IconCompact-list.spec.ts-snapshots/IconCompact-list-chromium-darwin.png
Labels: patch release

#3928 ComboBox: fix ref bug issue with tags
  packages/gestalt/src/TextField/InternalTextField.tsx
Labels: patch release

#3929 DatePicker: fix in onChange event
  packages/gestalt-datepicker/src/DatePicker/InternalDatePicker.tsx
Labels: patch release

#3926 Icon: New Icons [Gestalt-8746]
  docs/pages/foundations/iconography/ICON_DATA.json
  docs/public/icons-diff.html
  docs/public/vr-icons-diff.html
  packages/gestalt-icons-android/dist/classic/compact/index.d.ts
  packages/gestalt-icons-android/dist/classic/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/compact/index.d.ts
  packages/gestalt-icons-android/dist/vr-theme/index.d.ts
  packages/gestalt-icons-android/src/classic/compact/index.ts
  packages/gestalt-icons-android/src/classic/ic_manage-access_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_tint_gestalt.svg
  packages/gestalt-icons-android/src/classic/ic_vibrance_gestalt.svg
  packages/gestalt-icons-android/src/classic/index.ts
  packages/gestalt-icons-android/src/vr-theme/compact/ic_vr_compact-workflow-status-canceled_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/compact/ic_vr_compact-workflow-status-halted_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/compact/ic_vr_compact-workflow-status-in-progress_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/compact/ic_vr_compact-workflow-status-unstarted_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/compact/index.ts
  packages/gestalt-icons-android/src/vr-theme/ic_vr_tint_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/ic_vr_vibrance_gestalt.svg
  packages/gestalt-icons-android/src/vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/compact/compact-workflow-status-canceled.svg
  packages/gestalt/src/icons-vr-theme/compact/compact-workflow-status-halted.svg
  packages/gestalt/src/icons-vr-theme/compact/compact-workflow-status-in-progress.svg
  packages/gestalt/src/icons-vr-theme/compact/compact-workflow-status-unstarted.svg
  packages/gestalt/src/icons-vr-theme/compact/index.ts
  packages/gestalt/src/icons-vr-theme/index.ts
  packages/gestalt/src/icons-vr-theme/tint.svg
  packages/gestalt/src/icons-vr-theme/vibrance.svg
  packages/gestalt/src/icons/compact/index.ts
  packages/gestalt/src/icons/index.ts
  packages/gestalt/src/icons/tint.svg
  packages/gestalt/src/icons/vibrance.svg
  playwright/visual-test/Icon-list-dark.spec.ts-snapshots/Icon-list-dark-chromium-darwin.png
  playwright/visual-test/Icon-list-vr.spec.ts-snapshots/Icon-list-vr-chromium-darwin.png
  playwright/visual-test/Icon-list.spec.ts-snapshots/Icon-list-chromium-darwin.png
  playwright/visual-test/IconCompact-list-dark.spec.ts-snapshots/IconCompact-list-dark-chromium-darwin.png
  playwright/visual-test/IconCompact-list-vr.spec.ts-snapshots/IconCompact-list-vr-chromium-darwin.png
  playwright/visual-test/IconCompact-list.spec.ts-snapshots/IconCompact-list-chromium-darwin.png
Labels: minor release

#3930 ColorSchemeProvider: support to classic partial exclusions
  packages/gestalt/src/contexts/ColorSchemeProvider.tsx
Labels: minor release

#3933 Link, ButtonLink: support to experimental onMouseEnter, onMouseLeave to support prefetching logic
  packages/gestalt/src/ButtonLink.tsx
  packages/gestalt/src/Link.tsx
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/Link.test.tsx.snap
  packages/gestalt/src/__snapshots__/PageHeader.test.tsx.snap
  packages/gestalt/src/__snapshots__/Status.test.tsx.snap
  packages/gestalt/src/__snapshots__/Toast.test.tsx.snap
Labels: minor release

#3935 Internal: Upgrade React to 18.3.1
  packages/gestalt-charts/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
  packages/gestalt/src/Layer.tsx
  yarn.lock
Labels: patch release

#3912 Spinner: VR color variants
  docs/examples/spinner/variantGrayscale.tsx
  docs/examples/spinner/variantWhite.tsx
  docs/pages/web/spinner.tsx
  packages/gestalt/src/Spinner.tsx
  packages/gestalt/src/Spinner/VRSpinner.tsx
Labels: minor release

#3936 Link/ButtonLink: support for download
  packages/gestalt/src/ButtonLink.tsx
  packages/gestalt/src/Link.test.tsx
  packages/gestalt/src/Link.tsx
  packages/gestalt/src/Link/InternalLink.test.tsx
  packages/gestalt/src/Link/InternalLink.tsx
  packages/gestalt/src/Link/__snapshots__/InternalLink.test.tsx.snap
  packages/gestalt/src/__snapshots__/Link.test.tsx.snap
Labels: minor release

#3938 Masonry: Remove _loadingStateItems and _renderLoadingStateItems props
  docs/pages/visual-test/Masonry-renderLoadingItems-flexible.tsx
  docs/pages/visual-test/Masonry-renderLoadingItems-uniformRow.tsx
  docs/pages/visual-test/Masonry-renderLoadingItems.tsx
  packages/gestalt/src/Masonry.tsx
  packages/gestalt/src/Masonry/defaultLayout.test.ts
  packages/gestalt/src/Masonry/defaultLayout.ts
  packages/gestalt/src/Masonry/fullWidthLayout.test.ts
  packages/gestalt/src/Masonry/fullWidthLayout.ts
  packages/gestalt/src/Masonry/getLayoutAlgorithm.ts
  packages/gestalt/src/Masonry/loadingStateUtils.ts
  packages/gestalt/src/Masonry/types.ts
  packages/gestalt/src/Masonry/uniformRowLayout.test.ts
  packages/gestalt/src/Masonry/uniformRowLayout.ts
  packages/gestalt/src/MasonryV2.tsx
Labels: major release

#3939 BannerSlim: VR fixes
  packages/gestalt/src/BannerSlim.tsx
  packages/gestalt/src/BannerSlim/useIsParagraph.ts
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.tsx.snap
Labels: patch release

#3940 BannerSlim: VR fixes when message isnt string
  packages/gestalt/src/BannerSlim.tsx
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.tsx.snap
Labels: patch release

#3941 Button: Fix VR in type=submit
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/__snapshots__/BannerUpsell.test.tsx.snap
  packages/gestalt/src/__snapshots__/BannerUpsellForm.test.tsx.snap
Labels: patch release

#3942 AvatarGroup: fix VR default size bug
  packages/gestalt/src/AvatarGroup.tsx
Labels: patch release

#3937 Internal: Upgrade React to 19
  packages/gestalt-charts/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
Labels: major release

#3945 Internal: Revert Revert "Internal: Upgrade React to 19 (#3937)" (#39…
  packages/gestalt-charts/package.json
  packages/gestalt-datepicker/package.json
  packages/gestalt/package.json
Labels: patch release

#3946 Internal: upgrade "@playwright/test" to 1.49
  package.json
  yarn.lock
Labels: patch release

#3947 Spinner, Text, TextUI: add label to Spinner, and id to TextUI and Text
  docs/examples/spinner/dontLabel.tsx
  docs/examples/spinner/grayscale.tsx
  docs/examples/spinner/label.tsx
  docs/examples/spinner/white.tsx
  docs/pages/web/spinner.tsx
  packages/gestalt/src/Icon/InternalIcon.tsx
  packages/gestalt/src/Spinner.tsx
  packages/gestalt/src/Spinner/VRSpinner.tsx
  packages/gestalt/src/Text.tsx
  packages/gestalt/src/TextUI.tsx
  packages/gestalt/src/__snapshots__/Spinner.test.tsx.snap
Labels: minor release

#3948 BannerSlim: fix bug with list of children
  packages/gestalt/src/BannerSlim.tsx
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.tsx.snap
Labels: patch release

#3950 BannerSlim: fix
  packages/gestalt/src/BannerSlim.tsx
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.tsx.snap
Labels: patch release

#3949 HelpButton: general fixes and VR fixes
  packages/gestalt/src/HelpButton.css
  packages/gestalt/src/HelpButton.tsx
Labels: patch release

#3951 Dropdown: add marginStart to selected check icon
  packages/gestalt/src/Dropdown/OptionItem.tsx
  packages/gestalt/src/__snapshots__/Dropdown.jsdom.test.tsx.snap
Labels: patch release

#3952 DateRange: fix date input border radius when radio group is present (web)
  packages/gestalt-datepicker/src/DateRange.css
  packages/gestalt-datepicker/src/DateRange.tsx
Labels: patch release

#3953 DateRange: fix date selection bug when you disable secondary range
  packages/gestalt-datepicker/src/DateRange.tsx
Labels: patch release

#3931 Button: new variants
  docs/examples/button/colors.tsx
  docs/examples/buttonlink/colors.tsx
  packages/gestalt-design-tokens/tests/__snapshots__/web.test.js.snap
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/classic/comp-web-color-light.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-dark.json
  packages/gestalt-design-tokens/tokens/vr-theme-web-mapping/comp-web-color-light.json
  packages/gestalt/src/Button.css
  packages/gestalt/src/Button.tsx
  packages/gestalt/src/ButtonLink.tsx
  packages/gestalt/src/contexts/__snapshots__/ColorSchemeProvider.jsdom.test.tsx.snap
Labels: minor release

#3957 Icon: Add Re-do and Undo to RTL
  packages/gestalt/src/Icon/RTLIconList.tsx
Labels: patch release

#3956 Masonry: Fix integration tests
  playwright/masonry/null-items.spec.ts
  playwright/masonry/utils/getServerURL.ts
Labels: patch release

#3962 Spinner, BannerSlim, Text, TextUI: revert some changes creating some unexpected resizes in some prod surfaces
  docs/examples/spinner/dontLabel.tsx
  docs/examples/spinner/label.tsx
  docs/examples/spinner/variantGrayscale.tsx
  docs/examples/spinner/variantWhite.tsx
  docs/pages/web/spinner.tsx
  packages/gestalt/src/BannerSlim.tsx
  packages/gestalt/src/Icon/InternalIcon.tsx
  packages/gestalt/src/Spinner.tsx
  packages/gestalt/src/Spinner/VRSpinner.tsx
  packages/gestalt/src/Text.tsx
  packages/gestalt/src/TextUI.tsx
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/Spinner.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.tsx.snap
Labels: patch release

#3963 Internal: Change React 19 Build
  babel.config.js
  packages/gestalt-charts/package.json
  packages/gestalt-charts/rollup.config.js
  packages/gestalt-core/build.js
  packages/gestalt-datepicker/package.json
  packages/gestalt-datepicker/rollup.config.js
  packages/gestalt/rollup.config.js
Labels: minor release

#3959 SearchField, DefaultLabelProvider: add default accessibility label for clean input button
  docs/examples/defaultlabelprovider/translations.tsx
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/contexts/DefaultLabelProvider.jsdom.test.tsx
  packages/gestalt/src/contexts/DefaultLabelProvider.tsx
Labels: major release

#3961 SearchField: support onClear prop
  packages/gestalt/src/SearchField.tsx
  packages/gestalt/src/SearchField/VRSearchField.tsx
Labels: minor release

#3960 BannerOverlay: VR changes
  docs/examples/banneroverlay/avatar.tsx
  docs/examples/banneroverlay/desktop.tsx
  docs/examples/banneroverlay/dontStack.tsx
  docs/examples/banneroverlay/mobile.tsx
  docs/pages/web/banneroverlay.tsx
  packages/gestalt/src/BannerOverlay.tsx
  packages/gestalt/src/__snapshots__/BannerOverlay.test.tsx.snap
Labels: major release

#3965 Internal: Fix key prop error on Flex Component for React 19
  packages/gestalt/src/Flex.tsx
  packages/gestalt/src/utils/wrapWithComponent.tsx
Labels: patch release

#3964 Masonry: Experimental breakpoints for gridSize
  packages/gestalt/src/Masonry/multiColumnLayout.test.ts
  packages/gestalt/src/Masonry/multiColumnLayout.ts
Labels: minor release

#3966 Dropdown: VR changes 1/2
  packages/gestalt/src/Dropdown.css
  packages/gestalt/src/Dropdown.tsx
  packages/gestalt/src/Dropdown/OptionItem.tsx
  packages/gestalt/src/DropdownSection.tsx
Labels: patch release

#3922 BannerUpsell: VR changes
  packages/gestalt/src/BannerUpsell.css
  packages/gestalt/src/BannerUpsell.tsx
  packages/gestalt/src/BannerUpsell/VRBannerUpsell.tsx
Labels: minor release

#3970 BannerSlim: adjustments
  packages/gestalt/src/BannerSlim.tsx
  packages/gestalt/src/__snapshots__/BannerSlim.test.tsx.snap
  packages/gestalt/src/__snapshots__/TableRowDrawer.test.tsx.snap
Labels: patch release

#3971 Spinner, Text, TextUI: add label to Spinner, and id to TextUI and Text #3947
  docs/examples/spinner/dontLabel.tsx
  docs/examples/spinner/grayscale.tsx
  docs/examples/spinner/label.tsx
  docs/examples/spinner/white.tsx
  docs/pages/web/spinner.tsx
  packages/gestalt/src/Icon/InternalIcon.tsx
  packages/gestalt/src/Spinner.test.tsx
  packages/gestalt/src/Spinner.tsx
  packages/gestalt/src/Spinner/VRSpinner.tsx
  packages/gestalt/src/Text.tsx
  packages/gestalt/src/TextUI.tsx
  packages/gestalt/src/__snapshots__/Spinner.test.tsx.snap
Labels: minor release
